<div class="container coachs--corner--wrapper">

  <h3 class="cc--header">Coach’s Corner</h3>

  <div class="cc--content">
    <div class="left">
      <mat-tab-group>
        <mat-tab label="Latest Articles">
          <div class="content--wrapper">
            <div class="cont--img">
              <img src="../../../../assets/images/arkenea/cc-1.png" alt="">
            </div>
            <div class="cont--desc">
              <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is
                simply dummy text of the printing and typesetting industry</h4>
              <p class="when"> <mat-icon>access_time</mat-icon> Today</p>
              <p class="details">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                lorem is
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type ipsum
                and
                crambled it to make a type specimen book. It has survived not only text ever since lorem... (Read more)
              </p>
            </div>
          </div>

          <div class="content--wrapper">
              <div class="cont--img">
                <img src="../../../../assets/images/arkenea/cc-2.png" alt="">
              </div>
              <div class="cont--desc">
                <h4>Dummy Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is 
                    simply dummy.</h4>
                <p class="when"> <mat-icon>access_time</mat-icon> Yesterday</p>
                <p class="details">
                    Dummy is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the lorem industry 
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type ipsum and
                    crambled it to make a type specimen book. It has survived not only text ever since lorem... (Read more)                   
                    
                </p>
              </div>
            </div>

            <div class="content--wrapper">
                <div class="cont--img">
                  <img src="../../../../assets/images/arkenea/cc-3.png" alt="">
                </div>
                <div class="cont--desc">
                  <h4>Dummy Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is 
                      simply dummy.</h4>
                  <p class="when"> <mat-icon>access_time</mat-icon> 2 days ago</p>
                  <p class="details">
                      Dummy is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the lorem industry 
                      industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type ipsum and
                      crambled it to make a type specimen book. It has survived not only text ever since lorem... (Read more)                   
                      
                  </p>
                </div>
              </div>
        </mat-tab>
        <mat-tab label="Advisors"> Content 2 </mat-tab>
        <mat-tab label="Legacies"> Content 3 </mat-tab>
        <mat-tab label="Professionals"> Professionals 3 </mat-tab>
        <mat-tab label="Leads"> Leads 3 </mat-tab>
        <mat-tab label="Essentials"> Essentials 3 </mat-tab>
        <mat-tab label="Legal"> Legal 3 </mat-tab>
        <mat-tab label="All Events"> All Events 3 </mat-tab>
      </mat-tab-group>
    </div>
    <div class="right">
      <header> Most Viewed Articles</header>
      <section>
        <div class="img--box">
          <img src="../../../../assets/images/arkenea/smallimg-1.png" alt="">
        </div>
        <div class="img--desc">
          <p class="name">Hiring Interviews Info</p>
          <p class="views mb-0">1.2k Views</p>
        </div>
      </section>
      <section>
        <div class="img--box">
          <img src="../../../../assets/images/arkenea/smallimg-2.png" alt="">
        </div>
        <div class="img--desc">
          <p class="name">New LLP Plans Releases </p>
          <p class="views mb-0">1.0k Views</p>
        </div>
      </section>
      <section>
        <div class="img--box">
          <img src="../../../../assets/images/arkenea/smallimg-3.png" alt="">
        </div>
        <div class="img--desc">
          <p class="name">About Hired Trustees </p>
          <p class="views mb-0">989 Views</p>
        </div>
      </section>
      <section>
        <div class="img--box">
          <img src="../../../../assets/images/arkenea/smallimg-4.png" alt="">
        </div>
        <div class="img--desc">
          <p class="name">LLP Hiring Interviews</p>
          <p class="views mb-0">700 Views</p>
        </div>
      </section>
      <section>
        <div class="img--box">
          <img src="../../../../assets/images/arkenea/smallimg-5.png" alt="">
        </div>
        <div class="img--desc">
          <p class="name">About Hired Trustees </p>
          <p class="views mb-0">98 Views</p>
        </div>
      </section>
    </div>
  </div>


</div>