<div class="container coachs--corner--wrapper">
  <h3 class="cc--header">Coach’s Corner</h3>
  <div class="cc--content">
    <div class="left">
      <mat-tab-group>
        <mat-tab label="Latest Articles">
          <div class="content--wrapper" *ngFor="let datas of ccData">
            <div class="cont--img">
              <img src="{{datas.imgPath}}" alt="">
            </div>
            <div class="cont--desc">
              <h4>{{datas.fname}}</h4>
              <p class="when">
                <mat-icon>access_time</mat-icon> {{datas.time}}
              </p>
              <p class="details">
                {{datas.info}}<span routerLink="/advisor/coachs-corner-details">(Read more)</span>
              </p>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Advisors"> Content 2 </mat-tab>
        <mat-tab label="Legacies"> Content 3 </mat-tab>
        <mat-tab label="Professionals"> Professionals 3 </mat-tab>
        <mat-tab label="Leads"> Leads 3 </mat-tab>
        <mat-tab label="Essentials"> Essentials 3 </mat-tab>
        <mat-tab label="Legal"> Legal 3 </mat-tab>
        <mat-tab label="All Events"> All Events 3 </mat-tab>
      </mat-tab-group>
    </div>
    <app-cc-right-panel></app-cc-right-panel>
  </div>
</div>