@import 'llp-global-styles.scss';

.coachs--corner--wrapper{
    .cc--header{
        font-size: 18px;
        color: #222324;
        margin: 25px 0;
    }
    .cc--content{
        display: flex;
        justify-content: space-between;

        .left{
            margin-right: 20px;
            flex: 1;

            ::ng-deep{
                .mat-tab-header{
                    height: 55px;
                    border-radius: 2px;
                    background-color: #e7ebcd;
                    margin-bottom: 10px;
                    border: none;
                    .mat-tab-label-container{
                        .mat-tab-label{
                            min-width: auto;
                            font-family: $font--lato--bold;
                            font-size: 16px;
                            padding: 0 25px;
                            height: 54px;
                            color: #222324;
                            opacity: 9;
                            &.mat-tab-label-active{
                                color: #c72128;
                            }
                        }
                    }
                }
                .mat-ink-bar{
                    background-color: #c72128 !important;
                }
            }
           
            .content--wrapper{
                border-radius: 2px;
                border: solid 1px #dadce0;
                background-color: #fff;
                margin-bottom: 10px;
                display: flex;
                padding: 20px;

                .cont--img{
                    width: 215px;
                    height: 153px;
                    border: 1px solid #dadce0;
                    margin-top: 2px;
                    flex-shrink: 0;
                    overflow: hidden;
                }
                .cont--desc{
                    margin-left: 20px;
                    width: 100%;
                    h4{
                        font-size: 18px;
                        margin:  0 0 15px 0;
                        color: #222324;
                    }
                    .when{
                        font-size: 13px;
                        margin-bottom: 10px;
                        color: #828385;
                        display: flex;
                        align-items: center;
                        .mat-icon{
                            width: 16px;
                            height: 16px;
                            font-size: 16px;
                            color: #828385;
                            margin-right: 5px;
                        }
                    }
                    .details{
                        font-size: 16px; 
                        color: #222324;
                        min-height: 70px;
                        ::ng-deep{
                            p{
                                margin: 0;
                            }
                        }

                       
                    }
                    .read--more--txt{
                        color: #c72128;
                        cursor: pointer;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
       
    }   
}


/*-------------------------------------------------------------------------------------------------------------------------------------------------
    Media query (start here)
--------------------------------------------------------------------------------------------------------------------------------------------------*/

@media only screen and (max-width: 599px) {
    .coachs--corner--wrapper .cc--content{
        flex-wrap: wrap; 
        flex-direction: column;
    }
    .coachs--corner--wrapper .cc--content .left{
        margin-right: 0;
        width: 100%;
    }
    .coachs--corner--wrapper .cc--content .left .content--wrapper{
        flex-direction: column-reverse;
    }
    .coachs--corner--wrapper .cc--content .left .content--wrapper .cont--desc{
        margin: 0;
    }
    .coachs--corner--wrapper .cc--content .left ::ng-deep .mat-tab-header .mat-tab-label-container .mat-tab-label{
        font-size: 14px;
        padding: 0 10px;
    }
    .coachs--corner--wrapper .cc--content .left ::ng-deep .content--wrapper .cont--desc h4 {
        font-size: 14px;
        margin: 0 0 10px 0;
        line-height: 1.4;
    }
    .coachs--corner--wrapper .cc--content .left .content--wrapper .cont--desc .details {
        font-size: 13px;
    }
    .coachs--corner--wrapper .cc--header {
        font-size: 16px;
        margin: 20px 0;
    }
}
@media only screen and (min-width: 600px) and (max-width: 979px){
    .coachs--corner--wrapper .cc--content{
        flex-wrap: wrap; 
        flex-direction: column;
    }
    .coachs--corner--wrapper .cc--content .left{
        margin-right: 0;
        width: 100%;
    }
    .coachs--corner--wrapper .cc--content .left ::ng-deep .mat-tab-header .mat-tab-label-container .mat-tab-label{
        font-size: 15px;
        padding: 0 13px
    }
}
@media only screen and (min-width: 980px) and (max-width: 1279px){ 
    .coachs--corner--wrapper .cc--content .left ::ng-deep .mat-tab-header .mat-tab-label-container .mat-tab-label{
        font-size: 15px;
        padding: 0 10px
    }
}
@media only screen and (min-width: 1280px) and (max-width: 1440px){}
@media only screen and (min-width: 1441px) and (max-width: 1550px){}