<div class="ll--modal--header">
  Real Estate
  <button class="modal--close" [mat-dialog-close]="">
    <mat-icon class="icon--cross">cancel</mat-icon>
  </button>
</div>
<form class="llp-form-wrapper" (ngSubmit)="realEstateFormSubmit(realEstateForm.value)">
  <div class="ll--modal--body idbox--modal--hgt">
    <div fxLayout="row wrap" class="pt-1">
      <div fxFlex.xs="100">
        <mat-form-field class="full-width">
          <mat-select placeholder="Type*" name="estateType" [formControl]="realEstateForm.controls['estateType']">
            <mat-option value="">Select Type</mat-option>
            <mat-option *ngFor="let option of typeOfRealEstateType" [value]="option.opt_code">{{option.opt_name}}</mat-option>
          </mat-select>
          <mat-icon matTooltip="Please select type" matTooltipClass="llp--tooltip error" *ngIf="realEstateForm.controls['estateType'].hasError('required') && realEstateForm.controls['estateType'].touched"
            class="red--alert">help_outline</mat-icon>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input (keyup)="firstCapitalize($event)" (keypress)="checkSpecialChar($event)" matInput name="address" placeholder="Address"
            [formControl]="realEstateForm.controls['address']">
        </mat-form-field>

        <mat-form-field class="full-width">
          <input (keyup)="firstCapitalize($event)" (keypress)="checkSpecialChar($event)" matInput name="mortgageHolder" placeholder="Mortgage Holder"
            [formControl]="realEstateForm.controls['mortgageHolder']">
        </mat-form-field>

        <mat-form-field class="full-width">
          <input (keyup)="firstCapitalize($event)" (keypress)="checkSpecialChar($event)" matInput name="accountNumber" placeholder="Account Number"
            [formControl]="realEstateForm.controls['accountNumber']">
        </mat-form-field>

        <mat-form-field class="full-width">
          <input maxlength="15" (keyup)="firstCapitalize($event)" (keypress)="checkSpecialChar($event)" matInput name="phoneContact"
            placeholder="Phone Contact" [formControl]="realEstateForm.controls['phoneContact']">
          <mat-icon matTooltip="Please enter minimum 7 & maximum 15 numbers only" matTooltipClass="llp--tooltip error" *ngIf="realEstateForm.controls['phoneContact'].hasError('pattern') && realEstateForm.controls['phoneContact'].touched"
          class="red--alert">help_outline</mat-icon>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input (keyup)="firstCapitalize($event)" (keypress)="checkSpecialChar($event)" matInput name="deedLocation" placeholder="Deed Location"
            [formControl]="realEstateForm.controls['deedLocation']">
        </mat-form-field>

        <mat-form-field class="full-width mt-1">
          <textarea (keyup)="firstCapitalize($event)" maxlength="500" matInput placeholder="Comments"
            name="comments" [formControl]="realEstateForm.controls['comments']"></textarea>
          <div class="char--limit" style="float: right;">{{ 500 - realEstateForm.controls['comments'].value?.length }}</div>
        </mat-form-field>

      </div>
    </div>
  </div>
  <input *ngIf="profileIdHiddenVal" matInput name="profileId" [formControl]="realEstateForm.controls['profileId']" readonly="readonly">
  <div class="ll--modal--footer text-center">
    <button mat-raised-button class="llp--primary--btn" [disabled]="realEstateForm.invalid">Save</button>
  </div>
</form>