<div class="shop-wrap llp--content--wrapper" fxLayout="row" fxLayoutWrap="wrap">
  <div class="full-width">
    <div class="">
      <mat-card class="empty--section p-0">
        <mat-card-header class="m-0">
          <mat-card-title class="m-0">Final Wishes - Obituary</mat-card-title>
          <div class="right--actions">
            <button mat-raised-button class="llp--primary--btn llp--primary--sm--btn" *ngIf="row?.documents.length>0" (click)="DownloadZip()">
              <mat-icon>file_download</mat-icon>
              <span class="hide--sm--txt">Download</span>
            </button>
            <div *ngIf="trusteeLegaciesAction">
              <button mat-raised-button class="llp--primary--btn llp--primary--sm--btn" (click)="openFuneralExpensesModal()">
                <mat-icon>edit</mat-icon>
                <span class="hide--sm--txt">Edit</span>
              </button>
              <button mat-raised-button class="llp--primary--btn llp--primary--sm--btn" (click)="deleteFinalWish(row?._id, row?.customerId)">
                <mat-icon>delete</mat-icon>
                <span class="hide--sm--txt">Delete</span>
              </button>
            </div>
          </div>
        </mat-card-header>
        <mat-card-content>
          <div class="details--wrapper mb-1">
            <div class="details--header">
              <div class="d-flex align--items--center">
                <mat-icon>library_add</mat-icon>Funeral Expenses
              </div>
              <span class="last--modified--by">Last modified:
                <span>{{row?.modifiedOn | date: 'MMM dd, yyyy'}}</span>
              </span>
            </div>
            <div class="details--body">
              <h3>{{getArrangementName(row?.haveFuneralArrangement)}}</h3>
              <div fxLayout="row wrap" class="mb--10" *ngIf="row?.haveFuneralArrangement == 1">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">Funeral home:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">{{row?.funeralHome != '' ? row?.funeralHome : "-"}}</label>
                </div>
              </div>
              <div fxLayout="row wrap" class="mb--10" *ngIf="row?.haveFuneralArrangement == 1">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">Funeral director:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">{{row?.funeralDirector != '' &&  row?.funeralDirector != null ? row?.funeralDirector : "-"}}</label>
                </div>
              </div>

              <div fxLayout="row wrap" class="mb--10" *ngIf="row?.haveFuneralArrangement == 1">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">Address:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">{{row?.address != '' &&  row?.address != null ? row?.address : "-"}}</label>
                </div>
              </div>
              <div fxLayout="row wrap" class="mb--10" *ngIf="row?.haveFuneralArrangement == 1">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">Phone:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">{{row?.phoneNumber != '' &&  row?.phoneNumber != null ? row?.phoneNumber : "-"}}</label>
                </div>
              </div>
              <div fxLayout="row wrap" class="mb--10" *ngIf="row?.haveFuneralArrangement == 2">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">The preneed contract is located:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">{{row?.preneedContractLocation != '' &&  row?.preneedContractLocation != null ? row?.preneedContractLocation : "-"}}</label>
                </div>
              </div>
              <div fxLayout="row wrap" class="mb--10" *ngIf="row?.haveFuneralArrangement == 2">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">Does the preneed contract guarantee the price of stated goods and services?:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">{{row?.haveGuarantee}}</label>
                </div>
              </div>
              <div fxLayout="row wrap" class="mb--10" *ngIf="row?.haveFuneralArrangement == 2">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">The following funeral services have been prepaid:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">{{row?.prepaidFuneralServices != '' &&  row?.prepaidFuneralServices != null ? getStringWithSpace(row?.prepaidFuneralServices) : "-"}}</label>
                </div>
              </div>

              <div fxLayout="row wrap" class="mb--10" *ngIf="row?.haveFuneralArrangement == 2">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">I have a price list for all funeral goods and services provided by the funeral home:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">{{row?.havePriceList ? "Yes" : "No"}}</label>
                </div>
              </div>
              <div fxLayout="row wrap" class="mb--10" *ngIf="row?.haveFuneralArrangement == 2">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">Total Amount:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">{{row?.totalAmountPay != '' &&  row?.totalAmountPay != null ? row?.totalAmountPay : "-"}}</label>
                </div>
              </div>

              <div fxLayout="row wrap" class="mb--10" *ngIf="row?.haveFuneralArrangement == 2">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">I have to pay on death (POD) account to be used to pay for funeral expenses:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">{{row?.haveToPayOnDeath ? "Yes" : "No"}}</label>
                </div>
              </div>
              <div fxLayout="row wrap" class="mb--10" *ngIf="row?.haveFuneralArrangement == 2">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">Account:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">{{row?.account != '' &&  row?.account != null ? row?.account : "-"}}</label>
                </div>
              </div>

              <div fxLayout="row wrap" class="mb--10" *ngIf="row?.haveFuneralArrangement == 2">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">Amount in the account:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">{{row?.amountInAccount != '' &&  row?.amountInAccount != null ? row?.amountInAccount : "-"}}</label>
                </div>
              </div>

              <div fxLayout="row wrap" class="mb--10" *ngIf="row?.haveFuneralArrangement == 2">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">Financial Institution:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">{{row?.financialInstitution != '' &&  row?.financialInstitution != null ? row?.financialInstitution : "-"}}</label>
                </div>
              </div>

              <div fxLayout="row wrap" class="mb--10" *ngIf="row?.haveFuneralArrangement == 2">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">I have pooled funeral trust or funeral insurance policy:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">{{row?.havePooled ? "Yes" : "No"}}</label>
                </div>
              </div>

              <div fxLayout="row wrap" class="mb--10" *ngIf="row?.haveFuneralArrangement == 2">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">ccount/Policy:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">{{row?.pooledAccount != '' &&  row?.pooledAccount != null ? row?.pooledAccount : "-"}}</label>
                </div>
              </div>

              <div fxLayout="row wrap" class="mb--10" *ngIf="row?.haveFuneralArrangement == 2">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">Amount in the trust or policy:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">{{row?.pooledAmount != '' &&  row?.pooledAmount != null ? row?.pooledAmount : "-"}}</label>
                </div>
              </div>

              <div fxLayout="row wrap" class="mb--10" *ngIf="row?.haveFuneralArrangement == 2">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">Insurance company:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">{{row?.pooledInsuranceCompany != '' &&  row?.pooledInsuranceCompany != null ? row?.pooledInsuranceCompany : "-"}}</label>
                </div>
              </div>

              <div fxLayout="row wrap" class="mb--10" *ngIf="row?.haveFuneralArrangement == 2">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">Contact info:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">{{row?.ContactInfo != '' &&  row?.ContactInfo != null ? row?.ContactInfo : "-"}}</label>
                </div>
              </div>

              <div fxLayout="row wrap" class="mb--10" *ngIf="row?.haveFuneralArrangement == 2">
                  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                    <label class="strong--label">Comment:</label>
                  </div>
                  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                    <label class="normal--label">{{row?.comments != '' &&  row?.comments != null ? row?.comments : "-"}}</label>
                  </div>
                </div>

                <div fxLayout="row wrap" class="mb--10" *ngIf="row?.haveFuneralArrangement == 2">
                    <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                      <label class="strong--label">Provide any additional written instructions or thoughts in the comment section:</label>
                    </div>
                    <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                      <label class="normal--label">{{row?.additionalInstructions != '' &&  row?.additionalInstructions != null ? row?.additionalInstructions : "-"}}</label>
                    </div>
                  </div>

              <div fxLayout="row wrap" class="mb--10" *ngIf="row?.haveFuneralArrangement == 2">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">Uploaded files:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70" *ngIf="row?.documents.length>0">
                  <div class="uploaded--files" *ngFor="let doc of row?.documents">
                    <mat-icon class="mat-icon material-icons" (click)="downloadFile(doc.tmpName)" role="img" aria-hidden="true" *ngIf="doc.tmpName.substr((doc.tmpName.lastIndexOf('.') + 1)) == 'pdf' || doc.tmpName.substr((doc.tmpName.lastIndexOf('.') + 1)) == 'PDF' ">picture_as_pdf</mat-icon>
                    <mat-icon class="mat-icon material-icons" (click)="downloadFile(doc.tmpName)" role="img" aria-hidden="true" *ngIf="doc.tmpName.substr((doc.tmpName.lastIndexOf('.') + 1)) == 'docx' || doc.tmpName.substr((doc.tmpName.lastIndexOf('.') + 1)) == 'doc' || doc.tmpName.substr((doc.tmpName.lastIndexOf('.') + 1)) == 'txt' || doc.tmpName.substr((doc.tmpName.lastIndexOf('.') + 1)) == 'DOCX' || doc.tmpName.substr((doc.tmpName.lastIndexOf('.') + 1)) == 'DOC' || doc.tmpName.substr((doc.tmpName.lastIndexOf('.') + 1)) == 'TXT'">insert_drive_file</mat-icon>
                    <mat-icon class="mat-icon material-icons" (click)="downloadFile(doc.tmpName)" role="img" aria-hidden="true" *ngIf="doc.tmpName.substr((doc.tmpName.lastIndexOf('.') + 1)) == 'jpg' || doc.tmpName.substr((doc.tmpName.lastIndexOf('.') + 1)) == 'jpeg' || doc.tmpName.substr((doc.tmpName.lastIndexOf('.') + 1)) == 'png' || doc.tmpName.substr((doc.tmpName.lastIndexOf('.') + 1)) == 'JPG' || doc.tmpName.substr((doc.tmpName.lastIndexOf('.') + 1)) == 'JPEG' || doc.tmpName.substr((doc.tmpName.lastIndexOf('.') + 1)) == 'PNG'">image</mat-icon>
                    <label class="normal--label">
                      <a (click)="downloadFile(doc.tmpName)" class="donwload-doc">{{doc.title}}</a>
                    </label>&nbsp; &nbsp;
                  </div>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70" *ngIf="row?.documents.length == 0">
                  <label class="normal--label">-</label>
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>