<div class="shop-wrap llp--content--wrapper" fxLayout="row" fxLayoutWrap="wrap">
  <div class="full-width">
    <div class="">
      <mat-card class="empty--section p-0">
        <mat-card-header class="m-0">
          <mat-card-title class="m-0">Final Wishes</mat-card-title>
          <div class="right--actions">
            <button mat-raised-button class="llp--primary--btn llp--primary--sm--btn" *ngIf="row?.documents.length>0" (click)="DownloadZip()">
                  <mat-icon>file_download</mat-icon>
                  <span class="hide--sm--txt">Download</span>
            </button>
            <div *ngIf="trusteeLegaciesAction">
              <button mat-raised-button class="llp--primary--btn llp--primary--sm--btn" (click)="openFuneralServiceModal()">
                <mat-icon>edit</mat-icon>
                <span class="hide--sm--txt">Edit</span>
              </button>
              <button mat-raised-button class="llp--primary--btn llp--primary--sm--btn" (click)="deleteFinalWish(row?._id, row?.customerId)">
                <mat-icon>delete</mat-icon>
                <span class="hide--sm--txt">Delete</span>
              </button>
            </div>
        </div>
        </mat-card-header>
        <mat-card-content>
          <div class="details--wrapper mb-1">
            <div class="details--header">
              <div class="d-flex align--items--center">
                <mat-icon>library_add</mat-icon>Funeral or Memorial Service Arrangements
              </div>
              <span class="last--modified--by">Last modified:
                <span>{{row?.modifiedOn | date: 'MMM dd, yyyy'}}</span>
              </span>
            </div>
            <div class="details--body">
              <h3>{{getServiceName(row?.funaralServiceType)}}</h3>

              <div fxLayout="row wrap" class="mb--10" *ngIf="row?.funaralServiceType != 4">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">The service will be for:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">{{row?.serviceFor}}</label>
                </div>
              </div>

              <div fxLayout="row wrap" class="mb--10" *ngIf="row?.funaralServiceType != 4 && row?.serviceFor == 'Other'">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">The service for other:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">{{row?.serviceForOther != "" ? row?.serviceForOther : "-"}}</label>
                </div>
              </div>

              <div fxLayout="row wrap" class="mb--10" *ngIf="row?.funaralServiceType != 4">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">The body:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">{{row?.isBodyPresent != "" ? row?.isBodyPresent : "-"}}</label>
                </div>
              </div>
              
              <div fxLayout="row wrap" class="mb--10" *ngIf="row?.funaralServiceType != 4">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">The casket will be:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">{{row?.isCasket != "" ? row?.isCasket : "-"}}</label>
                </div>
              </div>

              <div fxLayout="row wrap" class="mb--10" *ngIf="row?.funaralServiceType != 4">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">The deceased will wear:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">{{row?.deceasedWear != "" ? row?.deceasedWear : "-"}}</label>
                </div>
              </div>

              <div fxLayout="row wrap" class="mb--10" *ngIf="row?.funaralServiceType != 4">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">Service participants:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">{{row?.serviceParticipants != "" ? row?.serviceParticipants : "-" }}</label>
                </div>
              </div>

              <div fxLayout="row wrap" class="mb--10" *ngIf="row?.leaderChecked && row?.funaralServiceType != 4">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">Ceremony leader details:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">{{row?.leaderDescrption != "" ? row?.leaderDescrption : "-" }}</label>
                </div>
              </div>

              <div fxLayout="row wrap" class="mb--10" *ngIf="row?.eulogistChecked && row?.funaralServiceType != 4">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">Eulogist details:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">{{row?.eulogistdescription != "" ? row?.eulogistdescription : "-"}}</label>
                </div>
              </div>
              
              <div fxLayout="row wrap" class="mb--10" *ngIf="row?.reflectionsChecked && row?.funaralServiceType != 4">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">Reflections details:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">{{row?.reflectionsDescription != "" ? row?.reflectionsDescription : "-"}}</label>
                </div>
              </div>

              <div fxLayout="row wrap" class="mb--10" *ngIf="row?.readingsChecked && row?.funaralServiceType != 4">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">Readings details:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">{{row?.readingsDescription != "" ? row?.readingsDescription : "-"}}</label>
                </div>
              </div>

              <div fxLayout="row wrap" class="mb--10" *ngIf="row?.musiciansChecked && row?.funaralServiceType != 4">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">Musicians details:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">{{row?.musiciansDescription != "" ? row?.musiciansDescription : "-"}}</label>
                </div>
              </div>

              <div fxLayout="row wrap" class="mb--10" *ngIf="row?.pallbearersChecked  && row?.funaralServiceType != 4">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">Pallbearers details:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">{{row?.pallbearersDescription != "" ? row?.pallbearersDescription : "-"}}</label>
                </div>
              </div>

              <div fxLayout="row wrap" class="mb--10" *ngIf="row?.funaralServiceType != 4">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">Additional participants:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">{{row?.additionalParticipants != "" ? row?.additionalParticipants : "-"}}</label>
                </div>
              </div>

              <div fxLayout="row wrap" class="mb--10" *ngIf="row?.funaralServiceType != 4">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">The following readings, poems, hymns, and music will be used during the service:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">{{row?.servicesUsed != "" ? row?.servicesUsed : "-"}}</label>
                </div>
              </div>

              <div fxLayout="row wrap" class="mb--10" *ngIf="row?.funaralServiceType != 4">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">The following flowers will be used for the service:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">{{row?.flowersUsed != "" ? row?.flowersUsed : "-"}}</label>
                </div>
              </div>

              <div fxLayout="row wrap" class="mb--10" *ngIf="row?.funaralServiceType != 4">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">Use floral arrangements service?:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">{{row?.isFloralArrangements}}</label>
                </div>
              </div>

              <div fxLayout="row wrap" class="mb--10" *ngIf="row?.funaralServiceType != 4">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">I would like a visual tribute:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">{{row?.needVisualTribute}}</label>
                </div>
              </div>

              <div fxLayout="row wrap" class="mb--10" *ngIf="row?.needVisualTribute == 'Yes' && row?.funaralServiceType != 4">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">The following people will help prepare the visual tribute:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">{{row?.peopleInVisualTribute != "" ? row?.peopleInVisualTribute : "-"}}</label>
                </div>
              </div>

              <div fxLayout="row wrap" class="mb--10" *ngIf="row?.funaralServiceType != 4">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">I have prepared a visual tribute:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">{{row?.havePreparedVisualTribute}}</label>
                </div>
              </div>

              <div fxLayout="row wrap" class="mb--10" *ngIf="row?.funaralServiceType != 4">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">Additional plans and arrangements:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">{{row?.additionalPlans != "" ? row?.additionalPlans : "-"}}</label>
                </div>
              </div>

              <div fxLayout="row wrap" class="mb--10" *ngIf="row?.havePreparedVisualTribute == 'Yes'  && row?.funaralServiceType != 4">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">Location of the document:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">{{row?.locationOfDocuments != "" ? row?.locationOfDocuments : "-"}}</label>
                </div>
              </div>


              <div fxLayout="row wrap" class="mb--10" *ngIf="row?.havePreparedVisualTribute == 'Yes' && row?.funaralServiceType != 4">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">Uploaded files:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70" *ngIf="row?.documents.length>0">
                  <div class="uploaded--files" *ngFor="let doc of row?.documents">
                      <mat-icon class="mat-icon material-icons" (click)="downloadFile(doc.tmpName)" role="img" aria-hidden="true" *ngIf="doc.tmpName.substr((doc.tmpName.lastIndexOf('.') + 1)) == 'pdf' || doc.tmpName.substr((doc.tmpName.lastIndexOf('.') + 1)) == 'PDF' ">picture_as_pdf</mat-icon>
                      <mat-icon class="mat-icon material-icons" (click)="downloadFile(doc.tmpName)" role="img" aria-hidden="true" *ngIf="doc.tmpName.substr((doc.tmpName.lastIndexOf('.') + 1)) == 'docx' || doc.tmpName.substr((doc.tmpName.lastIndexOf('.') + 1)) == 'doc' || doc.tmpName.substr((doc.tmpName.lastIndexOf('.') + 1)) == 'txt' || doc.tmpName.substr((doc.tmpName.lastIndexOf('.') + 1)) == 'DOCX' || doc.tmpName.substr((doc.tmpName.lastIndexOf('.') + 1)) == 'DOC' || doc.tmpName.substr((doc.tmpName.lastIndexOf('.') + 1)) == 'TXT'">insert_drive_file</mat-icon>
                      <mat-icon class="mat-icon material-icons" (click)="downloadFile(doc.tmpName)" role="img" aria-hidden="true" *ngIf="doc.tmpName.substr((doc.tmpName.lastIndexOf('.') + 1)) == 'jpg' || doc.tmpName.substr((doc.tmpName.lastIndexOf('.') + 1)) == 'jpeg' || doc.tmpName.substr((doc.tmpName.lastIndexOf('.') + 1)) == 'png' || doc.tmpName.substr((doc.tmpName.lastIndexOf('.') + 1)) == 'JPG' || doc.tmpName.substr((doc.tmpName.lastIndexOf('.') + 1)) == 'JPEG' || doc.tmpName.substr((doc.tmpName.lastIndexOf('.') + 1)) == 'PNG'">image</mat-icon>                      
                   <label class="normal--label"> 
                      <a (click)="downloadFile(doc.tmpName)" class="donwload-doc">{{doc.title}}</a>
                    </label>&nbsp; &nbsp;
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>