<div class="ll--modal--header">
  {{data.title}}  
  <button class="modal--close" ><mat-icon (click)="dialogRef.close()" class="icon--cross">cancel</mat-icon></button>  
</div>
<div class="mb-1 text-center" *ngIf="showButton && categoryList.length === 0">
  <button mat-raised-button class="llp--primary--btn" (click)="addCategory()">+ Add Category</button>
</div>
<form [formGroup]="itemForm" class="llp-form-wrapper" (ngSubmit)="submit()" *ngIf="categoryList.length > 0">
  <div class="ll--modal--body modal--body--hgt-upd pt-1">
    <div fxLayout="row wrap">

      <div  fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" class="pad--r--lg">
        <mat-form-field class="full-width">
          <input class="capitalize" matInput name="title" [formControl]="itemForm.controls['title']" placeholder="Post title *">
        </mat-form-field>
      </div>

      <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
        <mat-form-field class="full-width">         
          <mat-select [formControl]="itemForm.controls['category']" placeholder="Select Category *">
            <mat-option *ngFor="let category of categoryList" [value]="category._id">
              {{category.title}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      
      <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" class="pad--r--lg">
        <!-- <mat-label>Description</mat-label> -->
        <h3 class="header--text fnt--16">Description</h3>
        <mat-card class="p-0">
          <mat-card-content class="p-0">
            <ejs-richtexteditor id='defaultRTE' [height]="300" [formControl]="itemForm.controls['description']" [toolbarSettings]='tools' [quickToolbarSettings]='quickTools'></ejs-richtexteditor>
          </mat-card-content>
        </mat-card>
      </div>

      <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" class="mt-1 upload--buss--docs--sec">
        <label>Upload Image *</label>
        <div class="upload--box fileupload-drop-zone" ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)" [uploader]="uploader">
          <input type="file" name="documents"  ng2FileSelect [uploader]="uploader" (change)="fileOverBase('')" />  
          <mat-icon class="cloud-icon">cloud_upload</mat-icon>
          <div class="select--file">Select file from your computer</div>
        </div>
        <div class="file--details mb-1">Supported formats JPEG, JPG, PNG</div>
      </div>

      <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" class="mt-1" *ngIf="imageList.length" >
        <h3 class="header--text fnt--16">Uploaded Images</h3>
        <mat-chip-list class="doc--list" *ngFor="let doc of imageList; index as i">
          <mat-chip *ngIf="doc.name">
            <a (click)="downloadFile(doc.name)" class="donwload-doc">{{doc.name}}</a>
            <mat-icon matChipRemove (click)="ImageDelete(i,doc.name,doc.name)">close</mat-icon>
          </mat-chip>
        </mat-chip-list>
      </div>

      <mat-chip-list class="doc--list error--chip" *ngFor="let err of fileErrors;">
        <mat-chip>
          <mat-error>{{err.error}}</mat-error>
        </mat-chip>
      </mat-chip-list>

      <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" class="mt-1 progress" style="margin-bottom: 0;" *ngIf="uploader.getNotUploadedItems().length">
        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': currentProgessinPercent + '%' }">{{currentProgessinPercent}}%</div>
        <mat-progress-bar class=""  color="primary" mode="Indeterminate"  [value]="currentProgessinPercent"></mat-progress-bar>
      </div>

      <div fxFlex="100"  class="pr-0 mt-1">
        <h3 class="header--text fnt--16">Status</h3>
        <mat-slide-toggle class="llp--slide--toggle full-width" [formControl]="itemForm.controls['status']" [checked]="itemForm.controls['status']">{{itemForm.controls['status'].value ? 'ON' : 'OFF'}}</mat-slide-toggle>
      </div>
    </div>

  </div>


  <div class="ll--modal--footer text-center">
    <button mat-raised-button class="llp--primary--btn" [disabled]="itemForm.invalid || imageList.length < 1">Save</button>
   </div>
</form>