<div class="container privacy--policy--wrapper">
  <h2 class="text-center">Tearns Of Use </h2>

  <h4 class="header--text">1. Ipsum Lorem</h4>
  <h6 class="sub--header">Lorem Ipsum is dummy</h6>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
  <h6 class="sub--header">Dummy text lorem Ipsum</h6>
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's Lorem Ipsum
    is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's. Lorem ipsum dolor
    sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
    minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
    in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
  <h6 class="sub--header">Lorem Ipsum is dummy</h6>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>



  <h4 class="header--text">2. Lorem Ipsum Dummy</h4>
  <h6 class="sub--header">Ipsum Is Dummy Text</h6>
  <ul class="list--items">
    <li>Verification/identification of the user during website usage;</li>
    <li>Providing Technical Assistance.</li>
    <li>Sending updates to our users with important information to inform about news/changes.</li>
    <li>Checking the accounts’ activity in order to prevent fraudulent transactions and ensure the security over our customers’
      personal information.</li>
    <li>Customize the website to make your experience more personal and engaging.</li>
    <li>Guarantee overall performance and administrative functions run smoothly.</li>
  </ul>
  <h6 class="sub--header">Lorem Ipsum is dummy</h6>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>


  <h4 class="header--text">3. Dummy Text Lorem Ipsum</h4>
  <h6 class="sub--header">Lorem Data</h6>
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's Lorem Ipsum
    is simply dummy text of the printing and typesetting industry. </p>
  <h6 class="sub--header">Dummy text lorem</h6>
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's Lorem Ipsum
    is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's. Lorem ipsum dolor
    sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
    minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
    in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

  </p>
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's Lorem Ipsum
    is simply dummy text of the printing and
    <a>typesetting industry.</a>
  </p>

  <h6 class="sub--header">Lorem Ipsume</h6>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 

  </p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
    

</div>