<div fxLayout="row wrap" class="advisor--landing--wrapper" id="cu-home">
  <div fxFlex="100">

    <section>
      <div class="get--hired--wrapper bottom-space safe--place--wrapper" [ngStyle]="{ 'backgroundImage': getUrl('topBanner') }">
        <div class="banner--content">
          <!-- <h3 [innerHtml]="pageTitle"></h3> -->
          <div class="pageTitle" [innerHtml]="pageTitle"></div>
          <h6 class="info">{{pageData?.pagesubTitle}}</h6>
          <button mat-raised-button class="landing--primary--btn" [routerLink]="['/customer/signup']">{{customerFreeTrialStatus ? 'Start a Free Trial' : 'Sign Up'}}</button>
          <button mat-raised-button class="landing--secondary--btn">See How LLP Works</button>
        </div>
      </div>

      <div class="standard-bg" id="about-us">
        <div class="llp--container">
          <div class="llp--unexp-turn" [ngStyle]="{ 'backgroundImage': getUrl('middleBanner') }">
          </div>
          <div class="llp--unexp--box">
            <h5>{{pageData?.middleTitle}}</h5>
            <p [innerHtml]="pageData?.middleText"></p>
          </div>
        </div>
      </div>

      <div class="standard-bg" id="how-llp-works">

        <div class="plan--process--wrapper" [ngStyle]="{ 'backgroundImage': getUrl('lowerBanner') }">
          <div class="plan--content">
            <h3>{{pageData?.lowerTitle}}</h3>
            <p [innerHtml]="pageData?.lowerText">{{pageData?.lowerText}}</p>
          </div>
        </div>

        <div class="llp--container" *ngIf="pageData?.bulletPoints">
          <div class="plan--process--steps bottom-space">
            <div fxLayout="row wrap">

              <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" *ngFor="let row of pageData?.bulletPoints;">
                <mat-list class="stepss p-0">
                  <mat-list-item >
                    <mat-icon>arrow_forward</mat-icon>{{row.name}}
                  </mat-list-item>
                </mat-list>
              </div>


              <!-- <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
                <mat-list class="stepss p-0">
                  <mat-list-item>
                    <mat-icon>arrow_forward</mat-icon>Orders of Guardianship for Minor Children or Pets
                  </mat-list-item>
                  <mat-list-item>
                    <mat-icon>arrow_forward</mat-icon> Funeral or Memorial Preferences
                  </mat-list-item>
                  <mat-list-item>
                    <mat-icon>arrow_forward</mat-icon> Checking, Savings, Investment and Retirement Account Numbers
                  </mat-list-item>
                  <mat-list-item>
                    <mat-icon>arrow_forward</mat-icon>Wills and Trusts
                  </mat-list-item>
                  <mat-list-item>
                    <mat-icon>arrow_forward</mat-icon>Property and/or mineral deeds
                  </mat-list-item>
                  <mat-list-item>
                    <mat-icon>arrow_forward</mat-icon>Personal Property Disbursement/ Distribution Letters
                  </mat-list-item>
                  <mat-list-item>
                    <mat-icon>arrow_forward</mat-icon> List of recurring bills, payments or charges
                  </mat-list-item>
                  <mat-list-item>
                    <mat-icon>arrow_forward</mat-icon> List of Memberships, Dues, and Subscriptions
                  </mat-list-item>
                  <mat-list-item>
                    <mat-icon>arrow_forward</mat-icon>Advanced Care Directives
                  </mat-list-item>
                </mat-list>
              </div> -->
            </div>
          </div>
        </div>

        <div class="green-divider"></div>

        <div class="llp--container" id="leadsNumbersAd" (document:scroll)="isScrolledIntoViewOne()">
          <div class="llp--hired">
            <h4>{{pageData?.facts.title}}</h4>
            <p>{{pageData?.facts.subTitle}}</p>
            <div class="history">
              <div class="sm--mt">
                <h5 [countUp]="endVal1" [options]="opts"></h5>
                <h6>Saved Files</h6>
              </div>
              <div class="sm--mt">
                <h5 [countUp]="endVal2" [options]="opts"></h5>
                <h6>Trusted Advisors</h6>
              </div>
              <div class="sm--mt">
                <h5 [countUp]="endVal3" [options]="opts"></h5>
                <h6>Success Login</h6>
              </div>
              <div class="sm--mt">
                <h5 [countUp]="endVal4" [options]="opts"></h5>
                <h6>LLP Members</h6>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="standard-bg white--bg">
        <div class="llp--container">
          <div class="featured--advisors text-center ">
            <h1 class="landing-main-header bottom-space">Quick Overview</h1>
            <div class="llp--container">
              <div fxLayout="row wrap" class="justify--content--space--between">
                <div fxFlex.xs="100" fxFlex.sm="49" fxFlex.md="49" fxFlex.lg="49" fxFlex.xl="49">
                  <div class="overview--wrapper" style="background-image: url('assets/images/arkenea/quickoverview-1-without-overlay.png')">
                    <mat-icon class="play--video--icon" (click)="openVideoModal(pageData?.quickOverview1)">play_circle_outline</mat-icon>
                      <!-- <video class="library video--sec" controls preload="auto" data-config="some-js-object-here">
                          <source src="{{bucketLink}}{{pageData?.quickOverview1.videoLink}}" type='video/mp4'>
                      </video> -->
                      <div class="video--details">
                        <h5>{{pageData?.quickOverview1.title}}</h5>
                        <p>{{pageData?.quickOverview1.subTitle}}</p>
                      </div>
                  </div>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="49" fxFlex.md="49" fxFlex.lg="49" fxFlex.xl="49">
                  <div class="overview--wrapper" style="background-image: url('assets/images/arkenea/quickoverview-2-without-overlay.png')">
                    <mat-icon class="play--video--icon" (click)="openVideoModal(pageData?.quickOverview2)">play_circle_outline</mat-icon>
                    <!-- <video class="library video--sec" controls preload="auto" data-config="some-js-object-here">
                        <source src="{{bucketLink}}{{pageData?.quickOverview2.videoLink}}" type='video/mp4'>
                    </video> -->
                    <div class="video--details">
                      <h5>{{pageData?.quickOverview2.title}}</h5>
                      <p>{{pageData?.quickOverview2.subTitle}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="standard-bg" id="pricing-plan">
        <div class="llp--container">
          <div class="featured--advisors text-center">
            <h1 class="landing-main-header">Plan on LLP</h1>
            <div class="pricing--section">
              <div class="plans--wrapper">
                <div fxLayout="row wrap">
                  <div fxFlex="100">
                    <div class="plan--text">
                      <div class="plan--header">
                        <img alt="" class="cornar--stars" src="assets/images/arkenea/star.png">
                        <div class="plan--type">Legacy Life Plan</div>
                        <div class="relative">
                          <span class="doller">{{planAmount | currency : planCurrency : 'symbol': '.0-0' | slice :0:1}}</span>
                          <span class="amt">{{planAmount | number : '.0-0'}}</span>
                          <span class="duration">a {{planInterval}}</span>
                        </div>
                        <div class="space">
                          For {{defaultSpace}} {{spaceDimension | uppercase}} Space
                        </div>
                      </div>
                      <div class="plan--body">
                        <h5>Legacy Life Plan Features</h5>
                        <mat-list class="p-0">
                          <div fxLayout="row wrap" class="text-left">
                            <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
                              <mat-list-item>
                                <mat-icon>check</mat-icon> In-Depth Estate Planning Platform
                              </mat-list-item>
                            </div>
                            <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
                              <mat-list-item>
                                <mat-icon>check</mat-icon> Professional Resources and Guides
                              </mat-list-item>
                            </div>
                            <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
                              <mat-list-item>
                                <mat-icon>check</mat-icon> Secure Encrypted Document Storage
                              </mat-list-item>
                            </div>
                            <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
                              <mat-list-item>
                                <mat-icon>check</mat-icon> Online Help
                              </mat-list-item>
                            </div>
                            <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
                              <mat-list-item>
                                <mat-icon>check</mat-icon> Unlimited Trustees
                              </mat-list-item>
                            </div>
                            <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
                              <mat-list-item>
                                <mat-icon>check</mat-icon> Video & Picture Time Capsule
                              </mat-list-item>
                            </div>
                            <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
                              <mat-list-item>
                                <mat-icon>check</mat-icon> Local Advisor Directory
                              </mat-list-item>
                            </div>
                          </div>
                        </mat-list>
                      </div>

                      <div class="extra--price">

                        <mat-accordion>
                          <mat-expansion-panel>
                            <mat-expansion-panel-header>
                              <mat-panel-title>
                                Legacy Life Memory Plus!
                              </mat-panel-title>
                            </mat-expansion-panel-header>

                            <p>{{addOnSpace}} gig upgrade ${{addOnCharges}} per year
                              All Legacy Life Plans come with {{defaultSpace}} gigs memory. If you’re heavy on pictures and video this
                              upgrade will provide you with {{fullSpace}} gigs. You can upgrade anytime.</p>
                          </mat-expansion-panel>

                        </mat-accordion>
                      </div>

                      <div class="text-center">
                        <button mat-raised-button class="llp--primary--btn" [routerLink]="['/customer/signup']">{{customerFreeTrialStatus ? 'Start your '+customerFreeAccessDays+' days free trial' : 'Sign Up'}}</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>

      <div class="white--bg" id="testimonialss">
        <div class="container--full--width">
          <div class="featured--advisors text-center">
            <h1 class="landing-main-header">What People Say?</h1>
            <p>Testimonials from our community of users</p>

            <div class="fa--slider relative what--do--sec">
              <ngx-slick-carousel class="carousel" [config]="slideConfigTwo" (init)="slickInit2($event)"
                (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
                (beforeChange)="beforeChange($event)">
                <div ngxSlickItem *ngFor="let testomonial of testomonials" class="slide">
                  <div class="testimonial--wrapper">
                    <div class="testimonial--header">
                      <i class="icon-quote"></i>
                      <p>{{testomonial.comment}}</p>
                    </div>
                    <div class="testimonial--body">
                      <div class="testmnl--user--pic">
                        <img src="{{bucketLink}}{{testomonial.profilePhoto}}" alt="{{testomonial.profilePhoto}}">
                      </div>
                      <h5> {{testomonial.name}}</h5>
                      <h6> {{testomonial.certifications}}</h6>
                    </div>
                  </div>

                </div>
              </ngx-slick-carousel>
            </div>

          </div>
        </div>
      </div>

      <div class="get--a--free-section">
        <div class="llp--container">
          <div fxLayout="row wrap" class="align--items--center">
            <div fxFlex.xs="100" fxFlex.sm="70" fxFlex.md="80" fxFlex.lg="80" fxFlex.xl="80">
              <h5>Get a {{customerFreeTrialStatus ? 'Free Trial' : ''}} Account on Legacy Life Plans!</h5>
              <p>Try it out {{customerFreeTrialStatus ? 'for '+customerFreeAccessDays+' days' : ''}}, No risk, No Obligation</p>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="30" fxFlex.md="20" fxFlex.lg="20" fxFlex.xl="20" class="start--free">
              <button mat-raised-button class="landing--primary--btn" [routerLink]="['/customer/signup']">{{customerFreeTrialStatus ? 'Start a Free Trial' : 'Sign Up'}}</button>
            </div>
          </div>
        </div>
      </div>

    </section>


    <!-- footer -->
    <footer class="main--footer--wrapper" id="contact-us">
      <div class="llp--container">
        <div fxLayout="row wrap" fxLayoutGap="25px">
          <div fxFlex.xs="100" fxFlex.sm="30.33" fxFlex.md="30.33" fxFlex.lg="30.33" fxFlex.xl="30.33">
            <h5 class="footer--header">Legacy Life Plans, Inc.</h5>
            <div class="company--address">
              <p>Making a Difference, One Life, One Legacy, One Plan at a Time</p>
              <div class="cont--wrap">
                <mat-icon class="footer-icon">location_on</mat-icon>
                <div class="tag--info">
                  <span class="tag">Address: </span> 3628 Leisure Lane, Los Angeles, CA </div>
              </div>
              <div class="cont--wrap">
                <mat-icon class="footer-icon">email</mat-icon>
                <div class="tag--info">
                  <span class="tag">Email: </span>
                  <a class="f--link" href="mailto:support@legacylifeplan.com"> support@legacylifeplans.com</a>
                </div>
              </div>
              <div class="cont--wrap">
                <mat-icon class="footer-icon">local_phone</mat-icon>
                <div class="tag--info">
                  <span class="tag">Phone: </span> +102 (111) 4563210 </div>
              </div>
            </div>

          </div>
          <div fxFlex.xs="100" fxFlex.sm="30.33" fxFlex.md="30.33" fxFlex.lg="30.33" fxFlex.xl="30.33">
            <h5 class="footer--header">About Us</h5>
            <div class="">
              <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
                <ul class="footer--services">
                  <li>
                    <a href="#">Our Company</a>
                  </li>
                  <li>
                    <a>How it Works</a>
                  </li>
                  <li>
                    <a>Secure Data</a>
                  </li>
                  <li>
                    <a>Terms of Usage</a>
                  </li>
                  <li>
                    <a>Privacy Policy</a>
                  </li>
                  <li>
                    <a>FAQ</a>
                  </li>
                </ul>
              </div>
              <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
                <ul class="footer--services">
                  <li>
                    <a href="#">Social Media</a>
                  </li>
                  <li>
                    <a routerLink="coachs-corner">Coach’s Corner</a>
                  </li>
                  <li>
                    <a href="#">Pricing</a>
                  </li>
                  <LI>
                    <A href="#">Free Account</A>
                  </LI>
                  <li>
                    <a routerLink="/advisor">For Advisors</a>
                  </li>
                  <li>
                    <a routerLink="/">For Customers</a>
                  </li>

                </ul>

              </div>
            </div>
          </div>
          <div fxFlex.xs="100" fxFlex.sm="30.33" fxFlex.md="30.33" fxFlex.lg="30.33" fxFlex.xl="30.33">
            <h5 class="footer--header">Contact Us</h5>
            <div class="company--address">
              <p class="mb-1">We’d love to hear from you! </p>
            </div>
            <div class="contact--us--form">
              <form [formGroup]="contactForm" (ngSubmit)="contactFormSubmit()">
                <!-- <mat-form-field appearance="outline">
                  <mat-label>Full Name*</mat-label>
                  <input matInput placeholder="John Smith ">
                </mat-form-field> -->
                <mat-form-field appearance="outline">
                  <mat-label>Email Address *</mat-label>
                  <input matInput placeholder="john@gmail.com" autocomplete="off" name="email" [formControl]="contactForm.controls['email']">
                  <mat-icon matTooltip="Please enter your email" matTooltipClass="llp--tooltip error" 
                  *ngIf="contactForm.controls['email'].hasError('required') && contactForm.controls['email'].touched"                  
                  class="red--alert">help_outline</mat-icon>
                  <mat-icon matTooltip="Please enter valid email" matTooltipClass="llp--tooltip error" 
                  *ngIf="contactForm.controls['email'].hasError('pattern')"                  
                  class="red--alert">help_outline</mat-icon>                  
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>Your Message*</mat-label>
                  <textarea matInput placeholder="Droup your message or query" name="message" [formControl]="contactForm.controls['message']"></textarea>
                  <mat-icon matTooltip="Please enter your message" matTooltipClass="llp--tooltip error" 
                  *ngIf="contactForm.controls['message'].hasError('required') && contactForm.controls['message'].touched"                  
                  class="red--alert">help_outline</mat-icon> 
                </mat-form-field>
                <div>
                  <button mat-raised-button class="landing--primary--btn w161">Contact Us</button>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>

      <div class="llp--container">
        <div class="copyright--footer">
          <p>© 2019 Legacy Life Plans</p>
        </div>
      </div>

    </footer>
  </div>
</div>

<div class="back--to--top" (click)="gotoTop()">
  <mat-icon>arrow_upward</mat-icon>
</div>