<!-- <h1 class="mat-display-1 text-center mt-1">

    Welcome to LLP!</h1>
<div class="text-center">
    <button [routerLink]="'/auth/admin/signin'" mat-raised-button class="mt-1 mb-1 ml-1">Admin</button>
    <button [routerLink]="'/auth/signin'" mat-raised-button class="mat-primary mt-1 mb-1 ml-1">Customer</button>
    <button [routerLink]="'/auth/signin'" mat-raised-button class="mat-primary mt-1 mb-1 ml-1">Adviser</button>
</div> -->

<!-- <mat-card class="p-0">
    <mat-card-title class="">
      <div class="card-title-text">Plans and Pricing</div>
      <mat-divider></mat-divider>
    </mat-card-title>
    <mat-card-content>
      <mat-slide-toggle [(ngModel)]="isAnnualSelected" color="primary" class="mb-1">Get upto 10% discount annually</mat-slide-toggle>
   -->
<!-- <div fxLayout="row wrap"> -->
<!-- Pricing box -->
<!-- <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50">
          <mat-card class="plan-pricing text-center p-0">
            <mat-card-title class="light-gray">
              <div class="card-title-text">
                <div class="">Developer</div>
                <div class="text-sm text-muted">For New Developers</div>
              </div>
              <mat-divider></mat-divider>
            </mat-card-title>
            <mat-card-content>
              <h1><strong>FREE</strong></h1>
              <mat-list dense class="mb-1">
                <mat-list-item>10GB of Bandwidth</mat-list-item>
                <mat-list-item>Max 50 connection</mat-list-item>
                <mat-list-item>512MB RAM</mat-list-item>
                <mat-list-item class="text-muted">Unlimited access</mat-list-item>
                <mat-list-item class="text-muted">Unlimited User</mat-list-item>
                <mat-list-item class="text-muted">Data analytics</mat-list-item>
              </mat-list>
              <button mat-raised-button class="mat-accent">Choose</button>
            </mat-card-content>
          </mat-card>
        </div> -->
<!-- Pricing box -->
<!-- <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50">
          <mat-card class="plan-pricing text-center p-0">
            <mat-card-title class="mat-bg-primary">
              <div class="card-title-text">
                <div class="">Starter</div>
                <div class="text-sm text-muted-white">For Professional Developers</div>
              </div>
              <mat-divider></mat-divider>
            </mat-card-title>
            <mat-card-content>
              <h1>
                <strong>$ 
                <span *ngIf="!isAnnualSelected">{{30}} /Mo</span>
                <span *ngIf="isAnnualSelected">{{30 * 12 * .9}} /Yr</span>
                </strong>
              </h1>
              <mat-list dense class="mb-1">
                <mat-list-item>100GB of Bandwidth</mat-list-item>
                <mat-list-item>Max 500 connection</mat-list-item>
                <mat-list-item>1GB RAM</mat-list-item>
                <mat-list-item>Unlimited access</mat-list-item>
                <mat-list-item class="text-muted">Unlimited User</mat-list-item>
                <mat-list-item class="text-muted">Data analytics</mat-list-item>
              </mat-list>
              <button mat-raised-button class="mat-accent">Choose</button>
            </mat-card-content>
          </mat-card>
        </div> -->
<!-- Pricing box -->
<!-- <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50">
          <mat-card class="plan-pricing text-center p-0">
            <mat-card-title class="light-gray">
              <div class="card-title-text">
                <div class="">Business</div>
                <div class="text-sm text-muted">For Small Businesses</div>
              </div>
              <mat-divider></mat-divider>
            </mat-card-title>
            <mat-card-content>
              <h1>
                <strong>$ 
                <span *ngIf="!isAnnualSelected">{{60}} /Mo</span>
                <span *ngIf="isAnnualSelected">{{60 * 12 * .9}} /Yr</span>
                </strong>
              </h1>
              <mat-list dense class="mb-1">
                <mat-list-item>100GB of Bandwidth</mat-list-item>
                <mat-list-item>Max 1500 connection</mat-list-item>
                <mat-list-item>2GB RAM</mat-list-item>
                <mat-list-item>Unlimited access</mat-list-item>
                <mat-list-item>Unlimited User</mat-list-item>
                <mat-list-item class="text-muted">Data analytics</mat-list-item>
              </mat-list>
              <button mat-raised-button class="mat-accent">Choose</button>
            </mat-card-content>
          </mat-card>
        </div> -->
<!-- Pricing box -->
<!-- <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50">
          <mat-card class="plan-pricing text-center p-0">
            <mat-card-title class="light-gray">
              <div class="card-title-text">
                <div class="">Enterprise</div>
                <div class="text-sm text-muted">For Large companies</div>
              </div>
              <mat-divider></mat-divider>
            </mat-card-title>
            <mat-card-content>
              <h1>
                <strong>$ 
                <span *ngIf="!isAnnualSelected">{{160}} /Mo</span>
                <span *ngIf="isAnnualSelected">{{160 * 12 * .9}} /Yr</span>
                </strong>
              </h1>
              <mat-list dense class="mb-1">
                <mat-list-item>1000GB of Bandwidth</mat-list-item>
                <mat-list-item>Max 5000 connection</mat-list-item>
                <mat-list-item>8GB RAM</mat-list-item>
                <mat-list-item>Unlimited access</mat-list-item>
                <mat-list-item>Unlimited User</mat-list-item>
                <mat-list-item>Data analytics</mat-list-item>
              </mat-list>
              <button mat-raised-button class="mat-accent">Choose</button>
            </mat-card-content>
          </mat-card>
        </div> -->

<!-- </div>
    </mat-card-content>
  </mat-card> -->


<!-- <div fxLayout="row wrap"  >
      <div fxFlex.xs="100" fxFlex.sm="33.33" fxFlex.md="20" fxFlex.lg="49" fxFlex.xl="33.33">01</div>
      <div fxFlex.xs="100" fxFlex.sm="33.33" fxFlex.md="20" fxFlex.lg="49" fxFlex.xl="33.33">02</div>
      <div fxFlex.xs="100" fxFlex.sm="33.33" fxFlex.md="20" fxFlex.lg="49" fxFlex.xl="33.33">03</div>
      <div fxFlex.xs="100" fxFlex.sm="33.33" fxFlex.md="20" fxFlex.lg="49" fxFlex.xl="33.33">04</div>
      <div fxFlex.xs="100" fxFlex.sm="33.33" fxFlex.md="20" fxFlex.lg="49" fxFlex.xl="33.33">05</div>
  </div>


  <mat-grid-list [cols]="breakpoint" rowHeight="100px" (window:resize)="onResize($event)">
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
    <mat-grid-tile>5</mat-grid-tile>
    <mat-grid-tile>6</mat-grid-tile>
  </mat-grid-list>


  <mat-grid-list class="mt-1" cols = "4" rowHeight = "100px" >
    <mat-grid-tile [colspan] = "3"[rowspan] = "1"> 01  </mat-grid-tile>
    <mat-grid-tile [colspan] = "1"[rowspan] = "2"> 02 </mat-grid-tile>
    <mat-grid-tile [colspan] = "1"[rowspan] = "1"> 03 </mat-grid-tile>
    <mat-grid-tile [colspan] = "2"[rowspan] = "1"> 04 </mat-grid-tile>
 </mat-grid-list>


 <div layout="layout-gt-xs">
      <div class="col">
        1 of 2
      </div>
      <div class="col-6">
        2 of 2
      </div>
      <div class="col">
        1 of 3
      </div>
      <div class="col">
        2 of 3
      </div>
      <div class="col">
        3 of 3
      </div>
    </div> -->
<div fxLayout="row wrap" class="advisor--landing--wrapper" id="cu-home">
  <div fxFlex="100">

    <section>
      <div class="get--hired--wrapper bottom-space safe--place--wrapper"
        style="background-image: url('assets/images/arkenea/eu-banner.png')">
        <div class="banner--content">
          <h3>SAFE PLACE FOR
            <br> LIFE’S PLANS</h3>
          <h6 class="info">Life is a journey, leave a legacy and a peace of mind
          </h6>
          <button mat-raised-button class="landing--primary--btn">Start a Free Trial</button>
          <button mat-raised-button class="landing--secondary--btn">See How LLP Works</button>
        </div>
      </div>

      <div class="standard-bg" id="about-us">
        <div class="llp--container">
          <div class="llp--unexp-turn" style="background-image: url('assets/images/arkenea/unexp-banner.png')">
          </div>
          <div class="llp--unexp--box">
            <h5>Legacy Life Plans- Keep you in control when life makes unexpected turns.
            </h5>
            <p>Legacy Life Plans is an encrypted, secure, digital safe deposit box. Here, you can organize, file, and
              store
              important life documents and information. In the event of a debilitating illness or death, your loved ones
              will have predetermined managed access and a roadmap to handle your affairs and/or final wishes. Relieve
              the
              stress of heirs, estate executors, and administrators. Use this tool to provide a step-by-step blueprint,
              that
              your family can follow to handle your directives. </p>
          </div>
        </div>
      </div>

      <div class="standard-bg" id="how-llp-works">

        <div class="plan--process--wrapper"
          style="background-image: url('assets/images/arkenea/legacy-life-line-process.png')">
          <div class="plan--content">
            <h3>Legacy Life Plans Process </h3>
            <p>Living well starts with a plan and ends as a legacy. LEGACY LIFE PLANS is an event driven tool. Every new
              policy,
              account, deed, subscription or snapshot of a life event CAN be added to your LEGACY LIFE PLAN account. Any
              new family event calls for updating your LEGACY LIFE PLAN and many of its contents</p>

            <p>Organize, file, record, and share your memories and aspirations with the people you love. Make the end of
              your
              life easier on those you leave behind. Give heirs and executors safe, yet convenient, access to your: </p>

          </div>
        </div>

        <div class="llp--container">
          <div class="plan--process--steps bottom-space">
            <div fxLayout="row wrap">
              <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
                <mat-list class="stepss p-0">
                  <mat-list-item>
                    <mat-icon>arrow_forward</mat-icon>Personal voice messages, family histories, art or music
                  </mat-list-item>
                  <mat-list-item>
                    <mat-icon>arrow_forward</mat-icon> Special photographs and memories
                  </mat-list-item>
                  <mat-list-item>
                    <mat-icon>arrow_forward</mat-icon> List of Professional Advisors: lawyers, accountants, investment
                    representatives,
                    insurance, and real estate agents
                  </mat-list-item>
                  <mat-list-item>
                    <mat-icon>arrow_forward</mat-icon>Your personal contact list, social media and email accounts
                  </mat-list-item>
                  <mat-list-item>
                    <mat-icon>arrow_forward</mat-icon>Social Security and Medical Insurance card copies
                  </mat-list-item>
                  <mat-list-item>
                    <mat-icon>arrow_forward</mat-icon>Advanced Care Directives
                  </mat-list-item>
                  <mat-list-item>
                    <mat-icon>arrow_forward</mat-icon> Healthcare and Durable Powers-of-Attorney
                  </mat-list-item>
                  <mat-list-item>
                    <mat-icon>arrow_forward</mat-icon> Burial or Cremation preferences
                  </mat-list-item>
                </mat-list>
              </div>
              <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
                <mat-list class="stepss p-0">
                  <mat-list-item>
                    <mat-icon>arrow_forward</mat-icon>Orders of Guardianship for Minor Children or Pets
                  </mat-list-item>
                  <mat-list-item>
                    <mat-icon>arrow_forward</mat-icon> Funeral or Memorial Preferences
                  </mat-list-item>
                  <mat-list-item>
                    <mat-icon>arrow_forward</mat-icon> Checking, Savings, Investment and Retirement Account Numbers
                  </mat-list-item>
                  <mat-list-item>
                    <mat-icon>arrow_forward</mat-icon>Wills and Trusts
                  </mat-list-item>
                  <mat-list-item>
                    <mat-icon>arrow_forward</mat-icon>Property and/or mineral deeds
                  </mat-list-item>
                  <mat-list-item>
                    <mat-icon>arrow_forward</mat-icon>Personal Property Disbursement/ Distribution Letters
                  </mat-list-item>
                  <mat-list-item>
                    <mat-icon>arrow_forward</mat-icon> List of recurring bills, payments or charges
                  </mat-list-item>
                  <mat-list-item>
                    <mat-icon>arrow_forward</mat-icon> List of Memberships, Dues, and Subscriptions
                  </mat-list-item>
                  <mat-list-item>
                    <mat-icon>arrow_forward</mat-icon>Advanced Care Directives
                  </mat-list-item>
                </mat-list>
              </div>


            </div>
          </div>
        </div>

        <div class="green-divider"></div>

        <div class="llp--container" id="leadsNumbersAd" (document:scroll)="isScrolledIntoViewOne()">
          <div class="llp--hired">
            <h4>Legacy Life Plans</h4>
            <p>Making a difference, One life, One legacy, One plan at a time</p>
            <div class="history">
              <div class="sm--mt">
                <h5 [countUp]="endVal1" [options]="opts"></h5>
                <h6>Saved Files</h6>
              </div>
              <div class="sm--mt">
                <h5 [countUp]="endVal2" [options]="opts"></h5>
                <h6>Trusted Advisors</h6>
              </div>
              <div class="sm--mt">
                <h5 [countUp]="endVal3" [options]="opts"></h5>
                <h6>Success Login</h6>
              </div>
              <div class="sm--mt">
                <h5 [countUp]="endVal4" [options]="opts"></h5>
                <h6>LLP Members</h6>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="standard-bg white--bg">
        <div class="llp--container">
          <div class="featured--advisors text-center ">
            <h1 class="landing-main-header bottom-space">Quick Overview</h1>
            <div class="llp--container">
              <div fxLayout="row wrap" class="justify--content--space--between">
                <div fxFlex.xs="100" fxFlex.sm="49" fxFlex.md="49" fxFlex.lg="49" fxFlex.xl="49">
                  <div class="overview--wrapper"
                    style="background-image: url('assets/images/arkenea/quickoverview-1-without-overlay.png')">

                    <mat-icon class="play--video--icon">play_circle_outline</mat-icon>
                    <div class="video--details">
                      <h5>Login & Overview Process </h5>
                      <p>How Legacy Life Plans Work</p>
                    </div>

                  </div>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="49" fxFlex.md="49" fxFlex.lg="49" fxFlex.xl="49">
                  <div class="overview--wrapper"
                    style="background-image: url('assets/images/arkenea/quickoverview-2-without-overlay.png')">
                    <mat-icon class="play--video--icon">play_circle_outline</mat-icon>
                    <div class="video--details">
                      <h5>Access and Dashboard Preview</h5>
                      <p> Maximize your Legacy experience</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="standard-bg" id="pricing-plan">
        <div class="llp--container">
          <div class="featured--advisors text-center">
            <h1 class="landing-main-header">Choose a Plan</h1>

            <div class="pricing--section">

              <div class="plans--wrapper">
                <div fxLayout="row wrap">

                  <div fxFlex="100">
                    <div class="plan--text">
                      <div class="plan--header">
                        <img alt="" class="cornar--stars" src="assets/images/arkenea/star.png">
                        <div class="plan--type">Legacy Life Advisor License</div>
                        <div class="relative">
                          <span class="doller">$</span>
                          <span class="amt">85</span>
                          <span class="duration">a year</span>
                        </div>
                        <div class="space">
                          For 7 GB Space
                        </div>
                      </div>
                      <div class="plan--body">
                        <h5>Legacy Life Plan Features</h5>
                        <mat-list class="p-0">
                          <div fxLayout="row wrap" class="text-left">
                            <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
                              <mat-list-item>
                                <mat-icon>check</mat-icon> In-Depth Estate Planning Platform
                              </mat-list-item>
                            </div>
                            <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
                              <mat-list-item>
                                <mat-icon>check</mat-icon> Professional Resources and Guides
                              </mat-list-item>
                            </div>
                            <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
                              <mat-list-item>
                                <mat-icon>check</mat-icon> Secure Encrypted Document Storage
                              </mat-list-item>
                            </div>
                            <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
                              <mat-list-item>
                                <mat-icon>check</mat-icon> Online Help
                              </mat-list-item>
                            </div>
                            <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
                              <mat-list-item>
                                <mat-icon>check</mat-icon> Unlimited Trustees
                              </mat-list-item>
                            </div>
                            <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
                              <mat-list-item>
                                <mat-icon>check</mat-icon> Video & Picture Time Capsule
                              </mat-list-item>
                            </div>
                            <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
                              <mat-list-item>
                                <mat-icon>check</mat-icon> Local Advisor Directory
                              </mat-list-item>
                            </div>
                          </div>
                        </mat-list>
                      </div>

                      <div class="extra--price">

                        <mat-accordion>
                          <mat-expansion-panel>
                            <mat-expansion-panel-header>
                              <mat-panel-title>
                                Legacy Life Memory Plus!
                              </mat-panel-title>
                            </mat-expansion-panel-header>

                            <p>10 gig upgrade $50 per year
                              All Legacy Life Plans come with 7 gigs memory. If you’re heavy on pictures and video this
                              upgrade will provide you with 17 gigs. You can upgrade anytime.</p>
                          </mat-expansion-panel>

                        </mat-accordion>
                      </div>

                      <div class="text-center">
                        <button mat-raised-button class="llp--primary--btn" (click)="openCardDetailsModal();">Purchase
                          Advisor License</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>

      <div class="white--bg" id="testimonialss">
        <div class="container--full--width">
          <div class="featured--advisors text-center">
            <h1 class="landing-main-header">What People Say?</h1>
            <p>Testimonials from our community of users</p>

            <div class="fa--slider relative what--do--sec">
              <ngx-slick-carousel class="carousel" [config]="slideConfigTwo" (init)="slickInit2($event)"
                (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
                (beforeChange)="beforeChange($event)">
                <div ngxSlickItem *ngFor="let testomonial of testomonials" class="slide">

                  <div class="testimonial--wrapper">
                    <div class="testimonial--header">
                      <i class="icon-quote"></i>
                      <p>{{testomonial.clientSays}}</p>
                    </div>
                    <div class="testimonial--body">
                      <div class="testmnl--user--pic">
                        <img src="{{testomonial.clientPic}}">
                      </div>
                      <h5> {{testomonial.clientName}}</h5>
                      <h6> {{testomonial.clientDesc}}</h6>
                    </div>
                  </div>

                </div>
              </ngx-slick-carousel>
            </div>

          </div>
        </div>
      </div>

      <div class="get--a--free-section">
        <div class="llp--container">
          <div fxLayout="row wrap" class="align--items--center">
            <div fxFlex.xs="100" fxFlex.sm="70" fxFlex.md="80" fxFlex.lg="80" fxFlex.xl="80">
              <h5>Get a Free Trial Account on Legacy Life Plans!</h5>
              <p>Try it out for 30 days, No risk, No Obligation</p>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="30" fxFlex.md="20" fxFlex.lg="20" fxFlex.xl="20" class="start--free">
              <button mat-raised-button class="landing--primary--btn">Start a Free Trial</button>
            </div>
          </div>
        </div>
      </div>

    </section>


    <!-- footer -->
    <footer class="main--footer--wrapper" id="contact-us">
      <div class="llp--container">
        <div fxLayout="row wrap" fxLayoutGap="25px">
          <div fxFlex.xs="100" fxFlex.sm="30.33" fxFlex.md="30.33" fxFlex.lg="30.33" fxFlex.xl="30.33">
            <h5 class="footer--header">Legacy Life Plans, Inc.</h5>
            <div class="company--address">
              <p>Making a Difference, One Life, One Legacy, One Plan at a Time</p>
              <div class="cont--wrap">
                <mat-icon class="footer-icon">location_on</mat-icon>
                <div class="tag--info">
                  <span class="tag">Address: </span> 3628 Leisure Lane, Los Angeles, CA </div>
              </div>
              <div class="cont--wrap">
                <mat-icon class="footer-icon">email</mat-icon>
                <div class="tag--info">
                  <span class="tag">Email: </span>
                  <a class="f--link" href="mailto:support@legacylifeplan.com"> support@legacylifeplans.com</a>
                </div>
              </div>
              <div class="cont--wrap">
                <mat-icon class="footer-icon">local_phone</mat-icon>
                <div class="tag--info">
                  <span class="tag">Phone: </span> +102 (111) 4563210 </div>
              </div>
            </div>

          </div>
          <div fxFlex.xs="100" fxFlex.sm="30.33" fxFlex.md="30.33" fxFlex.lg="30.33" fxFlex.xl="30.33">
            <h5 class="footer--header">About Us</h5>
            <div class="">
              <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
                <ul class="footer--services">
                  <li>
                    <a href="#">Our Company</a>
                  </li>
                  <li>
                    <a>How it Works</a>
                  </li>
                  <li>
                    <a>Secure Data</a>
                  </li>
                  <li>
                    <a>Terms of Usage</a>
                  </li>
                  <li>
                    <a>Privacy Policy</a>
                  </li>
                  <li>
                    <a>FAQ</a>
                  </li>
                </ul>
              </div>
              <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
                <ul class="footer--services">
                  <li>
                    <a href="#">Social Media</a>
                  </li>
                  <li>
                    <a href="#">Coach’s Corner</a>
                  </li>
                  <li>
                    <a href="#">Pricing</a>
                  </li>
                  <LI>
                    <A href="#">Free Account</A>
                  </LI>
                  <li>
                    <a routerLink="/advisor">For Advisors</a>
                  </li>
                  <li>
                    <a routerLink="/">For Customers</a>
                  </li>

                </ul>

              </div>
            </div>
          </div>
          <div fxFlex.xs="100" fxFlex.sm="30.33" fxFlex.md="30.33" fxFlex.lg="30.33" fxFlex.xl="30.33">
            <h5 class="footer--header">Contact Us</h5>
            <div class="company--address">
              <p class="mb-1">We’d love to hear from you! </p>
            </div>
            <div class="contact--us--form">
              <form>
                <!-- <mat-form-field appearance="outline">
                  <mat-label>Full Name*</mat-label>
                  <input matInput placeholder="John Smith ">
                </mat-form-field> -->
                <mat-form-field appearance="outline">
                  <mat-label>Email Address *</mat-label>
                  <input matInput placeholder="abc@gmail.com ">
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>Your Message*</mat-label>
                  <textarea matInput placeholder="Droup your message or query"></textarea>
                </mat-form-field>
                <div>
                  <button mat-raised-button class="landing--primary--btn w161">Contact Us</button>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>

      <div class="llp--container">
        <div class="copyright--footer">
          <p>© 2019 Legacy Life Plans</p>
        </div>
      </div>

    </footer>
  </div>
</div>

<div class="back--to--top" (click)="gotoTop()">
  <mat-icon>arrow_upward</mat-icon>
</div>