@import '~llp-global-styles.scss';
@import '../../advisor/advisor-landing/home/home.component.scss';

.pageTitle{
    font-size: 90px;
    margin: 38px 0;
    text-transform: uppercase;
    font-family: latobold;
}
.llp--unexp-turn{
    height: 550px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.llp--unexp--box{
    max-width: 652px;
    padding: 50px;
    background-color: #222324;
    margin-left: auto;
    margin-right: 6%;
    margin-top: -24%;

    h5{
        font-size: 40px;
        color: $clr--1;
        font-family: $font--lato--bold;
        margin: 0 0 28px 0;
    }
    ::ng-deep{
        p{
            font-size: 16px;
            color: $clr--1;
            margin: 0;
        }
    }
}
.plan--process--wrapper{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 648px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding-top: 85px;


    .plan--content{
        color: $clr--1;
        z-index: 2;
        width: 57%;
        h3 {
            font-size: 60px;
            margin: 0;
            font-family: $font--lato--light;
        }
       ::ng-deep{
        p {
            font-size: 28px;
            margin: 25px 0 0 0;
            color: $clr--1;
            font-family: $font--lato--light !important;
        }
       }
    }
}
.plan--process--steps{
    padding:20px 10px 10px 10px;
    background-color: $clr--1;
    box-shadow: -2.6px 1.5px 7px 0 rgba(0, 0, 0, 0.1);
    height: auto;
    position: relative;
    z-index: 9;
    margin-top: -100px;
    .stepss{
        ::ng-deep{
            .mat-list-item{
                height: auto;
                padding: 10px 0 0 0;
            }
            .mat-list-item-content{
                font-size: 16px !important;
                margin-bottom: 15px;
                color: #222324;
                font-family: $font--lato--regular !important;
            }
            .mat-icon{
                height: 19px;
                width: 15px;
                font-size: 20px;
                margin-right: 15px;
                align-self: flex-start;
                margin-top: 2px;
            }
        }
    }
}
.overview--wrapper{
    height: 446px;
    border-radius: 2px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;

    &::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(20,20,20, 0.60);
        z-index: 1;
    }
    &:hover{
        .play--video--icon{
            display: block
        }
    }
    .play--video--icon{
        color: $clr--1;
        height: 75px;
        width: 75px;
        z-index: 33;
        font-size: 78px;
        cursor: pointer;
        &:hover{
            color: $clr--2;
        }       
    }
    .video--details{
        color: $clr--1;
        z-index: 33;
        text-align: left;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        h5{
            margin: 0 0 2px 0;
            font-size: 28px;   
            padding-left: 30px;   
            padding-right: 10px;   
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;   
        }
        p{
            margin:0 0 22px 0;
            font-size: 22px;
            color: $clr--1;
            padding-left: 30px;
            padding-right: 10px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
    .video--sec{
        z-index: 9999;
        height: 53%;
    }
}   



.pricing--section{
    .plans--wrapper{
        padding: 0;
        width: 70%;
        margin: 0 auto;
        margin-top: 50px;
        .plan--text{
            
            .plan--header{
                height: 170px;
                padding: 12px;
                display: flex;
                flex-direction: column;
                background: #ecca40;
                margin-bottom: 15px;
                position: relative;
                align-items: center;
                border-radius: 4px;
               
                .cornar--stars{
                    position: absolute;
                    right: 12px;
                    top: 11px;                
                }
                .plan--type{
                    color: #222324;
                    font-size: 22px;
                    text-transform: uppercase;
                    margin-left: -30px;
                }
                .doller{
                    color: #222324;
                    font-size: 33px;
                    font-family: $font--lato--regular;
                }
                .amt{
                    color: #222324;
                    font-size: 61px;
                    font-family: $font--lato--bold;
                    line-height: 69px;
                }
                .duration{
                    color: #222324;
                    font-size: 22px;
                    font-family: $font--lato--regular;
                    margin-left: 10px;
                }
                .space{
                    height: 39px;
                    background-color: #a4891b;
                    align-items: center;
                    color: #fff;
                    font-size: 18px;
                    font-family: $font--lato--bold;
                    width: 100%;
                    position: absolute;
                    bottom: 0;
                    text-align: center;
                    border-bottom-left-radius: 4px;
                    border-bottom-right-radius: 4px;
                    padding-top: 5px; 
                }
            }
            .plan--body{
                border: solid 1px #ebebeb;
                background-color: #f6f7f7;
                border-radius: 4px;
                margin-bottom: 25px;
                padding: 0 10px 10px 10px;
                h5{
                    margin: 30px 0 25px 0;
                    text-align: center;
                    font-size: 25px;
                    color: #222324;
                }
                .mat-list{
                    ::ng-deep .mat-list-item{
                        min-height: 50px;
                        height: auto;
                        display: flex;
                        .mat-list-item-content{
                            font-size: 16px !important;
                            color: #222324;
                            font-family: $font--lato--regular;

                            .mat-icon{
                                height: 24px;
                                width: 25px;
                                font-size: 25px;
                                margin-right: 15px;
                                color: #727a33;
                            }
                        }
                    }
                }
            }
            .extra--price{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 25px;
                ::ng-deep .mat-accordion{
                    width: 100%;
                    .mat-expansion-panel {
                        background: transparent;
                        box-shadow: none;
                        border: 1px solid #c72128;
                        .mat-expansion-panel-header{
                            margin: 0;
                            border-bottom: 1px solid #ddd;
                            border-radius: 0;
                            .mat-content{
                                .mat-expansion-panel-header-title{
                                    font-size: 20px;
                                }
                            }
                            .mat-expansion-indicator{
                                &::after{
                                    color: #c72128;
                                }
                            }
                        }
                    }
                    .mat-expansion-panel-content{
                        .mat-expansion-panel-body{
                            padding: 20px;
                            background: #fff;
                            p{
                                margin: 0;
                                line-height: 37px;
                                font-size: 20px;
                                font-family: $font--lato--regular !important;
                            }
                        }
                    }
                }
            }
        }
    }
}






/* Media query (start here)*/

@media only screen and (max-width: 599px) {
   
    .overview--wrapper{
        height: 287px;
        margin-bottom: 15px;
    }
    .plan--process--wrapper .plan--content {
        width: 90%;
    }
    .plan--process--wrapper .plan--content h3 {
        font-size: 35px;
    }
    .plan--process--wrapper .plan--content p {
        font-size: 17px;
    }
    .llp--unexp--box{
        width: 290px;
        padding: 25px;
    }
    .llp--unexp--box h5 {
        font-size: 22px;
    }
    .llp--unexp--box p {
        font-size: 13px;
    }
    .llp--unexp-turn {
        height: 233px;
    }
    .overview--wrapper .video--details h5 {
        font-size: 22px;
        padding-left: 15px;
    }
    .overview--wrapper .video--details p {
        font-size: 16px;
        padding-left: 15px;
    }
   
    .advisor--landing--wrapper .get--hired--wrapper.safe--place--wrapper{
        height: 291px;
    }
    .pricing--section .plans--wrapper {
        width: 100%;
        margin-top: 25px;
    }
    
}
@media only screen and (min-width: 600px) and (max-width: 959px){
   
}
@media only screen and (min-width: 960px) and (max-width: 979px){}
@media only screen and (min-width: 980px) and (max-width: 1279px){
    
}
@media only screen and (min-width: 1280px) and (max-width: 1440px){}
@media only screen and (min-width: 1441px) and (max-width: 1550px){}

/* Media query (end here)*/