<div class="ll--modal--header">
  Celebration of Life
  <button class="modal--close" [mat-dialog-close]="">
    <mat-icon class="icon--cross">cancel</mat-icon>
  </button>
</div>

<form [formGroup]="celebrationFormGroup" class="llp-form-wrapper" (ngSubmit)="CelebrationFormSubmit(celebrationFormGroup.value)">
  <div class="ll--modal--body idbox--modal--hgt">
    <div fxLayout="row wrap">
      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" class="">
        <div fxLayout="row wrap">

          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" class="">
            <mat-radio-group class="llp-radio mb-0 mt-1">
              <mat-form-field class="full-width no-mar">
                <textarea matInput (keyup)="firstCapitalize($event)" maxlength="500" placeholder="Who will orchestrate or conduct the event?" [formControl]="celebrationFormGroup.controls['eventByName']"></textarea>
              </mat-form-field>
            </mat-radio-group>
          </div>
          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" class="">
            <mat-radio-group class="llp-radio mb-0 mt-1">
              <mat-form-field class="full-width no-mar">
                <textarea matInput (keyup)="firstCapitalize($event)" maxlength="500" placeholder="Where should the event take place?" [formControl]="celebrationFormGroup.controls['eventPlace']"></textarea>
              </mat-form-field>
            </mat-radio-group>
          </div>

          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" class="">
            <mat-radio-group class="llp-radio mb-0 mt-1" [formControl]="celebrationFormGroup.controls['speakerAvailable']" (change)="onChangeSpeaker($event.value)">
              <div class="checkbox-label">Will there be a speaker?</div>
              <mat-radio-button value="yes" [checked]="celebrationFormGroup.controls['speakerAvailable'].value=='yes'">Yes</mat-radio-button>
              <mat-radio-button value="no"  [checked]="celebrationFormGroup.controls['speakerAvailable'].value=='no'">No</mat-radio-button>
            </mat-radio-group>
          </div>
          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" class="" *ngIf="isSpeaker">
            <mat-radio-group class="llp-radio mb-0 mt-1">
              <mat-form-field class="full-width no-mar">
                <textarea matInput (keyup)="firstCapitalize($event)" maxlength="100" placeholder="Who?" [formControl]="celebrationFormGroup.controls['speakerName']"></textarea>
              </mat-form-field>
            </mat-radio-group>
          </div>

          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" class="">
            <mat-radio-group class="llp-radio mb-0 mt-1">
              <mat-form-field class="full-width no-mar">
                <textarea matInput (keyup)="firstCapitalize($event)" 
                  placeholder="Food and Beverages to be served (catered, potluck, menu items)" maxlength="500" [formControl]="celebrationFormGroup.controls['foodNMenuItems']"></textarea>
              </mat-form-field>
            </mat-radio-group>
          </div>

          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" class="">
            <mat-radio-group class="llp-radio mb-0 mt-1">
              <mat-form-field class="full-width no-mar">
                <textarea matInput (keyup)="firstCapitalize($event)" placeholder="Music to be played" maxlength="500" [formControl]="celebrationFormGroup.controls['musicNames']"></textarea>
              </mat-form-field>
            </mat-radio-group>
          </div>

          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" class="">
            <mat-radio-group class="llp-radio mb-0 mt-1">
              <mat-form-field class="full-width no-mar">
                <textarea matInput  [formControl]="celebrationFormGroup.controls['groupActivities']" (keyup)="firstCapitalize($event)"
                  placeholder="What group activities would be appropriate? Open reflections/tributes, readings, any highlights, games" maxlength="500"></textarea>
              </mat-form-field>
            </mat-radio-group>
          </div>


          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" class="cust--gapp">
            <div class="upload--buss--docs--sec">
              <label>Upload your documents</label>
              <div class="upload--box fileupload-drop-zone"
              ng2FileDrop
              [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
              (fileOver)="fileOverBase($event)"
              [uploader]="uploader">
              <input type="file" name="documents"  ng2FileSelect [uploader]="uploader" multiple  (change)="fileOverBase('')" />  
                <mat-icon class="cloud-icon">cloud_upload</mat-icon>
                <div class="select--file">Select file from your computer</div>
              </div>
              <div class="file--details mb-1">Supported formats Doc, PDF, txt, JPEG, JPG, PNG</div>
            </div>
          </div>

          <small *ngIf="documentsMissing" class="form-error-msg">{{invalidMessage}}</small>
          <mat-form-field class="full-width" *ngIf="documents_temps">
              <input matInput name="documents_temp" [formControl]="celebrationFormGroup.controls['documents_temp']">
              <small *ngIf="celebrationFormGroup.controls['documents_temp'].hasError('required') && celebrationFormGroup.controls['documents_temp'].touched" class="form-error-msg"> Please drag your document. </small>
          </mat-form-field>
    
          <div *ngIf="documentsList.length > 0" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" >
            <h3 class="header--text fnt--16">Uploaded document</h3>
            <mat-chip-list class="doc--list" *ngFor="let doc of documentsList; index as i">
                <mat-chip><a (click)="downloadFile(doc.tmpName)" class="donwload-doc">{{doc.title}}</a><mat-icon matChipRemove  (click)="documentDelete(i,doc.title,doc.tmpName)">close</mat-icon></mat-chip>
            </mat-chip-list>
    
            <mat-chip-list class="doc--list error--chip" *ngFor="let err of fileErrors;">
                <mat-chip><mat-error>{{err.error}}</mat-error></mat-chip>
            </mat-chip-list>  
          </div>
    
          <div class="progress" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" style="margin-bottom: 0;" *ngIf="currentProgessinPercent>0">
            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': currentProgessinPercent + '%' }">{{currentProgessinPercent}}%</div>
            <mat-progress-bar class=""  color="primary" mode="Indeterminate"  [value]="currentProgessinPercent"></mat-progress-bar>
          </div>

          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
            <mat-form-field class="full-width no-mar ">
              <textarea matInput (keyup)="firstCapitalize($event)" maxlength="500" placeholder="Location of the document:" [formControl]="celebrationFormGroup.controls['documentLocation']"></textarea>
            </mat-form-field>
          </div>

          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" class="">
              <mat-radio-group class="llp-radio mb-0 mt-1">
                <mat-form-field class="full-width no-mar">
                  <textarea matInput [formControl]="celebrationFormGroup.controls['mementos']" (keyup)="firstCapitalize($event)" maxlength="500"
                    placeholder="Mementos or keepsakes to be provided"></textarea>
                </mat-form-field>
              </mat-radio-group>
            </div>

            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" class="">
              <mat-radio-group class="llp-radio mb-0 mt-1">
                <mat-form-field class="full-width no-mar">
                  <textarea matInput [formControl]="celebrationFormGroup.controls['paymentOptions']" (keyup)="firstCapitalize($event)"
                    placeholder="How will the event be paid for?  Please provide details and payment options such as viatical insurance settlement, life insurance, savings, sock/mattress money, etc. and location."></textarea>
                </mat-form-field>
              </mat-radio-group>
            </div>

            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" class="">
                <mat-radio-group class="llp-radio mb-0 mt-1">
                    <div class="checkbox-label">People to invite</div>                  
                  </mat-radio-group>               
              </div>
              <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" class="cust--gapp">
                  <mat-form-field class="full-width">
                      <input matInput type="text" placeholder="Name">
                </mat-form-field> 
              </div>
              <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" class="">
                  <mat-form-field class="full-width">
                      <input matInput type="text" placeholder="Phone number">
                </mat-form-field>
              </div>
              <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="100" fxFlex.xl="100" class="">
                  <mat-form-field class="full-width">
                      <input matInput type="text" placeholder="Email">
                </mat-form-field>
              </div>
              <div fxFlex.xs="100">
                  <div class="add--new">
                    <mat-icon>add_circle</mat-icon>
                    Add New
                  </div>
                </div>

        </div>
      </div>

      <mat-form-field class="full-width" *ngIf="profileIdHiddenVal">
        <input matInput name="profileId" [formControl]="celebrationFormGroup.controls['profileId']" readonly="readonly">
      </mat-form-field>

    </div>
  </div>
  <div class="ll--modal--footer text-center">
    <button mat-raised-button class="llp--primary--btn" [disabled]="!celebrationFormGroup.valid">Save</button>
  </div>
</form>