<div class="shop-wrap llp--content--wrapper" fxLayout="row" fxLayoutWrap="wrap">
  <div class="full-width">
    <div class="">
      <mat-card class="empty--section p-0">
        <mat-card-header class="m-0">
          <mat-card-title class="m-0">My Essentials</mat-card-title>
          <div class="right--actions">
            <!-- <button mat-raised-button class="llp--primary--btn llp--primary--sm--btn">
              <mat-icon>file_download</mat-icon>
              <span class="hide--sm--txt">Download</span>
            </button> -->
            <button mat-raised-button class="llp--primary--btn llp--primary--sm--btn" (click)="openIdBoxModal({}, true)">
              <mat-icon>edit</mat-icon>
              <span class="hide--sm--txt">Edit</span>
            </button>
            <button mat-raised-button class="llp--primary--btn llp--primary--sm--btn" (click)="deleteIdProofRecord()">
              <mat-icon>delete</mat-icon>
              <span class="hide--sm--txt">Delete</span>
            </button>
          </div>
        </mat-card-header>
        <mat-card-content>
          <div class="details--wrapper mb-1">
            <div class="details--header">
              <div class="d-flex align--items--center">
                <mat-icon>library_add</mat-icon>ID Box
              </div>
              <span class="last--modified--by">Last modified:
                <span *ngIf="row?.modifiedOn && row?.modifiedOn != ''">{{row?.modifiedOn | date: 'yyyy/MM/dd'}}</span>
                <span *ngIf="!row?.modifiedOn">{{row?.createdOn | date: 'yyyy/MM/dd'}}</span>
              </span>
            </div>
            <div class="details--body">
              <h3>{{getDocType(row?.documentType)}}</h3>

              <div fxLayout="row wrap" class="mb--10" *ngIf="row?.documentType == 1">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">License Number:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">{{row?.licenseNumber}}</label>
                </div>
              </div>

              <div fxLayout="row wrap" class="mb--10" *ngIf="row?.documentType == 2">
                  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                    <label class="strong--label">Non-Driver ID Number:</label>
                  </div>
                  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                    <label class="normal--label">{{row?.nonDriverIDNumber}}</label>
                  </div>
                </div>

              <div fxLayout="row wrap" class="mb--10" *ngIf="row?.documentType == 1 || row?.documentType == 2">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">State (US states):</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">{{row?.state}}</label>
                </div>
              </div>
              <div fxLayout="row wrap" class="mb--10" *ngIf="row?.documentType == 1 || row?.documentType == 2">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">Expiration Date:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">{{row?.expirationDate | date: 'yyyy/MM/dd'}}</label>
                </div>
              </div>
              <div fxLayout="row wrap" class="mb--10" *ngIf="row?.documentType == 1 || row?.documentType == 2">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">Location of Driver's License:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">{{row?.locationDriverLicense}}</label>
                </div>
              </div>

              <div fxLayout="row wrap" class="mb--10" *ngIf="row?.documentType == 3">
                  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                    <label class="strong--label">DoD ID Number:</label>
                  </div>
                  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                    <label class="normal--label">{{row?.DoDIDNumber}}</label>
                  </div>
                </div>
  
                <div fxLayout="row wrap" class="mb--10" *ngIf="row?.documentType == 3">
                    <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                      <label class="strong--label">DoD Benefits Number (DBN):</label>
                    </div>
                    <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                      <label class="normal--label">{{row?.DBN}}</label>
                    </div>
                  </div>
  
                <div fxLayout="row wrap" class="mb--10" *ngIf="row?.documentType == 3">
                  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                    <label class="strong--label">Location of DoD ID:</label>
                  </div>
                  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                    <label class="normal--label">{{row?.locationDoDID}}</label>
                  </div>
                </div>

                <div fxLayout="row wrap" class="mb--10" *ngIf="row?.documentType == 4">
                    <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                      <label class="strong--label">Place of Birth:</label>
                    </div>
                    <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                      <label class="normal--label">{{row?.placeOfBirth}}</label>
                    </div>
                  </div>
  
                <div fxLayout="row wrap" class="mb--10" *ngIf="row?.documentType == 4">
                  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                    <label class="strong--label">File Number:</label>
                  </div>
                  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                    <label class="normal--label">{{row?.fileNumber}}</label>
                  </div>
                </div>

                <div fxLayout="row wrap" class="mb--10" *ngIf="row?.documentType == 5">
                    <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                      <label class="strong--label">Social Security Number:</label>
                    </div>
                    <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                      <label class="normal--label">{{row?.socialSecurityNumber}}</label>
                    </div>
                  </div>
  
                <div fxLayout="row wrap" class="mb--10" *ngIf="row?.documentType == 5">
                  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                    <label class="strong--label">Location of Social Security Card:</label>
                  </div>
                  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                    <label class="normal--label">{{row?.locationSocialSecurityCard}}</label>
                  </div>
                </div>

                <div fxLayout="row wrap" class="mb--10" *ngIf="row?.documentType == 6">
                    <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                      <label class="strong--label">Country of issue (manual input):</label>
                    </div>
                    <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                      <label class="normal--label">{{row?.countryOfIssue}}</label>
                    </div>
                  </div>
  
                <div fxLayout="row wrap" class="mb--10" *ngIf="row?.documentType == 6">
                  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                    <label class="strong--label">Passport Number:</label>
                  </div>
                  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                    <label class="normal--label">{{row?.passportNumber}}</label>
                  </div>
                </div>

                <div fxLayout="row wrap" class="mb--10" *ngIf="row?.documentType == 6">
                    <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                      <label class="strong--label">Expiration Date:</label>
                    </div>
                    <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                      <label class="normal--label">{{row?.expirationDate | date: 'yyyy/MM/dd'}}</label>
                    </div>
                  </div>
  
                <div fxLayout="row wrap" class="mb--10" *ngIf="row?.documentType == 6">
                  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                    <label class="strong--label">Location of Passport (manual input):</label>
                  </div>
                  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                    <label class="normal--label">{{row?.locationPassport}}</label>
                  </div>
                </div>

                <div fxLayout="row wrap" class="mb--10" *ngIf="row?.documentType == 7">
                    <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                      <label class="strong--label">Country of issue:</label>
                    </div>
                    <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                      <label class="normal--label">{{row?.countryOfIssue}}</label>
                    </div>
                  </div>
  
                <div fxLayout="row wrap" class="mb--10" *ngIf="row?.documentType == 7">
                  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                    <label class="strong--label">Expiration Date:</label>
                  </div>
                  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                    <label class="normal--label">{{row?.expirationDate | date: 'yyyy/MM/dd'}}</label>
                  </div>
                </div>

                <div fxLayout="row wrap" class="mb--10" *ngIf="row?.documentType == 7">
                    <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                      <label class="strong--label">Location of Work Permit or Visa:</label>
                    </div>
                    <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                      <label class="normal--label">{{row?.LocationWorkPermitVisa}}</label>
                    </div>
                  </div>

              <div fxLayout="row wrap" class="mb--10">
                  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                    <label class="strong--label">Notes & Instructions:</label>
                  </div>
                  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                    <label class="normal--label">{{row?.comments}}</label>
                  </div>
                </div>
              <div fxLayout="row wrap" class="mb--10">
                  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                    <label class="strong--label">Uploaded files:</label>
                  </div>
                  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                      <div class="uploaded--files" *ngFor="let doc of row?.idProofDocuments">
                        <!-- <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">picture_as_pdf</mat-icon> -->
                        <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true" *ngIf="doc.tmpName.substr((doc.tmpName.lastIndexOf('.') + 1)) == 'pdf'">picture_as_pdf</mat-icon>
                        <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true" *ngIf="doc.tmpName.substr((doc.tmpName.lastIndexOf('.') + 1)) == 'docx' || doc.tmpName.substr((doc.tmpName.lastIndexOf('.') + 1)) == 'doc' || doc.tmpName.substr((doc.tmpName.lastIndexOf('.') + 1)) == 'txt' ">insert_drive_file</mat-icon>
                        <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true" *ngIf="doc.tmpName.substr((doc.tmpName.lastIndexOf('.') + 1)) == 'jpg' || doc.tmpName.substr((doc.tmpName.lastIndexOf('.') + 1)) == 'jpeg' || doc.tmpName.substr((doc.tmpName.lastIndexOf('.') + 1)) == 'png'">image</mat-icon>
                        
                        <label class="normal--label"><a href="https://s3.amazonaws.com/llp-dev/myEssentials/{{doc.tmpName}}">{{doc.title}}</a></label>&nbsp; &nbsp;                        
                      </div>
                  </div>
                  
                </div>

            </div>
          </div>



        </mat-card-content>
      </mat-card>

    </div>

  </div>

</div>