<div class="shop-wrap llp--content--wrapper" fxLayout="row" fxLayoutWrap="wrap">
  <!-- Filters -->

  <!-- Right side -->
  <div class="full-width">

    <!-- toggleSideNav -->
    <div class="shop-top-toolbar p-0 llp--toggle-btn">
      <button mat-icon-button class="p-0" (click)="toggleSideNav()">
        <mat-icon>short_text</mat-icon>
      </button>
    </div>

    <!-- My Essentials 3rd (details view) -->
    <div class="">
      <mat-card class="empty--section p-0">
        <mat-card-header class="m-0">
          <mat-card-title class="m-0">My Essentials</mat-card-title>
          <div class="right--actions">
            <button mat-raised-button class="llp--primary--btn llp--primary--sm--btn">
              <mat-icon>file_download</mat-icon>
              <span class="hide--sm--txt">Download</span>
            </button>
            <button mat-raised-button class="llp--primary--btn llp--primary--sm--btn">
              <mat-icon>edit</mat-icon>
              <span class="hide--sm--txt">Edit</span>
            </button>
            <button mat-raised-button class="llp--primary--btn llp--primary--sm--btn">
              <mat-icon>delete</mat-icon>
              <span class="hide--sm--txt">Delete</span>
            </button>
          </div>
        </mat-card-header>
        <mat-card-content>
          <div class="details--wrapper mb-1">
            <div class="details--header">
              <div class="d-flex align--items--center">
                <mat-icon>library_add</mat-icon>ID Box
              </div>
              <span class="last--modified--by">Last modified:
                <span>Dec 31, 2018</span>
              </span>
            </div>
            <div class="details--body">
              <h3>Driving License ID</h3>
              <div fxLayout="row wrap" class="mb--10">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">Document/ID:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">Driving License ID</label>
                </div>
              </div>
              <div fxLayout="row wrap" class="mb--10">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">Driving License Number:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">1234567890</label>
                </div>
              </div>
              <div fxLayout="row wrap" class="mb--10">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">Location of Driving License ID:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">In my brown wallet</label>
                </div>
              </div>
              <div fxLayout="row wrap" class="mb--10">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">Comments:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">Lorem ipsum dolor sit amet sit amet, consectetur adipisicing elit</label>
                </div>
              </div>
              <div fxLayout="row wrap" class="mb--10">
                  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                    <label class="strong--label">Uploaded files:</label>
                  </div>
                  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                      <div class="uploaded--files">
                        <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">picture_as_pdf</mat-icon>
                        <label class="normal--label">finename.pdf</label>
                      </div>
                  </div>
                </div>

            </div>
          </div>



        </mat-card-content>
      </mat-card>

    </div>

  </div>

</div>