<div class="ll--modal--header">
  REFER & EARN
  <button class="modal--close"[mat-dialog-close]=""><mat-icon class="icon--cross">cancel</mat-icon></button>
  <!-- <mat-icon class="icon--cross">cancel</mat-icon> -->
</div>
<div class="ll--modal--body">
  <label class="rules">Rules and regulations</label>
  <p>Lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo. Luctus arcu, urna praesent at id quisque
    ac. Arcu es massa vestibulum malesuada, integer vivamus elit eu mauris eus, cum eros quis aliquam wisi. Nulla wisi laoreet
    suspendisse integer vivamus elit eu mauris hendrerit facilisi, mi mattis pariatur aliquam pharetra eget.</p>
  <p>Dolor ac odio mauris justo. Luctus arcu, urna praesent at id quisque ac. Arcu es massa vestibulum malesuada, integer vivamus
    elit eu mauris eus, cum eros quis aliquam wisi. Nulla wisi laoreet suspendisse integer vivamus elit eu mauris hendrerit
    facilisi, mi mattis pariatur aliquam pharetra eget.</p>
  <p>Lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo. Luctus arcu, urna praesent at id quisque
    ac. Arcu es massa vestibulum malesuada, integer vivamus elit eu mauris eus, cum eros quis aliquam wisi. Nulla wisi laoreet
    suspendisse integer vivamus elit eu mauris hendrerit facilisi, mi mattis pariatur aliquam pharetra eget.</p>
  <p>Dolor ac odio mauris justo. Luctus arcu, urna praesent at id quisque ac. Arcu es massa vestibulum malesuada, integer vivamus
    elit eu mauris eus, cum eros quis aliquam wisi. Nulla wisi laoreet suspendisse integer vivamus elit eu mauris hendrerit
    facilisi, mi mattis pariatur aliquam pharetra eget.</p>
</div>
<div class="ll--modal--footer">
  <button mat-raised-button class="llp--secondary--btn" [mat-dialog-close]="">Cancel</button>
  <button mat-raised-button class="llp--primary--btn" [mat-dialog-close]="" (click)="referAndEarnParticipate()">I would like to participate!</button>
</div>