<header class="auth-header">
  <img [routerLink]="['']" class="cursor--pointer" src="assets/images/arkenea/small-logo.png" alt="">
</header>
<div class="page-wrap mat-bg-primary">
  <div class="session-form-hold">
    <div class="login-sub-wrapper">
      <!-- <mat-progress-bar mode="determinate" class="session-progress"></mat-progress-bar> -->
      <mat-card-content>
        <div class="congo--wrapper">
          <div class="con--image" style="background-image: url('assets/images/arkenea/congratulations.png')">
            <span>Congratulations!</span>
          </div>
          <p *ngIf="customerFreeTrialStatus">{{customerFreeAccessDays}} days free access to all features has been unlocked for your account!</p>
        </div>
        <div class="text-center pb-1">
          <h2 class="login-header-text m-0">Update Your Profile Details </h2>
        </div>
        <div class="profile--pic">
             <div class="pic--box" [ngStyle]="{'background-image': 'url(' + profilePicture + ')' }"></div>
          <mat-icon  class="edit--pic" title="Upload customer image" (click)="changePicModal()">edit</mat-icon>
          <!-- <mat-icon class="edit--pic" title="edit user image" (click)="profilePic.click()">edit</mat-icon> -->
          <input type="file" name="profilePicture" #profilePic id="profilePicture" class="profile-pic-input" accept="image/*" />
        </div>
        <form class="llp-form-wrapper" [formGroup]="llpCustsignupProfileForm" (ngSubmit)="llpCustSignup()">
          <div class="row wrap">
            <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
              <div class="pb-1">
                <mat-form-field class="full-width">
                  <input (keyup)="firstCapitalize($event)"  (keypress)="checkSpecialChar($event)" matInput name="firstName" placeholder="First Name*" value="" [formControl]="llpCustsignupProfileForm.controls['firstName']">
                  <mat-icon matTooltip="Please enter first name" matTooltipClass="llp--tooltip error" *ngIf="llpCustsignupProfileForm.controls['firstName'].hasError('required') && llpCustsignupProfileForm.controls['firstName'].touched"
                  class="red--alert">help_outline</mat-icon>
                  <mat-icon matTooltip="Please enter valid first name." matTooltipClass="llp--tooltip error" *ngIf="llpCustsignupProfileForm.controls['firstName'].invalid && llpCustsignupProfileForm.controls['firstName'].touched"
                  class="red--alert">help_outline</mat-icon>
                </mat-form-field>
              </div>
            </div>

            <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
              <div class="pb-1">
                <mat-form-field class="full-width">
                  <input (keyup)="firstCapitalize($event)"  (keypress)="checkSpecialChar($event)" matInput name="lastName" placeholder="Last Name*" value="" [formControl]="llpCustsignupProfileForm.controls['lastName']">
                  <mat-icon matTooltip="Please enter last name" matTooltipClass="llp--tooltip error" *ngIf="llpCustsignupProfileForm.controls['lastName'].hasError('required') && llpCustsignupProfileForm.controls['lastName'].touched"
                  class="red--alert">help_outline</mat-icon>
                  <mat-icon matTooltip="Please enter valid last name." matTooltipClass="llp--tooltip error" *ngIf="llpCustsignupProfileForm.controls['lastName'].invalid && llpCustsignupProfileForm.controls['lastName'].touched"
                  class="red--alert">help_outline</mat-icon>
                </mat-form-field>
              </div>
            </div>
          </div>

          <mat-form-field class="full-width">
            <input matInput placeholder="Mobile Number*" type="tel" value="" name="phoneNumber" class="example-right-align"
              [formControl]="llpCustsignupProfileForm.controls['phoneNumber']">
            <span matPrefix>+1</span>
            <span matSuffix>.00</span>
            <mat-icon matTooltip="Please enter mobile number" matTooltipClass="llp--tooltip error" *ngIf="llpCustsignupProfileForm.controls['phoneNumber'].hasError('required') && llpCustsignupProfileForm.controls['phoneNumber'].touched"
            class="red--alert">help_outline</mat-icon>
            <mat-icon matTooltip="Please enter valid mobile number." matTooltipClass="llp--tooltip error" *ngIf="llpCustsignupProfileForm.controls['phoneNumber'].hasError('pattern') && llpCustsignupProfileForm.controls['phoneNumber'].touched"
            class="red--alert">help_outline</mat-icon>
          </mat-form-field>

          <div>
            <mat-form-field class="full-width llp-datepicker">
              <!-- [formControl]="date" -->
              <input matInput [matDatepicker]="dp" (focus)="dp.open()" placeholder="Date Of Birth*" aria-readonly="true" readonly [max]="maxDate" [formControl]="llpCustsignupProfileForm.controls['dateOfBirth']">
              <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
              <mat-datepicker #dp startView="multi-year" panelClass="example-month-picker">
              </mat-datepicker>
              <mat-icon matTooltip="Please select date of birth" matTooltipClass="llp--tooltip error" *ngIf="llpCustsignupProfileForm.controls['dateOfBirth'].hasError('required') && llpCustsignupProfileForm.controls['dateOfBirth'].touched"
              class="red--alert">help_outline</mat-icon>
            </mat-form-field>
          </div>
          <mat-form-field class="full-width">
            <input (keyup)="firstCapitalize($event)"  (keypress)="checkSpecialChar($event)" matInput name="city" placeholder="City*" value="" [formControl]="llpCustsignupProfileForm.controls['city']">
            <mat-icon matTooltip="Please enter city" matTooltipClass="llp--tooltip error" *ngIf="llpCustsignupProfileForm.controls['city'].hasError('required') && llpCustsignupProfileForm.controls['city'].touched"
            class="red--alert">help_outline</mat-icon>
            <mat-icon matTooltip="Please enter valid city." matTooltipClass="llp--tooltip error" *ngIf="llpCustsignupProfileForm.controls['city'].invalid && llpCustsignupProfileForm.controls['city'].touched"
            class="red--alert">help_outline</mat-icon>
          </mat-form-field>


          <mat-form-field class="full-width">
            <mat-select placeholder="State*" [formControl]="llpCustsignupProfileForm.controls['state']">
              <mat-option value="">Select a state</mat-option>
              <mat-option *ngFor="let option of stateList" [value]="option.state_name">{{option.state_name}}</mat-option>
            </mat-select>
            <mat-icon matTooltip="Please select state" matTooltipClass="llp--tooltip error" *ngIf="llpCustsignupProfileForm.controls['state'].hasError('required') && llpCustsignupProfileForm.controls['state'].touched"
            class="red--alert">help_outline</mat-icon>
          </mat-form-field>

          <mat-form-field class="full-width">
            <input matInput name="zipcode" placeholder="Zip Code*" value="" [formControl]="llpCustsignupProfileForm.controls['zipcode']">
            <mat-icon matTooltip="Please enter zipcode" matTooltipClass="llp--tooltip error" *ngIf="llpCustsignupProfileForm.controls['zipcode'].hasError('required') && llpCustsignupProfileForm.controls['zipcode'].touched"
            class="red--alert">help_outline</mat-icon>
            <mat-icon matTooltip="Please enter valid zipcode." matTooltipClass="llp--tooltip error" *ngIf="llpCustsignupProfileForm.controls['zipcode'].hasError('pattern') && llpCustsignupProfileForm.controls['zipcode'].touched"
            class="red--alert">help_outline</mat-icon>
          </mat-form-field>

          <button mat-raised-button class="llp--primary--btn full-width form--action--btn mt-1" [disabled]="llpCustsignupProfileForm.invalid">Update and Proceed</button>

          <div class="text-center bot-txt">
            <p>
              <a (click)="skipSignup()"> Skip</a>
            </p>
          </div>
        </form>
      </mat-card-content>
    </div>

    <div class="login-footer">
      &nbsp;
    </div>
  </div>
</div>
<footer class="auth-footer">
  <p>© 2019 Legacy Life Plans</p>
</footer>