<header class="auth-header">
  <img src="assets/images/arkenea/small-logo.png" alt="">
</header>

<div class="page-wrap mat-bg-primary">
  <div class="session-form-hold">
    
    <div class="login-sub-wrapper">
      <!-- <mat-progress-bar mode="determinate" class="session-progress"></mat-progress-bar> -->
      <mat-card-content>
          <div class="text-center pb-1">
            <h2 class="login-header-text m-0">Advisor Sign Up </h2>
            <p class="login-header-desc">Start building your legacy</p>
          </div>
          <form class="llp-form-wrapper" [formGroup]="llpAdvsignupForm">
          <div class="const--height">
          
              <mat-form-field class="full-width">
              <input matInput name="username" placeholder="Email*" [formControl]="llpAdvsignupForm.controls['username']" value="">

                <mat-icon matTooltip="Please enter email id" matTooltipClass="llp--tooltip error" *ngIf="llpAdvsignupForm.controls['username'].hasError('required') && llpAdvsignupForm.controls['username'].touched"
                class="red--alert">help_outline</mat-icon>

              <mat-icon matTooltip="Please enter valid email Id." matTooltipClass="llp--tooltip error" *ngIf="llpAdvsignupForm.controls['username'].hasError('pattern') && llpAdvsignupForm.controls['username'].touched"
                class="red--alert">help_outline</mat-icon>
              <mat-icon matTooltip="{{invalidMessage}}" matTooltipClass="llp--tooltip error" *ngIf="EmailExist" class="red--alert">help_outline</mat-icon>

              </mat-form-field>
            </div>
            <button mat-raised-button class="llp--primary--btn full-width form--action--btn mt-1" (click)="advProceed();" *ngIf="proceedBtn" [disabled]="llpAdvsignupForm.invalid">Proceed</button>
           </form>
            <form class="llp-form-wrapper" [formGroup]="llpAdvotpForm">
              <div class="otp-sec" *ngIf="advisorOtp">
                <label class="otp-note">A One Time Passcode has been sent your email. Please enter the 
                  OTP below to verify your Email Address.</label>
                  <mat-form-field class="full-width">
                    <input type="text" matInput name="otp" placeholder="Enter OTP" value="" maxlength="6" min="6" [formControl]="llpAdvotpForm.controls['otp']">
                    <div *ngIf="counter !== 0" class="resend-otp">{{countDown | async | formatTime}}</div>
                    <div *ngIf="counter == 0" class="resend-otp" (click)="ResendOtpProceed()">
                      <a>Resend OTP</a>
                    </div>
                    <mat-icon matTooltip="Please enter OTP" matTooltipClass="llp--tooltip error" class="red--alert" *ngIf="llpAdvotpForm.controls['otp'].hasError('required') && llpAdvotpForm.controls['otp'].touched">help_outline</mat-icon>

                    <mat-icon matTooltip="{{invalidOtpMessage}}" matTooltipClass="llp--tooltip error" *ngIf="invalidOTP" class="red--alert">help_outline</mat-icon>
                  </mat-form-field>  
              </div>
            <button *ngIf="freeTrailBtn" mat-raised-button class="llp--primary--btn full-width form--action--btn mt-1"  [disabled]="llpAdvsignupForm.invalid"
            (click)="OtpProceed()">Start your 90 days free trial</button>
            <div class="text-center bot-txt">
              <p>Already a member?  <a [routerLink]="'/signin'"> Login</a></p>
            </div>
      </form>
        </mat-card-content>
    </div>
    <div class="login-footer">
      <p>Are you a Customer? <a [routerLink]="'/customer/signup'">Register here</a></p>
    </div>

  </div>
  
</div>

<footer class="auth-footer">
  <p>© 2019 Legacy Life Plans</p>
</footer>