<header class="auth-header">
  <img src="assets/images/arkenea/small-logo.png" alt="">
</header>

<div class="page-wrap mat-bg-primary">
  <div class="session-form-hold">

    <div class="login-sub-wrapper reset--pass-wrapper">
      <!-- <mat-progress-bar mode="determinate" class="session-progress"></mat-progress-bar> -->
      <mat-card-content>
        <div class="text-center pb-1">
          <h2 class="login-header-text m-0">Forgot Password</h2>
          <p class="login-header-desc text-left mb-0">No worries. Enter your email address and we'll email you a link 
            to reset it. </p>
        </div>
        <form class="llp-form-wrapper">
          <div class="">

            <mat-form-field class="full-width">
              <input matInput name="username" placeholder="Enter Your Email" value="" required>
              <!-- <i matTooltip="LLp tooltip start to implement" matTooltipClass="llp--tooltip error"></i> -->
              <mat-icon matTooltip="LLp tooltip start to implement" matTooltipClass="llp--tooltip error" class="red--alert">help_outline</mat-icon>
            </mat-form-field>
            

          </div>


          <button [routerLink]="'/auth/reset-password'" mat-raised-button class="llp--primary--btn full-width reset--pass--btn mb-0">Reset my password</button>
        </form>
      </mat-card-content>
    </div>

    <div class="login-footer">
      &nbsp;
    </div>



  </div>

</div>

<footer class="auth-footer">
  <p>© 2019 Legacy Life Plans</p>
</footer>