<header class="auth-header">
  <img [routerLink]="['']" class="cursor--pointer" src="assets/images/arkenea/small-logo.png" alt="">
</header>

<div class="page-wrap mat-bg-primary">
  <div class="session-form-hold">

    <div class="login-sub-wrapper reset--pass-wrapper">
      <!-- <mat-progress-bar mode="determinate" class="session-progress"></mat-progress-bar> -->
      <mat-card-content>
        <div class="text-center pb-1">
          <h2 class="login-header-text m-0">Forgot Password</h2>
          <p class="login-header-desc text-left mb-0">No worries. Enter your email address and we'll email you a link 
            to reset it. </p>
        </div>
        <form class="llp-form-wrapper" [formGroup]="forgotForm" (ngSubmit)="submitEmail()">
          <div class="">
            <mat-form-field class="full-width">
              <input
                matInput
                name="email"
                required
                [formControl]="forgotForm.controls['email']"
                placeholder="Email"
                value="">
                <mat-icon matTooltip="Please enter email id" matTooltipClass="llp--tooltip error" *ngIf="forgotForm.controls['email'].hasError('required') && forgotForm.controls['email'].touched"   class="red--alert">help_outline</mat-icon>                 
                <mat-icon matTooltip="Please enter valid email Id." matTooltipClass="llp--tooltip error"  *ngIf="forgotForm.controls['email'].hasError('pattern')" class="red--alert">help_outline</mat-icon>                  
                <!-- <mat-icon matTooltip="{{invalidMessage}}" matTooltipClass="llp--tooltip error" *ngIf="forgotForm.controls['email'].hasError('invalid')" class="red--alert">help_outline</mat-icon>  -->
                <mat-icon matTooltip="{{invalidMessage}}" matTooltipClass="llp--tooltip error" *ngIf="EmailError" class="red--alert">help_outline</mat-icon>
            </mat-form-field>
          </div>
          <button mat-raised-button class="llp--primary--btn full-width reset--pass--btn " [disabled]="forgotForm.invalid">Reset My Password</button> 
          <button mat-raised-button [routerLink]="'/signin'" class="llp--back--btn full-width  mb-0"><mat-icon>arrow_back</mat-icon> Back</button>         
        </form>
      </mat-card-content>
    </div>
    <div class="login-footer">
      &nbsp;
    </div>
  </div>
</div>
<footer class="auth-footer">
  <p>© 2019 Legacy Life Plans</p>
</footer>