<div class="ll--modal--header">
    Finance
  <button class="modal--close" [mat-dialog-close]="">
    <mat-icon class="icon--cross">cancel</mat-icon>
  </button>
</div>
<div class="llp--modal--body" *ngIf="!trusteeLegaciesAction">
  <h6 class="access--error" >{{LegacyPermissionError}}</h6>
</div>
<form class="llp-form-wrapper" (ngSubmit)="FinanceFormSubmit(FinanceForm.value)" *ngIf="trusteeLegaciesAction">
  <div class="ll--modal--body idbox--modal--hgt">
    <div fxLayout="row wrap" class="pt-1">
      <div fxFlex.xs="100">
       <mat-form-field class="full-width">
              <mat-label>Account Type*</mat-label>
            <mat-select placeholder="Account Type*" name="financesType" [formControl]="FinanceForm.controls['financesType']" (selectionChange)="onChangeType($event.value)">
              <mat-option value="">Select Account Type</mat-option>
              <mat-option *ngFor="let option of financeTypeList"  [value]="option.opt_code">{{option.opt_name}}</mat-option>
            </mat-select>
              <mat-icon matTooltip="Please select account type" matTooltipClass="llp--tooltip error" *ngIf="FinanceForm.controls['financesType'].hasError('required') && FinanceForm.controls['financesType'].touched" class="red--alert">help_outline</mat-icon>
       </mat-form-field>

       <mat-form-field class="full-width" *ngIf="newVal"> 
          <input matInput (keyup)="firstCapitalize($event)" name="financesTypeNew" (blur)="onChangeType('16')" placeholder="Account Type New*"  [formControl]="FinanceForm.controls['financesTypeNew']">
          <mat-icon matTooltip="Please enter account type new" matTooltipClass="llp--tooltip error" *ngIf="FinanceForm.controls['financesTypeNew'].hasError('required') && FinanceForm.controls['financesTypeNew'].touched" class="red--alert">help_outline</mat-icon>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput name="nameOnAccount" placeholder="Name on Account*"  (keyup)="firstCapitalize($event)"  (keypress)="checkSpecialChar($event)" [formControl]="FinanceForm.controls['nameOnAccount']">
        <mat-icon matTooltip="Please enter name on account" matTooltipClass="llp--tooltip error" *ngIf="FinanceForm.controls['nameOnAccount'].hasError('required') && FinanceForm.controls['nameOnAccount'].touched" class="red--alert">help_outline</mat-icon>
     </mat-form-field>

      <mat-form-field class="full-width">
          <input matInput name="administatorName" placeholder="Bank/Credit Union/Plan Administrator*"  (keyup)="firstCapitalize($event)"  (keypress)="checkSpecialChar($event)" [formControl]="FinanceForm.controls['administatorName']">
          <mat-icon matTooltip="Please enter administrator name" matTooltipClass="llp--tooltip error" *ngIf="FinanceForm.controls['administatorName'].hasError('required') && FinanceForm.controls['administatorName'].touched" class="red--alert">help_outline</mat-icon>
      </mat-form-field>

      <mat-form-field class="full-width">
          <input matInput name="branchLocation" (keyup)="firstCapitalize($event)" placeholder="Branch Location" [formControl]="FinanceForm.controls['branchLocation']">
      </mat-form-field>
   
      <mat-form-field class="full-width">
          <input matInput name="accountNumber" (keyup)="firstCapitalize($event)"  (keypress)="checkSpecialChar($event)" placeholder="Account/Benefits Number" [formControl]="FinanceForm.controls['accountNumber']">
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput name="contactPhone" placeholder="Personal Contact" maxlength="14" (keypress)="checkPhoneNumber($event)" (keyup)="checkPhoneNumber($event)" [formControl]="FinanceForm.controls['contactPhone']">
        <mat-icon matTooltip="Please enter valid contact phone number." matTooltipClass="llp--tooltip error" *ngIf="FinanceForm.controls['contactPhone'].hasError('pattern') && FinanceForm.controls['contactPhone'].touched" class="red--alert">help_outline</mat-icon>
        <mat-icon matTooltip="Please enter minimum 7 & maximum 14 numbers only" matTooltipClass="llp--tooltip error" *ngIf="FinanceForm.controls['contactPhone'].hasError('minlength') && FinanceForm.controls['contactPhone'].touched" class="red--alert">help_outline</mat-icon>
      </mat-form-field>

      <mat-form-field class="full-width">
          <input matInput name="contactEmail" placeholder="Email" [formControl]="FinanceForm.controls['contactEmail']">
          <mat-icon matTooltip="Please enter valid email Id." matTooltipClass="llp--tooltip error" *ngIf="FinanceForm.controls['contactEmail'].hasError('pattern') && FinanceForm.controls['contactEmail'].touched" class="red--alert">help_outline</mat-icon>
      </mat-form-field>

      <div class="upload--buss--docs--sec">
             <label>Upload box to upload the document*</label>
             <div class="upload--box fileupload-drop-zone"
                ng2FileDrop
                [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                (fileOver)="fileOverBase($event)"
                [uploader]="uploader">
                <input type="file" name="documents"  ng2FileSelect [uploader]="uploader" multiple  (change)="fileOverBase('')" />  
                <mat-icon class="cloud-icon">cloud_upload</mat-icon>
                <div class="select--file">Select files from your computer</div>
              </div>
              <div class="file--details mb-1">Supported formats Doc, PDF, txt, JPEG, JPG, PNG</div>
      </div>            
      
      <small *ngIf="documentsMissing" class="form-error-msg">{{invalidMessage}}</small>
      <mat-form-field class="full-width" *ngIf="documents_temps">
          <input matInput name="documents_temp" [formControl]="FinanceForm.controls['documents_temp']">
          <small *ngIf="FinanceForm.controls['documents_temp'].hasError('required') && FinanceForm.controls['documents_temp'].touched" class="form-error-msg"> Please drag your document. </small>
      </mat-form-field>
      
      <div *ngIf="FinanceDocsList" >
          <h3 class="header--text fnt--16">Uploaded file documents </h3>
          <mat-chip-list class="doc--list" *ngFor="let doc of FinanceDocsList; index as i">
              <mat-chip><a (click)="downloadFile(doc.tmpName)" class="donwload-doc">{{doc.title}}</a><mat-icon matChipRemove (click)="FinanceDelete(i,doc.title,doc.tmpName)">close</mat-icon></mat-chip>
          </mat-chip-list>
         </div>
          <mat-chip-list class="doc--list error--chip" *ngFor="let err of fileErrors;">
              <mat-chip><mat-error>{{err.error}}</mat-error></mat-chip>
          </mat-chip-list>    

          <div class="progress" style="margin-bottom: 0;" *ngIf="currentProgessinPercent>0">
            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': currentProgessinPercent + '%' }">{{currentProgessinPercent}}%</div>
            <mat-progress-bar class=""  color="primary" mode="Indeterminate"  [value]="currentProgessinPercent"></mat-progress-bar>
          </div>

      <mat-form-field class="full-width mt-1">
              <textarea (keyup)="firstCapitalize($event)" maxlength="500" matInput placeholder="Comments" name="comments" [formControl]="FinanceForm.controls['comments']"></textarea>
              <div class="char--limit" style="float: right;">{{ 500 - FinanceForm.controls['comments'].value?.length }}</div>
      </mat-form-field>

      <mat-form-field class="full-width" *ngIf="profileIdHiddenVal">
            <input matInput name="profileId" [formControl]="FinanceForm.controls['profileId']" readonly="readonly">
      </mat-form-field>
      </div>
    </div>
  </div>
  <div class="ll--modal--footer text-center">
    <button mat-raised-button class="llp--primary--btn" [disabled]="!FinanceForm.valid">Save</button>
  </div>
</form>