<div class="header-topnav mat-elevation-z2 llp--top--fixed--header">
  <div class="llp--landing--wrapper">
    <div class="topnav">
      <!-- App Logo -->
      <div class="topbar-branding">
        <img (click)="contentScroll('cu-home')" src="assets/images/arkenea/small-logo.png" alt="" class="app-logo">
      </div>

      <ul class="menu" *ngIf="!layoutConf.isMobile">
        <!-- <li *ngFor="let item of menuItems; let i = index;">
          <div *ngIf="item.type !== 'separator'" routerLinkActive="open">
            <a matRipple routerLink="/{{item.state}}" *ngIf="item.type === 'link'">
              {{item.name | translate}}
            </a>      
          </div>
        </li> 
        <li>
          <a matRipple routerLink="">Home</a>
        </li>-->
        <li (click)="contentScroll('about-us')" *ngIf="headerOff">
          <a matRipple>About Us</a>
        </li>
        <li (click)="contentScroll('how-llp-works')" *ngIf="headerOff">
          <a matRipple >How LLP Works</a>
        </li>
        <li (click)="contentScroll('pricing-plan')" *ngIf="headerOff">
          <a matRipple>Pricing Plans</a>
        </li>
        <li (click)="contentScroll('testimonialss')" *ngIf="headerOff">
          <a matRipple>Testimonials</a>
        </li>
        <li (click)="contentScroll('contact-us')" *ngIf="headerOff">
          <a matRipple>Contact Us</a>
        </li>
        
        <li class="for-customer">
          <a matRipple routerLink="/advisor">For Advisors</a>
        </li>
        <li class="sign-up">
          <a matRipple routerLink="/customer/signup">Sign Up</a>
        </li>
        <li class="login">
          <a matRipple routerLink="/signin">Login</a>
        </li>
      </ul>
      <!-- End Navigation -->

      <!-- Top left user menu -->
      <button mat-icon-button class="mr-1 llp--menu--btn" (click)="toggleSidenav()" *ngIf="layoutConf.isMobile">
        <mat-icon>menu</mat-icon>
      </button>

    </div>
  </div>
</div>
