    
@import 'llp-global-styles.scss';

.char--limit{
    color: #828385;
    font-size: 15px;
    position: absolute;
    right: 0;
    bottom: -25px;
    font-family: $font--lato--regular;
}
.legal--stuff--body--hgt {
    max-height: 80vh;
    overflow: auto;
}


/* Media query (start here)*/

@media only screen and (max-width: 599px) {
    .legal--stuff--body--hgt {
        height: calc(100vh - 240px);
        overflow: auto;
    }
}
@media only screen and (min-width: 600px) and (max-width: 959px){
    .legal--stuff--body--hgt {
        height: calc(100vh - 240px);
        overflow: auto;
    }
}
@media only screen and (min-width: 960px) and (max-width: 979px){
    .legal--stuff--body--hgt {
        height: calc(100vh - 240px);
        overflow: auto;
    }
}
@media only screen and (min-width: 980px) and (max-width: 1279px){
    .legal--stuff--body--hgt {
        height: calc(100vh - 240px);
        overflow: auto;
    }
}
@media only screen and (min-width: 1280px) and (max-width: 1440px){
    .legal--stuff--body--hgt {
        height: calc(100vh - 240px);
        overflow: auto;
    }
}
@media only screen and (min-width: 1441px) and (max-width: 1550px){}

/* Media query (end here)*/