<div class="shop-wrap llp--content--wrapper" fxLayout="row" fxLayoutWrap="wrap">
  <div class="full-width">
    <div class="">
      <advisor-legacy-details></advisor-legacy-details>
      <mat-card class="empty--section p-0" *ngIf="instruction_data_flag">
        <mat-card-header class="m-0">
          <mat-card-title class="m-0">Legacy Life Letters & Messages</mat-card-title>
        </mat-card-header>
        <mat-card-content [innerHtml]="instruction_data"></mat-card-content>
      </mat-card>
      <mat-card class="empty--section p-0">
        <mat-card-header class="m-0">
          <mat-card-title class="m-0">Letters & Messages</mat-card-title>
          <div *ngIf="showListing && trusteeLegaciesAction"> 
              <!--&& LegacyLifeLettersMessagesManagementSection=='now' <a class="no--of--trustee" *ngIf="showTrusteeCnt"  (click)="openManageTrusteeModal('Letters & Messages','LegacyLifeLettersMessagesManagement', true)">{{trusteeLettersMessagesCnt}} Trustees</a>    -->
            <button mat-raised-button class="llp--primary--btn llp--primary--sm--btn"
              (click)="openLettersMessagesModal()">+ Add</button>
          </div>
        </mat-card-header>
        <div >
          <!-- *ngIf="LegacyLifeLettersMessagesManagementSection=='now'" -->
          <mat-card-content *ngIf="!showListing && trusteeLegaciesAction">
            <div class="build--ur--legacy" (click)="openLettersMessagesModal()">
              <mat-icon>business</mat-icon>
              <p><a>Add Letters & Messages</a></p>
            </div>
          </mat-card-content>
          <mat-card-content class="appointees--wrapper" *ngIf="showListing">
            <div class="cust--user--details mt-1"  *ngFor="let legal of lettersMessagesList; let i = index">
             <!-- <div class="cust--user--details mt-1" *ngIf="checkAccess(legal._id)"> -->
              <div class="name--letters">{{legal?.title.charAt(0)+legal?.title.charAt(1)}}</div>
                <div class="user--name" [routerLink]="[dynamicRoute+'letters-messages-view', legal._id]">
                  <h5>{{legal?.title}}</h5>
                  <p class="mb-0">Last modified:
                    <span>{{legal.modifiedOn | date: 'yyyy/MM/dd'}}</span>
                  </p>
                </div>
                <div class="user--share">
                    <p class="mb-0"><a class="no--of--trustee" *ngIf="showTrusteeCnt"  (click)="openManageTrusteeModal('Letters & Messages','LegacyLifeLettersMessagesManagement',legal?._id,legal?.title,true)">Trustees({{getTrusteeCount(legal?._id)}})</a></p>
                </div>
              <!-- <div class="user--share">
                <p class="mb-0"><button mat-raised-button class="llp--primary--btn llp--primary--sm--btn" (click)="openLettersMessagesModal()">+ Add</button></p>
              </div> -->
            <!-- </div> -->
            </div>

          </mat-card-content>
        </div>
        <!-- <mat-card-content *ngIf="LegacyLifeLettersMessagesManagementSection !='now'">
          <div>{{LegacyPermissionError}}</div>
        </mat-card-content> -->
      </mat-card>
    </div>
  </div>
</div>