<div class="shop-wrap llp--content--wrapper" fxLayout="row" fxLayoutWrap="wrap">
  <div class="full-width">
    <div class="">
      <advisor-legacy-details></advisor-legacy-details>
      <mat-card class="empty--section p-0" *ngIf="instruction_data_flag">
        <mat-card-header class="m-0">
          <mat-card-title class="m-0">Final Wishes</mat-card-title>
        </mat-card-header>
        <mat-card-content [innerHtml]="instruction_data"></mat-card-content>
      </mat-card>
      <mat-card class="empty--section p-0">
        <mat-card-header class="m-0">
          <mat-card-title class="m-0" (click)="openFuneralExpensesModal()">Funeral Plans</mat-card-title>
          <div *ngIf="showFuneralPlansListing && trusteeLegaciesAction && FuneralPlansManagementSection=='now'">
            <a class="no--of--trustee" *ngIf="showTrusteeCnt" (click)="openManageTrusteeModal('Funeral Plans','FuneralPlansManagement', true)">{{trusteeFuneralCnt}} Trustees</a>
            <button mat-raised-button class="llp--primary--btn llp--primary--sm--btn" (click)="openFuneralServiceModal()">+ Add</button>
          </div>
        </mat-card-header>
        <div *ngIf="FuneralPlansManagementSection=='now'">
          <mat-card-content *ngIf="!showFuneralPlansListing && trusteeLegaciesAction">
            <div class="build--ur--legacy" (click)="openFuneralServiceModal()">
              <mat-icon>person_pin</mat-icon>
              <p>
                <a>Add Funeral Plans</a>
              </p>
            </div>
          </mat-card-content>
          <mat-card-content class="appointees--wrapper" *ngIf="showFuneralPlansListing">
            <div class="cust--user--details mt-1" *ngFor="let profileData of FuneralPlansList; let i = index" [routerLink]="[dynamicRoute+'final-wishes-funeral-plans-view', profileData._id]">
              <div class="name--letters">{{getServiceName(profileData?.funaralServiceType).charAt(1)}}</div>
              <div class="user--name">
                <h5>{{getServiceName(profileData?.funaralServiceType)}}</h5>
                <p class="mb-0">Last modified:
                  <span *ngIf="profileData.modifiedOn && profileData.modifiedOn != ''">{{profileData.modifiedOn | date: 'yyyy/MM/dd'}}</span>
                  <span *ngIf="!profileData.modifiedOn">{{profileData.createdOn | date: 'yyyy/MM/dd'}}</span>
                </p>
              </div>
            </div>
          </mat-card-content>
        </div>
        <mat-card-content *ngIf="FuneralPlansManagementSection !='now'">
          <div>{{LegacyPermissionError}}</div>
        </mat-card-content>
      </mat-card>


      <mat-card class="empty--section p-0">
        <mat-card-header class="m-0">
          <mat-card-title class="m-0">Funeral Expenses</mat-card-title>
          <div>
            <button mat-raised-button class="llp--primary--btn llp--primary--sm--btn" (click)="openFuneralExpensesModal()">+ Add</button>
          </div>
        </mat-card-header>
        <!-- <mat-card-content>
          <div class="build--ur--legacy" (click)="openFuneralExpensesModal()">
            <mat-icon>person_pin</mat-icon>
            <p>
              <a>Add Funeral Expenses </a>
            </p>
          </div>
        </mat-card-content> -->


        <div *ngIf="ObituaryManagementSection=='now'">
            <mat-card-content *ngIf="!showObituaryListing && trusteeLegaciesAction">
              <div class="build--ur--legacy" (click)="openFuneralExpensesModal()">
                <mat-icon>library_add</mat-icon>
                <p>
                  <a>Add Funeral Expenses</a>
                </p>
              </div>
            </mat-card-content>
            <mat-card-content class="appointees--wrapper" *ngIf="showExpenseListing">
              <div class="cust--user--details mt-1" *ngFor="let idData of ExpenseList; let i = index" [routerLink]="[dynamicRoute+'final-wishes-expense-view', idData._id]">
                <div class="name--letters">{{idData.haveFuneralArrangement.charAt(1)}}</div>
                <div class="user--name">
                  <h5>{{idData.haveFuneralArrangement}}</h5>
                  <p class="mb-0">Last modified:
                    <span *ngIf="idData.modifiedOn && idData.modifiedOn != ''">{{idData.modifiedOn | date: 'yyyy/MM/dd'}}</span>
                    <span *ngIf="!idData.modifiedOn">{{idData.createdOn | date: 'yyyy/MM/dd'}}</span>
                  </p>
                </div>
              </div>
            </mat-card-content>
          </div>

      </mat-card>

      <mat-card class="empty--section p-0">
        <mat-card-header class="m-0">
          <mat-card-title class="m-0">Obituary </mat-card-title>
          <div *ngIf="showObituaryListing && trusteeLegaciesAction && ObituaryManagementSection=='now'">
            <a class="no--of--trustee" *ngIf="showTrusteeCnt" (click)="openManageTrusteeModal('Obituary','ObituaryManagement', true)">{{trusteeObituaryCnt}} Trustees</a>
            <button mat-raised-button class="llp--primary--btn llp--primary--sm--btn" (click)="openObituaryModal()">+ Add</button>
          </div>
        </mat-card-header>
        <div *ngIf="ObituaryManagementSection=='now'">
          <mat-card-content *ngIf="!showObituaryListing && trusteeLegaciesAction">
            <!-- <div class="build--ur--legacy" (click)="openFinalWishModal('Obituary', true)">
            <mat-icon>library_add</mat-icon>
            <p>
              <a>Add Obituary</a>
            </p>
          </div> -->
            <div class="build--ur--legacy" (click)="openObituaryModal()">
              <mat-icon>library_add</mat-icon>
              <p>
                <a>Add Obituary</a>
              </p>
            </div>
          </mat-card-content>
          <mat-card-content class="appointees--wrapper" *ngIf="showObituaryListing">
            <div class="cust--user--details mt-1" *ngFor="let idData of ObituaryList; let i = index" [routerLink]="[dynamicRoute+'final-wishes-obituary-view', idData._id]">
              <div class="name--letters">{{idData.check.charAt(1)}}</div>
              <div class="user--name">
                <h5>{{idData.check=='yes' ? "Prepared an obituary" : "Don’t have an obituary"}}</h5>
                <p class="mb-0">Last modified:
                  <span *ngIf="idData.modifiedOn && idData.modifiedOn != ''">{{idData.modifiedOn | date: 'yyyy/MM/dd'}}</span>
                  <span *ngIf="!idData.modifiedOn">{{idData.createdOn | date: 'yyyy/MM/dd'}}</span>
                </p>
              </div>
            </div>
          </mat-card-content>
        </div>
        <mat-card-content *ngIf="ObituaryManagementSection !='now'">
          <div>{{LegacyPermissionError}}</div>
        </mat-card-content>
      </mat-card>

      <mat-card class="empty--section p-0">
        <mat-card-header class="m-0">
          <mat-card-title class="m-0">Celebration of Life</mat-card-title>
          <div *ngIf="showCelebrationLifesListing && trusteeLegaciesAction && CelebrationLifeManagementSection=='now'">
            <a class="no--of--trustee" *ngIf="showTrusteeCnt" (click)="openManageTrusteeModal('Celebration of Life','CelebrationLifeManagement', true)">{{trusteeCelebrationCnt}} Trustees</a>
            <button mat-raised-button class="llp--primary--btn llp--primary--sm--btn" (click)="openCelebrationOfLifeModal()">+ Add</button>
          </div>
        </mat-card-header>
        <div *ngIf="CelebrationLifeManagementSection=='now'">
          <mat-card-content *ngIf="!showCelebrationLifesListing && trusteeLegaciesAction">
            <!-- <div class="build--ur--legacy" (click)="openFinalWishModal('Celebration of Life', true)">
            <mat-icon>people</mat-icon>
            <p>
              <a>Add Celebration of Life</a>
            </p>
          </div> -->
            <div class="build--ur--legacy" (click)="openCelebrationOfLifeModal()">
              <mat-icon>people</mat-icon>
              <p>
                <a>Add Celebration of Life</a>
              </p>
            </div>

          </mat-card-content>
          <mat-card-content class="appointees--wrapper" *ngIf="showCelebrationLifesListing">
            <div class="cust--user--details mt-1" *ngFor="let profileData of CelebrationLifesList; let i = index" [routerLink]="[dynamicRoute+'final-wishes-celebration-of-life-view', profileData._id]">
              <div class="name--letters">{{profileData.eventByName.charAt(0)+profileData.eventByName.charAt(1)}}</div>
              <div class="user--name">
                <h5>{{profileData.eventByName}}</h5>
                <p class="mb-0">Last modified:
                  <span *ngIf="profileData.modifiedOn && profileData.modifiedOn != ''">{{profileData.modifiedOn | date: 'yyyy/MM/dd'}}</span>
                  <span *ngIf="!profileData.modifiedOn">{{profileData.createdOn | date: 'yyyy/MM/dd'}}</span>
                </p>
              </div>
            </div>
          </mat-card-content>
        </div>
        <mat-card-content *ngIf="CelebrationLifeManagementSection !='now'">
          <div>{{LegacyPermissionError}}</div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>