<div class="shop-wrap llp--content--wrapper" fxLayout="row" fxLayoutWrap="wrap">
  <!-- Filters -->

  <!-- Right side -->
  <div class="full-width">

    <!-- My Essentials 1st (empty)-->
    <div class="">
      <mat-card class="empty--section p-0">
        <mat-card-header class="m-0">
          <mat-card-title class="m-0" [routerLink]="['/customer/dashboard/customer-essential']">My Essentials </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class="info m-0">The section where you can manage your personal, professional and religious information.
              <a class="legal--link"> <mat-icon>open_in_new</mat-icon> www.legalnature.com</a>
          </p>   <p class="info m-0"> You can also manage your License, Non-Driver State ID, Department of Defense (DOD), Birth Certificate, Social
            Security Number (SSN), Passport, Visa in the ID Box section.</p>
        </mat-card-content>
      </mat-card>
      <mat-card class="empty--section p-0">
        <mat-card-header class="m-0">
          <mat-card-title class="m-0">Personal Profile</mat-card-title>
          <div *ngIf="showProfileListing">
            <span class="no--of--trustee">4 Trustees</span>
            <button mat-raised-button class="llp--primary--btn llp--primary--sm--btn"  (click)="openProfileModal({}, true)">+ Add</button>            
          </div>
        </mat-card-header>
        <mat-card-content *ngIf="!showProfileListing">
          <div class="build--ur--legacy" (click)="openProfileModal({}, true)">
            <mat-icon>person_pin</mat-icon>
            <p>
              <a>Add Personal Profile</a>
            </p>
          </div>
        </mat-card-content>

        <mat-card-content class="appointees--wrapper" *ngIf="showProfileListing"> 
          <div class="cust--user--details mt-1" *ngFor="let profileData of essentialProfileList; let i = index" [routerLink]="['/customer/dashboard/essential-detail-view', profileData._id]">
            <div class="name--letters">{{profileData.ppFirstName.charAt(0)+profileData.ppLastName.charAt(0)}}</div>
            <div class="user--name">
              <h5>{{profileData.ppFirstName +' '+ profileData.ppLastName}}</h5>
              <p class="mb-0">Last modified:
                <span>{{profileData.createdOn | date: 'yyyy/MM/dd'}}</span>
              </p>
            </div>
          </div>
        </mat-card-content>



      </mat-card>
      <mat-card class="empty--section p-0">
        <mat-card-header class="m-0">
          <mat-card-title class="m-0">ID Box </mat-card-title>
          <div *ngIf="showIdProofListing">
            <span class="no--of--trustee">10 Trustees</span>
            <button mat-raised-button class="llp--primary--btn llp--primary--sm--btn" (click)="openAddIdBoxModal({}, true)">+ Add</button>
          </div>
        </mat-card-header>
        <mat-card-content *ngIf="!showIdProofListing">
          <div class="build--ur--legacy" (click)="openAddIdBoxModal({}, true)">
            <mat-icon>library_add</mat-icon>
            <p>
              <a>Add ID Box</a>
            </p>
          </div>
        </mat-card-content>

        <mat-card-content class="appointees--wrapper" *ngIf="showIdProofListing"> 
          <div class="cust--user--details mt-1" [routerLink]="['/customer/dashboard/essential-detail-idbox']">
            <div class="name--letters">dl</div>
            <div class="user--name">
              <h5>Driving License ID</h5>
              <p class="mb-0">Last modified:
                <span>4/02/2019</span>
              </p>
            </div>
          </div>
          <div class="cust--user--details mt-1">
            <div class="name--letters">ss</div>
            <div class="user--name">
              <h5>Social Security Number</h5>
              <p class="mb-0">Last modified:
                <span>10/02/2019</span>
              </p>
            </div>
          </div>
        </mat-card-content>



      </mat-card>
      <mat-card class="empty--section p-0">
        <mat-card-header class="m-0">
          <mat-card-title class="m-0">My Professionals</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="build--ur--legacy">
            <mat-icon>people</mat-icon>
            <p>
              <a>Add Professionals</a>
            </p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

   

  </div>

</div>