<div class="ll--modal--header">
  Devices
  <button class="modal--close" [mat-dialog-close]="">
    <mat-icon class="icon--cross">cancel</mat-icon>
  </button>
</div>
<form class="llp-form-wrapper" (ngSubmit)="DevicesFormSubmit(DevicesForm.value)">
  <div class="ll--modal--body legal--stuff--body--hgt">
    <div fxLayout="row wrap" class="pt-1">
      <div fxFlex.xs="100">
             
        <mat-form-field class="full-width">
          <mat-label>Policy Type*</mat-label>
        <mat-select placeholder="Device List*" name="deviceList" [formControl]="DevicesForm.controls['deviceList']" >
          <mat-option value="">Select Policy Type</mat-option>
          <mat-option *ngFor="let option of deviceListing"  [value]="option.opt_code">{{option.opt_name}}</mat-option>
        </mat-select>
          <mat-icon matTooltip="Please select device list" matTooltipClass="llp--tooltip error" *ngIf="DevicesForm.controls['deviceList'].hasError('required') && DevicesForm.controls['deviceList'].touched" class="red--alert">help_outline</mat-icon>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput name="deviceName" placeholder="Device Name*"   [formControl]="DevicesForm.controls['deviceName']">
          <mat-icon matTooltip="Please enter device name" matTooltipClass="llp--tooltip error" *ngIf="DevicesForm.controls['deviceName'].hasError('required') && DevicesForm.controls['deviceName'].touched"
          class="red--alert">help_outline</mat-icon>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput name="username"  placeholder="username" [formControl]="DevicesForm.controls['username']">
          <mat-icon matTooltip="Please enter username" matTooltipClass="llp--tooltip error" *ngIf="DevicesForm.controls['username'].hasError('required') && DevicesForm.controls['username'].touched"
          class="red--alert">help_outline</mat-icon>
        </mat-form-field>

        <div id="patternHolder"></div>

        <img src="../../../../../../assets/images/arkenea/icon-arrow.png" style="display:none"/>
        <div id="patternHolder7" class="pattern-holder"></div>

        <!-- <mat-form-field class="full-width">
          <input matInput name="veterinarian" placeholder="Veterinarian" [formControl]="DevicesForm.controls['veterinarian']">
          <mat-icon matTooltip="Please enter veterinarian" matTooltipClass="llp--tooltip error" *ngIf="DevicesForm.controls['veterinarian'].hasError('required') && DevicesForm.controls['veterinarian'].touched"
          class="red--alert">help_outline</mat-icon>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput name="dietaryConcerns" placeholder="Dietary Concerns" [formControl]="DevicesForm.controls['dietaryConcerns']">
          <mat-icon matTooltip="Please enter dietary concerns" matTooltipClass="llp--tooltip error" *ngIf="DevicesForm.controls['dietaryConcerns'].hasError('required') && DevicesForm.controls['dietaryConcerns'].touched"
          class="red--alert">help_outline</mat-icon>
        </mat-form-field>
     -->
       

          <!-- <button mat-raised-button class="llp--primary--btn" type="button" (click)="savePattren(patternNo)">Check {{patternNo}}</button> -->
          <mat-form-field class="full-width" *ngIf="profileIdHiddenVal">
            <input matInput name="profileId" [formControl]="DevicesForm.controls['profileId']" readonly="readonly">
          </mat-form-field>
      </div>
    </div>
  </div>
  <div class="ll--modal--footer text-center">
    <button mat-raised-button class="llp--primary--btn" [disabled]="!DevicesForm.valid">Save</button>
  </div>
</form>