<div class="ll--modal--header">
  Devices
  <button class="modal--close" [mat-dialog-close]="">
    <mat-icon class="icon--cross">cancel</mat-icon>
  </button>
</div>
<div class="llp--modal--body" *ngIf="!trusteeLegaciesAction">
  <h6 class="access--error" >{{LegacyPermissionError}}</h6>
</div>
<form class="llp-form-wrapper" (ngSubmit)="DevicesFormSubmit(DevicesForm.value)" *ngIf="trusteeLegaciesAction">
  <div class="ll--modal--body pattern--body--hgt">
    <div fxLayout="row wrap" class="pt-1">
      <div fxFlex.xs="100">             
        <mat-form-field class="full-width">
          <mat-label>Device Type*</mat-label>
        <mat-select placeholder="Device List*" name="deviceList" [formControl]="DevicesForm.controls['deviceList']" >
          <mat-option value="">Select Device Type</mat-option>
          <mat-option *ngFor="let option of deviceListing"  [value]="option.opt_code">{{option.opt_name}}</mat-option>
        </mat-select>
          <mat-icon matTooltip="Please select device type" matTooltipClass="llp--tooltip error" *ngIf="DevicesForm.controls['deviceList'].hasError('required') && DevicesForm.controls['deviceList'].touched" class="red--alert">help_outline</mat-icon>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input (blur)="trimInput($event, 'deviceName')" matInput name="deviceName" (keyup)="firstCapitalize($event)" placeholder="Device Name*"   [formControl]="DevicesForm.controls['deviceName']">
          <mat-icon matTooltip="Please enter device name" matTooltipClass="llp--tooltip error" *ngIf="DevicesForm.controls['deviceName'].hasError('required') && DevicesForm.controls['deviceName'].touched"
          class="red--alert">help_outline</mat-icon>
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>Password Type*</mat-label>
          <mat-select placeholder="Password Type*" name="passwordType" [formControl]="DevicesForm.controls['passwordType']" (selectionChange)="onChangePasswordType($event.value)">
            <mat-option value="">Select Password Type</mat-option>
            <mat-option *ngFor="let option of passwordType"  [value]="option.opt_code">{{option.opt_name}}</mat-option>
          </mat-select>
            <mat-icon matTooltip="Please select password type" matTooltipClass="llp--tooltip error" *ngIf="DevicesForm.controls['passwordType'].hasError('required') && DevicesForm.controls['passwordType'].touched" class="red--alert">help_outline</mat-icon>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input (blur)="trimInput($event, 'username')" matInput name="username"  placeholder="Username*" [formControl]="DevicesForm.controls['username']" autocomplete="off">
          <mat-icon matTooltip="Please enter username" matTooltipClass="llp--tooltip error" *ngIf="DevicesForm.controls['username'].hasError('required') && DevicesForm.controls['username'].touched"
          class="red--alert">help_outline</mat-icon>
        </mat-form-field>

        <mat-form-field class="full-width" *ngIf="typeOne">
            <input  type="password" matInput name="password"  placeholder="Password*" [formControl]="DevicesForm.controls['password']" >
            <!-- <mat-icon matTooltip="Please enter password" matTooltipClass="llp--tooltip error" *ngIf="DevicesForm.controls['password'].hasError('required') && DevicesForm.controls['password'].touched"
            class="red--alert">help_outline</mat-icon> -->
            <small *ngIf="usernamePasswordMissing" class="form-error-msg form-error-msg-general">{{invalidMessage}}</small>
        </mat-form-field>

        <mat-form-field class="full-width" *ngIf="typeTwo">
            <input  type="password" matInput name="pin"  placeholder="Pin*" [formControl]="DevicesForm.controls['pin']"  minlength="3"  maxlength="50">
            <!-- <mat-icon matTooltip="Please enter pin" matTooltipClass="llp--tooltip error" *ngIf="DevicesForm.controls['pin'].hasError('required') && DevicesForm.controls['pin'].touched" class="red--alert">help_outline</mat-icon> -->
            <mat-icon matTooltip="Please enter numbers only" matTooltipClass="llp--tooltip error" *ngIf="DevicesForm.controls['pin'].hasError('pattern') && DevicesForm.controls['pin'].touched" class="red--alert">help_outline</mat-icon>
            <small *ngIf="usernamePinMissing" class="form-error-msg form-error-msg-general">{{invalidMessage}}</small>
        </mat-form-field> 

        <div class="relative" [hidden]=IsVisible>
            <div id="patternHolder" class="large--pattern"></div>
            <img src="../../../../../../assets/images/arkenea/icon-arrow.png" style="display:none"/>
            <div id="patternHolder7" class="pattern-holder small--pattern"></div>
            <small *ngIf="pattrenTempMissing" class="form-error-msg">{{invalidMessage}}</small>
        </div> 
        <mat-form-field class="full-width" *ngIf="pattrenTemp">
            <input matInput name="pattrenTemp" [formControl]="DevicesForm.controls['pattrenTemp']">
            <small *ngIf="DevicesForm.controls['pattrenTemp'].hasError('required') && DevicesForm.controls['pattrenTemp'].touched" class="form-error-msg"> Please drag your pattern. </small>
        </mat-form-field>

          <!-- <button mat-raised-button class="llp--primary--btn" type="button" (click)="savePattren(patternNo)">Check {{patternNo}}</button> -->
          <mat-form-field class="full-width" *ngIf="profileIdHiddenVal">
            <input matInput name="profileId" [formControl]="DevicesForm.controls['profileId']" readonly="readonly">
          </mat-form-field>
      </div>
    </div>
  </div>
  <div class="ll--modal--footer text-center">
    <button mat-raised-button class="llp--secondary--btn mr-1" *ngIf="!IsVisible" type="button" (click)="resetPattern($event);">Reset Pattern</button>
    <button mat-raised-button class="llp--primary--btn"  [disabled]="!DevicesForm.valid">Save</button>
    
  </div>
</form>