<header class="auth-header">
  <img [routerLink]="['']" class="cursor--pointer" src="assets/images/arkenea/small-logo.png" alt="">
</header>

<div class="page-wrap mat-bg-primary">
  <div class="session-form-hold">

    <div class="login-sub-wrapper reset--pass-wrapper">
      <!-- <mat-progress-bar mode="determinate" class="session-progress"></mat-progress-bar> -->
      <mat-card-content>
        <div class="text-center pb-1">
          <h2 class="login-header-text m-0">Reset Password</h2>
        </div>
        <form class="llp-form-wrapper" [formGroup]="resetForm" (ngSubmit)="onSubmit()">
          <div class="mt-1">
            <mat-form-field class="full-width">
              <input matInput name="password" type="password" required maxlength="20" [formControl]="resetForm.controls['password']" placeholder="Password"
                value="">
              <mat-icon matTooltip="Please enter password." matTooltipClass="llp--tooltip error" *ngIf="resetForm.controls['password'].hasError('required') && resetForm.controls['password'].touched"
                class="red--alert">help_outline</mat-icon>

              <mat-icon matTooltip="Your password should be minimum 6 characters in length." matTooltipClass="llp--tooltip error"
                *ngIf="resetForm.controls['password'].hasError('pattern') && resetForm.controls['password'].touched" class="red--alert">help_outline</mat-icon>
            </mat-form-field>

            <mat-form-field class="full-width">
              <input matInput name="password" type="password" required [formControl]="resetForm.controls['confirmPassword']" placeholder="Confirm Password"
                value="">
              <mat-icon matTooltip="Please enter confirm password" matTooltipClass="llp--tooltip error" *ngIf="resetForm.controls['confirmPassword'].hasError('required') && resetForm.controls['confirmPassword'].touched"
                class="red--alert">help_outline</mat-icon>

              <mat-icon matTooltip="Password should match." matTooltipClass="llp--tooltip error" *ngIf="resetForm.controls['confirmPassword'].hasError('equalTo') && resetForm.controls['confirmPassword'].touched"
                class="red--alert">help_outline</mat-icon>
            </mat-form-field>
          </div>
          <div class="remember-wrap">
            <a [routerLink]="'/llp-admin/signin'">Signin</a>
          </div>
          <button mat-raised-button class="llp--primary--btn full-width reset--pass--btn mb-0" [disabled]="resetForm.invalid">Submit</button>

        </form>
      </mat-card-content>
    </div>

    <div class="login-footer">
      &nbsp;
    </div>



  </div>

</div>

<footer class="auth-footer">
  <p>© 2019 Legacy Life Plans</p>
</footer>