<!-- 
  <div fxLayout="row wrap"  >
      <div fxFlex.xs="100" fxFlex.sm="33.33" fxFlex.md="20" fxFlex.lg="49" fxFlex.xl="33.33">01</div>
      <div fxFlex.xs="100" fxFlex.sm="33.33" fxFlex.md="20" fxFlex.lg="49" fxFlex.xl="33.33">02</div>
      <div fxFlex.xs="100" fxFlex.sm="33.33" fxFlex.md="20" fxFlex.lg="49" fxFlex.xl="33.33">03</div>
      <div fxFlex.xs="100" fxFlex.sm="33.33" fxFlex.md="20" fxFlex.lg="49" fxFlex.xl="33.33">04</div>
      <div fxFlex.xs="100" fxFlex.sm="33.33" fxFlex.md="20" fxFlex.lg="49" fxFlex.xl="33.33">05</div>
  </div>
 -->

<div fxLayout="row wrap" class="advisor--landing--wrapper">
  <div fxFlex="100">
    <div class="get--hired--wrapper ad--first--banner" id="ad-home" style="background-image: url('assets/images/arkenea/get-hired-banner.png')">
      <div class="banner--content">
        <h6>Maximize Your Connections &</h6>
        <h3>BUILD TRANSFORMATIONAL RELATIONSHIPS</h3>
        <h6 class="info">Through Legacy Life Plans</h6>
        <button mat-raised-button class="landing--primary--btn">Start a Free Trial</button>
        <button mat-raised-button class="landing--secondary--btn">See Hire Process</button>
      </div>
    </div>

    <div class="standard-bg">
      <div class="llp--container">
        <div class="hired--steps bottom-space">
          <div fxLayout="row wrap">
            <div fxFlex.xs="100" fxFlex.sm="33.33" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33">
              <div class="steps--section">
                <div class="step--header">
                  <i class="icon icon--create--profile"></i>
                  <h5>Build Trust</h5>
                </div>
                <div class="step--body">
                  <p>Engage clients through meaningful discussions. Uncover needs & wants clients often hide. Use Holistic planning
                    to validate integrity,</p>
                </div>
              </div>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="33.33" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33">
              <div class="steps--section">
                <div class="step--header">
                  <i class="icon icon--contact-lead"></i>
                  <h5>Create Value</h5>
                </div>
                <div class="step--body">
                  <p>Boost your lead follow-up system. Give every prospect a life-changing gift. Improve client retention. </p>
                </div>
              </div>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="33.33" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33">
              <div class="steps--section border-0">
                <div class="step--header">
                  <i class="icon icon--get--hired"></i>
                  <h5>Strengthen Network</h5>
                </div>
                <div class="step--body">
                  <p>Put cold calling in your past. End useless lead generation. Build instant rapport.</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="signature--wrapper" id="ad-about-us">
          <div fxLayout="row wrap" fxLayoutGap="10px" class="align--items--center">
            <div fxFlex.xs="100" fxFlex.sm="46" fxFlex.md="46" fxFlex.lg="47" fxFlex.xl="47">
              <h4>Legacy Life Plans- shifting advisors from being transactional sellers into relationship builders.</h4>
              <p>Legacy Life Plans is an encrypted, secure, digital safe deposit box where your clients can organize, file,
                and store their important life documents and information. In the event of a debilitating illness or death,
                your client’s loved ones will have predetermined managed access and a roadmap to handle your client’s affairs
                or final wishes.</p>
              <p>Relieve the stress of heirs, estate executors, and administrators by using this tool to provide a step-by-step
                blueprint, which your clients can follow to organize end-of-life directives.</p>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="52" fxFlex.md="52" fxFlex.lg="52" fxFlex.xl="52" class="text-right">
              <img alt="" class="img-fluid" src="assets/images/arkenea/signature.png">
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="hire--process--wrapper" id="ad-how-help" style="background-image: url('assets/images/arkenea/hire-process-banner.png')">
      <div class="hire--content">
        <h3>Cross Specialty Referral System </h3>
        <p>A better way to do business</p>
      </div>
    </div>

    <div class="standard-bg">
      <div class="llp--container">
        <div class="hired--process--steps">
          <div fxLayout="row wrap" class="justify--content--space--around">
            <div fxFlex.xs="100" fxFlex.sm="31" fxFlex.md="31" fxFlex.lg="31" fxFlex.xl="31">
              <div class="steps--section">
                <div class="step--header">
                  <i class="icon icon--clients"></i>
                  <h5>Clients</h5>
                </div>
                <div class="step--body">
                  <p>Over 65% of the population has no life planning in place. By opening your client’s minds to handling end
                    of life decisions, you can introduce your client’s to Holistic life planning. Through Holistic life planning
                    you build cross-generational relationships with families, beneficiaries, executors, and trustees.</p>
                </div>
              </div>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="31" fxFlex.md="31" fxFlex.lg="31" fxFlex.xl="31">
              <div class="steps--section step--2">
                <div class="step--header">
                  <i class="icon icon--leads"></i>
                  <h5>Advisors </h5>
                </div>
                <div class="step--body">
                  <p>Network and build your brand awareness through strategic partnerships with other professionals in order
                    to provide your clients a concierge experience.</p>
                </div>
              </div>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="32" fxFlex.md="32" fxFlex.lg="32" fxFlex.xl="32">
              <div class="steps--section step--3">
                <div class="step--header">
                  <i class="icon icon--prospects"></i>
                  <h5>Prospects</h5>
                </div>
                <div class="step--body">
                  <p>Legacy Life Plans is modernizing the way to manage and store an estate plan. Advisors can seamlessly build
                    trust, value, and loyalty with their clients while establishing a virtually endless network of referrals.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="green-divider" id="ad-leads"></div>

      <div class="llp--container">
        <div class="llp--hired">
          <h4>Legacy Life Plans Facts</h4>
          <p>How we build </p>
          <div class="history">
            <div class="sm--mt">
              <h5>12</h5>
              <h6>Years</h6>
            </div>
            <div class="sm--mt">
              <h5>1208</h5>
              <h6>Life Plans</h6>
            </div>
            <div class="sm--mt">
              <h5>405</h5>
              <h6>Advisors</h6>
            </div>
            <div class="sm--mt">
              <h5>320</h5>
              <h6>Referral Connections</h6>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="white--bg">
      <div class="llp--container" >
        <div class="featured--advisors text-center">
          <h1 class="landing-main-header">Featured Advisors</h1>
          <p>Leads and Strong Management with LLP</p>
          <div class="fa--slider relative">
            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig" (init)="slickInit($event)" (breakpoint)="breakpoint($event)"
              (afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)">
              <div ngxSlickItem *ngFor="let slide of slides" class="slide">

                <div class="advisor--details">
                  <div class="advisor--photo">
                    <img src="{{slide.photo}}" />
                  </div>
                  <div class="advisor--name">
                    {{slide.name}}
                  </div>
                  <div class="advisor--title">
                    {{slide.title}}
                  </div>
                </div>
              </div>
            </ngx-slick-carousel>
            <button mat-raised-button class="llp--slider--button prev" (click)="slickModal.slickPrev()">
              <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
            <button mat-raised-button class="llp--slider--button next" (click)="slickModal.slickNext()">
              <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="standard-bg" id="ad-profile">
      <div class="llp--container">
        <div class="profile--highlights">
          <h1 class="landing-main-header text-center">Legacy Life Plans Highlights</h1>
          <div class="green-divider"></div>

          <div class="profile-content">
            <div fxLayout="row wrap" class="align--items--center">
              <div fxFlex.xs="100" fxFlex.sm="58" fxFlex.md="58" fxFlex.lg="58" fxFlex.xl="58">
                <img alt="" class="img-fluid" src="assets/images/arkenea/profile-highlight.png">
              </div>
              <div fxFlex.xs="100" fxFlex.sm="41" fxFlex.md="41" fxFlex.lg="41" fxFlex.xl="41">
                <!-- <div class="easy-way">Easy Way to highlight your profile</div> -->
                <p class="info">Holistic advice is comprehensive and takes every aspect of your client’s financial situation and aspirations
                  into consideration. Holistic advice includes strategies to build wealth, to manage expenses, to protect
                  your client’s family, lifestyle, and assets. Holistic advice plans for income in the working years and
                  in retirement, and shows your clients how to pass their wealth onto the next generation, all in a tax effective
                  manner.</p>
                <p class="info">Invite your way to success. Build value as a trusted advisor providing a resource for your clients to secure
                  their legacy and pass on to their families… a peace of mind. </p>
                <h5>Easy Steps</h5>
                <ul class="profile-steps">
                  <li>1) Branding opportunity to be a featured advisor</li>
                  <li>2) Build strategic partnerships with other professionals</li>
                  <li>3) Provide a holistic consultative environment with clients</li>
                  <li>4) Expedite the sales cycle</li>
                  <li>5) Improve your closing ratio</li>
                  <li>6) Maximize your network, create an endless lead system</li>
                </ul>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="white--bg" id="ad-testimonials">
      <div class="container--full--width">
        <div class="featured--advisors text-center">
          <h1 class="landing-main-header">What People Say?</h1>
          <p>Testimonials from our peoples</p>

          <div class="fa--slider relative what--do--sec">
            <ngx-slick-carousel class="carousel" [config]="slideConfigTwo" (init)="slickInit2($event)" (breakpoint)="breakpoint($event)"
              (afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)">
              <div ngxSlickItem *ngFor="let testomonial of testomonials" class="slide">

                <div class="testimonial--wrapper">
                  <div class="testimonial--header">
                    <i class="icon-quote"></i>
                    <p>{{testomonial.clientSays}}</p>
                  </div>
                  <div class="testimonial--body">
                    <div class="testmnl--user--pic">
                      <img src="{{testomonial.clientPic}}">
                    </div>
                    <h5> {{testomonial.clientName}}</h5>
                    <h6> {{testomonial.clientDesc}}</h6>
                  </div>
                </div>

              </div>
            </ngx-slick-carousel>
          </div>

        </div>
      </div>
    </div>

    <div class="get--a--free-section">
      <div class="llp--container">
        <div fxLayout="row wrap" class="align--items--center">
          <div fxFlex.xs="100" fxFlex.sm="70" fxFlex.md="80" fxFlex.lg="80" fxFlex.xl="80">
            <h5>Get a Free Trial Account on Legacy Life Plans!</h5>
            <p>Lorem Ipsum is dummy Text lorem Ipsum is dummy text</p>
          </div>
          <div fxFlex.xs="100" fxFlex.sm="30" fxFlex.md="20" fxFlex.lg="20" fxFlex.xl="20" class="start--free">
            <button mat-raised-button class="landing--primary--btn">Start a Free Trial</button>
          </div>
        </div>
      </div>
    </div>

    <footer class="main--footer--wrapper" id="ad-contactus">
      <div class="llp--container">
        <div fxLayout="row wrap" fxLayoutGap="25px">
          <div fxFlex.xs="100" fxFlex.sm="30.33" fxFlex.md="30.33" fxFlex.lg="30.33" fxFlex.xl="30.33">
            <h5 class="footer--header">Legacy Life Plans, Inc.</h5>
            <div class="company--address">
              <p>Making a Difference, One Life, One Legacy, One Plan at a Time</p>
              <div class="cont--wrap">
                <mat-icon class="footer-icon">location_on</mat-icon>
                <div class="tag--info">
                  <span class="tag">Address: </span> 3628 Leisure Lane, Los Angeles, CA </div>
              </div>
              <div class="cont--wrap">
                <mat-icon class="footer-icon">email</mat-icon>
                <div class="tag--info">
                  <span class="tag">Email: </span> support@legacylifeplans.com</div>
              </div>
              <div class="cont--wrap">
                <mat-icon class="footer-icon">local_phone</mat-icon>
                <div class="tag--info">
                  <span class="tag">Phone: </span> +102 (111) 4563210 </div>
              </div>
            </div>

          </div>
          <div fxFlex.xs="100" fxFlex.sm="30.33" fxFlex.md="30.33" fxFlex.lg="30.33" fxFlex.xl="30.33">
            <h5 class="footer--header">About Us</h5>
            <div class="">
              <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
                <ul class="footer--services">
                  <li>
                    <a href="#">Our Company</a>
                  </li>
                  <li>
                    <a>How it Works</a>
                  </li>
                  <li>
                    <a>Secure Data</a>
                  </li>
                  <li>
                    <a>Terms of Usage</a>
                  </li>
                  <li>
                    <a>Privacy Policy</a>
                  </li>
                  <li>
                    <a>FAQ</a>
                  </li>
                </ul>
              </div>
              <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
                <ul class="footer--services">
                  <li>
                    <a href="#">Social Media</a>
                  </li>
                  <li>
                    <a href="#">Coach’s Corner</a>
                  </li>
                  <li>
                    <a href="#">Pricing</a>
                  </li>
                  <LI>
                    <A href="#">Free Account</A>
                  </LI>
                  <li>
                    <a routerLink="/advisor">For Advisors</a>
                  </li>
                  <li>
                    <a routerLink="/">For Customers</a>
                  </li>

                </ul>

              </div>
            </div>
          </div>
          <div fxFlex.xs="100" fxFlex.sm="30.33" fxFlex.md="30.33" fxFlex.lg="30.33" fxFlex.xl="30.33">
            <h5 class="footer--header">Contact Us</h5>
            <div class="company--address">
              <p class="mb-1">We’d love to hear from you! </p>
            </div>
            <div class="contact--us--form">
              <form>
                <!-- <mat-form-field appearance="outline">
                  <mat-label>Full Name*</mat-label>
                  <input matInput placeholder="John Smith ">
                </mat-form-field> -->
                <mat-form-field appearance="outline">
                  <mat-label>Email Address *</mat-label>
                  <input matInput placeholder="abc@gmail.com ">
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>Your Message*</mat-label>
                  <textarea matInput placeholder="Droup your message or query"></textarea>
                </mat-form-field>
                <div>
                  <button mat-raised-button class="landing--primary--btn w161">Contact Us</button>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>

      <div class="llp--container">
        <div class="copyright--footer">
          <p>© 2019 Legacy Life Plans</p>
        </div>
      </div>

    </footer>


  </div>
</div>
<div class="back--to--top" (click)="gotoTop()">
  <mat-icon>arrow_upward</mat-icon>
</div>