<div class="container llp--left--panel--view ">
  <mat-sidenav-container>


    <mat-sidenav EgretSideNavToggle class="shop-sidebar llp--menu--list">
      <div class="shop-filters-wrap llp--left--panel">
        <mat-card class="account--profile">
          <div class="account--pic--wrapper">
            <div class="account--pic">
              <img src="{{profilePicture}}" />
            </div>
            
          </div>

          <div class="acc--user--details text-center">
            <h2>Jone Smith </h2>
            <p>CFA, CIC</p>
            <div class="sta--m">
              <mat-icon>star</mat-icon> Premium member</div>
          </div>


          <div class="sett--fp">
            <mat-icon>school</mat-icon>
            Insurance Agent, Attorney, Accountant
          </div> 

          <div class="feature--profile">
            <div class="email--phone">
              <mat-icon>markunread</mat-icon>
              <span (click)="openSendEmailModal({}, true)">Send an Email</span>
            </div>
            <div class="text-center mt--25">
              <button mat-raised-button (click)="openHireAdvisorModal({})" class="llp--primary--btn w168">Hire this Advisor</button>
            </div>
          </div>


        </mat-card>
      </div>
    </mat-sidenav>

    <!-- toggleSideNav -->
    <div class="shop-top-toolbar p-0 llp--toggle-btn ml-1">
      <!-- <button mat-icon-button class="p-0" (click)="toggleSideNav()">
        <mat-icon>short_text</mat-icon>
      </button> -->
    </div>

    <router-outlet></router-outlet>


  </mat-sidenav-container>

</div>