@import 'llp-global-styles.scss';

.legacy--access--wrapper{
    margin-top: 15px;
    .recent--update--section {
        padding: 20px 23px;
        height: calc(100vh - 223px);
        p {
            color: #666666;
            font-size: 14px;
            margin: 0 0 20px 0;
        }
        .red--box {
            border: solid 1px $clr--2;
            height: 147px;
            border-radius: 2px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            p {
                font-size: 16px;
                color: #000;
                margin: 15px 0 0 0;
                a {
                    color: $clr--2;
                }
            }
        }
    }
}
.legacy--wrapper{
    display: flex;
    flex-wrap: wrap;
    height: auto !important;
    
    .legacy--box{
        height: 164px;
        width: 31%;
        position: relative;
        border: 1px solid #dadce0;
        border-radius: 2px;
        margin: 20px 20px 0 0;
        box-shadow: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        padding: 0 20px;

        .legacy--pic{
            width: 48px;
            height: 48px;
            border-radius: 50%;
            line-height: 50px;
            overflow: hidden;
            flex-shrink: 0;
            margin: 18px 0;
        }
        .legacy--name{
            margin: 0;
            font-size: 18px;
            color: #222324;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
            text-align: center;
        }
        .legacy-confirm{
            height: 38px;           
            color: #fff;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            justify-content: space-between;

            .yes{
                background-color: $clr--2;
                width: 47%; 
                display: flex; 
                justify-content: center;
                align-items: center;
                font-family: $font--lato--bold;
                font-size: 16px;
                border: 1px solid #dadce0;
                cursor: pointer;
                border-right: none;
                border-bottom: none;
                color: $clr--1;

                .mat-icon{
                    width: 25px;
                    height: 25px;
                    font-size: 25px;
                    margin-right: 8px;
                }
                &.no{
                    background-color: $clr--1;
                    color: $clr--2;
                    border: 1px solid #dadce0;
                    border-left: none;
                    border-bottom: none;
                }                   
            }

            &.view-legacy{
                bottom: 6px;
                .yes{
                    background-color: transparent;
                    font-family: $font--lato--regular;
                    width: 100%;
                    color: $clr--2;
                    a{
                        color: $clr--2;
                    }
                }
            }

        }
    }
}

@media only screen and (max-width: 599px){
    .legacy--access--wrapper .recent--update--section .red--box {
        height: auto;
        padding: 20px 15px;
    }
    .legacy--wrapper .legacy--box {
        width: 100%;
    }
    .legacy--wrapper .legacy--box .legacy-confirm .yes {
        font-size: 12px;
    }
    .legacy--wrapper .legacy--box .legacy-confirm .yes .mat-icon {
        width: 16px;
        height: 16px;
        font-size: 16px;
        margin-right: 2px;
    }
    .legacy--wrapper .legacy--box .legacy--name {
        font-size: 16px;
    }
}
@media only screen and (min-width: 600px) and (max-width: 944px){
    .legacy--wrapper .legacy--box {
        width: 45%;
    }
    .legacy--wrapper .legacy--box .legacy-confirm .yes {
        font-size: 14px;
    }
    .legacy--wrapper .legacy--box .legacy-confirm .yes .mat-icon {
        width: 17px;
        height: 17px;
        font-size: 17px;
        margin-right: 3px;
    } 
}
@media only screen and (min-width: 745px) and (max-width: 959px){
    .legacy--wrapper .legacy--box {
        width: 47%;
    }
}
@media only screen and (min-width: 960px) and (max-width: 979px){
    .legacy--wrapper .legacy--box .legacy-confirm .yes {
        font-size: 15px;
    }
    .legacy--wrapper .legacy--box .legacy-confirm .yes .mat-icon {
        width: 20px;
        height: 20px;
        font-size: 20px;
        margin-right: 5px;
    }   
}
@media only screen and (min-width: 980px) and (max-width: 1279px){
    .legacy--wrapper .legacy--box .legacy-confirm .yes {
        font-size: 15px;
    }
    .legacy--wrapper .legacy--box .legacy-confirm .yes .mat-icon {
        width: 20px;
        height: 20px;
        font-size: 20px;
        margin-right: 5px;
    }
}
/* iPad */
@media (device-height: 768px) and (device-width: 1024px){
    .legacy--wrapper .legacy--box {
        width: 31%;
    }
}