<div class="container legacy--access--wrapper">
  <div fxLayout="row wrap">
    <div fxFlex.xs="100" fxFlex.sm="100">
      <mat-card class="p-0 mb--30">
        <mat-card-title class="">
          <div class="card-title-text">Legacy Access</div>
          <mat-divider></mat-divider>
        </mat-card-title>

        <mat-card-content class="recent--update--section" *ngIf="">
          <p>All the user legacies you have got access to, will be displayed here. Currently you have no legacy access from
            any user.</p>
          <div class="red--box">

            <img src="assets/images/arkenea/invite-now.png" />
            <p>Encourage your friends, loved ones, acquaintances to create a legacy for their loved ones!
              <a (click)="openReferAndEarnModal();"> Invite Now</a>
            </p>
          </div>
        </mat-card-content>


        <mat-card-content class="recent--update--section legacy--wrapper">

          <div class="legacy--box">
            <div class="legacy--pic">
              <img class="ng-tns-c24-20" src="assets/images/arkenea/ca.jpg">
            </div>
            <h4 class="legacy--name">Allen Barry</h4>
            <div class="legacy-confirm">
              <mat-icon></mat-icon>Confirm Hiring
            </div>
          </div>

          <div class="legacy--box">
            <div class="legacy--pic">
              <img class="ng-tns-c24-20" src="assets/images/arkenea/ca.jpg">
            </div>
            <h4 class="legacy--name">Allen Barry</h4>
          </div>

          <div class="legacy--box">
            <div class="legacy--pic">
              <img class="ng-tns-c24-20" src="assets/images/arkenea/ca.jpg">
            </div>
            <h4 class="legacy--name">Allen Barry</h4>
          </div>

        </mat-card-content>





      </mat-card>
    </div>

  </div>


</div>