<div class="container legacy-access--wrapper">
  <div fxLayout="row wrap">
    <div fxFlex.xs="100" fxFlex.sm="100">
      <mat-card class="p-0 mb--30">
        <mat-card-title class="">
          <div class="card-title-text">Legacy Access</div>
          <mat-divider></mat-divider>
        </mat-card-title>

        <mat-card-content class="recent--update--section">
          <p>All the user legacies you have got access to, will be displayed here. Currently you have no legacy access from any user.</p>
          <div class="red--box">

            <img src="assets/images/arkenea/invite-now.png" />
            <p>Encourage your friends, loved ones, acquaintances to create a legacy for their loved ones!
              <a routerLink="/advisor/dashboard-updates"> Invite Now</a>
            </p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
   
  </div>


</div>