<div class="container llp--left--panel--view updated--right--panel">
  <mat-sidenav-container>
    <mat-sidenav EgretSideNavToggle class="shop-sidebar llp--menu--list">
      <div class="shop-filters-wrap llp--left--panel">
        <div class="shadow--sec">
          <mat-accordion>
            <mat-expansion-panel [expanded]="true">
              <mat-expansion-panel-header [collapsedHeight]="'56px'" [expandedHeight]="'56px'">
                <mat-panel-title>
                  <header>Legacies</header>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ul class="legacy--list m-0 p-0">
                <li class="{{activeHeading=='essential-day-one' || activeHeading=='essential-detail-view' || activeHeading=='essential-detail-idbox' || activeHeading=='essential-professionals-detail' ? 'active' : ''}}">
                  <a [routerLink]="['/advisor/legacies/essential-day-one', customerLegaicesId]">
                    <mat-icon class="icon-file">insert_drive_file</mat-icon> My Essentials
                    <mat-icon class="active--right">keyboard_arrow_right</mat-icon>
                  </a>
                </li>
                <li class="{{activeHeading=='insurance-finance-debt' || activeHeading=='insurance-view' || activeHeading=='finance-view' || activeHeading=='debt-view' ? 'active' : ''}}">
                  <a [routerLink]="['/advisor/legacies/insurance-finance-debt', customerLegaicesId]">
                    <mat-icon class="icon-file">monetization_on</mat-icon>
                    <mat-icon class="active--right">keyboard_arrow_right</mat-icon> Insurance Finance & Debt
                  </a>
                </li>
                <li class="{{activeHeading=='pets' || activeHeading=='pets-view' ? 'active' : ''}}">
                  <a [routerLink]="['/advisor/legacies/pets', customerLegaicesId]">
                    <mat-icon class="icon-file">pets</mat-icon>
                    <mat-icon class="active--right">keyboard_arrow_right</mat-icon> Pets
                  </a>
                </li>
                <li class="{{activeHeading=='special-needs' || activeHeading=='special-needs-view' ? 'active' : ''}}">
                  <a [routerLink]="['/advisor/legacies/special-needs', customerLegaicesId]">
                    <mat-icon class="icon-file">help</mat-icon>
                    <mat-icon class="active--right">keyboard_arrow_right</mat-icon> Special Needs
                  </a>
                </li>
                <li class="{{activeHeading=='legal-stuff' || activeHeading=='legal-detail-view' ? 'active' : ''}}">
                  <a [routerLink]="['/advisor/legacies/legal-stuff', customerLegaicesId]">
                    <mat-icon class="icon-file">gavel</mat-icon>
                    <mat-icon class="active--right">keyboard_arrow_right</mat-icon> Legal Stuff
                  </a>
                </li>
                <li class="{{activeHeading=='passwords-digital-assests' || activeHeading=='device-view' || activeHeading=='electronic-media-view' ? 'active' : ''}}">
                  <a [routerLink]="['/advisor/legacies/passwords-digital-assests', customerLegaicesId]">
                    <mat-icon class="icon-file">lock</mat-icon>
                    <mat-icon class="active--right">keyboard_arrow_right</mat-icon> Passwords & Digital Assests
                  </a>
                </li>
                <li class="{{activeHeading=='emergency-contacts' || activeHeading=='emergency-contacts-details' ? 'active' : ''}}">
                  <a [routerLink]="['/advisor/legacies/emergency-contacts', customerLegaicesId]">
                    <mat-icon class="icon-file">contact_phone</mat-icon>
                    <mat-icon class="active--right">keyboard_arrow_right</mat-icon> Emergency Contacts
                  </a>
                </li>
                <li class="{{activeHeading==='real-estate-assets' || activeHeading==='real-estate-vehicle-detail-view' || activeHeading=='real-estate-detail-view' || activeHeading=='real-estate-assets-detail-view' ? 'active' : ''}}">
                  <a [routerLink]="['/advisor/legacies/real-estate-assets', customerLegaicesId]">
                    <mat-icon class="icon-file">business</mat-icon>
                    <mat-icon class="active--right">keyboard_arrow_right</mat-icon>Real Estates Vehicles & Assets
                  </a>
                </li>
                <li class="{{activeHeading==='time-capsule' || activeHeading==='time-capsule-view' ? 'active' : ''}}">
                  <a [routerLink]="['/advisor/legacies/time-capsule', customerLegaicesId]">
                    <mat-icon class="icon-file">access_time</mat-icon>
                    <mat-icon class="active--right">keyboard_arrow_right</mat-icon>Time Capsule
                  </a>
                </li>
                <li class="{{activeHeading==='letters-messages' || activeHeading==='letters-messages-view' ? 'active' : ''}}">
                  <a [routerLink]="['/advisor/legacies/letters-messages', customerLegaicesId]">
                    <mat-icon class="icon-file">markunread</mat-icon>
                    <mat-icon class="active--right">keyboard_arrow_right</mat-icon>Legacy Life Letters & Messages
                  </a>
                </li>
                <li class="{{activeHeading==='final-wishes' || activeHeading==='final-wishes-view' ? 'active' : ''}}">
                  <a [routerLink]="['/advisor/legacies/final-wishes', customerLegaicesId]">
                    <mat-icon class="icon-file">date_range</mat-icon>
                    <mat-icon class="active--right">keyboard_arrow_right</mat-icon> Final Wishes
                  </a>
                </li>
              </ul>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </mat-sidenav>
    <!-- toggleSideNav -->
    <div class="shop-top-toolbar p-0 llp--toggle-btn ml-1">
      <button mat-icon-button class="p-0" (click)="toggleSideNav()">
        <mat-icon>short_text</mat-icon>
      </button>
    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-container>
  <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="30" fxFlex.lg="20" fxFlex.xl="20" class="reverse--order--sm mt-1">
    <div class="right--panel--wrapper">
      <div fxLayout="row wrap">
        <div fxFlex.xs="100" class="boxes--hori">
          <div class="right--boxes mr-0 mb-1">
            <mat-card class="p-0 black--header">
              <mat-card-title class="">
                <div class="card-title-text">Locked Items</div>
                <mat-divider></mat-divider>
              </mat-card-title>
              <mat-card-content class="invite--body--section">
                <h4 class="count">{{shareDeathFileCount}}
                  <span></span>
                </h4>
                <div class="adjust">
                  <p class="invites" *ngIf="shareDeathFileCount">Unlocked after death
                  </p>
                    <button mat-raised-button class="llp--primary--btn p-0" *ngIf="markAsDeceased" (click)="markAsDeceasedModal({}, true)">Mark as Deceased</button>
                    <button mat-raised-button class="llp--primary--btn mt-1 p-0" *ngIf="revokeAsDeceased" (click)="revokeAsDeceasedModal({}, true)">Revoke as Deceased</button>
                    <button *ngIf="finallyDeceased" mat-raised-button class="llp--primary--btn p-0 mad--btn" disabled="disabled" >Deceased</button>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="right--boxes mr-0">
            <mat-card class="p-0 black--header">
              <mat-card-title class="">
                <div class="card-title-text">Prospects</div>
                <mat-divider></mat-divider>
              </mat-card-title>
              <mat-card-content class="invite--body--section">
                <h4 class="count">12
                  <span></span>
                </h4>
                <div class="adjust">
                  <p class="invites">Users associated with this legacy
                  </p>
                  <button mat-raised-button class="llp--primary--btn p-0">View</button>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>