<div class="shop-wrap llp--content--wrapper" fxLayout="row" fxLayoutWrap="wrap">
  <div class="full-width">
    <div class="">
      <advisor-legacy-details></advisor-legacy-details> 
      <mat-card class="empty--section p-0" *ngIf="instruction_data_flag">
        <mat-card-header class="m-0">
          <mat-card-title class="m-0">Passwords Digital & Assests</mat-card-title>
        </mat-card-header>
        <mat-card-content [innerHtml]="instruction_data"></mat-card-content>
      </mat-card>
      <mat-card class="empty--section p-0">
        <mat-card-header class="m-0">
          <mat-card-title class="m-0">Devices</mat-card-title>
          <div *ngIf="showDevicesListing && trusteeLegaciesAction && DevicesManagementSection=='now'">
              <a class="no--of--trustee" *ngIf="showTrusteeCnt"  (click)="openManageTrusteeModal('Devices','DevicesManagement', true)">{{trusteeDeviceCnt}} Trustees</a>   
            <button mat-raised-button class="llp--primary--btn llp--primary--sm--btn" (click)="openDevicesModal()">+ Add</button>
          </div>
        </mat-card-header>
        <div *ngIf="DevicesManagementSection=='now'">
        <mat-card-content *ngIf="!showDevicesListing && trusteeLegaciesAction">
          <div class="build--ur--legacy" (click)="openDevicesModal()">
            <mat-icon>devices</mat-icon>
            <p><a>Add Devices</a></p>
          </div>
        </mat-card-content>
        <mat-card-content class="appointees--wrapper" *ngIf="showDevicesListing">
          <div class="cust--user--details mt-1" *ngFor="let profileData of devicesListing; let i = index" [routerLink]="[dynamicRoute+'device-view',profileData._id]">
            <div class="name--letters">{{profileData.deviceName.charAt(0)+profileData.deviceName.charAt(1)}}</div>
            <div class="user--name">
              <h5>{{profileData.deviceName}}</h5>
              <p class="mb-0">Last modified:
                <span *ngIf="profileData.modifiedOn && profileData.modifiedOn != ''">{{profileData.modifiedOn | date: 'yyyy/MM/dd'}}</span>
                <span *ngIf="!profileData.modifiedOn">{{profileData.createdOn | date: 'yyyy/MM/dd'}}</span>
              </p>
            </div>
          </div>
       </mat-card-content>
</div>

<mat-card-content *ngIf="DevicesManagementSection !='now'">
    <div>{{LegacyPermissionError}}</div>
</mat-card-content>
</mat-card>



      <mat-card class="empty--section p-0">
          <mat-card-header class="m-0">
            <mat-card-title class="m-0">Electronic media</mat-card-title>
            <div *ngIf="showElectronicMediaListing && trusteeLegaciesAction && ElectronicMediaManagementSection=='now'">
                <a class="no--of--trustee" *ngIf="showTrusteeCnt"  (click)="openManageTrusteeModal('Electronic media','ElectronicMediaManagement', true)">{{trusteeElectonicCnt}} Trustees</a>   
              <button mat-raised-button class="llp--primary--btn llp--primary--sm--btn" (click)="openElectronicMediaModal()">+ Add</button>
            </div>
          </mat-card-header>
          <div *ngIf="ElectronicMediaManagementSection=='now'">
          <mat-card-content *ngIf="!showElectronicMediaListing && trusteeLegaciesAction">
            <div class="build--ur--legacy" (click)="openElectronicMediaModal()">
              <mat-icon>devices</mat-icon>
              <p><a>Add Electronic media</a></p>
            </div>
          </mat-card-content>
          <mat-card-content class="appointees--wrapper" *ngIf="showElectronicMediaListing">
            <div class="cust--user--details mt-1" *ngFor="let profileData of electronicMediaListing; let i = index" [routerLink]="[dynamicRoute+'electronic-media-view',profileData._id]">
              <div class="name--letters">{{getType(profileData?.mediaType).charAt(0)+getType(profileData?.mediaType).charAt(1)}}</div>
              <div class="user--name">
                <h5>{{getType(profileData?.mediaType)}}</h5>
                <p class="mb-0">Last modified:
                  <span *ngIf="profileData.modifiedOn && profileData.modifiedOn != ''">{{profileData.modifiedOn | date: 'yyyy/MM/dd'}}</span>
                  <span *ngIf="!profileData.modifiedOn">{{profileData.createdOn | date: 'yyyy/MM/dd'}}</span>
                </p>
              </div>
            </div>
          </mat-card-content>
        </div>
        
        <mat-card-content *ngIf="ElectronicMediaManagementSection !='now'">
            <div>{{LegacyPermissionError}}</div>
        </mat-card-content>
        </mat-card> 

    </div>
  </div>
</div>