.mb--5{
    margin-bottom: 5px;
}
::ng-deep{
    .mat-radio-button{
        display: block !important;
        margin-bottom: 10px;
    }
}

/*-------------------------------------------------------------------------------------------------------------------------------------------------
    Media query (start here)
--------------------------------------------------------------------------------------------------------------------------------------------------*/

@media only screen and (max-width: 599px) {
    ::ng-deep{
        .mat-checkbox-layout{
            white-space: normal !important;
        }
    }
    .cust--gapp {
        padding-right: 0;
    }
}
