<div class="ll--modal--header">
  Funeral Expenses
  <button class="modal--close" [mat-dialog-close]="">
    <mat-icon class="icon--cross">cancel</mat-icon>
  </button>
</div>

<form [formGroup]="expensesFormGroup" class="llp-form-wrapper" (ngSubmit)="ExpenseFormSubmit(expensesFormGroup.value)">
  <div class="ll--modal--body idbox--modal--hgt">
    <div fxLayout="row wrap">
      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" class="">
        <mat-radio-group class="llp-radio mb-0" aria-label="Select an option">

          <div fxLayout="row wrap">
            <mat-radio-group class="llp-radio mt-1" [formControl]="expensesFormGroup.controls['haveFuneralArrangement']"  (change)="onChange($event.value)">
              <div class="checkbox-label">Select any one</div>
              <mat-radio-button value="1">I have made prearrangements with the funeral home.</mat-radio-button>
              <mat-radio-button value="2"> I have a preneed contract</mat-radio-button>
              <mat-radio-button value="3"> I do not have any funeral pre-arrangements</mat-radio-button>
            </mat-radio-group>

          </div>

          <!-- 1st -->   
          <div fxLayout="row wrap" *ngIf="madePrearrangment">
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" class="cust--gapp">
              <mat-form-field class="full-width">
                <textarea (keyup)="firstCapitalize($event)" matInput placeholder="Funeral home" [formControl]="expensesFormGroup.controls['funeralHome']" maxlength="500"></textarea>
                <mat-icon matTooltip="Please enter funeral home" matTooltipClass="llp--tooltip error" *ngIf="expensesFormGroup.controls['funeralHome'].hasError('required') && expensesFormGroup.controls['funeralHome'].touched"
                class="red--alert">help_outline</mat-icon>
              </mat-form-field>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
              <mat-form-field class="full-width">
                <textarea (keyup)="firstCapitalize($event)" matInput placeholder="Funeral director" [formControl]="expensesFormGroup.controls['funeralDirector']" maxlength="500"></textarea>
              </mat-form-field>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" class="cust--gapp">
              <mat-form-field class="full-width">
                <textarea (keyup)="firstCapitalize($event)" matInput placeholder="Address" [formControl]="expensesFormGroup.controls['address']" maxlength="500"></textarea>
              </mat-form-field>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
              <mat-form-field class="full-width">
                <textarea (keyup)="firstCapitalize($event)" autocomplete="off" maxlength="15" (keypress)="onlyNumbers($event)" matInput placeholder="Phone" [formControl]="expensesFormGroup.controls['phoneNumber']"></textarea>                
              </mat-form-field>
            </div>
          </div>

          <!-- 2nd -->       
          <div fxLayout="row wrap" *ngIf="preneedContract">
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" class="cust--gapp">
              <mat-form-field class="full-width">
                <textarea (keyup)="firstCapitalize($event)" matInput placeholder="The preneed contract is located:" [formControl]="expensesFormGroup.controls['preneedContractLocation']" maxlength="500"></textarea>
                <mat-icon matTooltip="Please enter preneed contract location" matTooltipClass="llp--tooltip error" *ngIf="expensesFormGroup.controls['preneedContractLocation'].hasError('required') && expensesFormGroup.controls['preneedContractLocation'].touched"
                class="red--alert">help_outline</mat-icon>
              </mat-form-field>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
                <mat-radio-group class="llp-radio mb-0" aria-label="Select an option" [formControl]="expensesFormGroup.controls['haveGuarantee']">
                    <div class="checkbox-label">Does the preneed contract guarantee the price of stated goods and services?:</div>
                    <mat-radio-button value="Yes">Yes </mat-radio-button>
                    <mat-radio-button value="No">No</mat-radio-button>
                  </mat-radio-group>              
            </div>
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
              <mat-form-field class="full-width mt-1">
                <mat-label>The following funeral services have been prepaid</mat-label>

                <mat-select multiple [formControl]="expensesFormGroup.controls['prepaidFuneralServices']">
                  <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
                </mat-select>

              </mat-form-field>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" class="mb-1">
              <mat-checkbox [formControl]="expensesFormGroup.controls['havePriceList']" [checked]="expensesFormGroup.controls['havePriceList'].value"> I have a price list for all funeral goods and services provided by the funeral home.
              </mat-checkbox>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
              <mat-form-field class="full-width">
                <input matInput placeholder="Total Amount" [formControl]="expensesFormGroup.controls['totalAmountPay']">
              </mat-form-field>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" class="mb-1">
              <mat-checkbox [formControl]="expensesFormGroup.controls['haveToPayOnDeath']" [checked]="expensesFormGroup.controls['haveToPayOnDeath'].value"> I have to pay on death (POD) account to be used to pay for funeral expenses.
              </mat-checkbox>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" class="cust--gapp">
              <mat-form-field class="full-width">
                <input matInput placeholder="Account:" [formControl]="expensesFormGroup.controls['account']">
              </mat-form-field>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
              <mat-form-field class="full-width">
                <input matInput placeholder="Amount in the account:" [formControl]="expensesFormGroup.controls['amountInAccount']">
              </mat-form-field>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
              <mat-form-field class="full-width">
                <textarea (keyup)="firstCapitalize($event)" matInput placeholder="Financial Institution" [formControl]="expensesFormGroup.controls['financialInstitution']"></textarea>
              </mat-form-field>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" class="mb-1">
              <mat-checkbox [formControl]="expensesFormGroup.controls['havePooled']" [checked]="expensesFormGroup.controls['havePooled'].value"> I have pooled funeral trust or funeral insurance policy
              </mat-checkbox>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" class="cust--gapp">
              <mat-form-field class="full-width">
                <input matInput placeholder="Account/Policy:" [formControl]="expensesFormGroup.controls['pooledAccount']">
              </mat-form-field>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
              <mat-form-field class="full-width">
                <input matInput placeholder="Amount in the trust or policy:" [formControl]="expensesFormGroup.controls['pooledAmount']">
              </mat-form-field>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" class="cust--gapp">
              <mat-form-field class="full-width">
                <input (keyup)="firstCapitalize($event)" matInput placeholder="Insurance company:" [formControl]="expensesFormGroup.controls['pooledInsuranceCompany']">
              </mat-form-field>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
              <mat-form-field class="full-width">
                <input matInput maxlength="15" (keypress)="onlyNumbers($event)" placeholder="Contact info:" [formControl]="expensesFormGroup.controls['ContactInfo']">
              </mat-form-field>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" class="cust--gapp">
              <div class="upload--buss--docs--sec">
                  <label>Upload your documents</label>
                <div class="upload--box fileupload-drop-zone"
                    ng2FileDrop
                    [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                    (fileOver)="fileOverBase($event)"
                    [uploader]="uploader">
                    <input type="file" name="documents"  ng2FileSelect [uploader]="uploader" multiple  (change)="fileOverBase('')" />  
                    <mat-icon class="cloud-icon">cloud_upload</mat-icon>
                    <div class="select--file">Select file from your computer</div>
                  </div>
                  <div class="file--details mb-1">Supported formats Doc, PDF, txt, JPEG, JPG, PNG</div>
                  <mat-chip-list class="doc--list error--chip" *ngFor="let err of fileErrors;">
                    <mat-chip><mat-error>{{err.error}}</mat-error></mat-chip>
                  </mat-chip-list> 
                </div>
                <small *ngIf="documentsMissing" class="form-error-msg">{{invalidMessage}}</small>
                <mat-form-field class="full-width" *ngIf="documents_temps">
                    <input matInput name="documents_temp" [formControl]="expensesFormGroup.controls['documents_temp']">
                    <small *ngIf="expensesFormGroup.controls['documents_temp'].hasError('required') && expensesFormGroup.controls['documents_temp'].touched" class="form-error-msg"> Please drag your document. </small>
                </mat-form-field>
            </div>
                           
            <div class="mb-1" *ngIf="documentsList" >
              <h3 class="header--text fnt--16">Uploaded document</h3>
              <mat-chip-list class="doc--list" *ngFor="let doc of documentsList; index as i">
                  <mat-chip><a (click)="downloadFile(doc.tmpName)" class="donwload-doc">{{doc.title}}</a><mat-icon matChipRemove  (click)="documentDelete(i,doc.title,doc.tmpName)">close</mat-icon></mat-chip>
              </mat-chip-list>              
            </div>           
      
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" class="progress"style="margin-bottom: 0;" *ngIf="currentProgessinPercent>0">
              <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': currentProgessinPercent + '%' }">{{currentProgessinPercent}}%</div>
              <mat-progress-bar class=""  color="primary" mode="Indeterminate"  [value]="currentProgessinPercent"></mat-progress-bar>
            </div>

            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
              <mat-form-field class="full-width no-mar ">
                <textarea (keyup)="firstCapitalize($event)" matInput placeholder="Comment:" [formControl]="expensesFormGroup.controls['comments']"></textarea>
              </mat-form-field>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" class="">
              <mat-radio-group class="llp-radio mb-0 mt-1">
                <mat-form-field class="full-width no-mar">
                  <textarea matInput (keyup)="firstCapitalize($event)"
                    placeholder="Provide any additional written instructions or thoughts in the comment section." [formControl]="expensesFormGroup.controls['additionalInstructions']"></textarea>
                </mat-form-field>
              </mat-radio-group>
            </div>

          </div>         

        </mat-radio-group>

        <mat-form-field class="full-width" *ngIf="profileIdHiddenVal">
            <input matInput name="profileId" [formControl]="expensesFormGroup.controls['profileId']" readonly="readonly">
          </mat-form-field>
      </div>
    </div>
  </div>

  <div class="ll--modal--footer text-center">
    <button mat-raised-button class="llp--primary--btn" [disabled]="!expensesFormGroup.valid">Save</button>
  </div>
</form>