<header class="auth-header">
  <img [routerLink]="['']" class="cursor--pointer" src="assets/images/arkenea/small-logo.png" alt="">
</header>
<div class="page-wrap mat-bg-primary">
	<div class="session-form-hold">
	<div class="login-sub-wrapper">
      <mat-card-content>
        <div class="text-center pb-1">
          <h2 class="login-header-text m-0">Admin Login</h2>
          <p class="login-header-desc">Continue to your LLP Admin account</p>
        </div>
        <form class="llp-form-wrapper" [formGroup]="llpsigninForm"  (ngSubmit)="llpsignin()">
          <div class="">
            <mat-form-field class="full-width">
              <input matInput type="email" name="username" placeholder="Email" [formControl]="llpsigninForm.controls['username']" value="" required>
              <mat-icon matTooltip="Please enter email id" matTooltipClass="llp--tooltip error" 
              *ngIf="llpsigninForm.controls['username'].hasError('required') && llpsigninForm.controls['username'].touched"
               class="red--alert">help_outline</mat-icon>
               
               <mat-icon matTooltip="Please enter valid email Id." matTooltipClass="llp--tooltip error" 
              *ngIf="llpsigninForm.controls['username'].hasError('pattern') && llpsigninForm.controls['username'].touched"
               class="red--alert">help_outline</mat-icon>

               <mat-icon matTooltip="{{invalidMessage}}" matTooltipClass="llp--tooltip error" 
               *ngIf="invalidEmail"
                class="red--alert">help_outline</mat-icon>
            </mat-form-field>
          </div>

          <div class="">
            <mat-form-field class="full-width">
              <input type="password" name="password" matInput [formControl]="llpsigninForm.controls['password']"  placeholder="Password" value="" required>
              <mat-icon matTooltip="Please enter password" matTooltipClass="llp--tooltip error" class="red--alert"
              *ngIf="llpsigninForm.controls['password'].hasError('required') && llpsigninForm.controls['password'].touched">help_outline</mat-icon>

              <mat-icon matTooltip="Please enter correct password." matTooltipClass="llp--tooltip error" class="red--alert"
                  *ngIf="llpsigninForm.controls['password'].invalid">help_outline</mat-icon>
            </mat-form-field>
          </div>
		      <div class="remember-wrap">
            <a [routerLink]="'/llp-admin/forgot-password'">Forgot Password?</a>
          </div>
          <button mat-raised-button class="llp--primary--btn full-width form--action--btn"  [disabled]="llpsigninForm.invalid">Login</button>
        </form>
      </mat-card-content>
    </div>
  </div>
</div>
<footer class="auth-footer">
  <p>© 2019 Legacy Life Plans</p>
</footer>