<div class="shop-wrap llp--content--wrapper" fxLayout="row" fxLayoutWrap="wrap">
  <div class="full-width">
    <mat-card class="empty--section p-0">
      <mat-card-header class="m-0 header--with--sort">
        <mat-card-title class="m-0">Hired Advisors</mat-card-title>
        <div class="right--filters">
            <mat-icon class="compare--icon">compare_arrows</mat-icon>
            <mat-select placeholder="All">
              <mat-option value="">All</mat-option>
              <mat-option value="">Pending</mat-option>
              <mat-option value="">Option 3</mat-option>
            </mat-select>
          </div>
      </mat-card-header>
      <mat-card-content class="appointees--wrapper" *ngIf="showAdvisorListing">
        <mat-card class="appointees--section p-0 {{row.status === 'pending' ? 'pending' : ''}}" *ngFor="let row of advisorListing">      
          <mat-card-header class="m-0">
            <mat-card-title class="m-0">
              <div class="appointees--pic">
                  <img src="{{getProfileImage(row.advisorId?.profilePicture)}}" />
              </div>
              <div class="appointees--desc">
                <h5>{{row.advisorId?.firstName}} {{row.advisorId?.lastName}}</h5>
                <p class="position m-0" >{{row.advisorId?.userType}}</p>
              </div>
              <div class="cursor-pointer">
                  <mat-icon [matMenuTriggerFor]="beforeMenu">more_vert</mat-icon>
                  <mat-menu #beforeMenu="matMenu" xPosition="before" class="llp--menu--droupdown">
                    <button mat-menu-item><span>Manage</span></button>
                    <button mat-menu-item><span>View</span></button>
                    <button mat-menu-item><span>Resend Invitation</span></button>
                  </mat-menu>
              </div>
            </mat-card-title>
          </mat-card-header>
           <!-- all hired advisor -->
          <mat-card-content class="status--advisor relative">
            <div class="files--folder mt-1 degree--names">
              <mat-icon>school</mat-icon>
              {{row.advisorId?.businessType}}
            </div>
            <div class="ad--strip">
              Advisor
            </div>
          </mat-card-content>
        </mat-card>
      </mat-card-content>
      <mat-card-content class="appointees--wrapper" *ngIf="!showAdvisorListing">
          <div class="files--folder mt-1">Currently you do not have any advisor associated.</div>
      </mat-card-content>
    </mat-card>
  </div>
</div>