<div class="shop-wrap llp--content--wrapper" fxLayout="row" fxLayoutWrap="wrap">
  <div class="full-width">
    <mat-card class="empty--section p-0">
      <mat-card-header class="m-0 header--with--sort">
        <mat-card-title class="m-0">Hired Advisors</mat-card-title>
        <div class="right--filters">
          <mat-icon class="compare--icon--desc" *ngIf="this.listingAsc" (click)="getAdvisorList('',1)">sort</mat-icon>
          <mat-icon class="compare--icon--asc" *ngIf="!this.listingAsc" (click)="getAdvisorList('',-1)">sort</mat-icon>
          <mat-select placeholder="All" (selectionChange)="getAdvisorList($event.value,'')">
            <mat-option value="All">All</mat-option>
            <mat-option value="Active">Active</mat-option>
            <mat-option value="Pending">Pending</mat-option>
          </mat-select>
        </div>
      </mat-card-header>
      <mat-card-content class="appointees--wrapper" *ngIf="showAdvisorListing">
        <mat-card class="appointees--section p-0 {{row.status === 'pending' ? 'pending' : ''}}" *ngFor="let row of advisorListing">      
            <mat-card-header class="m-0">
                <mat-card-title class="m-0">
                  <div class="appointees--pic">
                      <img src="{{getProfileImage(row.advisorId?.profilePicture)}}" />
                  </div>
                  <div class="appointees--desc">
                    <h5>{{row.advisorId?.firstName}} {{row.advisorId?.lastName}} <mat-icon *ngIf="row?.advisorId.sponsoredAdvisor === 'yes'" class="mat-icon material-icons yellow-material-icons" role="img">star</mat-icon></h5>
                    <p class="position m-0" >{{row.advisorId?.businessName}} <span  *ngIf="row?.advisorId.status === 'Active' && row?.executorStatus==='Active'">(Executor)</span></p>
                  </div>
                  <div class="cursor-pointer">
                      <mat-icon [matMenuTriggerFor]="beforeMenu">more_vert</mat-icon>
                      <mat-menu #beforeMenu="matMenu" xPosition="before" class="llp--menu--droupdown">
                        <button mat-menu-item  (click)="openHireAdvisorModal(row.advisorId?._id,'update',true,row.advisorId.firstName+' '+row.advisorId.lastName)"><span>Manage</span></button>
                        <button mat-menu-item [routerLink]="['/customer/professionals/prof-details', row.advisorId?._id]"><span>View</span></button>
                        <button mat-menu-item *ngIf="row?.status==='Active'" (click)="removeTrusteeAdvisor(row.advisorId?._id)"><span>Remove as a Advisor</span></button>
                        <!-- <button mat-menu-item><span>Resend Invitation</span></button> -->
                        <button mat-menu-item *ngIf="row?.status === 'Active' && row?.executorStatus!=='Active'" (click)="markAsExecutor('advisor',row?._id,row.advisorId?._id,row?.advisorId.firstName,row?.advisorId.lastName)">
                          <span>Mark as an Executor</span>
                      </button>
                      <button mat-menu-item *ngIf="row?.status === 'Active' && row?.executorStatus==='Active'" (click)="removeAsExecutor('advisor',row?._id,row.advisorId?._id,row?.advisorId.firstName,row?.advisorId.lastName)">
                        <span>Remove as an Executor</span>
                      </button>
                      </mat-menu>
                  </div>
                </mat-card-title>
            </mat-card-header>

            <mat-card-content class="status--advisor relative status--pending">
              <div class="files--folder mt-1 degree--names" *ngIf="row?.status==='Active'">
                <mat-icon>school</mat-icon>
                {{getAdvisorSpecilities(row.advisorId?.businessType)}}
              </div> 
              <div class="mt-1 status--pending" *ngIf="row?.status==='Pending'">
                <mat-icon>history</mat-icon>
                <p class="pending">Request Pending...</p>
              </div>             
              <div class="ad--strip clr--black">
                Advisor
              </div>
            </mat-card-content>
            <!-- Code if we want to show files & folder count -->
            <!-- <mat-card-content *ngIf="row?.status==='Active'">
                <h4>Assigned</h4>
                <div class="files--folder">
                  <mat-icon>insert_drive_file</mat-icon>
                  {{row?.filesCount}} Files
                </div>
                <div class="files--folder mb-0">
                  <mat-icon>folder</mat-icon>
                  {{row?.folderCount}} Folders
                </div>            
              </mat-card-content>

              <mat-card-content class="status--pending" *ngIf="row?.status==='Pending'">
                <mat-icon>history</mat-icon>
                <p class="pending">Request Pending...</p>            
              </mat-card-content> 
               Pending -->
        </mat-card>
      </mat-card-content>
      <mat-card-content class="appointees--wrapper" *ngIf="!showAdvisorListing">
          <div class="files--folder mt-1">{{searchMessage}}.</div>
      </mat-card-content>
    </mat-card>
  </div>
</div>