
@import 'llp-global-styles.scss';

.invite--sub--line{
    font-size: 20px;
    color: #000;
    font-family: $font--lato--regular !important;
    margin: 0 0 30px 0px;
    text-align: center;
}
.invite--modal--hgt{
    min-height: 200px;
    max-height: calc(100vh - 250px);
    overflow: auto;
}


@media screen and (orientation:landscape) and (max-width: 850px){
    .invite--sub--line{
        margin: 0;
        font-size: 13px;
    }
    .add--new{
        font-size: 13px;
    }
}