<div class="ll--modal--header">
    Invite to Legacy Life plans!
  <button class="modal--close" [mat-dialog-close]="">
    <mat-icon class="icon--cross">cancel</mat-icon>
  </button>
</div>

<form class="llp-form-wrapper">
  <div class="ll--modal--body ">

    <form class="llp-form-wrapper">
      <!-- <mat-form-field class="full-width">
        <input matInput value="John Smith" placeholder="Your Name">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput value="" placeholder="Email">
      </mat-form-field> -->

      
  <div fxLayout="row wrap"  >
      <div fxFlex.xs="100" fxFlex.sm="33.33" fxFlex.md="20" fxFlex.lg="49" fxFlex.xl="33.33">01</div>
      <div fxFlex.xs="100" fxFlex.sm="33.33" fxFlex.md="20" fxFlex.lg="49" fxFlex.xl="33.33">02</div>
      <div fxFlex.xs="100" fxFlex.sm="33.33" fxFlex.md="20" fxFlex.lg="49" fxFlex.xl="33.33">03</div>
  </div>
      
    </form>

  </div>
  <div class="ll--modal--footer text-center">
    <button mat-raised-button class="llp--primary--btn">Invite</button>
  </div>
</form>