<div class="ll--modal--header">
  Vehicles
  <button class="modal--close" [mat-dialog-close]="">
    <mat-icon class="icon--cross">cancel</mat-icon>
  </button>
</div>
<form class="llp-form-wrapper" (ngSubmit)="vehiclesFormSubmit(vehiclesForm.value)">
  <div class="ll--modal--body idbox--modal--hgt">
    <div fxLayout="row wrap">
      <div fxFlex.xs="100">
        <mat-form-field class="full-width">
          <input (keyup)="firstCapitalize($event)" (keypress)="checkSpecialChar($event)" matInput name="model" placeholder="Model*"
            [formControl]="vehiclesForm.controls['model']">
          <mat-icon matTooltip="Please enter model" matTooltipClass="llp--tooltip error" *ngIf="vehiclesForm.controls['model'].hasError('required') && vehiclesForm.controls['model'].touched"
          class="red--alert">help_outline</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row wrap">
      <div fxFlex.xs="100">
        <mat-form-field class="full-width">
          <input (keyup)="firstCapitalize($event)" (keypress)="checkSpecialChar($event)" matInput name="year" placeholder="Year" [formControl]="vehiclesForm.controls['year']">
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row wrap">
      <div fxFlex.xs="100">
        <mat-form-field class="full-width">
          <input (keyup)="firstCapitalize($event)" (keypress)="checkSpecialChar($event)" matInput name="make" placeholder="Make" [formControl]="vehiclesForm.controls['make']">
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row wrap">
      <div fxFlex.xs="100">
        <mat-form-field class="full-width">
          <input (keyup)="firstCapitalize($event)" (keypress)="checkSpecialChar($event)" matInput name="titleLocation" placeholder="Title Location"
            [formControl]="vehiclesForm.controls['titleLocation']">
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row wrap">
      <div fxFlex.xs="100">
        <mat-form-field class="full-width">
          <input (keyup)="firstCapitalize($event)" (keypress)="checkSpecialChar($event)" matInput name="financeCompanyName" placeholder="Finance Company Name"
            [formControl]="vehiclesForm.controls['financeCompanyName']">
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row wrap">
      <div fxFlex.xs="100">
        <mat-form-field class="full-width">
          <input (keyup)="firstCapitalize($event)" (keypress)="checkSpecialChar($event)" matInput name="accountNumber" placeholder="Account Number"
            [formControl]="vehiclesForm.controls['accountNumber']">
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row wrap">
      <div fxFlex.xs="100">
        <mat-form-field class="full-width">
          <input (keyup)="firstCapitalize($event)" (keypress)="checkSpecialChar($event)" matInput name="payment" placeholder="Payment"
            [formControl]="vehiclesForm.controls['payment']">
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row wrap">
      <div fxFlex.xs="100">
        <mat-form-field class="full-width mt-1">
          <textarea (keyup)="firstCapitalize($event)"  maxlength="500" matInput placeholder="Comments"
            name="comments" [formControl]="vehiclesForm.controls['comments']"></textarea>
          <div class="char--limit" style="float: right;">{{ 500 - vehiclesForm.controls['comments'].value?.length }}</div>
        </mat-form-field>
      </div>
    </div>
  </div>
  <input *ngIf="profileIdHiddenVal" matInput name="profileId" [formControl]="vehiclesForm.controls['profileId']" readonly="readonly">
  <div class="ll--modal--footer text-center">
    <button mat-raised-button class="llp--primary--btn" [disabled]="vehiclesForm.invalid">Save</button>
  </div>
</form>