<div class="ll--modal--header llp--close--modal">
  <button class="modal--close" [mat-dialog-close]="">
    <mat-icon class="icon--cross">cancel</mat-icon>
  </button>
</div>
<form>
  <div class="ll--modal--body per--profile--wrapper p-0">
    <h3 class="main--head text-center m-0">Assign permission</h3>
    <p class="sub--head text-center mt-1">for the Advisor!</p>

    <div class="profile--body--scroll">

      <div class="trust--legacy--wrapper">

        <div class="cover mt-1">
          <div fxLayout="row wrap">
            <div fxFlex.xs="100" fxFlex.sm="55" fxFlex.md="55" fxFlex.lg="55" fxFlex.xl="55">
              <label class="header bold">Select All</label>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="15" fxFlex.md="15" fxFlex.lg="15" fxFlex.xl="15" class="center--txt">
              <label class="header">Now</label>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="15" fxFlex.md="15" fxFlex.lg="15" fxFlex.xl="15" class="center--txt">
              <label class="header">After Death</label>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="15" fxFlex.md="15" fxFlex.lg="15" fxFlex.xl="15" class="center--txt">
              <label class="header">Never</label>
            </div>
          </div>
          <div fxLayout="row wrap">
            <div fxFlex.xs="100" fxFlex.sm="55" fxFlex.md="55" fxFlex.lg="55" fxFlex.xl="55">
              <label class="left--header">All 30 sections</label>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="15" fxFlex.md="15" fxFlex.lg="15" fxFlex.xl="15" class="center--txt">
              <mat-radio-group class="llp-radio">
                <mat-radio-button value="abc" class="">Now</mat-radio-button>
              </mat-radio-group>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="15" fxFlex.md="15" fxFlex.lg="15" fxFlex.xl="15" class="center--txt">
              <mat-radio-group class="llp-radio">
                <mat-radio-button value="abc" class="">After Death</mat-radio-button>
              </mat-radio-group>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="15" fxFlex.md="15" fxFlex.lg="15" fxFlex.xl="15" class="center--txt">
              <mat-radio-group class="llp-radio">
                <mat-radio-button value="abc" class="">Never</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
        </div>

        <div class="cover mt-1">
          <div fxLayout="row wrap">
            <div fxFlex.xs="100" fxFlex.sm="55" fxFlex.md="55" fxFlex.lg="55" fxFlex.xl="55">
              <label class="header bold">My Essentials</label>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="15" fxFlex.md="15" fxFlex.lg="15" fxFlex.xl="15" class="center--txt">
              <label class="header">Now</label>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="15" fxFlex.md="15" fxFlex.lg="15" fxFlex.xl="15" class="center--txt">
              <label class="header">After Death</label>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="15" fxFlex.md="15" fxFlex.lg="15" fxFlex.xl="15" class="center--txt">
              <label class="header">Never</label>
            </div>
          </div>
          <div fxLayout="row wrap">
            <div fxFlex.xs="100" fxFlex.sm="55" fxFlex.md="55" fxFlex.lg="55" fxFlex.xl="55">
              <label class="left--header">Personal Profile</label>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="15" fxFlex.md="15" fxFlex.lg="15" fxFlex.xl="15" class="center--txt">
              <mat-radio-group class="llp-radio">
                <mat-radio-button value="abc" class="">Now</mat-radio-button>
              </mat-radio-group>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="15" fxFlex.md="15" fxFlex.lg="15" fxFlex.xl="15" class="center--txt">
              <mat-radio-group class="llp-radio">
                <mat-radio-button value="abc" class="">After Death</mat-radio-button>
              </mat-radio-group>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="15" fxFlex.md="15" fxFlex.lg="15" fxFlex.xl="15" class="center--txt">
              <mat-radio-group class="llp-radio">
                <mat-radio-button value="abc" class="">Never</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
          <div fxLayout="row wrap">
            <div fxFlex.xs="100" fxFlex.sm="55" fxFlex.md="55" fxFlex.lg="55" fxFlex.xl="55">
              <label class="left--header">Work Profile</label>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="15" fxFlex.md="15" fxFlex.lg="15" fxFlex.xl="15" class="center--txt">
              <mat-radio-group class="llp-radio">
                <mat-radio-button value="abc" class="">Now</mat-radio-button>
              </mat-radio-group>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="15" fxFlex.md="15" fxFlex.lg="15" fxFlex.xl="15" class="center--txt">
              <mat-radio-group class="llp-radio">
                <mat-radio-button value="abc" class="">After Death</mat-radio-button>
              </mat-radio-group>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="15" fxFlex.md="15" fxFlex.lg="15" fxFlex.xl="15" class="center--txt">
              <mat-radio-group class="llp-radio">
                <mat-radio-button value="abc" class="">Never</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
        </div>


        <div class="cover mt-1 border-0">
          <div fxLayout="row wrap">
            <div fxFlex.xs="100" fxFlex.sm="55" fxFlex.md="55" fxFlex.lg="55" fxFlex.xl="55">
              <label class="header bold">Legal Stuff</label>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="15" fxFlex.md="15" fxFlex.lg="15" fxFlex.xl="15" class="center--txt">
              <label class="header">Now</label>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="15" fxFlex.md="15" fxFlex.lg="15" fxFlex.xl="15" class="center--txt">
              <label class="header">After Death</label>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="15" fxFlex.md="15" fxFlex.lg="15" fxFlex.xl="15" class="center--txt">
              <label class="header">Never</label>
            </div>
          </div>
          <div fxLayout="row wrap">
            <div fxFlex.xs="100" fxFlex.sm="55" fxFlex.md="55" fxFlex.lg="55" fxFlex.xl="55">
              <label class="left--header">Estate</label>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="15" fxFlex.md="15" fxFlex.lg="15" fxFlex.xl="15" class="center--txt">
              <mat-radio-group class="llp-radio">
                <mat-radio-button value="abc" class="">Now</mat-radio-button>
              </mat-radio-group>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="15" fxFlex.md="15" fxFlex.lg="15" fxFlex.xl="15" class="center--txt">
              <mat-radio-group class="llp-radio">
                <mat-radio-button value="abc" class="">After Death</mat-radio-button>
              </mat-radio-group>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="15" fxFlex.md="15" fxFlex.lg="15" fxFlex.xl="15" class="center--txt">
              <mat-radio-group class="llp-radio">
                <mat-radio-button value="abc" class="">Never</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
          <div fxLayout="row wrap">
            <div fxFlex.xs="100" fxFlex.sm="55" fxFlex.md="55" fxFlex.lg="55" fxFlex.xl="55">
              <label class="left--header">Helth Care</label>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="15" fxFlex.md="15" fxFlex.lg="15" fxFlex.xl="15" class="center--txt">
              <mat-radio-group class="llp-radio">
                <mat-radio-button value="abc" class="">Now</mat-radio-button>
              </mat-radio-group>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="15" fxFlex.md="15" fxFlex.lg="15" fxFlex.xl="15" class="center--txt">
              <mat-radio-group class="llp-radio">
                <mat-radio-button value="abc" class="">After Death</mat-radio-button>
              </mat-radio-group>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="15" fxFlex.md="15" fxFlex.lg="15" fxFlex.xl="15" class="center--txt">
              <mat-radio-group class="llp-radio">
                <mat-radio-button value="abc" class="">Never</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
          <div fxLayout="row wrap">
            <div fxFlex.xs="100" fxFlex.sm="55" fxFlex.md="55" fxFlex.lg="55" fxFlex.xl="55">
              <label class="left--header">Personal Affairs</label>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="15" fxFlex.md="15" fxFlex.lg="15" fxFlex.xl="15" class="center--txt">
              <mat-radio-group class="llp-radio">
                <mat-radio-button value="abc" class="">Now</mat-radio-button>
              </mat-radio-group>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="15" fxFlex.md="15" fxFlex.lg="15" fxFlex.xl="15" class="center--txt">
              <mat-radio-group class="llp-radio">
                <mat-radio-button value="abc" class="">After Death</mat-radio-button>
              </mat-radio-group>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="15" fxFlex.md="15" fxFlex.lg="15" fxFlex.xl="15" class="center--txt">
              <mat-radio-group class="llp-radio">
                <mat-radio-button value="abc" class="">Never</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
        </div>


      </div>

    </div>

    <div class="text-center">
      <button type="button" mat-raised-button class="llp--primary--btn mb-1">Submit</button>
    </div>

  </div>
</form>