<div class="ll--modal--header">
  Assets
  <button class="modal--close" [mat-dialog-close]="">
    <mat-icon class="icon--cross">cancel</mat-icon>
  </button>
</div>
<form class="llp-form-wrapper" (ngSubmit)="assetsFormSubmit(assetsForm.value)">
  <div class="ll--modal--body idbox--modal--hgt">
    <div fxLayout="row wrap" class="pt-1">
      <div fxFlex.xs="100">
        <mat-form-field class="full-width">
          <mat-select placeholder="Assets*" name="asset" (selectionChange)="assetChange($event)" [formControl]="assetsForm.controls['asset']">
            <mat-option value="">Select Asset</mat-option>
            <mat-option *ngFor="let option of typeOfRealEstateAssetsType" [value]="option.opt_code">{{option.opt_name}}
            </mat-option>
          </mat-select>
          <mat-icon matTooltip="Please select asset" matTooltipClass="llp--tooltip error" *ngIf="assetsForm.controls['asset'].hasError('required') && assetsForm.controls['asset'].touched"
            class="red--alert">help_outline</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row wrap" *ngIf="assetNewToggle">
      <div fxFlex.xs="100">
        <mat-form-field class="full-width">
          <input (keyup)="firstCapitalize($event)"  (keypress)="checkSpecialChar($event)" matInput name="assetNew" placeholder="Asset New *"
            [formControl]="assetsForm.controls['assetNew']">
            <mat-icon matTooltip="Please enter new asset" matTooltipClass="llp--tooltip error" *ngIf="assetsForm.controls['assetNew'].hasError('required') && assetsForm.controls['assetNew'].touched"
            class="red--alert">help_outline</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row wrap">
      <div fxFlex.xs="100">
        <mat-form-field class="full-width">
          <input (keyup)="firstCapitalize($event)" (keypress)="checkSpecialChar($event)" matInput name="assetType" placeholder="Asset Type"
            [formControl]="assetsForm.controls['assetType']">
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row wrap">
      <div fxFlex.xs="100">
        <mat-form-field class="full-width">
          <input (keyup)="firstCapitalize($event)" (keypress)="checkSpecialChar($event)" matInput name="location" placeholder="Location"
            [formControl]="assetsForm.controls['location']">
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row wrap">
      <div fxFlex.xs="100">
        <mat-form-field class="full-width">
          <input (keyup)="firstCapitalize($event)" (keypress)="checkSpecialChar($event)" matInput name="assetValue" placeholder="Value"
            [formControl]="assetsForm.controls['assetValue']">
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row wrap">
      <div fxFlex.xs="100">
        <mat-form-field class="full-width mt-1">
          <textarea (keyup)="firstCapitalize($event)" maxlength="500" matInput placeholder="Comments"
            name="comments" [formControl]="assetsForm.controls['comments']"></textarea>
          <div class="char--limit" style="float: right;">{{ 500 - assetsForm.controls['comments'].value?.length }}</div>
        </mat-form-field>
      </div>
    </div>
  </div>
  <input *ngIf="profileIdHiddenVal" matInput name="profileId" [formControl]="assetsForm.controls['profileId']" readonly="readonly">
  <div class="ll--modal--footer text-center">
    <button mat-raised-button class="llp--primary--btn" [disabled]="assetsForm.invalid">Save</button>
  </div>
</form>