<div class="ll--modal--header">
  Assets
  <button class="modal--close" [mat-dialog-close]="">
    <mat-icon class="icon--cross">cancel</mat-icon>
  </button>
</div>
<form class="llp-form-wrapper" (ngSubmit)="assetsFormSubmit(assetsForm.value)">
  <div class="ll--modal--body id--box--body">
    
    <div fxLayout="row wrap">
      <div fxFlex.xs="100">
        <mat-form-field class="full-width">
          <input (keyup)="firstCapitalize($event)" (keypress)="checkSpecialChar($event)" matInput name="assetType" placeholder="Asset Type" [formControl]="assetsForm.controls['assetType']">           
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row wrap">
      <div fxFlex.xs="100">
        <mat-form-field class="full-width">
          <input (keyup)="firstCapitalize($event)" (keypress)="checkSpecialChar($event)" matInput name="location" placeholder="Location" [formControl]="assetsForm.controls['location']">
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row wrap">
      <div fxFlex.xs="100">
        <mat-form-field class="full-width">
          <input (keyup)="firstCapitalize($event)" (keypress)="checkSpecialChar($event)" matInput name="assetValue" placeholder="Value" [formControl]="assetsForm.controls['assetValue']">
        </mat-form-field>
      </div>
    </div>   
    
    <div fxLayout="row wrap">
      <div fxFlex.xs="100">
        <mat-form-field class="full-width">
          <input (keyup)="firstCapitalize($event)" (keypress)="checkSpecialChar($event)" matInput name="comments" placeholder="Comment Box" [formControl]="assetsForm.controls['comments']">
        </mat-form-field>
      </div>
    </div> 
  </div>
  <input *ngIf="profileIdHiddenVal" matInput name="profileId" [formControl]="assetsForm.controls['profileId']" readonly="readonly">
  <div class="ll--modal--footer text-center">
    <button mat-raised-button class="llp--primary--btn" [disabled]="assetsForm.invalid">Save</button>
  </div>
</form>