<div class="shop-wrap llp--content--wrapper" fxLayout="row" fxLayoutWrap="wrap">
  <div class="full-width">
    <div class="">
      <mat-card class="empty--section p-0">
        <mat-card-header class="m-0">
          <mat-card-title class="m-0">Shared Legacies</mat-card-title> 
        </mat-card-header>
        <mat-card-content class="pt-0 sl--hgt">
          <div class="shared--legacy--wrapper" *ngIf="allSharedLegacyLength>0">
            <div class="sl--box" *ngFor="let user of allSharedLegacyList">
              <div class="sl--pic" [routerLink]="['/customer/legacies/essential-day-one', user._id]">
                <img alt="profile Picture" *ngIf="user.profilePicture" src="{{profilePicturesPath}}{{user.profilePicture}}">
                <img alt="default profile Picture" *ngIf="!user.profilePicture" src="{{defaultProfilePicture}}">
              </div>                 
              <h2 class="sl--name text-center" [routerLink]="['/customer/legacies/essential-day-one', user._id]">{{user.firstName}} {{user.lastName}}</h2>
              <a class="sl--action" [routerLink]="['/customer/legacies/essential-day-one', user._id]"><mat-icon>insert_drive_file</mat-icon>View Plan</a>
            </div>
          </div>
          <div class="pt-1" *ngIf="allSharedLegacyLength<1">
            You do not have any shared legacies!
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>