<div class="shop-wrap llp--content--wrapper" fxLayout="row" fxLayoutWrap="wrap">
  <div class="full-width">
    <div class="">
      <mat-card class="empty--section p-0">
        <mat-card-header class="m-0">
          <mat-card-title class="m-0">Emergency Contacts</mat-card-title>
          <div class="right--actions" *ngIf="trusteeLegaciesAction">
            <button mat-raised-button class="llp--primary--btn llp--primary--sm--btn" (click)="openEmergencyModal(contactForm, true)">
              <mat-icon>edit</mat-icon>
              <span class="hide--sm--txt">Edit</span>
            </button>
            <button mat-raised-button class="llp--primary--btn llp--primary--sm--btn" (click)="deleteProfile()">
              <mat-icon>delete</mat-icon>
              <span class="hide--sm--txt">Delete</span>
            </button>
          </div>
        </mat-card-header>
        <mat-card-content>
          <div class="details--wrapper mb-1">
            <div class="details--header">
              <div class="d-flex align--items--center">
                <mat-icon>contacts</mat-icon>Contacts
              </div>
              <span class="last--modified--by">Last modified:
                <span>{{ row?.modifiedOn | date: 'MMM dd, yyyy'}}</span>
              </span>
            </div>
            <div class="details--body">
              <h3>{{row?.name}}</h3>
              <div fxLayout="row wrap" class="mb--10">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">Email Address:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">{{row?.emailAddress}}</label>
                </div>
              </div>
              <div fxLayout="row wrap" class="mb--10">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">Phone:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">+1 {{row?.phone}}</label>
                </div>
              </div>
              <div fxLayout="row wrap" class="mb--10">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">Mobile:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">{{row?.mobile}}</label>
                </div>
              </div>
              <div fxLayout="row wrap" class="mb--10">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">Relationship:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">{{getType(row?.relationship)}}</label>
                </div>
              </div>
              <div fxLayout="row wrap" class="mb--10">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">Address:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">{{row?.address}}</label>
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>



<ng-template #contactForm let-c="close" let-d="dismiss">
  <div class="ll--modal--header llp--close--modal">
    <h3 class="main--head text-center">Emergency Contact Details</h3>
    <button class="modal--close" [mat-dialog-close]="">
      <mat-icon class="icon--cross">cancel</mat-icon>
    </button>
  </div>
  <form [formGroup]="eContactFormGroup" class="llp-form-wrapper" (ngSubmit)="eContactFormSubmit(eContactFormGroup.value)">
    <div class="ll--modal--body modal--body--hgt-upd ">
     
        <mat-form-field class="full-width">
          <input (keyup)="firstCapitalize($event)" matInput name="name" placeholder="Name*" [formControl]="eContactFormGroup.controls['name']"
            (keypress)="checkSpecialChar($event)">
          <mat-icon matTooltip="Please enter name" matTooltipClass="llp--tooltip error" *ngIf="eContactFormGroup.controls['name'].hasError('required') && eContactFormGroup.controls['name'].touched"
            class="red--alert">help_outline</mat-icon>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Relationship*</mat-label>
          <mat-select placeholder="Relationship*" name="relationship" [formControl]="eContactFormGroup.controls['relationship']">
            <mat-option value="">Select Relationship Type</mat-option>
            <mat-option *ngFor="let option of relationshipList" [value]="option.opt_code">{{option.opt_name}}</mat-option>
          </mat-select>
          <mat-icon matTooltip="Please select relationship" matTooltipClass="llp--tooltip error" *ngIf="eContactFormGroup.controls['relationship'].hasError('required') && eContactFormGroup.controls['relationship'].touched"
            class="red--alert">help_outline</mat-icon>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input (keyup)="firstCapitalize($event)" matInput name="address" placeholder="Address" [formControl]="eContactFormGroup.controls['address']"
            (keypress)="checkSpecialChar($event)">
        </mat-form-field>
        <mat-form-field class="full-width">
          <input maxlength="15" (keypress)="onlyNumbers($event)" (keyup)="firstCapitalize($event)" matInput name="phone" placeholder="Phone"
            [formControl]="eContactFormGroup.controls['phone']">
        </mat-form-field>
        <mat-form-field class="full-width">
          <input maxlength="15" (keypress)="onlyNumbers($event)" (keyup)="firstCapitalize($event)" matInput name="mobile" placeholder="Mobile"
            [formControl]="eContactFormGroup.controls['mobile']">
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput name="emailAddress" placeholder="Email*" [formControl]="eContactFormGroup.controls['emailAddress']">
          <mat-icon matTooltip="Please enter email id" matTooltipClass="llp--tooltip error" *ngIf="eContactFormGroup.controls['emailAddress'].hasError('required') && eContactFormGroup.controls['emailAddress'].touched"
            class="red--alert">help_outline</mat-icon>
          <mat-icon matTooltip="Please enter valid email Id." matTooltipClass="llp--tooltip error" *ngIf="eContactFormGroup.controls['emailAddress'].hasError('pattern')"
            class="red--alert">help_outline</mat-icon>
        </mat-form-field>
        <mat-form-field *ngIf="profileIdRead">
          <input matInput name="profileId" [formControl]="eContactFormGroup.controls['profileId']" readonly="readonly">
        </mat-form-field>
    
    </div>
    <div class="ll--modal--footer text-center">
      <button mat-raised-button class="llp--primary--btn" [disabled]="eContactFormGroup.invalid">Save</button>
    </div>
  </form>
</ng-template>