<header class="auth-header">
    <img src="assets/images/arkenea/small-logo.png" alt="">
  </header>
  
  <div class="page-wrap mat-bg-primary">
    <div class="session-form-hold">
      
      <div class="login-sub-wrapper pl-0 pr-0 pb-0">
        <!-- <mat-progress-bar mode="determinate" class="session-progress"></mat-progress-bar> -->
        <mat-card-content>
            <div class="text-center pb-1 px-40">
              <h2 class="login-header-text m-0">Thank you for signing up!</h2>
              <p class="admin-note">We are reviewing your account details. We will get back you for 
                  further updates on your mail within 2 days.</p>
            </div>
            <div class="know--more--sec" style="background-image: url('assets/images/arkenea/thanyou-img.png')">
              <h3>Your search for clients needs a 
                personality. Yours.</h3>
                <p>Highlight your profile with Legacy Life Plans and attract more responses from users.</p>
                <button mat-raised-button class="llp--primary--btn full-width"  [routerLink]="'/advisor'" >Know more</button>
            </div>
          </mat-card-content>
      </div>
  
      <div class="login-footer">
        <!-- <p>Are you a Customer? <a [routerLink]="'/auth/advisor/signup'">Register here</a></p> -->
        &nbsp;
      </div>
      
  
  
    </div>
    
  </div>
  
  <footer class="auth-footer">
    <p>© 2019 Legacy Life Plans</p>
  </footer>