<div class="ll--modal--header">
  Card Details
  <button class="modal--close" [mat-dialog-close]="">
    <mat-icon class="icon--cross">cancel</mat-icon>
  </button>
</div>

<form class="llp-form-wrapper">
  <div class="ll--modal--body payment--modal--wrapper">
    <div class="plan-details">
      <h5 class="text-center" *ngIf="userName">Name: <span>{{userName}} (advisor)</span></h5>
      <h5>Amount to be paid: <span>{{planAmount | currency : planCurrency : 'symbol'}}</span></h5>
    </div>
    <div>
      <div class="new-card-details" [hidden]="hideNewCardForm">
        <label>New card details:</label>
        <div class="new--card">
            <div id="card-fields"></div>
            <label class="error" *ngIf="stripePaymentError!=''">{{stripePaymentError}}</label>
        </div>
      </div>
      <div class="mt-1">
        <p class="paying--text">*Paying with new card will replace the existing card</p>
      </div>
    </div>
  </div>
  <div class="ll--modal--footer text-center">
    <button mat-raised-button class="llp--primary--btn" [disabled]="!isButtonEnabled" (click)="completePayment()">Complete Payment</button>
  </div>
</form>