.admin-note{
    font-size: 16px;
    color: #000;
    text-align: left;
    line-height: 22px;
    margin-top: 40px;
}
.login-header-desc{
    span{
        color: #c72128;
    }
}
.proceed--action--btn{
    margin-top: 100px;
}