@import 'llp-global-styles.scss';



.llp--content--wrapper{

    //  1st

    .empty--section{
        margin: 0 0 15px 0;       
        box-shadow: none;
        border-radius: 2px;

        .mat-card-header{
            padding: 0 25px;
            height: 55px; 
            background-color: #e7ebcd;
            display: flex;
            align-items: center;
            justify-content: space-between;

            ::ng-deep .mat-card-header-text{
                margin: 0;
                font-size: 16px;
                color: #222324;
                // width: 100%;
            }
        }
        .mat-card-content{
            border: 1px solid #e1e5c7;
            border-top: none;
            padding: 20px 25px;

            .info{
                font-size: 14px;
                color: #666;
                margin-bottom: 20px;
                a{
                    color: #c72128;
                    font-size: 15px;
                }
            }
            .build--ur--legacy{
                border-radius: 2px;
                border: solid 1px #c72128;
                max-width:345px;
                height: 136px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 0 10px;
                text-align: center;
                &.dashed{
                    border: 1px dashed #c72128;
                }
                &:hover{
                    cursor: pointer;
                    box-shadow: 0 0 2px #C72127;
                    a{
                        text-decoration: underline;
                    }
                }

                .mat-icon{
                    color: #c72128;
                    font-size: 46px;
                    height: 54px;
                    width: 38px;
                }
                p{
                    font-size: 14px;
                    color: #000;
                    margin: 0;                
                    a{
                        color: #c72128;
                        font-size: 16px;
                    }
                }
            }
            .search-ad{
                font-size: 14px;
                color: #000;
                margin: 20px 0 0 0;
                a{
                    color: #c72128;
                    font-size: 16px;
                }
            }
        }
        .myadd--search{
            height: 23px;
            width: 23px;
            font-size: 23px;
        }
    }

    // 2nd 

    .files--wrapper{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 0 !important;

        .recent--acc--files{
            width: 163px;
            height: 172px;
            border: solid 1px #dadce0;
            border-radius: 2px;
            padding: 0 10px;
            text-align: center;
            margin: 20px 20px 0 0;
            flex-grow: 1;
            cursor: pointer;

            &:hover{
                box-shadow: 0 0 10px #ddd;
            }

            .file--name{
                font-size: 15px;
                color: #333;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .mat-icon{
                color: #757575;
                font-size: 42px;
                margin: 48px 0;
                height: 38px;
                width: 44px
            }
        }
    }

    .appointees--wrapper{
        padding-top: 0 !important;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .appointees--section{
            width: 32%;
            height: auto;
            border: solid 1px #dadce0;
            border-radius: 2px;
            padding: 0 10px;
            text-align: center;
            margin: 20px 0 0 0 ;
            box-shadow: none;

            ::ng-deep .mat-card-header-text{
                width: 100%;
            }

            .mat-card-header{
                background-color: #fff;
                border-bottom: 1px solid #dadce0;
                padding: 0 10px 0 20px;

                .mat-card-title{
                    display: flex;
                    align-items: center;
                    background-color: transparent;
                }

                .appointees--pic{
                    width: 48px;
                    height: 48px;
                    border-radius: 50%;
                    line-height: 50px;
                    overflow: hidden;
                    flex-shrink: 0;
                    img{
                        min-height: 100%;
                    }
                }
                .appointees--desc{
                    text-align: left;
                    margin-left: 20px;
                    overflow: hidden;
                    h5{
                        margin: 0 0 8px 0;
                        font-size: 18px;
                        color: #222324; 
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    p{
                        font-size: 14px;
                        color: #828385;
                        line-height: 14px;
                    }
                }
            }
            .mat-card-content{
                border: none;
                padding: 15px 25px;
                text-align: left;
                h4{
                    font-size: 16px;
                    color: #222324;
                    margin: 0 0 15px 0;
                }
                .files--folder{
                    font-size: 14px;
                    color: #333;
                    margin-bottom: 15px;
                    display: flex;
                    align-items: center;

                    .mat-icon{
                        width: 34px;
                        height: 25px;
                        color: #757575;
                    }

                    &.my--ad--ff{
                        .mat-icon{
                            align-self: flex-start;
                        }
                        .sp--details{
                            line-height: 23px;
                            flex-basis: 278px;
                        }
                    }
                }
            }
        }
    }
}

.details--wrapper{
    border-radius: 2px;
    border: solid 1px #dadce0;
    padding: 20px 25px;
    .details--header{
        border-bottom: solid 1px #f5f5f5;
        font-size: 18px;
        font-family: $font--lato--bold;
        display: flex;
        align-items: center;
        padding-bottom: 18px;
        justify-content: space-between;
        .mat-icon{
            color: #727a33;
            margin-right: 10px;
        }
    }
    .details--body{
        h3{
            font-size: 18px;
            margin: 18px 0;
        }
    }
}

.uploaded--files{
    display: flex;
    .mat-icon{
        color: #727a33;
        margin-right: 10px;
        height: 30px;
        width: 30px;
        font-size: 30px;
    }
}
.legal--link{
    &:hover{
        text-decoration: underline;
    }
    .mat-icon{
        height: 10px;
        width: 16px;
        font-size: 14px;
        line-height: 12px;
    }
}
.donwload-doc{
    cursor: pointer;
    text-decoration: underline;   
}
/* Media query (start here)*/

.updated--right--panel{
    ::ng-deep .mat-sidenav-container{
        width: 100%;
    }
    .right--panel--wrapper{
        margin-left: 15px;        
        .right--boxes{
            margin-bottom: 15px;
            .mat-card{
                box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12) !important;
                .mat-card-title{
                    .card-title-text{
                        background-color: #222324;
                        color: #fff;
                    }
                }
                .invite--body--section{
                    border: none;
                    height: 220px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;

                    .count{
                        font-family: $font--lato--bold;
                        font-size: 45px;
                        margin: 20px 0 5px 0;
                        span{
                            font-size: 26px;
                            font-family: $font--lato--regular;
                        }
                    }
                    .daysgo{
                        margin: 0;
                        font-family: $font--lato--italic !important;
                        font-size: 22px;
                    }
                    .invites{
                        font-size: 16px;
                        color: #222324;
                        margin-bottom: 15px;
                        margin-top: 32px;
                    }
                    .llp--primary--btn{
                        width: 168px;
                    }
                    .adjust{
                        margin-bottom: -30px;
                    }

                    &.show--rad{
                        height: 245px;
                        .mad--btn{
                            margin-top: 15px;
                        }
                    }
                }
            }
        }

        .target--completed{
            box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12) !important;
            height: 300px;

            .mat-card-content{
                border: none;
                height: 300px;
                padding: 0 15px;

                .header--wrapper {
                    width: 100%;
                    margin: 20px auto 0;
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    justify-content: center;
                    align-items: center;

                    .sub--header {
                        margin: 0;
                        background-repeat: no-repeat;
                        
                        span {
                            font-family: $font--lato--bold--italic;
                            font-size: 20px;
                            color: #131321;
                            padding: 0 31px;
                        }                        
                    }
                    .warn{
                        width: 80%;
                        margin: 35px auto 0;
                        text-align: center;
                        font-size: 22px;
                        color: #222324;
                        font-family: $font--lato--bold !important;
                        span{
                            color: #ecbe00;     
                            text-transform: uppercase;                       
                        }
                    }

                    &::before{
                        content: "";
                        background-image : url("assets/images/arkenea/leafs-left.png");
                        width: 63px;
                        height: 120px;
                        position: absolute;
                        left: 0;
                        top: 35px;
                        background-size: contain;
                        background-repeat: no-repeat;
                    }
                    &::after{
                        content: "";
                        background-image : url("assets/images/arkenea/leafs-right.png");
                        width: 37px;
                        height: 120px;
                        position: absolute;
                        right: 0;
                        bottom: 0px;
                        background-size: contain;
                        background-repeat: no-repeat;
                    }
                    
                }
                .free--access{
                    font-size: 16px;
                    color: #222324;
                    width: 55%;
                    text-align: center;
                    margin: 20px auto 0;
                    font-family: $font--lato--regular;
                    position: absolute;
                    bottom: 12px;
                    left: 25%;
                }
            }
            
            
        }
    }
}

@media only screen and (max-width: 599px) {
    .updated--right--panel{
        display: flex !important;
        flex-direction: column !important;
        .right--panel--wrapper{
            margin: 0 15px;
        }
        .boxes--hori{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .right--boxes{
                width: 100%;
                .invite--body--section{
                    height: 107px !important;
                    .count{
                        font-size: 34px !important;
                    }
                    .adjust{
                        margin: 0 !important;
                        .invites{
                            margin-top: 5px !important;
                        }
                    }
                }
            }
        }
        .reverse--order--sm{
            order: -1;
        } 
    }
    .llp--content--wrapper .appointees--wrapper .appointees--section{
        width: 100%;
    }
    .llp--content--wrapper .empty--section .mat-card-content{
        padding: 15px 10px !important;
    }
    .llp--content--wrapper .files--wrapper .recent--acc--files{
        width: 48%;
        height: 150px;
        margin-right: 5px;
    }
    .llp--content--wrapper .files--wrapper .recent--acc--files .mat-icon {
        font-size: 34px;
        margin: 36px 0;
        height: 38px;
        width: 44px;
    }
    .llp--primary--btn{
        padding: 0px 10px !important;
        height: 38px;
    }
    .llp--content--wrapper .empty--section .mat-card-header {
        padding: 0 15px;
    }
    .right--actions .llp--primary--btn {
        margin-left: 5px !important;
        padding: 0 !important;
        min-width: 27px;
        height: 27px;
        .mat-icon{
            height: 15px;
            width: 15px;
            font-size: 15px;
            margin-right: 0;
            line-height: 8px;
        }
    }
    .details--wrapper .details--header{
        flex-direction: column;
        align-items: flex-start;
    }
    .last--modified--by{
        margin-top: 5px;
    }
    .no--of--trustee {
        font-size: 13px;
        margin-right: 6px;
    }
}
@media only screen and (min-width: 600px) and (max-width: 959px){
    .updated--right--panel{
        display: flex !important;
        flex-direction: column !important;
        .right--panel--wrapper{
            margin: 0 15px;
        }
        .boxes--hori{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .right--boxes{
                width: 49%;
            }
        }
        .reverse--order--sm{
            order: -1;
        } 
    }
    .llp--content--wrapper .appointees--wrapper .appointees--section{
        width: 48%;
    }
    .llp--content--wrapper .appointees--wrapper .appointees--section{
        width: 48%;
    }
    .llp--content--wrapper .files--wrapper .recent--acc--files{
        flex-grow: 1;
        margin-right: 15px;
    }
}
@media only screen and (min-width: 960px) and (max-width: 979px){
    .llp--content--wrapper .appointees--wrapper .appointees--section{
        width: 48%;
    }
    .llp--content--wrapper .appointees--wrapper .appointees--section{
        width: 48%;
    }
    .llp--content--wrapper .files--wrapper .recent--acc--files{
        flex-grow: 1;
        margin-right: 15px;
    }
}
@media only screen and (min-width: 980px) and (max-width: 1279px){
    .llp--content--wrapper .appointees--wrapper .appointees--section{
        width: 48%;
    }
    .llp--content--wrapper .files--wrapper .recent--acc--files{
        flex-grow: 1;
        margin-right: 15px;
    }
}
@media only screen and (min-width: 1280px) and (max-width: 1440px){
    .llp--content--wrapper .files--wrapper .recent--acc--files{
        width: 154px;
    }
}
@media only screen and (min-width: 1441px) and (max-width: 1550px){}

/* Media query (end here)*/