<div class="shop-wrap llp--content--wrapper" fxLayout="row" fxLayoutWrap="wrap">
  <div class="full-width">
    <div class="">
      <advisor-legacy-details></advisor-legacy-details>
      <mat-card class="empty--section p-0" *ngIf="instruction_data_flag">
        <mat-card-header class="m-0">
          <mat-card-title class="m-0">Legacy Setting</mat-card-title>
        </mat-card-header>
        <mat-card-content [innerHtml]="instruction_data"></mat-card-content>
      </mat-card>
      <mat-card class="empty--section p-0">
        <!-- <mat-card-header class="m-0">
          <mat-card-title class="m-0">Pets</mat-card-title>
          <div>
              <a class="no--of--trustee" *ngIf="showTrusteeCnt"  (click)="openManageTrusteeModal('Pets','PetsManagement', true)">{{trusteePetsCnt}} Trustees</a> 
            <button mat-raised-button class="llp--primary--btn llp--primary--sm--btn" (click)="openPetsModal({}, true)">+ Add</button>
          </div>
        </mat-card-header> -->
        <div>
        <mat-card-content>
          <div class="build--ur--legacy" (click)="openPetsModal({}, true)">
            <mat-icon>settings</mat-icon>
            <p>
              <a>Update Legacy Setting</a>
            </p>
          </div>
        </mat-card-content>

      </div>

      </mat-card>
    </div>
  </div>
</div>