
@import 'llp-global-styles.scss';

.lock--screen--wrapper{
    text-align: center;

    .locked{
        width: 72px;
        height: 72px;
        border: 1px solid #fff;
        border-radius: 50%;
        text-align: center;
        margin: 0 auto;
        line-height: 93px;
        margin-top: 29px;
        .mat-icon{
            font-size: 42px;
            width: 42px;
            height: 42px;
        }
    }
    .account--pic--ls{
        height: 150px;
        width: 150px;
        border: 1px solid #444141;
        border-radius: 2px;
        margin: 22px auto 0 auto;
    }

    .pep{
        color: #fff;
        margin: 20px 0 20px 0;
        font-size: 18px;
    }
    .enterpass{
        width: 60% !important;
    }
   
    .llp-form-wrapper ::ng-deep .mat-form-field .mat-form-field-label,
    .llp-form-wrapper ::ng-deep  .mat-form-field-infix .mat-input-element{
        color: #fff !important;
   }
   
}