<mat-card class="p-0" *ngIf="aceessSection">
  <mat-card-title class="">
      <mat-divider></mat-divider>
  </mat-card-title>
  <mat-card-content>
      <form class="llp-form-wrapper pt-1" [formGroup]="referEarnForm" method="post">
          <div fxLayout="row wrap">
            <div fxFlex="100" fxFlex.gt-xs="300" class="pr-0">
              <div class="pb-0">
                <mat-label>Title</mat-label>
                <mat-form-field class="full-width">
                  <input matInput name="title" [formControl]="referEarnForm.controls['title']" value="">
                </mat-form-field>
              </div>
            </div>
            <div fxFlex="50" fxFlex.gt-xs="49" class="pr-0">
              <div class="pb-0">
                <mat-label>Targeted Count</mat-label>
                <mat-form-field class="full-width">
                  <input matInput type="number" name="title" [formControl]="referEarnForm.controls['targetCount']" value="">
                </mat-form-field>
              </div>
            </div>
            <div fxFlex="100" fxFlex.gt-xs="2" class="pr-0">
              <div class="pb-0"></div>
            </div>
            <div fxFlex="50" fxFlex.gt-xs="49" class="pr-0">
              <div class="pb-0">
                <mat-label>Extended Days</mat-label>
                <mat-form-field class="full-width">
                  <input matInput type="number" name="title" [formControl]="referEarnForm.controls['extendedDays']" value="">
                </mat-form-field>
              </div>
            </div>
            <div fxFlex="100" fxFlex.gt-xs="100" class="pr-0">
              <div class="pb-0"></div>
            </div>
            <div fxFlex="100" fxFlex.gt-xs="100" class="pr-0">
              <div class="pb-0">
                <mat-label>Description</mat-label>
                <mat-card class="p-0">
                  <mat-card-content class="p-0">
                    <ejs-richtexteditor id='defaultRTE' [formControl]="referEarnForm.controls['description']" [toolbarSettings]='tools' [quickToolbarSettings]='quickTools'></ejs-richtexteditor>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
            <div fxFlex="100" fxFlex.gt-xs="100" class="pr-0">
              <div class="pb-1"></div>
            </div>
            <div fxFlex="100" fxFlex.gt-xs="300" class="pr-0">
              <div class="pb-0">
                <mat-label>Referral Status</mat-label>
                <mat-slide-toggle class="llp--slide--toggle full-width" [formControl]="referEarnForm.controls['status']" [checked]="referEarnForm.controls['status']">{{referEarnForm.controls['status'].value ? 'ON' : 'OFF'}}</mat-slide-toggle>
              </div>
            </div>
          </div>
          <button mat-raised-button class="mt-1 llp--primary--btn" [disabled]="referEarnForm.invalid" (click)="updateDetails()">Submit</button>
      </form>
  </mat-card-content>
</mat-card>

<div class="row" *ngIf="!aceessSection">
  <p>You don't have permission to this section.</p>
</div>