<div class="sidebar-panel">
  <div id="scroll-area" [perfectScrollbar] class="navigation-hold" fxLayout="column">
    <!-- App Logo
    <div class="branding default-bg">      
        <a href="/admin/"> <img src="assets/images/arkenea/small-logo.png" alt=""  class="app-logoTEST large--logo"></a>  
        <a href="/admin/"> <img src="assets/images/arkenea/small-small-logo.png" alt=""  class="app-logoTEST small--logo"></a>     
    </div>
 -->
    <div class="branding admin--branding default-bg">
        <!-- <img src="assets/images/arkenea/admin-small-small-logo.png" alt="" class="app-logo"> -->
        <!-- Two different logos for dark and light themes -->
        <img 
        src="assets/images/logo-text-white.png" 
        alt="" 
        class="app-logo-text"
        *ngIf="themeService.activatedTheme?.name?.indexOf('dark') !== -1">
        <img 
        src="assets/images/arkenea/small-logo.png" 
        alt="" 
        class="app-logo-text"
        *ngIf="themeService.activatedTheme?.name?.indexOf('dark') === -1">
      </div>

    <!-- Sidebar user 
    <div class="app-user">
      <div class="app-user-photo">
        <img src="assets/images/default.jpg" alt="">
      </div>
      <mat-divider class="mat-divider mat-divider-horizontal" role="separator" aria-orientation="horizontal"></mat-divider>
      <span class="app-user-name mb-01">
        <mat-icon class="icon-xs text-muted">lock</mat-icon> 
        {{this.firstName}} {{this.lastName}}
      </span>
     
      <div class="app-user-controls">
        <button 
        class="text-muted"
        mat-icon-button 
        mat-xs-button
        matTooltip="Dashboard"
        routerLink="/admin/">
          <mat-icon>dashboard</mat-icon>
        </button>
        <button 
        class="text-muted"
        mat-icon-button 
        mat-xs-button
        matTooltip="Profile"
        routerLink="/admin/profile/">
          <mat-icon>account_box</mat-icon>
        </button>
        <button 
        class="text-muted"
        mat-icon-button 
        mat-xs-button
        matTooltip="Sign Out"
       (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
        </button>
      </div>
      <mat-divider class="mat-divider mat-divider-horizontal" role="separator" aria-orientation="horizontal" style="margin-top:100px"></mat-divider>
    </div>-->
    <!-- Navigation -->
    <app-sidenav [items]="menuItems" [hasIconMenu]="hasIconTypeMenuItem" [iconMenuTitle]="iconTypeMenuTitle" ></app-sidenav>
  </div>
</div>