
@import 'llp-global-styles.scss';

.invite--sub--line{
    font-size: 20px;
    color: #000;
    font-family: $font--lato--regular !important;
    margin: 0 0 30px 0px;
    text-align: center;
}
.date--label{
    font-size: 16px;
    color: #828385;
    font-family: $font--lato--regular !important;
}