<div class="shop-wrap llp--content--wrapper" fxLayout="row" fxLayoutWrap="wrap">
  <div class="full-width">
    <div class="">
      <mat-card class="empty--section p-0">
        <mat-card-header class="m-0">
          <mat-card-title class="m-0">Real Estates & Assets</mat-card-title>
          <div class="right--actions" *ngIf="trusteeLegaciesAction">
            <button mat-raised-button class="llp--primary--btn llp--primary--sm--btn"
              (click)="openProfileModal({}, true)">
              <mat-icon>edit</mat-icon>
              <span class="hide--sm--txt">Edit</span>
            </button>
            <button mat-raised-button class="llp--primary--btn llp--primary--sm--btn" (click)="deleteRealEstate()">
              <mat-icon>delete</mat-icon>
              <span class="hide--sm--txt">Delete</span>
            </button>
          </div>
        </mat-card-header>
        <mat-card-content>
          <div class="details--wrapper mb-1">
            <div class="details--header">
              <div class="d-flex align--items--center">
                <mat-icon>person</mat-icon>Real Estate
              </div>
              <span class="last--modified--by">Last modified:
                <span *ngIf="row?.modifiedOn && row?.modifiedOn != ''">{{row?.modifiedOn | date: 'yyyy/MM/dd'}}</span>
                <span *ngIf="!row?.modifiedOn">{{row?.createdOn | date: 'yyyy/MM/dd'}}</span>
              </span>
            </div>
            <div class="details--body">
              <div fxLayout="row wrap" class="mb--10">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">Type:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">{{getType(row?.estateType)}}</label>
                </div>
              </div>
              <div fxLayout="row wrap" class="mb--10">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">Address:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">{{row?.address}}</label>
                </div>
              </div>
              <div fxLayout="row wrap" class="mb--10">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">Mortgage Holder:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">{{row?.mortgageHolder}}</label>
                </div>
              </div>
              <div fxLayout="row wrap" class="mb--10">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">Account Number:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">{{row?.accountNumber}}</label>
                </div>
              </div>
              <div fxLayout="row wrap" class="mb--10">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">Phone Contact:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">{{row?.phoneContact}}</label>
                </div>
              </div>
              <div fxLayout="row wrap" class="mb--10">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">Deed Location:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">{{row?.deedLocation}}</label>
                </div>
              </div>
              <div fxLayout="row wrap" class="mb--10">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">Comment Box:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">{{row?.comments}}</label>
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>