<div class="ll--modal--header">
  Mark Tom as deceased
  <button class="modal--close" [mat-dialog-close]="">
    <mat-icon class="icon--cross">cancel</mat-icon>
  </button>
</div>

<form class="llp-form-wrapper">
  <div class="ll--modal--body ">
    <p>When you mark Tom as deceased it will prevent future modifications to his Legacy.</p>
    <p>It will unlock "After death" files for all appointees who have been granted access.</p>
  </div>
  <div class="ll--modal--footer text-center">
    <button mat-raised-button class="llp--primary--btn">Mark as deceased</button>
  </div>
</form>