<div class="container ">
  <div fxLayout="row wrap">
    <div fxFlex.xs="100" fxFlex.sm="100">
      <div class="shop-wrap llp--content--wrapper m-0 mt-1" fxLayout="row" fxLayoutWrap="wrap">
        <div class="full-width">
          <mat-card class="empty--section p-0">
              <mat-card-title class="">
                  <div class="card-title-text">Leads</div>
                  <mat-divider></mat-divider>
                </mat-card-title>
            <mat-card-header class="m-0 header--with--sort">
              <!-- <mat-card-title class="m-0">Leads</mat-card-title> -->
              <div class="right--filters">
                <mat-select placeholder="All" (selectionChange)="getLeadsLists( '', $event.value )">
                  <mat-option value="All">All</mat-option>
                  <mat-option value="day">Daily</mat-option>
                  <mat-option value="week">Weekly</mat-option>
                  <mat-option value="month">Monthly</mat-option>
                </mat-select>
              </div>
            </mat-card-header>

            
            <mat-card-content class="appointees--wrapper pr-0" *ngIf="showLeadsListing">
              <mat-card class="appointees--section p-0" *ngFor="let rows of leadsListings">
                <mat-card-header class="m-0">
                  <mat-card-title class="m-0">
                    <div class="appointees--pic">
                      <img src="{{rows?.customerId.profilePicture ? ProfilePic+rows?.customerId.profilePicture : 'assets/images/arkenea/default.jpg'}}" />
                    </div>
                    <div class="appointees--desc">
                      <h5>{{rows?.customerId.firstName}} {{rows?.customerId.lastName}}</h5>
                      <p class="m-0">{{rows?.customerId.username}}</p>
                    </div>
                    <mat-icon class="icon--rowss">people</mat-icon>
                  </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <h4>Details</h4>
                  <div class="files--folder">
                    <mat-icon>location_on</mat-icon>
                    {{rows?.customerId.city }}, {{rows?.customerId.state}} - {{rows?.customerId.zipcode}}
                  </div>
                  <div class="files--folder mb-0">
                    <mat-icon>local_phone</mat-icon>
                    {{rows?.customerId.phoneNumber}}
                  </div>
                  <div class="view--details">
                    <mat-icon>remove_red_eye</mat-icon>
                    <a [routerLink]="['/advisor/leads-details', rows?.customerId._id]">View Details</a>
                  </div>
                </mat-card-content>
              </mat-card>
            </mat-card-content>
            <mat-card-content class="appointees--wrapper pr-0" *ngIf="!showLeadsListing">
                <div class="files--folder mt-1">Currently you do not have any leads associated.</div>
              </mat-card-content>

          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>