<div class="ll--modal--header">
  Change Password
  <button class="modal--close"[mat-dialog-close]=""><mat-icon class="icon--cross">cancel</mat-icon></button>
  <!-- <mat-icon class="icon--cross">cancel</mat-icon> -->
  
</div>
<div class="ll--modal--body">
  <div fxLayout="row wrap">
    <div fxFlex.xs="100">
      <form class="llp-form-wrapper">
        <mat-form-field class="full-width">
          <input matInput name="pp" type="password" placeholder="Old Password" value="123456">
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput name="np" type="password" placeholder="New Password" value="123456">
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput name="rp" type="password" placeholder="Re-Enter Password" value="123456">
        </mat-form-field>
      </form>
    </div>
  </div>
</div>
<div class="ll--modal--footer text-center">
  <button mat-raised-button class="llp--primary--btn" [mat-dialog-close]="">Save</button>

</div>