
@import 'llp-global-styles.scss';

.note--save--btn{
    font-size: 16px;
    padding: 0 18px;
    height: 32px;
    line-height: 29px;
}
.todos--list{
    .mat-card-content{
        border-radius: 2px;
        border: solid 1px #dadce0;
        .mat-list-item{
            height: auto;
            ::ng-deep .mat-list-item-content{
                padding: 10px 35px 10px 20px;
                p{
                    margin-bottom: 0;
                    font-size: 16px;
                    color: #222324;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    
                }
                .more{
                    padding: 0;
                    position: absolute;
                    right: 0;
                    top: 4px;
                }
            }
        }
        .when{
            display: block;
            font-size: 13px;
            color: #828385;
            margin: 0px 0 15px 20px;
        } 
    }
}
.mat-menu-item{
    line-height: 34px;
    height: 34px;
    font-family: $font--lato--regular;
    font-size: 16px !important;
    &:hover{
        color: $clr--2;
    }
}
.todo--modal--hgt{
    min-height: 300px;
    max-height: calc(100vh - 200px);
    overflow: auto;
}
.view--more{
    font-family: $font--lato--bold !important;
    &:hover{
        color: $clr--2;
    }
}
.text-nl2br{
    white-space: pre-line;
}
.view--more{
    color: $clr--2;
}