<div class="ll--modal--header">
  To-Do's
  <button class="modal--close" [mat-dialog-close]="">
    <mat-icon class="icon--cross">cancel</mat-icon>
  </button>
</div>

<div class="ll--modal--body todo--modal--hgt">
  <form class="llp-form-wrapper mt-1" [formGroup]="todosForm" (ngSubmit)="todosFormSubmit()">
    <mat-form-field class="full-width no-mar">
      <textarea rows="4" (blur)="trimInput(todosForm.value)" matInput placeholder="Add Your To-Do's Here" name="comments"
        [formControl]="todosForm.controls['comments']" (keyup)="firstCapitalize($event)"></textarea>
      <mat-icon matTooltip="Please enter your to-do's" matTooltipClass="llp--tooltip error"
        *ngIf="todosForm.controls['comments'].hasError('required') && todosForm.controls['comments'].touched"
        class="red--alert">help_outline</mat-icon>
    </mat-form-field>
    <div class="text-right">
      <button mat-raised-button class="llp--primary--btn note--save--btn" [disabled]="todosForm.invalid">Save</button>
    </div>
  </form>
  <div class="todos--list mt-1" *ngFor="let todo of todoList; let rowIndex = index">
    <mat-card-content>
      <mat-nav-list class="pt-0" *ngIf="viewMode != rowIndex">
        <mat-list-item>
          <p class="text-nl2br capitalize">
            {{todo.comments}}            
          </p>
          <button class="more" mat-icon-button #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu1">
            <mat-icon>more_vert</mat-icon>
          </button>
        </mat-list-item>
        <mat-menu #menu1="matMenu" xPosition="before">
          <button mat-menu-item (click)="edit(rowIndex, todo.comments)">Edit</button>
          <button mat-menu-item (click)="delete(todo._id)">Delete</button>
        </mat-menu>
        <span class="when">{{todo.modifiedOn  | date: 'MM/dd/yyyy H:m:s'}}</span>
      </mat-nav-list>
      <form class="llp-form-wrapper" [formGroup]="todosUpdateForm" (ngSubmit)="todosFormUpdate()">
        <mat-nav-list class="pt-0" *ngIf="viewMode == rowIndex">
          <mat-list-item>
            <mat-form-field class="full-width no-mar p-0">
              <textarea rows="4" (keyup)="firstCapitalize($event);updateCommentCheck(todosUpdateForm.value)" matInput name="update_comments"
                [formControl]="todosUpdateForm.controls['update_comments']"
                value="{{todo.comments}}">{{todo.comments}}</textarea>
              <mat-icon matTooltip="Please enter your to-do's" matTooltipClass="llp--tooltip error"
                *ngIf="!updateTodosButton" class="red--alert">help_outline</mat-icon>
            </mat-form-field>
          </mat-list-item>
          <div class="text-right mr-30 mb-1">
            <button mat-raised-button class="llp--primary--btn note--save--btn"
              [disabled]="!updateTodosButton">Update</button>
          </div>
        </mat-nav-list>
      </form>
    </mat-card-content>
  </div>
  <div class="text-right mb-1"  *ngIf="viewMoreStatus">
    <a class="view--more" (click)="redirectToLising(endUserType)" routerLinkActive="active--link">View More...</a>
  </div>
</div>