@import 'llp-global-styles.scss';

#app-customizer {
  position: fixed;
  z-index: 100;
  bottom: 16px;
  right: 24px;
  .handle {
    float: right;
  }
  .mat-card-content  {
    padding: 1rem 1.5rem 2rem;
  }
  .close--msg--sec{
    background-color: #c72128;
    .card-title-text{
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      position: absolute;
      top: -15px;
      right: -11px;
      z-index: 99999999999;
      width: 35px;
      height: 35px;
      padding: 0;
      background: #c72128;
      border-radius: 50%;
      .canClose{
        cursor: pointer;
        margin: 0 auto;
      }
    }
  }

  .chat--wrapper{
    width: 300px;
    box-shadow: 0 0 5px #000 !important;
    overflow: inherit;
    ::ng-deep{
      .chat-sidenav{
        width: 300px;
        .chat-sidebar-toolbar{
          background: #6e7734;
          display: flex;
          .toolbar-avatar{
            flex-shrink: 0;           
          }
          h6{
            overflow: hidden;
            text-overflow: ellipsis;
            font-family: $font--lato--medium;
          }
        }
        .chat-sidebar-scroll{
          position: relative;
          height: calc(100vh - 145px);
          .inbox-nav-list{
            .mat-list-item{
              height: 57px;
            }
          }
        }
      }

      .mat-list-item{
        font-family: $font--lato--regular !important;
      }

      .chat--window{
        width: 300px;
        .chat-toolbar{
          background: #6e7734;
          .active-chat-user{
            h6{
              font-family: $font--lato--medium;
              width: 150px;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }
        .conversations-hold{
          height: calc(100vh - 257px);
          .single-conversation{
            .toolbar-avatar{
              flex-shrink: 0;
            }
            .conversation-msg{
              font-family: $font--lato--regular !important;
              color: #222324 !important;
              padding: 0;
            }
          }          
        }
        .chat-input-actions{
          .mat-button-wrapper{
            padding: 0 !important;
          }
        }
      }


    }

  }

}


















.pos-rel {
  position: relative;
  z-index: 99;
  .olay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .5);
    z-index: 100;
  }
}
.message--trriger--btn{
    margin: 0 !important;
    background-color: #c72128 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 65px;
    width: 65px !important;
    padding: 0 !important;
    ::ng-deep{
      .mat-button-wrapper{
        padding: 0 !important;
      }
    }
    .total--msgs{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 25px;
      height: 25px;
      background-color: #727933;
      color: #fff;
      border-radius: 50%;
      font-size: 14px;
      font-family: $font--lato--regular !important;
      position: absolute;
      right: 0;
      top: -5px;
      box-shadow: 0 0 5px #ddd;
    }
}