<div class="container ad--wrapper">
  <div fxLayout="row wrap">
    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="75" fxFlex.lg="80" fxFlex.xl="80">
      <mat-card class="p-0 mb--30">
        <mat-card-title class="">
          <div class="card-title-text">Recent updates</div>
          <mat-divider></mat-divider>
        </mat-card-title>
        <mat-card-content class="recent--update--section" *ngIf="!recentLogs">
          <p>View all client updates, leads, legacy updates in this section. No updates to display as of now.</p>
          <div class="red--box">
            <img src="assets/images/arkenea/invite-now.png" />
            <p>Encourage your friends, loved ones, acquaintances to create a legacy for their loved ones!
              <a routerLink="/advisor/dashboard-updates"> Invite Now</a>
            </p>
          </div>
        </mat-card-content>
        <mat-card-content class="recent--update--section" *ngIf="recentLogs">
          <mat-nav-list class="ad--nav--list"  *ngFor="let logData of recentActivityLogList; let i = index">
            <mat-list-item>
              <div mat-list-avatar class="profile--pic">
                <img alt="" src="{{profileFilePath + logData.customerProfileImage}}">
              </div>
              <div mat-line>
                <p class="what--happened">
                  <span class="who--does"> {{logData.customerFirstName +' ' + logData.customerLastName}} </span> {{logData.activityMessage}}</p>
              </div>
              <p mat-line class="when">
                {{row?.modifiedOn | date: 'MMM dd, yyyy'}}
              </p>
              <button mat-icon-button #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu" *ngIf="logData.sectionName == 'hired'">
                <mat-icon>more_vert</mat-icon>
              </button>
            </mat-list-item>
            <mat-menu #menu="matMenu"  xPosition="before">
              <button mat-menu-item  *ngIf="logData.actionTaken == 'Pending'" (click)="hireAdvisor(logData?._id,'confirmHire','Pending')">
                <mat-icon>check</mat-icon> Confirm hiring</button>
              <button mat-menu-item class="reject"  *ngIf="logData.actionTaken == 'Pending'" (click)="hireAdvisor(logData?._id,'rejectHire','Pending')">
                <mat-icon>cancel</mat-icon> Reject hiring</button>
              <button mat-menu-item>
                <mat-icon>assignment</mat-icon> View profile</button>
            </mat-menu>
          </mat-nav-list>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="25" fxFlex.lg="20" fxFlex.xl="20" class="reverse--order--sm">
      <div class="right--panel--wrapper">
        <div fxLayout="row wrap">
          <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
            <div class="right--boxes">
              <mat-card class="p-0">
                <mat-card-title class="">
                  <div class="card-title-text">Invitation Status</div>
                  <mat-divider></mat-divider>
                </mat-card-title>
                <mat-card-content class="invite--body--section">
                  <h4 class="count">0<span>/45</span></h4>
                  <p class="daysgo">26 days to go</p>
                  <p class="invites">Invites sent in this month</p>
                  <button mat-raised-button class="llp--primary--btn">Invite Now</button>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
          <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
              <div class="right--boxes mr-0">
                  <mat-card class="p-0">
                    <mat-card-title class="">
                      <div class="card-title-text">Monthly Leads</div>
                      <mat-divider></mat-divider>
                    </mat-card-title>
                    <mat-card-content class="invite--body--section">
                      <h4 class="count">0<span></span></h4>
                      <div class="adjust">
                          <p class="invites">0 users have shown 
                              interest</p>
                          <button mat-raised-button class="llp--primary--btn">View All</button>
                      </div>
                    </mat-card-content>
                  </mat-card>
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>