<div class="container ad--wrapper">
  <div fxLayout="row wrap">
    <div fxFlex.xs="100" fxFlex.sm="33.33" fxFlex.md="20" fxFlex.lg="80" fxFlex.xl="70">
      <mat-card class="p-0">
        <mat-card-title class="">
          <div class="card-title-text">Recent updates</div>
          <mat-divider></mat-divider>
        </mat-card-title>

        <mat-card-content class="recent--update--section">
          <p>View all client updates, leads, legacy updates in this section. No updates to display as of now.</p>
          <div class="red--box">

            <img src="assets/images/arkenea/invite-now.png" />
            <p>Encourage your friends, loved ones, acquaintances to create a legacy for their loved ones! ,
              <a> Invite Now</a>
            </p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex.xs="100" fxFlex.sm="33.33" fxFlex.md="20" fxFlex.lg="20" fxFlex.xl="30">
      <div class="right--panel--wrapper">
        <div fxFlex.xs="40" fxFlex.sm="40" fxFlex.md="40" fxFlex.lg="100" fxFlex.xl="100">
        </div>
      </div>
    </div>
  </div>


</div>