<div class="container subscription--wrapper">
  <button mat-raised-button class="llp--secondary--btn back--btn tran--bg backBtn--with--icon"
    [routerLink]="'/customer/account-setting'">
    <mat-icon>arrow_back</mat-icon> Back
  </button>

  <mat-card class="p-0">

    <mat-card-title class="">
      <div class="card-title-text">Subscription Plans</div>
      <mat-divider></mat-divider>
    </mat-card-title>

    <mat-card-content>
     
      <div class="pt-1" *ngIf="premiumExpired && freePremiumExpired">
        <div class="expired--user--info" >
          <p>Your subscription is expired. Please subscribe to Legacy Life plans to access your legacy again!</p>
        </div>
      </div>

      <div class="plans--wrapper">
        <div fxLayout="row wrap" fxLayoutAlign="center">

          <div fxFlex="100">
            <div class="plan--text">
              <div class="plan--header">
                <img alt="" class="cornar--stars" src="assets/images/arkenea/star.png">
                <div class="plan--type">Legacy Life Plan</div>
                <div class="relative">
                  <span class="doller">{{planAmount | currency : planCurrency : 'symbol': '.0-0' | slice :0:1}}</span>
                  <span class="amt">{{planAmount | number : '.0-0'}}</span>
                  <span class="duration">a {{planInterval}}</span>
                </div>
                <div class="space">
                  For {{defaultSpace}} {{spaceDimension}} {{ isAddOnPurchased ? '+ '+addOnSpace+' '+spaceDimension : ''}} Space
                </div>
              </div>
              <div class="plan--body">
                <h5>Legacy Life Plan Features</h5>
                <mat-list class="p-0">
                  <div fxLayout="row wrap">
                    <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
                      <mat-list-item>
                        <mat-icon>check</mat-icon> In-Depth Estate Planning Platform
                      </mat-list-item>
                    </div>
                    <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
                      <mat-list-item>
                        <mat-icon>check</mat-icon> Professional Resources and Guides
                      </mat-list-item>
                    </div>
                    <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
                      <mat-list-item>
                        <mat-icon>check</mat-icon> Secure Encrypted Document Storage
                      </mat-list-item>
                    </div>
                    <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
                      <mat-list-item>
                        <mat-icon>check</mat-icon> Online Help
                      </mat-list-item>
                    </div>
                    <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
                      <mat-list-item>
                        <mat-icon>check</mat-icon> Unlimited Trustees
                      </mat-list-item>
                    </div>
                    <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
                      <mat-list-item>
                        <mat-icon>check</mat-icon> Video & Picture Time Capsule
                      </mat-list-item>
                    </div>
                    <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
                      <mat-list-item>
                        <mat-icon>check</mat-icon> Local Advisor Directory
                      </mat-list-item>
                    </div>
                  </div>
                </mat-list>
              </div>

              <div class="text-center">
                <button mat-raised-button class="llp--primary--btn" (click)="openCardDetailsModal();">Purchase Legacy Plan</button>
              </div>
            </div>
          </div> 


        

        </div>
      </div>


    </mat-card-content>
  </mat-card>


</div>