

@media only screen and (max-width: 599px) {
    .id--box--body {
        height: calc(100vh - 380px);
        overflow: auto;
    }
}

.id--box--body{
    height: calc(100vh - 243px);
    overflow: auto;
}