<div class="ll--modal--header">
    Debt
  <button class="modal--close" [mat-dialog-close]="">
    <mat-icon class="icon--cross">cancel</mat-icon>
  </button>
</div>
<form class="llp-form-wrapper" (ngSubmit)="DebtFormSubmit(DebtForm.value)">
  <div class="ll--modal--body id--box--body legal--stuff--body--hgt">
    <div fxLayout="row wrap" class="pt-1">
      <div fxFlex.xs="100">
       <mat-form-field class="full-width">
              <mat-label>Policy Type*</mat-label>
            <mat-select placeholder="Debt Type*" name="debtsType" [formControl]="DebtForm.controls['debtsType']" (selectionChange)="onChangeType($event.value)">
              <mat-option value="">Select Policy Type</mat-option>
              <mat-option *ngFor="let option of debtsTypeList"  [value]="option.opt_code">{{option.opt_name}}</mat-option>
            </mat-select>
              <mat-icon matTooltip="Please select debt type" matTooltipClass="llp--tooltip error" *ngIf="DebtForm.controls['debtsType'].hasError('required') && DebtForm.controls['debtsType'].touched" class="red--alert">help_outline</mat-icon>
       </mat-form-field>

       <mat-form-field class="full-width" *ngIf="newVal"> 
          <input matInput name="debtsTypeNew" placeholder="Debt Type New*"  [formControl]="DebtForm.controls['debtsTypeNew']">
          <mat-icon matTooltip="Please enter debt type new" matTooltipClass="llp--tooltip error" *ngIf="DebtForm.controls['debtsTypeNew'].hasError('required') && DebtForm.controls['debtsTypeNew'].touched" class="red--alert">help_outline</mat-icon>
      </mat-form-field>

      <mat-form-field class="full-width">
          <input matInput name="bankLendarName" placeholder="Bank Lendar Name*"  (keyup)="firstCapitalize($event)"  (keypress)="checkSpecialChar($event)" [formControl]="DebtForm.controls['bankLendarName']">
          <mat-icon matTooltip="Please enter bank lendar name" matTooltipClass="llp--tooltip error" *ngIf="DebtForm.controls['bankLendarName'].hasError('required') && DebtForm.controls['bankLendarName'].touched" class="red--alert">help_outline</mat-icon>          
      </mat-form-field>

      <mat-form-field class="full-width">
          <input matInput name="accountNumber" placeholder="Account Number" [formControl]="DebtForm.controls['accountNumber']">
      </mat-form-field>
   
      <mat-form-field class="full-width">
          <input matInput name="contactEmail" placeholder="Contact Email" [formControl]="DebtForm.controls['contactEmail']">          
          <mat-icon matTooltip="Please enter valid email Id." matTooltipClass="llp--tooltip error" *ngIf="DebtForm.controls['contactEmail'].hasError('pattern') && DebtForm.controls['contactEmail'].touched" class="red--alert">help_outline</mat-icon>
      </mat-form-field>

      <mat-form-field class="full-width">
          <input matInput name="contactPhone" placeholder="Contact Phone"  (keypress)="onlyNumbers($event)" maxlength="15" [formControl]="DebtForm.controls['contactPhone']">
          <mat-icon matTooltip="Please enter minimum 7 & maximum 15 numbers only" matTooltipClass="llp--tooltip error" *ngIf="DebtForm.controls['contactPhone'].hasError('pattern') && DebtForm.controls['contactPhone'].touched" class="red--alert">help_outline</mat-icon>
      </mat-form-field>

      <mat-form-field class="full-width mt-1">
              <textarea (keyup)="firstCapitalize($event)" (keypress)="checkSpecialChar($event)" maxlength="500" matInput placeholder="Comments" name="comments" [formControl]="DebtForm.controls['comments']"></textarea>
              <div class="char--limit" style="float: right;">{{ 500 - DebtForm.controls['comments'].value?.length }}</div>
      </mat-form-field>

      <mat-form-field class="full-width" *ngIf="profileIdHiddenVal">
            <input matInput name="profileId" [formControl]="DebtForm.controls['profileId']" readonly="readonly">
      </mat-form-field>
      </div>
    </div>
  </div>
  <div class="ll--modal--footer text-center">
    <button mat-raised-button class="llp--primary--btn" [disabled]="!DebtForm.valid">Save</button>
  </div>
</form>