@import "../userlist/userlist.component.scss";

.char--limit{
    color: #828385;
    font-size: 15px;
    position: absolute;
    right: 0;
    bottom: -25px;
    font-family: 'latobold';
        color: #fff;
        white-space: normal;
}