<div class="container mt-1">
  <div fxLayout="row wrap">
    <div fxFlex.xs="100" fxFlex.sm="100">
      <mat-card class="p-0 mb--30">
        <mat-card-title class="">
          <div class="card-title-text">Legacies Feature and Discover</div>
          <mat-divider></mat-divider>
        </mat-card-title>
        <mat-card-content class="get--featured--section">

          <div fxLayout="row wrap">
            <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="60" fxFlex.xl="60">

              <div class="left">
                <h4>Get Featured. Get Discovered.</h4>
                <p>A standard profile gets you in the LLP Professionals directory
                  <span class="bold"> but a Featured Profile will get you found! </span>
                </p>
                <p>As a featured profile, you get listed on top of the non-featured profile which increases your chances to
                  get noticed
                </p>
                <!-- Specialites -->
                <div class="specialites--wrapper">
                  <div class="box--sec">
                    <div class="logo">
                      <div class="logo--inner">
                        <mat-icon>settings</mat-icon>
                      </div>
                    </div>
                    <h3>As a featured profile, you also get</h3>
                    <div class="desc">
                      <mat-icon>arrow_forward</mat-icon>
                      Online chat function with your LLP clients
                    </div>
                    <div class="desc">
                      <mat-icon>arrow_forward</mat-icon>
                      Enhanced profile to show your work experience and professional summary
                    </div>
                    <div class="desc mb-0">
                      <mat-icon>arrow_forward</mat-icon>
                      End users can connect with you from the website
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="40" fxFlex.xl="40">

              <div class="right">
                <h5>How can I get my profile featured?</h5>
                <div class="features">
                  <mat-icon>location_on</mat-icon>
                  Specify your target locations or zip codes
                </div>
                <div class="features">
                  <mat-icon>date_range</mat-icon>
                  Specify the duration for which you want to stay featured
                </div>
                <div class="features">
                  <mat-icon>star</mat-icon>
                  Get a quote from admin
                </div>

                <div class="enq--btn text-center">
                  <button mat-raised-button class="llp--primary--green--btn" (click)="openSubmitEnqModal();">Enquire Now</button>
                </div>
              </div>

            </div>
          </div>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>