<div class="container mt-1">
  <div fxLayout="row wrap">
    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
      <mat-card class="p-0 mb--30">
        <mat-card-title class="">
          <div class="card-title-text">Legacies Feature and Discover</div>
          <mat-divider></mat-divider>
        </mat-card-title>
        <mat-card-content class="get--featured--section">
          <div fxLayout="row wrap">
            <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="60" fxFlex.xl="60">
              <div class="left">
                <h4>Get Featured. Get Discovered.</h4>
                <p>A standard profile gets you in the LLP Professionals directory
                  <span class="bold"> but a Featured Profile will get you found! </span>
                </p>
                <p>As a featured profile, you get listed on top of the non-featured profile which increases your chances
                  to get noticed</p>
                <div class="specialites--wrapper">
                  <div class="box--sec">
                    <div class="logo">
                      <div class="logo--inner">
                        <mat-icon>settings</mat-icon>
                      </div>
                    </div>
                    <h3>As a featured profile, you also get</h3>
                    <div class="desc">
                      <mat-icon>arrow_forward</mat-icon>
                      Online chat function with your LLP clients
                    </div>
                    <div class="desc">
                      <mat-icon>arrow_forward</mat-icon>
                      Enhanced profile to show your work experience and professional summary
                    </div>
                    <div class="desc mb-0">
                      <mat-icon>arrow_forward</mat-icon>
                      End users can connect with you from the website
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="40" fxFlex.xl="40">
              <div class="right">
                <h5>How can I get my profile featured?</h5>
                <div class="features">
                  <mat-icon>location_on</mat-icon>
                  Specify your target locations or zip codes
                </div>
                <div class="features">
                  <mat-icon>date_range</mat-icon>
                  Specify the duration for which you want to stay featured
                </div>
                <div class="features">
                  <mat-icon>star</mat-icon>
                  Get a quote from admin
                </div>
                <div class="enq--btn text-center">
                  <button mat-raised-button class="llp--primary--green--btn" (click)="openSubmitEnqModal();">Enquire
                    Now</button>
                </div>
              </div>
            </div>

            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" *ngIf="recordsFound">
              <div class="left">
                <mat-card class="p-0 mb--30">
                  <mat-card-title class="">
                    <div class="card-title-text">Featured request's</div>
                  </mat-card-title>
                  <mat-card-content class="get--featured--section min--hgt--auto">
                    <mat-accordion>
                      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
                        *ngFor="let item of rows">
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                              <div class="display--data m-0">
                                  <label class="left--label mb-0">Status:</label>
                                  <label class="right--label">{{ item.adminReply.length > 0 ? (item.adminReply[item.adminReply.length-1]['paymentDetails']['status'] != 'Expired' ? 'Payment '+item.adminReply[item.adminReply.length-1]['paymentDetails']['status'] : 'Link Expired') : 'Payment Pending' }}</label>
                                </div>
                          </mat-panel-title>
                        </mat-expansion-panel-header>

                        <div fxLayout="row wrap">
                          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
                            <div class="display--data">
                              <label class="left--label">Requested Zipcodes:</label>
                              <label class="right--label">{{item.zipcodes}}</label>
                            </div>
                          </div>
                          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
                            <div class="display--data">
                              <label class="left--label">Created Date:</label>
                              <label class="right--label">{{item.createdOn | date: 'yyyy/MM/dd'}}</label>
                            </div>
                          </div>
                          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
                            <div class="display--data">
                              <label class="left--label">Start Date:</label>
                              <label class="right--label">{{item.fromDate | date: 'yyyy/MM/dd'}}</label>
                            </div>
                          </div>
                          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
                            <div class="display--data">
                              <label class="left--label">End Date:</label>
                              <label class="right--label">{{item.toDate  | date: 'yyyy/MM/dd'}}</label>
                            </div>
                          </div>
                          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
                            <div class="display--data">
                              <label class="left--label">Message:</label>
                              <label class="right--label">{{item.message}}</label>
                            </div>
                          </div>

                          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
                            <div class="admin--reply" *ngIf="item.status!='Reject'">
                              <div *ngFor="let row of item.adminReply">
                                <div class="" *ngIf="row.status !='Expired'">
                                  <h5>Admin Reply</h5>

                                  <div fxLayout="row wrap">
                                    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
                                      <div class="display--data">
                                        <label class="left--label">Approved Zipcodes:</label>
                                        <label class="right--label">{{arrayToString(row.zipcodes)}}</label>
                                      </div>
                                    </div>
                                    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
                                      <div class="display--data">
                                        <label class="left--label">Payment Cost:</label>
                                        <label class="right--label"> ${{row.cost}}</label>
                                      </div>
                                    </div>
                                    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100"
                                      fxFlex.xl="100">
                                      <div class="display--data">
                                        <label class="left--label">Reply:</label>
                                        <label class="right--label"> {{row.message}}</label>
                                      </div>
                                    </div>
                                    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" *ngIf="row.status =='Pending' && row.paymentDetails && row.paymentDetails.invoiceId && item.uniqueId">
                                      <button mat-raised-button class="llp--primary--green--btn mt-1 mb-1" routerLink="{{serverUrl}}/{{encryptData(item.customerId._id)}}/{{encryptData(row.paymentDetails.invoiceId)}}/{{item.uniqueId}}">Payment</button>
                                    </div>
                                  </div>



                                </div>
                              </div>
                            </div>
                          </div>
                        </div>



                      </mat-expansion-panel>
                    </mat-accordion>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>


          </div>
          <!-- <div fxLayout="row wrap" *ngIf="recordsFound">
            <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="60" fxFlex.xl="60">
              <div class="left">
                <mat-card class="p-0 mb--30">
                  <mat-card-title class="">
                    <div class="card-title-text">Enquiry's</div>
                    <mat-divider></mat-divider>
                  </mat-card-title>
                  <mat-card-content class="get--featured--section">
                    <mat-accordion>
                      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
                        *ngFor="let item of rows">
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            {{item.status=='Active' ? 'Payment Pending' : ''}}
                          </mat-panel-title>
                          <mat-panel-description>
                            {{item.zipcodes}}
                          </mat-panel-description>
                          <mat-panel-description>
                            {{item.createdOn | date: 'yyyy/MM/dd'}}
                          </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p><b>From date:</b> {{item.fromDate | date: 'yyyy/MM/dd'}} <b>To date:</b>
                          {{item.toDate  | date: 'yyyy/MM/dd'}}</p>
                        <p>Message: {{item.message}}</p>
                        <div *ngIf="item.status!='Reject'">
                          <div *ngFor="let row of item.adminReply">
                            <div class="text-center" *ngIf="row.status=='Pending'">
                              <p><b>Admin Reply</b></p>
                              <p>Zipcodes: {{arrayToString(row.zipcodes)}}</p>
                              <p>Payment Cost: ${{row.cost}} <button mat-raised-button
                                  class="llp--primary--green--btn">Payment</button></p>
                              <p *ngIf="row.message">Reply: {{row.message}}</p>
                            </div>
                          </div>
                        </div>
                      </mat-expansion-panel>
                    </mat-accordion>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
          </div> -->
        </mat-card-content>
      </mat-card>
    </div>




  </div>
</div>