<div class="shop-wrap llp--content--wrapper" fxLayout="row" fxLayoutWrap="wrap">
  <!-- Filters -->

  <!-- Right side -->
  <div class="full-width">

    <!-- My Essentials 3rd (details view) -->
    <div class="">
      <mat-card class="empty--section p-0">
        <mat-card-header class="m-0">
          <mat-card-title class="m-0">My Essentials</mat-card-title>
          <div class="right--actions" *ngIf="trusteeLegaciesAction">
            <button mat-raised-button class="llp--primary--btn llp--primary--sm--btn" (click)="openProfileModal({}, true)">
              <mat-icon>edit</mat-icon>
              <span class="hide--sm--txt">Edit</span>
            </button>
            <button mat-raised-button class="llp--primary--btn llp--primary--sm--btn" (click)="deleteProfile(row?.customerId)">
              <mat-icon>delete</mat-icon>
              <span class="hide--sm--txt">Delete</span>
            </button>
          </div>
        </mat-card-header>
        <mat-card-content>
          <div class="details--wrapper mb-1">
            <div class="details--header">
              <div class="d-flex align--items--center">
                  <mat-icon>person</mat-icon>Personal Profile
                </div>
                <span class="last--modified--by">Last modified:
                  <span *ngIf="row?.modifiedOn && row?.modifiedOn != ''">{{row?.modifiedOn | date: 'yyyy/MM/dd'}}</span>
                  <span *ngIf="!row?.modifiedOn">{{row?.createdOn | date: 'yyyy/MM/dd'}}</span>
                </span>
            </div>

              
            <div class="details--body">
              <h3>{{row?.ppFirstName +' '+ row?.ppLastName}}</h3>
              <div fxLayout="row wrap" class="mb--10">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">Date of Birth:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">{{row?.ppDateOfBirth  | date: 'yyyy/MM/dd'}}</label>
                </div>
              </div>
              <div fxLayout="row wrap" class="mb--10">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">Email Address:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">{{ppEmailsList}}</label>
                </div>
              </div>
              <div fxLayout="row wrap" class="mb--10">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">Phone:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">+1 {{pplandLineNumberList}}</label>
                </div>
              </div>
              <div fxLayout="row wrap" class="mb--10">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">Address:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">{{ppaddressData}}</label>
                </div>
              </div>              
            </div>
          </div>

          <div class="details--wrapper mb-1">

              <div class="details--header">
                  <div class="d-flex align--items--center">
                      <mat-icon>description</mat-icon>Work Profile
                    </div>
                    <span class="last--modified--by">Last modified:
                        <span *ngIf="row?.modifiedOn && row?.modifiedOn != ''">{{row?.modifiedOn | date: 'yyyy/MM/dd'}}</span>
                        <span *ngIf="!row?.modifiedOn">{{row?.createdOn | date: 'yyyy/MM/dd'}}</span>
                    </span>
                </div>


            <div class="details--body">
              <h3>Legacy Life Plans</h3>
              <div fxLayout="row wrap" class="mb--10">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">Work/Business:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">{{row?.wpWorkBusiness}}</label>
                </div>
              </div>
              <div fxLayout="row wrap" class="mb--10">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">Company Name:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">{{row?.wpCompanyName}}</label>
                </div>
              </div>
              <div fxLayout="row wrap" class="mb--10">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">Title/Position:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">{{row?.wpTitlePosition}}</label>
                </div>
              </div>
              <div fxLayout="row wrap" class="mb--10">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">Work Number:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">+1 {{wpLandlineNumbersList}}</label>
                </div>
              </div>
              <div fxLayout="row wrap" class="mb--10">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">Department:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">{{row?.wpDepartment}}</label>
                </div>
              </div>
              <div fxLayout="row wrap" class="mb--10">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">Contact Persons Name:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">{{row?.wpContactPersonName}}</label>
                </div>
              </div>
              <div fxLayout="row wrap" class="mb--10">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">Address:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">{{row?.wpAddressLine1 +" "+ row?.wpAddressLine2 +" "+row?.wpCity +" "+row?.wpState +" "+row?.wpCountry +" "+row?.wpZipCode}}</label>
                </div>
              </div>
            </div>
          </div>

          <div class="details--wrapper">

              <div class="details--header">
                  <div class="d-flex align--items--center">
                      <mat-icon>content_paste</mat-icon>Civic/Club, Religious Info 
                    </div>
                    <span class="last--modified--by">Last modified:
                        <span *ngIf="row?.modifiedOn && row?.modifiedOn != ''">{{row?.modifiedOn | date: 'yyyy/MM/dd'}}</span>
                        <span *ngIf="!row?.modifiedOn">{{row?.createdOn | date: 'yyyy/MM/dd'}}</span>
                    </span>
                </div>

            <div class="details--body">
              <h3>Civic Group/Club</h3>
              <div fxLayout="row wrap" class="mb--10">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">Name:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">{{row?.ccName}}</label>
                </div>
              </div>
              <div fxLayout="row wrap" class="mb--10">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">Address 1:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">{{row?.ccAddressLine1}}</label>
                </div>
              </div>
              <div fxLayout="row wrap" class="mb--10">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">Address 2:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">{{row?.ccAddressLine2}}</label>
                </div>
              </div>
              <div fxLayout="row wrap" class="mb--10">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">Zip code:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">{{row?.ccZipCode}}</label>
                </div>
              </div>
              <div fxLayout="row wrap" class="mb--10">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">Phone:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">+1 {{ccWorkLandlineNumbersList}}</label>
                </div>
              </div>
              <div fxLayout="row wrap" class="mb--10">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">Contact person name:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">{{row?.ccContactPersonName}}</label>
                </div>
              </div>
              <div fxLayout="row wrap" class="mb--10">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">Contact person phone:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">+1 {{ccContactLandlineNumbersList}}</label>
                </div>
              </div>
              <h3 class="mt--30">Church/Synagogue/Religious Connection</h3>
              <div fxLayout="row wrap" class="mb--10">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">Name:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">{{row?.ccChurchName}}</label>
                </div>
              </div>
              <div fxLayout="row wrap" class="mb--10">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">Address 1:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">{{row?.ccChurchAddressLine1}}</label>
                </div>
              </div>
              <div fxLayout="row wrap" class="mb--10">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">Address 2:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">{{row?.ccChurchAddressLine2}}</label>
                </div>
              </div>
              <div fxLayout="row wrap" class="mb--10">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">Zip code:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">{{row?.ccChurchZipCode}}</label>
                </div>
              </div>
              <div fxLayout="row wrap" class="mb--10">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">Contact person name:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">{{row?.ccChurchContactPersonName}}</label>
                </div>
              </div>
              <div fxLayout="row wrap">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                  <label class="strong--label">Phone:</label>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                  <label class="normal--label">+1 {{ccChurchLandlineNumbersList}}</label>
                </div>
              </div>

            </div>
          </div>


        </mat-card-content>
      </mat-card>

    </div>

  </div>

</div>