<div class="shop-wrap llp--content--wrapper" fxLayout="row" fxLayoutWrap="wrap">
  <div class="full-width">
    <div class="">
      <mat-card class="empty--section p-0">
        <mat-card-header class="m-0">
          <mat-card-title class="m-0">Insurance Finance & Debt</mat-card-title>
          <div class="right--actions" *ngIf="trusteeLegaciesAction">
            <button mat-raised-button class="llp--primary--btn llp--primary--sm--btn" (click)="openDebtModal()">
              <mat-icon>edit</mat-icon>
              <span class="hide--sm--txt">Edit</span>
            </button>
            <button mat-raised-button class="llp--primary--btn llp--primary--sm--btn" (click)="deleteDebt(row?.customerId)">
              <mat-icon>delete</mat-icon>
              <span class="hide--sm--txt">Delete</span>
            </button>
          </div>
        </mat-card-header>
        <mat-card-content>
          <div class="details--wrapper mb-1">
            <div class="details--header">
              <div class="d-flex align--items--center">
                <mat-icon>library_add</mat-icon>Debt
              </div>
              <span class="last--modified--by">Last modified:
                  <span *ngIf="row?.modifiedOn && row?.modifiedOn != ''">{{row?.modifiedOn | date: 'yyyy/MM/dd'}}</span>
                  <span *ngIf="!row?.modifiedOn">{{row?.createdOn | date: 'yyyy/MM/dd'}}</span> 
              </span>
            </div>
            <div class="details--body">
              <h3>{{getType(row?.debtsType)}} {{row?.debtsType && row?.debtsType == '7' ? " - " +row?.debtsTypeNew : ""}}</h3>   
                <!-- <div fxLayout="row wrap" class="mb--10" *ngIf="row?.debtsTypeNew">
                    <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                      <label class="strong--label">Debts Type:</label>
                    </div>
                    <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                      <label class="normal--label">{{row?.debtsTypeNew}}</label>
                    </div>
                </div> -->

                <div fxLayout="row wrap" class="mb--10">
                    <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                      <label class="strong--label">Bank/Lender:</label>
                    </div>
                    <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                      <label class="normal--label">{{row?.bankLendarName}}</label>
                    </div>
                  </div>

                <div fxLayout="row wrap" class="mb--10">
                    <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                      <label class="strong--label">Account Number:</label>
                    </div>
                    <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                      <label class="normal--label">{{row?.accountNumber ? row?.accountNumber : "-"}}</label>
                    </div>
              </div>
                
                <div fxLayout="row wrap" class="mb--10">
                    <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                      <label class="strong--label">Contact Email:</label>
                    </div>
                    <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                      <label class="normal--label">{{row?.contactEmail ? row?.contactEmail : "-"}}</label>
                    </div>
                </div>

                <div fxLayout="row wrap" class="mb--10">
                  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                    <label class="strong--label">Phone Number:</label>
                  </div>
                  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                    <label class="normal--label">{{row?.contactPhone ? row?.contactPhone : "-"}}</label>
                  </div>
                </div>

                <div fxLayout="row wrap" class="mb--10">
                  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                    <label class="strong--label">Comments:</label>
                  </div>
                  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                    <label class="normal--label">{{row?.comments ? row?.comments : "-"}}</label>
                  </div>
                </div>                    
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>