<div class="ll--modal--header">
  Send an Email
  <button class="modal--close" [mat-dialog-close]="">
    <mat-icon class="icon--cross">cancel</mat-icon>
  </button>
</div>

<form class="llp-form-wrapper">
  <div class="ll--modal--body ">

    <form class="llp-form-wrapper">
      <mat-form-field class="full-width">
        <input matInput value="John Smith" placeholder="Your Name">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput value="" placeholder="Email">
      </mat-form-field>
      <mat-form-field class="full-width">
        <textarea matInput rows="6" placeholder="Comments or Questions for Advisor*" value="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco lab oris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptatvelit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,unt in culpa qui officia deserunt mollit anim id est laborum."></textarea>
      </mat-form-field>
    </form>

  </div>
  <div class="ll--modal--footer text-center">
    <button mat-raised-button class="llp--primary--btn">Send</button>
  </div>
</form>