<header class="auth-header">
  <img src="assets/images/arkenea/small-logo.png" alt="">
</header>
<div class="page-wrap mat-bg-primary">
  <div class="session-form-hold">
    <div class="login-sub-wrapper">
      <mat-card-content>
        <div class="text-center pb-1">
          <h2 class="login-header-text m-0">Login</h2>
          <p class="login-header-desc">Continue to your LLP account</p>
        </div>
        <form class="llp-form-wrapper" [formGroup]="llpCustsigninForm"  (ngSubmit)="llpCustSignin()">
          <div class="">
            <mat-form-field class="full-width">
              <input matInput type="email" name="username" placeholder="Email" [formControl]="llpCustsigninForm.controls['username']" value="" required>
              <mat-icon matTooltip="Please enter email id" matTooltipClass="llp--tooltip error" 
              *ngIf="llpCustsigninForm.controls['username'].hasError('required') && llpCustsigninForm.controls['username'].touched"
               class="red--alert">help_outline</mat-icon>
               
               <mat-icon matTooltip="Please enter valid email Id." matTooltipClass="llp--tooltip error" 
              *ngIf="llpCustsigninForm.controls['username'].hasError('pattern') && llpCustsigninForm.controls['username'].touched"
               class="red--alert">help_outline</mat-icon>

               <mat-icon matTooltip="{{invalidMessage}}" matTooltipClass="llp--tooltip error" 
               *ngIf="invalidEmail"
                class="red--alert">help_outline</mat-icon>
            </mat-form-field>
          </div>

          <div class="">
            <mat-form-field class="full-width">
              <input type="password" name="password" matInput [formControl]="llpCustsigninForm.controls['password']"  placeholder="Password" value="" required>
              <mat-icon matTooltip="Please enter password" matTooltipClass="llp--tooltip error" class="red--alert"
              *ngIf="llpCustsigninForm.controls['password'].hasError('required') && llpCustsigninForm.controls['password'].touched">help_outline</mat-icon>

              <mat-icon matTooltip="Please enter correct password." matTooltipClass="llp--tooltip error" class="red--alert"
                  *ngIf="llpCustsigninForm.controls['password'].invalid">help_outline</mat-icon>
            </mat-form-field>
          </div>

          <div class="remember-wrap">
            <!-- <mat-checkbox name="rememberMe">Remember me</mat-checkbox> -->
            <a [routerLink]="'/forgot-password'">Forgot Password?</a>
          </div>
          <!-- <button mat-raised-button class="llp--primary--btn full-width form--action--btn" (click)="loginClick();">Login</button> -->
          <button mat-raised-button class="llp--primary--btn full-width form--action--btn"  [disabled]="llpCustsigninForm.invalid">Login</button>

          <div class="text-center bot-txt">
            <p>Don't have an account?
              <a [routerLink]="'/customer/signup'"> Sign Up</a>
            </p>
          </div>
        </form>
      </mat-card-content>
    </div>
  </div>
</div>
<footer class="auth-footer">
  <p>© 2019 Legacy Life Plans</p>
</footer>