<div class="ll--modal--header">
  Pet
  <button class="modal--close" [mat-dialog-close]="">
    <mat-icon class="icon--cross">cancel</mat-icon>
  </button>
</div>

<form class="llp-form-wrapper" (ngSubmit)="DevicesFormSubmit(DevicesForm.value)">
  <div class="ll--modal--body legal--stuff--body--hgt">
    <div fxLayout="row wrap" class="pt-1">
      <div fxFlex.xs="100">
        
        <mat-form-field class="full-width">
          <mat-label>Policy Type*</mat-label>
        <mat-select placeholder="Device List*" name="deviceList" [formControl]="DevicesForm.controls['deviceList']" >
          <mat-option value="">Select Policy Type</mat-option>
          <mat-option *ngFor="let option of deviceListing"  [value]="option.opt_code">{{option.opt_name}}</mat-option>
        </mat-select>
          <mat-icon matTooltip="Please select device list" matTooltipClass="llp--tooltip error" *ngIf="DevicesForm.controls['deviceList'].hasError('required') && DevicesForm.controls['deviceList'].touched" class="red--alert">help_outline</mat-icon>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput name="deviceName" placeholder="Device Name*"   [formControl]="DevicesForm.controls['deviceName']">
          <mat-icon matTooltip="Please enter device name" matTooltipClass="llp--tooltip error" *ngIf="DevicesForm.controls['deviceName'].hasError('required') && DevicesForm.controls['deviceName'].touched"
          class="red--alert">help_outline</mat-icon>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput name="username"  placeholder="username" [formControl]="DevicesForm.controls['username']">
          <mat-icon matTooltip="Please enter username" matTooltipClass="llp--tooltip error" *ngIf="DevicesForm.controls['username'].hasError('required') && DevicesForm.controls['username'].touched"
          class="red--alert">help_outline</mat-icon>
        </mat-form-field>

        <!-- <mat-form-field class="full-width">
          <input matInput name="veterinarian" placeholder="Veterinarian" [formControl]="DevicesForm.controls['veterinarian']">
          <mat-icon matTooltip="Please enter veterinarian" matTooltipClass="llp--tooltip error" *ngIf="DevicesForm.controls['veterinarian'].hasError('required') && DevicesForm.controls['veterinarian'].touched"
          class="red--alert">help_outline</mat-icon>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput name="dietaryConcerns" placeholder="Dietary Concerns" [formControl]="DevicesForm.controls['dietaryConcerns']">
          <mat-icon matTooltip="Please enter dietary concerns" matTooltipClass="llp--tooltip error" *ngIf="DevicesForm.controls['dietaryConcerns'].hasError('required') && DevicesForm.controls['dietaryConcerns'].touched"
          class="red--alert">help_outline</mat-icon>
        </mat-form-field>
     -->
    

        <!-- <div class="upload--buss--docs--sec">
             <label>Upload your pet documents</label>
             <div class="upload--box fileupload-drop-zone"
                ng2FileDrop
                [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                (fileOver)="fileOverBase($event)"
                [uploader]="uploader">
                <input type="file" name="documents"  ng2FileSelect [uploader]="uploader" multiple  (change)="fileOverBase('')" />  
                <mat-icon class="cloud-icon">cloud_upload</mat-icon>
                <div class="select--file">Select file from your computer</div>
              </div>
              <div class="file--details mb-1">Supported formats Doc, PDF, txt, JPEG, JPG, PNG</div>
            </div>
            
         <div *ngIf="petDocumentsList" >
          <h3 class="header--text fnt--16">Uploaded pet documents </h3>
          <mat-chip-list class="doc--list" *ngFor="let doc of petDocumentsList; index as i">
              <mat-chip><a href="{{docPath}}{{doc.tmpName}}">{{doc.title}}</a><mat-icon matChipRemove (click)="PetDelete(i,doc.title,doc.tmpName)">close</mat-icon></mat-chip>
          </mat-chip-list>
         </div>

          <mat-chip-list class="doc--list error--chip" *ngFor="let err of fileErrors;">
              <mat-chip><mat-error>{{err.error}}</mat-error></mat-chip>
          </mat-chip-list>    

          <div class="progress" style="margin-bottom: 0;" *ngIf="uploader.getNotUploadedItems().length">
            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }">{{uploader.progress}}%</div>
            <mat-progress-bar class=""  color="primary" mode="Indeterminate"  [value]="uploader.progress"></mat-progress-bar>
          </div> -->


          <mat-form-field class="full-width" *ngIf="profileIdHiddenVal">
            <input matInput name="profileId" [formControl]="DevicesForm.controls['profileId']" readonly="readonly">
          </mat-form-field>
      </div>
    </div>
  </div>
  <div class="ll--modal--footer text-center">
    <button mat-raised-button class="llp--primary--btn" [disabled]="!DevicesForm.valid">Save</button>
  </div>
</form>