<div class="ll--modal--header">
    Professionals 
  <button class="modal--close" [mat-dialog-close]="">
    <mat-icon class="icon--cross">cancel</mat-icon>
  </button>
</div>

<form class="llp-form-wrapper" (ngSubmit)="ProfessFormSubmit(professionalForm.value)">
  <div class="ll--modal--body idbox--modal--hgt">
    <div fxLayout="row wrap" class="pt-1">
      <div fxFlex.xs="100">
        <mat-form-field class="full-width">
            <mat-label>Profession*</mat-label>
            <mat-select  name="namedProfessionals" [formControl]="professionalForm.controls['namedProfessionals']">
              <mat-option *ngFor="let yos of myProfessionalsList" [value]="yos">{{yos}}</mat-option>
            </mat-select>
            <mat-icon matTooltip="Please select profession" matTooltipClass="llp--tooltip error" *ngIf="professionalForm.controls['namedProfessionals'].hasError('required') && professionalForm.controls['namedProfessionals'].touched"
            class="red--alert">help_outline</mat-icon>
          </mat-form-field>
        
          <mat-form-field class="full-width">
            <input (keyup)="firstCapitalize($event)"  (keypress)="checkSpecialChar($event)" matInput name="businessName" placeholder="Business Name" [formControl]="professionalForm.controls['businessName']">
            <mat-icon matTooltip="Please enter business name" matTooltipClass="llp--tooltip error" *ngIf="professionalForm.controls['businessName'].hasError('required') && professionalForm.controls['businessName'].touched" class="red--alert">help_outline</mat-icon>
          </mat-form-field>

          <mat-form-field class="full-width">
            <input (keyup)="firstCapitalize($event)"  (keypress)="checkSpecialChar($event)" matInput name="name" placeholder="Name*" [formControl]="professionalForm.controls['name']">
            <mat-icon matTooltip="Please enter name" matTooltipClass="llp--tooltip error" 
            *ngIf="professionalForm.controls['name'].hasError('required') && professionalForm.controls['name'].touched" class="red--alert">help_outline</mat-icon>
          </mat-form-field>

           <mat-form-field class="full-width">
              <input (keyup)="firstCapitalize($event)"  (keypress)="checkSpecialChar($event)" matInput name="address" placeholder="Address" [formControl]="professionalForm.controls['address']">
              <mat-icon matTooltip="Please enter address" matTooltipClass="llp--tooltip error" 
              *ngIf="professionalForm.controls['address'].hasError('required') && professionalForm.controls['address'].touched" class="red--alert">help_outline</mat-icon>
           </mat-form-field>

           <mat-form-field class="full-width">
                <input (keypress)="onlyNumbers($event)" maxlength="15" matInput name="mpPhoneNumbers" placeholder="Phone Numbers" [formControl]="professionalForm.controls['mpPhoneNumbers']">
                <mat-icon matTooltip="Please enter phone number." matTooltipClass="llp--tooltip error" *ngIf="professionalForm.controls['mpPhoneNumbers'].hasError('required') && professionalForm.controls['mpPhoneNumbers'].touched" class="red--alert">help_outline</mat-icon>
                <mat-icon matTooltip="Please enter valid phone number." matTooltipClass="llp--tooltip error" *ngIf="professionalForm.controls['mpPhoneNumbers'].hasError('pattern') && professionalForm.controls['mpPhoneNumbers'].touched" class="red--alert">help_outline</mat-icon>
           </mat-form-field>     

           <mat-form-field class="full-width">
                 <input matInput name="mpEmailAddress" placeholder="Email*" [formControl]="professionalForm.controls['mpEmailAddress']">
                 <mat-icon matTooltip="Please enter email." matTooltipClass="llp--tooltip error"  *ngIf="professionalForm.controls['mpEmailAddress'].hasError('required') && professionalForm.controls['mpEmailAddress'].touched" class="red--alert">help_outline</mat-icon>
                 <mat-icon matTooltip="Please enter valid email." matTooltipClass="llp--tooltip error"  *ngIf="professionalForm.controls['mpEmailAddress'].hasError('pattern') && professionalForm.controls['mpEmailAddress'].touched" class="red--alert">help_outline</mat-icon>
           </mat-form-field>     
           
           <mat-form-field class="full-width" *ngIf="profileIdHiddenVal">
              <input matInput name="profileId" [formControl]="professionalForm.controls['profileId']" readonly="readonly">
           </mat-form-field>
    </div>
    </div>
  </div>
  <div class="ll--modal--footer text-center">
    <button mat-raised-button class="llp--primary--btn" [disabled]="professionalForm.invalid">Save</button>
  </div>
</form>