<div class="container ">
  <div fxLayout="row wrap">
    <div fxFlex.xs="100" fxFlex.sm="100">
      <div class="shop-wrap llp--content--wrapper m-0" fxLayout="row" fxLayoutWrap="wrap">
        <div class="full-width">
          <mat-card class="empty--section p-0">
            <mat-card-title class="">
              <div class="card-title-text">Legacy Details</div>
              <mat-divider></mat-divider>
            </mat-card-title>
            <mat-card-content class="">

              <div class="leads--details">
                <div class="leads--pic">
                  <img class="" alt="" src="assets/images/arkenea/john.png">
                </div>
                <div class="leads--details">
                    <h5>Mary Kom</h5>
                    <div class="icon--and--info">
                      <mat-icon>star</mat-icon>
                      Free member
                    </div>
                    <div class="icon--and--info">
                      <mat-icon>markunread</mat-icon>
                      james.anderson@gmail.com
                    </div>
                </div>
              </div>
              

            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>