<div class="container ">
  <div class="shop-wrap llp--content--wrapper m-0 mt-1" fxLayout="row" fxLayoutWrap="wrap">
    <div class="full-width">
      <mat-card class="empty--section p-0">
        <mat-card-title class="">
          <div class="card-title-text">Legacy Details</div>
          <mat-divider></mat-divider>
        </mat-card-title>
        <mat-card-content class="">

          <div class="leads--details">
            <div class="leads--pic">
              <img class="" alt="" src="{{profilePicture}}">
            </div>
            <div class="leads--infos">
              <h5>{{row?.firstName}} {{row?.lastName}}</h5>
              <div class="icon--and--info unique">
                <mat-icon>star</mat-icon>
                Free member
              </div>
              <div class="icon--and--info">
                <mat-icon>markunread</mat-icon>
                {{row?.username}}
              </div>
              <div class="icon--and--info">
                <mat-icon>location_on</mat-icon>
                {{row?.city}}, {{row?.state}} - {{row?.zipcode}}
              </div>
              <div class="icon--and--info">
                <mat-icon>local_phone</mat-icon>
                +1 {{row?.phoneNumber}}
              </div>
            </div>
          </div>

          <div class="counters">
            <div class="counters--box">
              <div class="count">{{recordCount}}</div>
              <div class="count--txt">Acting as Trustee</div>
            </div>
            <div class="counters--box">
              <div class="count">{{filesCount}}</div>
              <div class="count--txt">Appointed Files</div>
            </div>
            <div class="counters--box">
              <div class="count" *ngIf="!ownLegacyFilesCountEnable">
                <mat-icon>history</mat-icon>
              </div>
              <div class="count" *ngIf="ownLegacyFilesCountEnable">
                {{ownLegacyFilesCount }}
              </div>           
              <div class="count--txt">Own Legacy Files</div>
            </div>
          </div>

          <div class="pros--details">
            <h5>Prospect Details</h5>
            <div class="cust--user--details mt-1">
              <div class="name--letters">{{firstMutualFriend.charAt(0)+firstMutualFriend.charAt(1)}}</div>
              <div class="user--name" *ngIf="mutualFriendAvailable">
                <h5 class="pros--name" *ngIf="mutualFriendCount < 1">
                  {{firstMutualFriend}}
                </h5>
                <h5 class="pros--name" *ngIf="mutualFriendCount > 0"> 
                    {{firstMutualFriend}} and  <span  mat-icon-button matTooltip="{{mutualFriendList}}"> {{mutualFriendCount}} others</span>
                </h5>
                <p class="mb-0">As an Appointee</p>               
              </div>

              <div class="user--name" *ngIf="!mutualFriendAvailable">
                  <p class="mb-0">No records found!</p>    
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>