<div class="shop-wrap llp--content--wrapper" fxLayout="row" fxLayoutWrap="wrap">
  <!-- Filters -->

  <!-- Right side -->
  <div class="full-width">

    <div class="">
      <mat-card class="empty--section p-0">
        <mat-card-header class="m-0">
          <mat-card-title class="m-0">My Essentials </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class="info m-0">Manage your Wills, Affidavits, Codicil, Joint Revocable Living Trust, Revocable Living Trust, Irrevocable Trust
            through 'Estate'.</p>
          <p class="info m-0">Manage your Advance Healthcare Directive, Healthcare Power of Attorney, Healthcare Proxy, Living Will, Medical
            Power of Attorney from Healthcare section.</p>
          <p class="info m-0">You can manage Power of Attorney, Durable Power of Attorney, Revocation of Power of Attorney from Personal affairs
            section.
          </p>
        </mat-card-content>
      </mat-card>

      <mat-card class="empty--section p-0">
        <mat-card-header class="m-0">
          <mat-card-title class="m-0">Estate</mat-card-title>
        </mat-card-header>
        <mat-card-content (click)="openLegalStuffModal('Estate', true)">
          <div class="build--ur--legacy">
            <mat-icon>business</mat-icon>
            <p>
              <a>Add Estate</a>
            </p>
          </div>
        </mat-card-content>
      </mat-card>


      <mat-card class="empty--section p-0">
        <mat-card-header class="m-0">
          <mat-card-title class="m-0">Healthcare</mat-card-title>
        </mat-card-header>
        <mat-card-content (click)="openLegalStuffModal('Healthcare', true)">
          <div class="build--ur--legacy">
            <mat-icon>healing</mat-icon>
            <p>
              <a>Add Healthcare</a>
            </p>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card class="empty--section p-0">
        <mat-card-header class="m-0">
          <mat-card-title class="m-0">Personal Affairs</mat-card-title>
        </mat-card-header>
        <mat-card-content (click)="openLegalStuffModal('Personal Affairs', true)">
          <div class="build--ur--legacy">
            <mat-icon>library_add</mat-icon>
            <p>
              <a>Add Personal Affairs</a>
            </p>
          </div>
        </mat-card-content>
      </mat-card>

    </div>

  </div>
</div>