<div class="shop-wrap llp--content--wrapper" fxLayout="row" fxLayoutWrap="wrap">
  <!-- Filters -->

  <!-- Right side -->
  <div class="full-width">

    <div class="">
      <mat-card class="empty--section p-0">
        <mat-card-header class="m-0">
          <mat-card-title class="m-0">My Essentials </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class="info m-0">Manage your Wills, Affidavits, Codicil, Joint Revocable Living Trust, Revocable Living Trust, Irrevocable Trust
            through 'Estate'.</p>
          <p class="info m-0">Manage your Advance Healthcare Directive, Healthcare Power of Attorney, Healthcare Proxy, Living Will, Medical
            Power of Attorney from Healthcare section.</p>
          <p class="info m-0">You can manage Power of Attorney, Durable Power of Attorney, Revocation of Power of Attorney from Personal affairs
            section.
          </p>
        </mat-card-content>
      </mat-card>
        <mat-card class="empty--section p-0">
          <mat-card-header class="m-0">
            <mat-card-title class="m-0">Estate</mat-card-title>
            <div *ngIf="showEstateListing">
              <span class="no--of--trustee">{{showEstateListingCnt}} Estate</span>
              <button mat-raised-button class="llp--primary--btn llp--primary--sm--btn" (click)="openLegalStuffModal('Estate', true)">+ Add</button>
            </div>
          </mat-card-header>
          <mat-card-content *ngIf="!showEstateListing">
            <div class="build--ur--legacy" (click)="openLegalStuffModal('Estate', true)">
              <mat-icon>business</mat-icon>
              <p>
                <a>Add Estate</a>
              </p>
            </div>
          </mat-card-content>

          <mat-card-content class="appointees--wrapper" *ngIf="showEstateListing">
            <div class="cust--user--details mt-1" *ngFor="let legal of estateList; let i = index" [routerLink]="['/customer/dashboard/legal-detail-view', legal._id]">
              <div class="name--letters">{{getType(legal?.typeOfDocument,legal?.subFolderName).charAt(0)}}</div>
              <div class="user--name">
                <h5>{{getType(legal?.typeOfDocument,legal?.subFolderName)}}</h5>
                <p class="mb-0">Last modified:
                    <span>{{legal.modifiedOn | date: 'yyyy/MM/dd'}}</span>
                </p>
              </div>
            </div>
          </mat-card-content>
        </mat-card>

        <mat-card class="empty--section p-0">
            <mat-card-header class="m-0">
              <mat-card-title class="m-0">Healthcare</mat-card-title>
              <div *ngIf="showhealthcareListing">
                <span class="no--of--trustee">{{showhealthcareListingCnt}} Healthcare</span>
                <button mat-raised-button class="llp--primary--btn llp--primary--sm--btn" (click)="openLegalStuffModal('Healthcare', true)">+ Add</button>
              </div>
            </mat-card-header>
            <mat-card-content *ngIf="!showhealthcareListing">
              <div class="build--ur--legacy" (click)="openLegalStuffModal('Healthcare', true)">
                <mat-icon>healing</mat-icon>
                <p>
                    <a>Add Healthcare</a>
                </p>
              </div>
            </mat-card-content>

            <mat-card-content class="appointees--wrapper" *ngIf="showhealthcareListing">
              <div class="cust--user--details mt-1" *ngFor="let legal of healthcareList; let i = index" [routerLink]="['/customer/dashboard/legal-detail-view', legal._id]">
                <div class="name--letters">{{getType(legal?.typeOfDocument,legal.subFolderName).charAt(0)}}</div>
                <div class="user--name">
                  <h5>{{getType(legal?.typeOfDocument,legal?.subFolderName)}}</h5>
                  <p class="mb-0">Last modified:
                      <span>{{legal.modifiedOn | date: 'yyyy/MM/dd'}}</span>
                  </p>
                </div>
              </div>
            </mat-card-content>
          </mat-card>

      <mat-card class="empty--section p-0">
        <mat-card-header class="m-0">
          <mat-card-title class="m-0">Personal Affairs</mat-card-title>
          <div *ngIf="showaffairsListing">
            <span class="no--of--trustee">{{showaffairsListingCnt}} Personal Affairs</span>
            <button mat-raised-button class="llp--primary--btn llp--primary--sm--btn" (click)="openLegalStuffModal('Healthcare', true)">+ Add</button>
          </div>
        </mat-card-header>
        <mat-card-content *ngIf="!showaffairsListing">
          <div class="build--ur--legacy" (click)="openLegalStuffModal('Personal Affairs', true)">
            <mat-icon>library_add</mat-icon>
            <p>
              <a>Add Personal Affairs</a>
            </p>
          </div>
        </mat-card-content>

        <mat-card-content class="appointees--wrapper" *ngIf="showaffairsListing">
          <div class="cust--user--details mt-1" *ngFor="let legal of affairsList; let i = index" [routerLink]="['/customer/dashboard/legal-detail-view', legal._id]">
            <div class="name--letters">{{getType(legal?.typeOfDocument,legal?.subFolderName).charAt(0)}}</div>
            <div class="user--name">
              <h5>{{getType(legal.typeOfDocument,legal.subFolderName)}}</h5>
              <p class="mb-0">Last modified:
                  <span>{{legal.modifiedOn | date: 'yyyy/MM/dd'}}</span>
              </p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

    </div>

  </div>
</div>