<div class="llp--container">
    <h2 class="text-center">Legacy Life Advisor Plan</h2>
  <div class="pricing--section">      
    <div fxLayout="row wrap" class="full-width">
      <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">        
        <mat-card class="plan-pricing text-center standard p-0 ">
          <mat-card-title>
            <div class="card-title-text">
              <div class="plan--type">Refer & Earn</div>
              <div class="relative">
                <span class="doller">$</span>
                <span class="amt">0</span>
                <span class="duration">per month</span>
              </div>
            </div>
          </mat-card-title>
          <mat-card-content>
            <mat-list>
              <mat-list-item>Participation License
                <div class="limited">Limited</div>
              </mat-list-item>
              <mat-list-item>Limited Time Offer
                <div class="limited"> Limited </div>
              </mat-list-item>
              <mat-list-item>Limited Enrollment
                <div class="limited">
                 <mat-icon class="check">check</mat-icon>
                </div>
              </mat-list-item>
              <mat-list-item>Standard Features
                <div class="limited">
                 <mat-icon class="check">check</mat-icon>
                </div>
              </mat-list-item>
              <mat-list-item>No Risk
                <div class="limited">
                 <mat-icon class="check">check</mat-icon>
                </div>
              </mat-list-item>
              <mat-list-item>Captive or Independent
                <div class="limited">
                 <mat-icon class="check">check</mat-icon>
                </div>
              </mat-list-item>
              <mat-list-item>Minimum usage requirement
                  <div class="limited">
                   <mat-icon class="check">check</mat-icon>
                  </div>
                </mat-list-item>
                <mat-list-item>Advertisement Opportunity
                    <div class="limited">
                     <mat-icon class="check">check</mat-icon>
                    </div>
                  </mat-list-item>
               
            </mat-list>
            <button mat-raised-button class="llp--primary--btn get--started--btn">Learn More</button>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
        <mat-card class="plan-pricing text-center p-0 premium">
          <mat-card-title>
            <div class="card-title-text">
              <img src="assets/images/arkenea/star.png" alt="" class="cornar--stars">
              <div class="plan--type"> Standard License</div>
              <div class="relative">
                <span class="doller">$</span>
                <span class="amt">180</span>
                <span class="duration">per month</span>
              </div>
            </div>
          </mat-card-title>
          <mat-card-content>
            <mat-list>
              <mat-list-item>Workflow Dashboard
                <div class="limited">Unlimited</div>
              </mat-list-item>
              <mat-list-item>Client Relationship Builder
                <div class="limited"> Unlimited </div>
              </mat-list-item>
              <mat-list-item>Shared Content Libraries
                <div class="limited">
                  <mat-icon class="check">check</mat-icon>
                </div>
              </mat-list-item>
              <mat-list-item>Usage tracker
                <div class="limited">
                  <mat-icon class="check">check</mat-icon>
                </div>
              </mat-list-item>
              <mat-list-item>Advisor Co-Branding Support
                <div class="limited">
                  <mat-icon class="check">check</mat-icon>
                </div>
              </mat-list-item>
              <mat-list-item>Unlimited Legacy Life Invites
                <div class="limited">
                  <mat-icon class="check">check</mat-icon>
                </div>
              </mat-list-item>
              <mat-list-item>No usage requirements
                  <div class="limited">
                    <mat-icon class="check">check</mat-icon>
                  </div>
                </mat-list-item>
                <mat-list-item>&nbsp;
                    <div class="limited">
                    </div>
                  </mat-list-item>

            </mat-list>
            <button mat-raised-button class="llp--primary--btn get--started--btn">Sign up</button>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>

