<div class="llp--container">
  <div class="pricing--section">
    <div fxLayout="row wrap" class="full-width">
      <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
        <mat-card class="plan-pricing text-center standard p-0 ">
          <mat-card-title>
            <div class="card-title-text">
              <div class="plan--type">Standard</div>
              <div class="relative">
                <span class="doller">$</span>
                <span class="amt">0</span>
                <span class="duration">Yearly</span>
              </div>
            </div>
          </mat-card-title>
          <mat-card-content>
            <mat-list>
              <mat-list-item>LLP Plans feature one
                <div class="limited">Limited</div>
              </mat-list-item>
              <mat-list-item>LLP Plans feature second
                <div class="limited"> Limited </div>
              </mat-list-item>
              <mat-list-item>LLP Plans feature third
                <div class="limited">
                  <mat-icon class="clear">clear</mat-icon>
                </div>
              </mat-list-item>
              <mat-list-item>LLP Plans feature fourth
                <div class="limited">
                  <mat-icon class="clear">clear</mat-icon>
                </div>
              </mat-list-item>
              <mat-list-item>LLP Plans feature fifth
                <div class="limited">
                  <mat-icon class="clear">clear</mat-icon>
                </div>
              </mat-list-item>
              <mat-list-item>LLP Plans feature sixth
                <div class="limited">
                  <mat-icon class="clear">clear</mat-icon>
                </div>
              </mat-list-item>
            </mat-list>
            <button mat-raised-button class="llp--primary--btn get--started--btn">Get Started</button>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
        <mat-card class="plan-pricing text-center p-0 premium">
          <mat-card-title>
            <div class="card-title-text">
              <img src="assets/images/arkenea/star.png" alt="" class="cornar--stars">
              <div class="plan--type">Premium</div>
              <div class="relative">
                <span class="doller">$</span>
                <span class="amt">75</span>
                <span class="duration">Yearly</span>
              </div>
            </div>
          </mat-card-title>
          <mat-card-content>
            <mat-list>
              <mat-list-item>LLP Plans feature one
                <div class="limited">Unlimited</div>
              </mat-list-item>
              <mat-list-item>LLP Plans feature second
                <div class="limited"> Unlimited </div>
              </mat-list-item>
              <mat-list-item>LLP Plans feature third
                <div class="limited">
                  <mat-icon class="check">check</mat-icon>
                </div>
              </mat-list-item>
              <mat-list-item>LLP Plans feature fourth
                <div class="limited">
                  <mat-icon class="check">check</mat-icon>
                </div>
              </mat-list-item>
              <mat-list-item>LLP Plans feature fifth
                <div class="limited">
                  <mat-icon class="check">check</mat-icon>
                </div>
              </mat-list-item>
              <mat-list-item>LLP Plans feature sixth
                <div class="limited">
                  <mat-icon class="clear">clear</mat-icon>
                </div>
              </mat-list-item>

            </mat-list>
            <button mat-raised-button class="llp--primary--btn get--started--btn">Buy Now</button>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>