<form class="llp-form-wrapper pt-1" [formGroup]="customerCmsForm" method="post"  (ngSubmit)="updatePage(customerCmsForm.value)">
    <div fxLayout="row wrap"  *ngIf="aceessSection">
         <!-- Section 1 -->
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
            <mat-card class="p-0 mb-1">
                <mat-card-title class="p-1">Section 01</mat-card-title>
                <mat-card-content class="p-1">
                    <div fxLayout="row wrap">
                        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50"
                            class="cust--gapp">
                            <label class="sections--label">Title</label>
                            <mat-form-field class="full-width">
                                <input matInput name="pagetitle" [formControl]="customerCmsForm.controls['pageTitle']"
                                    value="">
                            </mat-form-field>
                        </div>
                        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
                            <label class="sections--label">Sub Title</label>
                            <mat-form-field class="full-width">
                                <input matInput name="pagesubTitle"
                                    [formControl]="customerCmsForm.controls['pagesubTitle']" value="">
                            </mat-form-field>
                        </div>
                        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="60" fxFlex.lg="60" fxFlex.xl="60"
                            class="cust--gapp">
                            <label class="sections--label">Top Banner</label>
                            <div class="upload--buss--docs--sec">
                                <div class="upload--box fileupload-drop-zone" ng2FileDrop
                                    [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)"
                                    [uploader]="uploader">
                                    <input type="file" name="documents" ng2FileSelect [uploader]="uploader"
                                        (change)="fileOverBase('')" />
                                    <mat-icon class="cloud-icon">cloud_upload</mat-icon>
                                    <div class="select--file">Select file from your computer</div>
                                </div>
                                <div class="file--details mb-1">Supported formats JPEG, JPG, PNG</div>

                                <mat-chip-list class="doc--list error--chip" *ngFor="let err of fileErrors;">
                                    <mat-chip>
                                        <mat-error>{{err.error}}</mat-error>
                                    </mat-chip>
                                </mat-chip-list>

                                <div class="progress" style="margin-bottom: 0;"
                                    *ngIf="currentProgessinPercent>0">
                                    <div class="progress-bar" role="progressbar"
                                        [ngStyle]="{ 'width': currentProgessinPercent + '%' }">
                                        {{currentProgessinPercent}}%</div>
                                    <mat-progress-bar class="" color="primary" mode="Indeterminate"
                                        [value]="currentProgessinPercent"></mat-progress-bar>
                                </div>
                            </div>
                        </div>
                        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="40" fxFlex.lg="40" fxFlex.xl="40">
                            <div *ngIf="topBannerPath" class="banner--thumbnail">
                                <img src="{{topBannerPath}}" style="height: 220px;" name="topBanner" />
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

         <!-- Section 2 -->
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" class="cust--gapp">
            <mat-card class="p-0 mb-1">
                <mat-card-title class="p-1">Section 02</mat-card-title>
                <mat-card-content class="p-1">
                    <div fxLayout="row wrap">
                        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
                            <label class="sections--label">Title</label>
                            <mat-form-field class="full-width">
                                <input matInput name="middleTitle"
                                    [formControl]="customerCmsForm.controls['middleTitle']" value="">
                            </mat-form-field>
                        </div>
                        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100"
                            class="mb-1">
                            <label class="sections--label">Middle Text</label>
                            <mat-card class="p-0 mt-1">
                                <mat-card-content class="p-0">
                                    <ejs-richtexteditor class="free--text" id='defaultRTE1'
                                        [formControl]="customerCmsForm.controls['middleText']" [toolbarSettings]='tools'
                                        [quickToolbarSettings]='quickTools'></ejs-richtexteditor>
                                </mat-card-content>
                            </mat-card>
                        </div>
                        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="60" fxFlex.lg="60" fxFlex.xl="60"
                            class="cust--gapp">
                            <label class="sections--label">Middle Banner</label>
                            <div class="upload--buss--docs--sec">
                                <div class="upload--box fileupload-drop-zone" ng2FileDrop
                                    [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                                    (fileOver)="fileOverMiddleBannerBase($event)" [uploader]="uploaderMiddleBanner">
                                    <input type="file" name="documents" ng2FileSelect [uploader]="uploaderMiddleBanner"
                                        (change)="fileOverMiddleBannerBase('')" />
                                    <mat-icon class="cloud-icon">cloud_upload</mat-icon>
                                    <div class="select--file">Select file from your computer</div>
                                </div>
                                <div class="file--details mb-1">Supported formats JPEG, JPG, PNG</div>
                                <mat-chip-list class="doc--list error--chip" *ngFor="let err of fileErrorsMiddile;">
                                    <mat-chip>
                                        <mat-error>{{err.error}}</mat-error>
                                    </mat-chip>
                                </mat-chip-list>

                                <div class="progress" style="margin-bottom: 0;"
                                    *ngIf="currentProgessinPercentMiddle>0">
                                    <div class="progress-bar" role="progressbar"
                                        [ngStyle]="{ 'width': currentProgessinPercentMiddle + '%' }">
                                        {{currentProgessinPercentMiddle}}%</div>
                                    <mat-progress-bar class="" color="primary" mode="Indeterminate"
                                        [value]="currentProgessinPercentMiddle"></mat-progress-bar>
                                </div>
                            </div>
                        </div>
                        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="40" fxFlex.lg="40" fxFlex.xl="40">
                            <div class="banner--thumbnail">
                                <div *ngIf="middlePath">
                                    <img src="{{middlePath}}" style="height: 220px;" name="middleBanner" />
                                </div>
                            </div>
                        </div>

                    </div>
                </mat-card-content>
            </mat-card>
        </div>

         <!-- Section 3 -->
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
            <mat-card class="p-0 mb-1">
                <mat-card-title class="p-1">Section 03</mat-card-title>
                <mat-card-content class="p-1">
                    <div fxLayout="row wrap">
                        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
                            <label class="sections--label">Title</label>
                            <mat-form-field class="full-width">
                                <input matInput name="lowerTitle" [formControl]="customerCmsForm.controls['lowerTitle']"
                                    value="">
                            </mat-form-field>
                        </div>
                        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100"
                            class="mb-1">
                            <label class="sections--label">Lower Text</label>
                            <mat-card class="p-0 mt-1">
                                <mat-card-content class="p-0">
                                    <ejs-richtexteditor class="free--text" id='defaultRTE2'
                                        [formControl]="customerCmsForm.controls['lowerText']" [toolbarSettings]='tools'
                                        [quickToolbarSettings]='quickTools'></ejs-richtexteditor>
                                </mat-card-content>
                            </mat-card>

                        </div>
                        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="60" fxFlex.lg="60" fxFlex.xl="60"
                            class="cust--gapp">
                            <label class="sections--label">Lower Banner</label>

                            <div class="upload--buss--docs--sec">
                                <div class="upload--box fileupload-drop-zone" ng2FileDrop
                                    [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                                    (fileOver)="fileOverLowerBannerBase($event)" [uploader]="uploaderLowerBanner">
                                    <input type="file" name="documents" ng2FileSelect [uploader]="uploaderLowerBanner"
                                        (change)="fileOverLowerBannerBase('')" />
                                    <mat-icon class="cloud-icon">cloud_upload</mat-icon>
                                    <div class="select--file">Select lower banner image from your computer</div>
                                </div>
                                <div class="file--details mb-1">Supported formats JPEG, JPG, PNG</div>

                                <mat-chip-list class="doc--list error--chip" *ngFor="let err of fileErrorsLower;">
                                    <mat-chip>
                                        <mat-error>{{err.error}}</mat-error>
                                    </mat-chip>
                                </mat-chip-list>

                                <div class="progress" style="margin-bottom: 0;"
                                    *ngIf="currentProgessinPercentLower>0">
                                    <div class="progress-bar" role="progressbar"
                                        [ngStyle]="{ 'width': currentProgessinPercentLower + '%' }">
                                        {{currentProgessinPercentLower}}%</div>
                                    <mat-progress-bar class="" color="primary" mode="Indeterminate"
                                        [value]="currentProgessinPercentLower"></mat-progress-bar>
                                </div>
                            </div>

                        </div>
                        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="40" fxFlex.lg="40" fxFlex.xl="40">
                            <div class="banner--thumbnail">
                                <div *ngIf="lowerPath">
                                    <img src="{{lowerPath}}" style="height: 220px;" name="lowerBanner" />
                                </div>
                            </div>
                        </div>

                    </div>
                </mat-card-content>
            </mat-card>
        </div>

         <!-- Section 4 -->
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" class="cust--gapp">
            <mat-card class="p-0 mb-1">
                <mat-card-title class="p-1">Section 04 - Features</mat-card-title>
                <mat-card-content class="p-0">
                    <div fxLayout="row wrap">
                        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
                            <div formArrayName="bulletPoints" class="features--lists">
                                <div fxLayout="row wrap" *ngFor="let web of bulletsPointsArray.controls; let i = index"
                                    [formGroupName]="i">
                                    <div fxFlex.xs="95" fxFlex.sm="95" fxFlex.md="95" fxFlex.lg="95" fxFlex.xl="95"
                                        class="pr-2">
                                        <mat-form-field class="full-width">
                                            <input matInput placeholder="Name" formControlName="name">
                                        </mat-form-field>
                                    </div>
                                    <div fxFlex.xs="5" fxFlex.sm="5" fxFlex.md="5" fxFlex.lg="5" fxFlex.xl="5"
                                        class="text-right">
                                        <mat-icon class="mt-1 clr--red cursor-pointer" *ngIf="i>0"
                                            (click)="deleteBulletsPoints(i);">delete</mat-icon>
                                    </div>
                                </div>
                                <div fxLayout="row wrap" *ngIf="bulletsPointsArray.length < 21">
                                    <div fxFlex.xs="100">
                                        <div class="add--new" (click)="addBulletsPoints();">
                                            <mat-icon>add_circle</mat-icon>
                                            Add New
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

         <!-- Section 5 -->
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
            <mat-card class="p-0 mb-1">
                <mat-card-title class="p-1">Section 05 - Facts</mat-card-title>
                <mat-card-content class="p-1">
                    <div fxLayout="row wrap">
                        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
                            <div formGroupName="facts">
                                <mat-form-field class="full-width">
                                    <input matInput placeholder="Title" formControlName="title" value=""
                                        [formControl]="getFormGroup('facts').controls['title']">
                                </mat-form-field>

                                <mat-form-field class="full-width">
                                    <input matInput placeholder="Sub Title" formControlName="subTitle" value=""
                                        [formControl]="getFormGroup('facts').controls['subTitle']">
                                </mat-form-field>

                                <mat-form-field class="full-width">
                                    <input matInput placeholder="Saved File" formControlName="savedFiles" value=""
                                        [formControl]="getFormGroup('facts').controls['savedFiles']">
                                </mat-form-field>

                                <mat-form-field class="full-width">
                                    <input matInput placeholder="Trusted Advisors" formControlName="trustedAdvisors"
                                        value="" [formControl]="getFormGroup('facts').controls['trustedAdvisors']">
                                </mat-form-field>

                                <mat-form-field class="full-width">
                                    <input matInput placeholder="Success Login" formControlName="successLogin" value=""
                                        [formControl]="getFormGroup('facts').controls['successLogin']">
                                </mat-form-field>

                                <mat-form-field class="full-width">
                                    <input matInput placeholder="LLP Members" formControlName="LLPMembers" value=""
                                        [formControl]="getFormGroup('facts').controls['LLPMembers']">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

        <!-- Section 6 -->
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" class="cust--gapp">
            <mat-card class="p-0 mb-1">
                <mat-card-title class="p-1">Section 06 - Quick Overview 1</mat-card-title>
                <mat-card-content class="p-1">
                    <div fxLayout="row wrap" formGroupName="quickOverview1">
                        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
                            <mat-form-field class="full-width">
                                <input matInput formControlName="title" placeholder="title" value=""
                                    [formControl]="getFormGroup('quickOverview1').controls['title']">
                            </mat-form-field>
                            <mat-form-field class="full-width">
                                <input matInput formControlName="subTitle" placeholder="subTitle" value=""
                                    [formControl]="getFormGroup('quickOverview1').controls['subTitle']">
                            </mat-form-field>
                        </div>
                        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50"
                            class="cust--gapp">
                            <div class="upload--buss--docs--sec">
                                <div class="upload--box fileupload-drop-zone" ng2FileDrop
                                    [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                                    (fileOver)="fileOverQOW1Base($event)" [uploader]="uploaderQOW1">
                                    <input type="file" name="documents" ng2FileSelect [uploader]="uploaderQOW1"
                                        (change)="fileOverQOW1Base('')" />
                                    <mat-icon class="cloud-icon mb-0">cloud_upload</mat-icon>
                                    <div class="select--file pl-1 pr-1">Select quick overview video from your computer
                                    </div>
                                </div>
                                <div class="file--details mb-0">Supported formats
                                    mov, mp3, mpeg, wav, ogg, opus, bmp, tiff, svg, webm, mpeg4, 3gpp, mpegps, wmv,
                                    flv</div>

                                <mat-chip-list class="doc--list error--chip" *ngFor="let err of fileErrorsQOW1;">
                                    <mat-chip>
                                        <mat-error>{{err.error}}</mat-error>
                                    </mat-chip>
                                </mat-chip-list>

                                <div class="progress" style="margin-bottom: 0;"
                                    *ngIf="currentProgessinPercentQOW1>0">
                                    <div class="progress-bar" role="progressbar"
                                        [ngStyle]="{ 'width': currentProgessinPercentQOW1 + '%' }">
                                        {{currentProgessinPercentQOW1}}%</div>
                                    <mat-progress-bar class="" color="primary" mode="Indeterminate"
                                        [value]="currentProgessinPercentQOW1"></mat-progress-bar>
                                </div>
                            </div>
                        </div>
                        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
                            <div class="banner--thumbnail full-width">
                                <div *ngIf="QOW1Path">
                                    <video class="library" controls preload="auto" style="height: 220px;"
                                        data-config="some-js-object-here">
                                        <source src="{{QOW1Path}}" type='video/mp4'>
                                    </video>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

        <!-- Section 7 -->
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
            <mat-card class="p-0 mb-1">
                <mat-card-title class="p-1">Section 07 - Quick Overview 2</mat-card-title>
                <mat-card-content class="p-1">
                    <div fxLayout="row wrap" formGroupName="quickOverview2">
                        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
                            <mat-form-field class="full-width">
                                <input matInput formControlName="title" placeholder="title" value=""
                                    [formControl]="getFormGroup('quickOverview2').controls['title']">
                            </mat-form-field>
                            <mat-form-field class="full-width">
                                <input matInput formControlName="subTitle" placeholder="subTitle" value=""
                                    [formControl]="getFormGroup('quickOverview2').controls['subTitle']">
                            </mat-form-field>
                        </div>
                        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50"
                            class="cust--gapp">
                            <div class="upload--buss--docs--sec">
                                <div class="upload--box fileupload-drop-zone" ng2FileDrop
                                    [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                                    (fileOver)="fileOverQOW2Base($event)" [uploader]="uploaderQOW2">
                                    <input type="file" name="documents" ng2FileSelect [uploader]="uploaderQOW2"
                                        (change)="fileOverQOW2Base('')" />
                                    <mat-icon class="cloud-icon mb-0">cloud_upload</mat-icon>
                                    <div class="select--file pr-1 pl-1">Select quick overview video from your computer
                                    </div>
                                </div>
                                <div class="file--details mb-0">Supported formats
                                    mov, mp3, mpeg, wav, ogg, opus, bmp, tiff, svg, webm, mpeg4, 3gpp, avi, mpegps, wmv,
                                    flv</div>

                                <mat-chip-list class="doc--list error--chip" *ngFor="let err of fileErrorsQOW2;">
                                    <mat-chip>
                                        <mat-error>{{err.error}}</mat-error>
                                    </mat-chip>
                                </mat-chip-list>

                                <div class="progress" style="margin-bottom: 0;"
                                    *ngIf="currentProgessinPercentQOW2>0">
                                    <div class="progress-bar" role="progressbar"
                                        [ngStyle]="{ 'width': currentProgessinPercentQOW2 + '%' }">
                                        {{currentProgessinPercentQOW2}}%</div>
                                    <mat-progress-bar class="" color="primary" mode="Indeterminate"
                                        [value]="currentProgessinPercentQOW2"></mat-progress-bar>
                                </div>
                            </div>
                        </div>
                        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
                            <div class="banner--thumbnail full-width">
                                <div *ngIf="QOW2Path">
                                    <video class="library" controls preload="auto" style="height: 220px;"
                                        data-config="some-js-object-here">
                                        <source src="{{QOW2Path}}" type='video/mp4'>
                                    </video>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

        <!-- Section 8 -->
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
            <mat-card class="p-0 mb-1">
                <mat-card-title class="p-1">Section 08 - Testimonials List</mat-card-title>
                <mat-card-content class="p-1 mb-1" formArrayName="testimonials">
                    <div fxLayout="row wrap">
                        <div *ngFor="let web of testimonialsArray.controls; let i = index" [formGroupName]="i"
                            fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33"
                            class="cust--gapp">
                            <mat-card class="p-0 mb-1">
                                <mat-card-title class="p-1">Testimonial - {{i+1}} <mat-icon class="delete--testo--usr clr--red cursor-pointer" *ngIf="i>0"
                                        (click)="deleteTestimonialsPoints(i);">delete</mat-icon></mat-card-title>
                                <mat-card-content class="p-1">
                                    <div fxLayout="row wrap">
                                        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100"
                                            fxFlex.xl="100">
                                            <mat-form-field class="full-width">
                                                <input matInput placeholder="Name" formControlName="name">
                                            </mat-form-field>
                                            <mat-form-field class="full-width">
                                                <input matInput placeholder="Certifications"
                                                    formControlName="certifications">
                                            </mat-form-field>

                                            <mat-form-field class="full-width">
                                                <input matInput placeholder="Comment" formControlName="comment">
                                            </mat-form-field>
                                        </div>
                                        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="60" fxFlex.lg="60"
                                            fxFlex.xl="70">
                                            <div class="upload--buss--docs--sec">
                                                <div class="upload--box fileupload-drop-zone" ng2FileDrop
                                                    [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                                                    (fileOver)="onFileSelected($event,i)"
                                                    [uploader]="uploaderProfilePhoto">
                                                    <input type="file" name="profilePhoto" ng2FileSelect
                                                        [uploader]="uploaderProfilePhoto"
                                                        (change)="onFileSelected($event,i)" />
                                                    <mat-icon class="cloud-icon mb-0">cloud_upload</mat-icon>
                                                    <div class="select--file">Select profile photo from your computer
                                                    </div>
                                                </div>
                                                <div class="file--details mb-1">Supported formats JPEG, JPG, PNG</div>
                                            </div>
                                        </div>
                                          <mat-form-field class="full-width" *ngIf="profilePhotoHiddenVal">
                                            <input matInput name="profilePhoto" placeholder="profilePhoto" formControlName="profilePhoto" readonly="readonly">
                                        </mat-form-field>
                                        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="40" fxFlex.lg="40"
                                            fxFlex.xl="30">
                                            <div class="testi--userprofile">
                                                <img style="height: 125px;" src="{{filePath}}{{web.get('profilePhoto').value}}" alt="{{web.get('profilePhoto').value}}">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="progress" style="margin-bottom: 0;" *ngIf="currentProgessinPercentProfilePhoto>0 && i==0">
                                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': currentProgessinPercentProfilePhoto + '%' }">{{currentProgessinPercentProfilePhoto}}%</div>
                                        <mat-progress-bar class="" color="primary" mode="Indeterminate"  [value]="currentProgessinPercentProfilePhoto"></mat-progress-bar>
                                    </div>

                                    <div class="progress" style="margin-bottom: 0;" *ngIf="currentProgessinPercentProfilePhoto1>0 && i==1">
                                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': currentProgessinPercentProfilePhoto1 + '%' }">{{currentProgessinPercentProfilePhoto1}}%</div>
                                        <mat-progress-bar class="" color="primary" mode="Indeterminate"  [value]="currentProgessinPercentProfilePhoto1"></mat-progress-bar>
                                    </div>

                                    <div class="progress" style="margin-bottom: 0;" *ngIf="currentProgessinPercentProfilePhoto2>0 && i==2">
                                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': currentProgessinPercentProfilePhoto2 + '%' }">{{currentProgessinPercentProfilePhoto2}}%</div>
                                        <mat-progress-bar class="" color="primary" mode="Indeterminate"  [value]="currentProgessinPercentProfilePhoto2"></mat-progress-bar>
                                    </div>                                    

                                </mat-card-content>
                            </mat-card>
                        </div>

                        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
                            <div *ngIf="testimonialsArray.length < 10">
                                <div class="add--new mt-1" (click)="addTestimonialsPoints();">
                                    <mat-icon>add_circle</mat-icon>
                                    Add New
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

        
        <!-- Footer -->
        <div class="ad--footer">
                <button mat-raised-button class="llp--primary--btn">Submit</button>
        </div>
    </div>
    <div class="row" *ngIf="!aceessSection">
            <p>You don't have permission to this section.</p>
    </div>    
</form>