<div fxLayout="row wrap">
  <div fxFlex="100" fxFlex.gt-md="300px" fxFlex.gt-sm="50">
    <mat-card class="profile-sidebar admn--user--details--wrapper">
      <div class="propic text-center" *ngIf="row?.userType != 'sysadmin'">
        <img src="{{profilePicture}}" alt="">
      </div>
      <div class="profile-title text-center mb-1">         
        <div class="main-title">{{row?.firstName +' ' + row?.lastName}}</div>
        <div class="text-muted">{{row?.bioText}}</div>
      </div>
      <div class="profile-actions mb-1" fxLayoutAlign="center center" *ngIf="row?.userType == 'advisor' && row?.status == 'Pending'">
        <button mat-raised-button class="" color="primary" (click)="statusChange(row)">Accept</button>
        <span fxFlex="8px"></span>
        <button mat-raised-button class="mat-warn" (click)="rejectPopUp({}, true)">Reject</button>
      </div>
      <mat-card-content class="pt-0 border-t">
        <mat-list>
         <!-- <mat-list-item *ngIf="row?.userType != 'sysadmin'" *ngFor="let web of websites;">             
            <mat-icon class="mr-1">public</mat-icon> {{web.links}}
          </mat-list-item>-->
          <mat-list-item>
            <mat-icon class="mr-1">email</mat-icon> {{row?.username}}</mat-list-item>
          <mat-list-item *ngIf="row?.userType == 'customer' && row?.phoneNumber!=''">
            <mat-icon class="mr-1">phone</mat-icon> {{row?.phoneNumber}}</mat-list-item>
          <mat-list-item *ngIf="row?.userType == 'advisor' && row?.businessPhoneNumber!=''">
            <mat-icon class="mr-1">phone</mat-icon> {{row?.businessPhoneNumber}}</mat-list-item>          
        </mat-list>
      </mat-card-content>
    </mat-card> 
  </div>

  <!-- Profile Views -->
  <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="calc(100% - 300px)">
    <div fxLayout="row wrap">
      <div fxLayout="column" fxFlex="100" fxFlex.gt-md="50">
        <!-- Basic Info starts -->
        <mat-card class="default mb-1 basic--info--wrapper">
          <mat-card-title class="p-1">Basic Info</mat-card-title>
          <mat-card-content class="p-0 border-t">
            <mat-list class="compact-list mb-1">
              <mat-list-item class="" *ngIf="row?.userType != 'sysadmin'">
                <div fxLayout="row" fxFlex="100">
                  <h6 class="m-0 mr-1">Date Of Birth</h6>
                  <span fxFlex></span>
                  <div fxFlex="40">{{row?.dateOfBirth  | date: 'yyyy/MM/dd'}}</div>
                </div>
              </mat-list-item>
              <mat-list-item class="" *ngIf="row?.userType != 'sysadmin'">
                <div fxLayout="row" fxFlex="100">
                  <h6 class="m-0 mr-1">Address Line 1</h6>
                  <span fxFlex></span>
                  <div fxFlex="40">{{row?.addressLine1}}</div>
                </div>
              </mat-list-item>
              <mat-list-item class="" *ngIf="row?.userType != 'sysadmin'">
                <div fxLayout="row" fxFlex="100">
                  <h6 class="m-0 mr-1">Address Line 2</h6>
                  <span fxFlex></span>
                  <div fxFlex="40">{{row?.addressLine2}}</div>
                </div>
              </mat-list-item>
              <mat-list-item class="" *ngIf="row?.userType != 'sysadmin'">
                  <div fxLayout="row" fxFlex="100">
                    <h6 class="m-0 mr-1">City</h6>
                    <span fxFlex></span>
                    <div fxFlex="40">{{row?.city}}</div>
                  </div>
                </mat-list-item>
                <mat-list-item class="" *ngIf="row?.userType != 'sysadmin'">
                  <div fxLayout="row" fxFlex="100">
                    <h6 class="m-0 mr-1">State</h6>
                    <span fxFlex></span>
                    <div fxFlex="40">{{row?.state}}</div>
                  </div>
                </mat-list-item>
                <mat-list-item class="" *ngIf="row?.userType != 'sysadmin'">
                  <div fxLayout="row" fxFlex="100">
                    <h6 class="m-0 mr-1">Zipcode</h6>
                    <span fxFlex></span>
                    <div fxFlex="40">{{row?.zipcode}}</div>
                  </div>
                </mat-list-item>
              <mat-list-item class="">
                <div fxLayout="row" fxFlex="100">
                  <h6 class="m-0 mr-1">Status</h6>
                  <span fxFlex></span>
                  <div fxFlex="40" >
                  <mat-chip mat-sm-chip [color]="'warn'" class="warn">{{row?.status}}</mat-chip>
                </div>
                </div>
              </mat-list-item>
              <mat-list-item class="" *ngIf="row?.userType != 'sysadmin'">
                <div fxLayout="row" fxFlex="100">
                  <h6 class="m-0 mr-1">Rejected Reason</h6>
                  <span fxFlex></span>
                  <div fxFlex="40">{{row?.approveRejectReason}}</div>
                </div>
              </mat-list-item>
              <mat-list-item class="" *ngIf="row?.userType != 'sysadmin'">
                <div fxLayout="row" fxFlex="100">
                  <h6 class="m-0 mr-1">Verified Status</h6>
                  <span fxFlex></span>
                  <div fxFlex="40">Yes</div>
                </div>
              </mat-list-item>

              <mat-list-item class="">
                  <div fxLayout="row" fxFlex="100">
                    <h6 class="m-0 mr-1">Last log in date and time</h6>
                    <span fxFlex></span>
                    <div fxFlex="40">{{row?.lastLoggedInOn  | date: 'yyyy/MM/dd HH:mm:ss'}}</div>
                  </div>
                </mat-list-item>
                
            </mat-list>
          </mat-card-content>
        </mat-card>
        <!-- Basic Info ends -->

        <!-- Admin panel section list  -->
        <mat-card class="default" *ngIf="row?.userType == 'sysadmin'">
          <mat-card-title>Access To Sections</mat-card-title>
          <mat-card-content class="p-0 border-t">
            <div class="list-tasktype">
              <div class="tasktype-item">
                <mat-checkbox class="mr-1" disabled [checked]="row?.sectionAccess.usermanagement === 'fullaccess'"></mat-checkbox>
                <span>User Management</span>
              </div>
              <div class="tasktype-item">
                <mat-checkbox class="mr-1" disabled [checked]="row?.sectionAccess.advisormanagement === 'fullaccess'"></mat-checkbox>
                <span>Advisor Management</span>
              </div>
              <div class="tasktype-item">
                <mat-checkbox class="mr-1" disabled [checked]="row?.sectionAccess.activitylog === 'fullaccess'"></mat-checkbox>
                <span>Activity Log</span>
              </div>
              <div class="tasktype-item">
                <mat-checkbox class="mr-1" disabled [checked]="row?.sectionAccess.zipcodemap === 'fullaccess'"></mat-checkbox>
                <span>Zip Code Map</span>
              </div>
              <div class="tasktype-item">
                <mat-checkbox class="mr-1" disabled [checked]="row?.sectionAccess.cms === 'fullaccess'"></mat-checkbox>
                <span>CMS Pages</span>
              </div>
              <div class="tasktype-item">
                <mat-checkbox class="mr-1" disabled [checked]="row?.sectionAccess.referral === 'fullaccess'"></mat-checkbox>
                <span>Referral Program</span>
              </div>
              <div class="tasktype-item">
                <mat-checkbox class="mr-1" disabled [checked]="row?.sectionAccess.addmanagement === 'fullaccess'"></mat-checkbox>
                <span>Advertisement Management</span>
              </div>
              <div class="tasktype-item">
                <mat-checkbox class="mr-1" disabled [checked]="row?.sectionAccess.deceasedrequest === 'fullaccess'"></mat-checkbox>
                <span>Deceased Requests</span>
              </div>
              <div class="tasktype-item">
                <mat-checkbox class="mr-1" disabled [checked]="row?.sectionAccess.adminmanagement === 'fullaccess'"></mat-checkbox>
                <span>Admin Management</span>
              </div>

              <div class="tasktype-item">
                  <mat-checkbox class="mr-1" disabled [checked]="row?.sectionAccess.allowNotifications === 'yes'"></mat-checkbox>
                  <span>Allow To Receive Notification* (New admin member notification)</span>
                </div>
            </div>           
          </mat-card-content>
        </mat-card>
        <!-- Admin panel section list ends -->

        <!-- Subscription starts -->
        <mat-card class="default" *ngIf="row?.userType != 'sysadmin'">
          <mat-card-title class="p-1">Subscription Details</mat-card-title>
          <mat-card-content class="p-0 border-t">
            <mat-list class="compact-list mb-1">
              <mat-list-item class="">
                <div fxLayout="row" fxFlex="100">
                  <h6 class="m-0 mr-1">Subscription status</h6>
                  <span fxFlex></span>
                  <div fxFlex="40">{{isAccountFree && !isSubscribePlan ? 'Trial' : ( isSubscribePlan && !isPremiumExpired ? 'Paid' : 'Expired')}} Account</div>
                </div>
              </mat-list-item>

              <mat-list-item class="">
                <div fxLayout="row" fxFlex="100">
                  <h6 class="m-0 mr-1">Plan Expire Date</h6>
                  <span fxFlex></span>
                  <div fxFlex="40">{{subscriptionExpireDate}}</div>
                </div>
              </mat-list-item>
              <mat-list-item class="">
              <div fxLayout="row" fxFlex="100">
                <h6 class="m-0 mr-1">Current Plan</h6>
                <span fxFlex></span>
                <div fxFlex="40">{{planName}} Plan</div>
              </div>
            </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
        <!-- Subscription ends -->
     </div>
     <div fxLayout="column" fxFlex="100" fxFlex.gt-md="50">
          <mat-card class="default" *ngIf="row?.userType == 'advisor'">
              <mat-card-title class="p-1">Uploaded documents</mat-card-title>
              <mat-card-content class="p-0 border-t">
                <mat-list class="compact-list mb-1" *ngFor="let doc of row.advisorDocuments">
                  <mat-list-item class="">
                    <div fxLayout="row" fxFlex="100">
                      <h6 class="m-0 mr-1"><a href="{{dpPath}}{{doc.tmpName}}" target="_blank"> <mat-icon>file_copy</mat-icon> {{doc.title}}</a></h6>
                      <span fxFlex></span>                      
                    </div>
                  </mat-list-item>
                </mat-list>
              </mat-card-content>
          </mat-card>
       <!--    List of trustees starts -->
          <!-- <mat-card class="default" *ngIf="row?.userType == 'customer'">
            <mat-card-title class=" p-1">List of trustees</mat-card-title>
            <mat-card-content class="p-0">
              <mat-list class="compact-list mb-1">
                <mat-list-item class="">
                  <div fxLayout="row" fxFlex="100">
                    <h6 class="m-0 mr-1">Swapnil Shahane</h6>
                    <span fxFlex></span>
                    <div fxFlex="40">swapnil@arkenea.com</div>
                    <span fxFlex></span>
                    <mat-chip mat-sm-chip color="primary" [selected]="true">{{'Accepted'}}</mat-chip>
                  </div>
                </mat-list-item>
                <mat-list-item class="">
                  <div fxLayout="row" fxFlex="100">
                    <h6 class="m-0 mr-1">Ravina Wafgoankar</h6>
                    <span fxFlex></span>
                    <div fxFlex="40">ravina@arkenea.com</div>
                    <span fxFlex></span>
                    <mat-chip mat-sm-chip color="primary" [selected]="false">{{'Pending'}}</mat-chip>
                  </div>
                </mat-list-item>
              </mat-list>
            </mat-card-content>
          </mat-card> -->
          <!-- List of trustees ends -->

          <!-- List of advisors starts -->
          <!-- <mat-card class="default" *ngIf="row?.userType == 'customer'">
            <mat-card-title>List of Advisors</mat-card-title>
            <mat-card-content class="p-0">
              <mat-list class="compact-list mb-1">
              <mat-list-item class="">
                  <div fxLayout="row" fxFlex="100">
                    <h6 class="m-0 mr-1">Nilesh Yadav</h6>
                    <span fxFlex></span>
                    <div fxFlex="40">nilesh@arkenea.com</div>
                    <span fxFlex></span>
                    <mat-chip mat-sm-chip color="primary" [selected]="false">{{'Pending'}}</mat-chip>
                  </div>
                </mat-list-item>
                <mat-list-item class="">
                  <div fxLayout="row" fxFlex="100">
                    <h6 class="m-0 mr-1">Dinesh Patil</h6>
                    <span fxFlex></span>
                    <div fxFlex="40">dineshpatil@arkenea.com</div>
                    <span fxFlex></span>
                    <mat-chip mat-sm-chip color="primary" [selected]="true">{{'Accepted'}}</mat-chip>
                  </div>
                </mat-list-item>                
              </mat-list>
            </mat-card-content>
          </mat-card> -->
          <!-- List of advisors ends -->

          <!-- List of customer starts -->
          <!-- <mat-card class="default" *ngIf="row?.userType == 'advisor'">
            <mat-card-title class="p-1">List of customer</mat-card-title>
            <mat-card-content class="p-0">
              <mat-list class="compact-list mb-1">
                <mat-list-item class="">
                  <div fxLayout="row" fxFlex="100">
                    <h6 class="m-0 mr-1">Kiran Jagtap</h6>
                    <span fxFlex></span>
                    <div fxFlex="40">kiran@arkenea.com</div>
                    <span fxFlex></span>
                    <mat-chip mat-sm-chip color="primary" [selected]="true">{{'Accepted'}}</mat-chip>
                  </div>
                </mat-list-item>
                <mat-list-item class="">
                  <div fxLayout="row" fxFlex="100">
                    <h6 class="m-0 mr-1">Ravina Wafgoankar</h6>
                    <span fxFlex></span>
                    <div fxFlex="40">ravina@arkenea.com</div>
                    <span fxFlex></span>
                    <mat-chip mat-sm-chip color="primary" [selected]="false">{{'Pending'}}</mat-chip>
                  </div>
                </mat-list-item>
              </mat-list>
            </mat-card-content>
          </mat-card> -->
          <!-- List of customer ends -->

          <!-- List of advisors starts -->
          <!-- <mat-card class="default" *ngIf="row?.userType != 'sysadmin'">
            <mat-card-title class="p-1">Others</mat-card-title>
            <mat-card-content class="p-0">
              <mat-list class="compact-list mb-1">
              <mat-list-item class="" *ngIf="row?.userType == 'customer'">
                  <div fxLayout="row" fxFlex="100">
                    <h6 class="m-0 mr-1">Count of own legacy files</h6>
                    <span fxFlex></span>
                    <div fxFlex="40">0</div>
                  </div>
                </mat-list-item>
              <mat-list-item class="" *ngIf="row?.userType == 'advisor'">
                  <div fxLayout="row" fxFlex="100">
                    <h6 class="m-0 mr-1">Referral target status</h6>
                    <span fxFlex></span>
                    <div fxFlex="40"></div>
                  </div>
                </mat-list-item>
              <mat-list-item class="" *ngIf="row?.userType == 'advisor'">
                <div fxLayout="row" fxFlex="100">
                  <h6 class="m-0 mr-1">Monthly history of referral targets</h6>
                  <span fxFlex></span>
                  <div fxFlex="40"></div>
                </div>
              </mat-list-item>
              <mat-list-item class="" *ngIf="row?.userType == 'advisor'">
                  <div fxLayout="row" fxFlex="100">
                    <h6 class="m-0 mr-1">Any active advertisement subscription</h6>
                    <span fxFlex></span>
                    <div fxFlex="40"></div>
                  </div>
                </mat-list-item>
              <mat-list-item class="" *ngIf="row?.userType == 'advisor'">
                <div fxLayout="row" fxFlex="100">
                  <h6 class="m-0 mr-1">Count of clients</h6>
                  <span fxFlex></span>
                  <div fxFlex="40">0</div>
                </div>
              </mat-list-item>                                
              </mat-list>
            </mat-card-content>
          </mat-card> -->
          <!-- List of advisors ends -->

        </div>
    </div>
  </div>
</div>