<div fxLayout="row wrap" *ngIf="showPage">
  <div fxFlex="100" fxFlex.gt-md="300px" fxFlex.gt-sm="50">
    <mat-card class="profile-sidebar admn--user--details--wrapper">
      <div class="propic text-center" *ngIf="row?.userType != 'sysadmin'">
        <img src="{{profilePicture}}" alt="">
      </div>
      <div class="profile-title text-center mb-1">
        <div class="main-title">{{fullname}}</div>
        <div class="text-muted">{{row?.bioText ? row?.bioText : ''}}</div>
      </div>
      <div class="profile-actions mb-1" fxLayoutAlign="center center" *ngIf="row?.userType == 'advisor' && row?.status == 'Pending' && row?.profileSetup && row?.profileSetup == 'yes'">
        <button mat-raised-button class="" color="primary" (click)="statusChange(row)">Accept</button>
        <span fxFlex="8px"></span>
        <button mat-raised-button class="mat-warn" (click)="rejectPopUp({}, true)">Reject</button>
      </div>
      <div class="profile-actions mb-1" fxLayoutAlign="center center" *ngIf="row?.userType == 'advisor' && row?.status == 'Pending' && (!row?.profileSetup ||  row?.profileSetup != 'yes')">
        <button mat-raised-button class="" color="primary">Incomplete Signup</button>
      </div>
      <mat-card-content class="pt-0 border-0">
        <mat-list>
          <mat-list-item>
            <mat-icon class="mr-1">email</mat-icon> {{row?.username}}</mat-list-item>
          <mat-list-item *ngIf="row?.userType == 'customer' && row?.phoneNumber!=''">
            <mat-icon class="mr-1">phone</mat-icon> {{row?.phoneNumber ? row?.phoneNumber : '--'}}</mat-list-item>
          <mat-list-item *ngIf="row?.userType == 'advisor' && row?.businessPhoneNumber!=''">
          <mat-icon class="mr-1">phone</mat-icon> {{row?.businessPhoneNumber ? row?.businessPhoneNumber : '--'}}</mat-list-item>            
          <mat-list-item *ngIf="row?.userType == 'advisor' && row?.businessMobileNumber!=''">
              <mat-icon class="mr-1">smartphone</mat-icon> {{row?.businessMobileNumber ? row?.businessMobileNumber : '--'}}</mat-list-item>            
          
          <mat-list-item *ngIf="row?.userType == 'advisor' && row?.websiteDomain!=''">
                <mat-icon class="mr-1">link</mat-icon><a href="{{row?.websiteDomain ? row?.websiteDomain : '#'}}" target="_blanck">{{row?.websiteDomain ? row?.websiteDomain : '--'}}</a></mat-list-item>            

        </mat-list>
      </mat-card-content>
      <div class="profile-actions mb-1" fxLayoutAlign="center center" *ngIf="row?.userType == 'advisor' && row?.status == 'Active' && (row?.IamIntrested && row?.IamIntrested != 'Yes') && (row?.refereAndEarnSubscriptionDetail && row?.refereAndEarnSubscriptionDetail.status == 'Active' && row?.refereAndEarnSubscriptionDetail.endDate == '')">
        <button mat-raised-button class="" color="primary" (click)="reactivateReferEarn(row)">Reactivate Refer N Earn</button>
      </div>
    </mat-card>
  </div>

  <!-- Profile Views -->
  <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="calc(100% - 300px)">
    <div fxLayout="row wrap">
      <div fxLayout="column" fxFlex="100" fxFlex.gt-md="50">
        <!-- Basic Info starts -->
        <mat-card class="default mb-1 basic--info--wrapper">
          <mat-card-title class="p-1">Basic Info</mat-card-title>
          <mat-card-content class="p-0 border-t">
            <mat-list class="compact-list mb-1">
              <mat-list-item class="" *ngIf="row?.userType != 'sysadmin'">
                <div fxLayout="row" fxFlex="100">
                  <h6 class="m-0 mr-1">Date Of Birth</h6>
                  <span fxFlex></span>
                  <div fxFlex="40">{{row?.dateOfBirth ? (row?.dateOfBirth | date: 'MM/dd/yyyy') : '--'}}</div>
                </div>
              </mat-list-item>
              <mat-list-item class="msg--hgt--sec" *ngIf="row?.userType != 'sysadmin'">
                <div fxLayout="row" fxFlex="100">
                  <h6 class="m-0 mr-1">Address Line 1</h6>
                  <span fxFlex></span>
                  <div fxFlex="40" class="line--hgt--20">{{row?.addressLine1 ? row?.addressLine1 : '--'}}</div>
                </div>
              </mat-list-item>
              <mat-list-item class="msg--hgt--sec" *ngIf="row?.userType != 'sysadmin'">
                <div fxLayout="row" fxFlex="100">
                  <h6 class="m-0 mr-1">Address Line 2</h6>
                  <span fxFlex></span>
                  <div fxFlex="40" class="line--hgt--20">{{row?.addressLine2 ? row?.addressLine2 : '--'}}</div>
                </div>
              </mat-list-item>
              <mat-list-item class="" *ngIf="row?.userType != 'sysadmin'">
                <div fxLayout="row" fxFlex="100">
                  <h6 class="m-0 mr-1">City</h6>
                  <span fxFlex></span>
                  <div fxFlex="40">{{row?.city ? row?.city : '--'}}</div>
                </div>
              </mat-list-item>
              <mat-list-item class="" *ngIf="row?.userType != 'sysadmin'">
                <div fxLayout="row" fxFlex="100">
                  <h6 class="m-0 mr-1">State</h6>
                  <span fxFlex></span>
                  <div fxFlex="40">{{row?.state ? row?.state : '--'}}</div>
                </div>
              </mat-list-item>
              <mat-list-item class="" *ngIf="row?.userType != 'sysadmin'">
                <div fxLayout="row" fxFlex="100">
                  <h6 class="m-0 mr-1">Zipcode</h6>
                  <span fxFlex></span>
                  <div fxFlex="40">{{row?.zipcode ? row?.zipcode : '--'}}</div>
                </div>
              </mat-list-item>
              <mat-list-item class="">
                <div fxLayout="row" fxFlex="100">
                  <h6 class="m-0 mr-1">Status</h6>
                  <span fxFlex></span>
                  <div fxFlex="40">
                    <mat-chip mat-sm-chip [color]="'warn'" class="warn active--status--chip">{{row?.status}}</mat-chip>
                  </div>
                </div>
              </mat-list-item>
              <mat-list-item class="msg--hgt--sec" *ngIf="row?.userType != 'sysadmin'">
                <div fxLayout="row" fxFlex="100">
                  <h6 class="m-0 mr-1">Rejected Reason</h6>
                  <span fxFlex></span>
                  <div fxFlex="40" class="line--hgt--20">{{row?.approveRejectReason ? row?.approveRejectReason : '--'}}</div>
                </div>
              </mat-list-item>
              <mat-list-item class="" *ngIf="row?.userType != 'sysadmin'">
                <div fxLayout="row" fxFlex="100">
                  <h6 class="m-0 mr-1">Verified Status</h6>
                  <span fxFlex></span>
                  <div fxFlex="40">{{ row?.emailVerified ? 'Yes' : 'No' }}</div>
                </div>
              </mat-list-item>

              <mat-list-item class="" *ngIf="row?.invitedBy != ''">
                <div fxLayout="row" fxFlex="100">
                  <h6 class="m-0 mr-1">Invited By</h6>
                  <span fxFlex></span>
                  <div fxFlex="40">{{ row?.invitedBy.firstName ? row?.invitedBy.firstName : '' }} {{ row?.invitedBy.lastName ? row?.invitedBy.lastName : '' }} ({{ row?.invitedBy.userType }})</div>
                </div>
              </mat-list-item>

              <mat-list-item class="">
                <div fxLayout="row" fxFlex="100">
                  <h6 class="m-0 mr-1">Last log in date and time</h6>
                  <span fxFlex></span>
                  <div fxFlex="40">{{row?.lastLoggedInOn | date: 'MM/dd/yyyy HH:mm:ss'}}</div>
                </div>
              </mat-list-item>

              <mat-list-item class="">
                <div fxLayout="row" fxFlex="100">
                  <h6 class="m-0 mr-1">Account created date and time</h6>
                  <span fxFlex></span>
                  <div fxFlex="40">{{row?.createdOn | date: 'MM/dd/yyyy HH:mm:ss'}}</div>
                </div>
              </mat-list-item>
              <mat-list-item class="">
                <div fxLayout="row" fxFlex="100">
                  <h6 class="m-0 mr-1">Allow To Receive Notification* (New admin member notification)</h6>
                  <span fxFlex></span>
                  <div fxFlex="40">{{(row?.allowNotifications && row?.allowNotifications=='yes') ? 'Yes' : 'No'}}</div>
                </div>
              </mat-list-item>

            </mat-list>
          </mat-card-content>
        </mat-card>
        <!-- Basic Info ends -->

        <!-- Admin panel section list  -->
        <mat-card class="default" *ngIf="row?.userType == 'sysadmin' && row?.sectionAccess">
          <mat-card-title class="p-1">Access To Sections 
            <p class="access--note">Selected boxes represents access for the sections. You can ask to grant permission for unselected sections.</p></mat-card-title>
          <mat-card-content class="p-0 border-t">
            <div class="list-tasktype">
              <div class="tasktype-item">
                <mat-checkbox class="mr-1" disabled [checked]="row?.sectionAccess.usermanagement === 'fullaccess'"></mat-checkbox>
                <span>User Management</span>
              </div>
              <div class="tasktype-item">
                <mat-checkbox class="mr-1" disabled [checked]="row?.sectionAccess.advisormanagement === 'fullaccess'"></mat-checkbox>
                <span>Advisor Management</span>
              </div>
              <div class="tasktype-item">
                <mat-checkbox class="mr-1" disabled [checked]="row?.sectionAccess.activitylog === 'fullaccess'"></mat-checkbox>
                <span>Activity Log</span>
              </div>
              <div class="tasktype-item">
                <mat-checkbox class="mr-1" disabled [checked]="row?.sectionAccess.zipcodemap === 'fullaccess'"></mat-checkbox>
                <span>Zip Code Map</span>
              </div>
              <div class="tasktype-item">
                <mat-checkbox class="mr-1" disabled [checked]="row?.sectionAccess.cms === 'fullaccess'"></mat-checkbox>
                <span>CMS Pages</span>
              </div>
              <div class="tasktype-item">
                <mat-checkbox class="mr-1" disabled [checked]="row?.sectionAccess.referral === 'fullaccess'"></mat-checkbox>
                <span>Referral Program</span>
              </div>
              <div class="tasktype-item">
                <mat-checkbox class="mr-1" disabled [checked]="row?.sectionAccess.addmanagement === 'fullaccess'"></mat-checkbox>
                <span>Advertisement Management</span>
              </div>
              <div class="tasktype-item">
                <mat-checkbox class="mr-1" disabled [checked]="row?.sectionAccess.deceasedrequest === 'fullaccess'"></mat-checkbox>
                <span>Deceased Requests</span>
              </div>
              <div class="tasktype-item">
                <mat-checkbox class="mr-1" disabled [checked]="row?.sectionAccess.adminmanagement === 'fullaccess'"></mat-checkbox>
                <span>Admin Management</span>
              </div>
              <!-- 
              <div class="tasktype-item">
                  <mat-checkbox class="mr-1" disabled [checked]="row?.sectionAccess?.allowNotifications === 'yes'"></mat-checkbox>
                  <span>Allow To Receive Notification* (New admin member notification)</span>
                </div> -->
            </div>
          </mat-card-content>
        </mat-card>
        <!-- Admin panel section list ends -->

        <!-- Subscription starts -->
        <mat-card class="default" *ngIf="row?.userType != 'sysadmin'">
          <mat-card-title class="p-1">Subscription Details</mat-card-title>
          <mat-card-content class="p-0 border-t">
            <mat-list class="compact-list mb-1">
              <mat-list-item class="">
                <div fxLayout="row" fxFlex="100">
                  <h6 class="m-0 mr-1">Subscription status</h6>
                  <span fxFlex></span>
                  <div fxFlex="40">{{subscriptionStatus}} Account</div>
                </div>
              </mat-list-item>
              <mat-list-item class="">
                <div fxLayout="row" fxFlex="100">
                  <h6 class="m-0 mr-1">Plan Expire Date</h6>
                  <span fxFlex></span>
                  <div fxFlex="40">{{(row?.userSubscriptionEnddate && row?.userSubscriptionEnddate != null) ? (row?.userSubscriptionEnddate  | date: 'MM/dd/yyyy') : '--'}}</div>
                </div>
              </mat-list-item>
              <mat-list-item class="">
                <div fxLayout="row" fxFlex="100">
                  <h6 class="m-0 mr-1">Current Plan</h6>
                  <span fxFlex></span>
                  <div fxFlex="40">{{planName}} Plan</div>
                </div>
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
        <!-- Subscription ends -->
      </div>

      <div fxLayout="column" fxFlex="100" fxFlex.gt-md="50">
        <mat-card class="default" *ngIf="row?.userType == 'advisor'">
            <mat-card-title class="p-1">Uploaded documents</mat-card-title>
            <mat-card-content class="p-0 border-t">
              <mat-list class="compact-list mb-1" *ngFor="let doc of row.advisorDocuments">
                <mat-list-item  class="msg--hgt--sec">
                  <div fxLayout="row" fxFlex="100">
                    <p class="dowloaded--names" (click)="downloadFile(doc.tmpName)"><mat-icon class="mat-icon material-icons" (click)="downloadFile(doc.tmpName)">file_copy</mat-icon>{{doc.title}}</p>
                   
                  </div>
                </mat-list-item>
              </mat-list>
            </mat-card-content>
        </mat-card>

        <mat-card class="default" *ngIf="row?.userType == 'advisor'">
          <mat-card-title class="p-1">License & documents</mat-card-title>
          <mat-card-content class="p-0 border-t">
            <mat-list class="compact-list mb-1">
              <mat-list-item class="">
                <div fxLayout="row" fxFlex="100">
                  <h6 class="m-0 mr-1">What agency oversees your business?</h6>
                  <span fxFlex></span>
                  <div fxFlex="40">{{row?.agencyOversees ? row?.agencyOversees : ''}} </div>
                </div>
              </mat-list-item>
              <mat-list-item class="">
                <div fxLayout="row" fxFlex="100">
                  <h6 class="m-0 mr-1">Do you manage other products?</h6>
                  <span fxFlex></span>
                  <div fxFlex="40">{{row?.manageOtherProceducers == "1" ? "Yes" : "No"}}</div>
                </div>
              </mat-list-item>
              <mat-list-item class="">
                <div fxLayout="row" fxFlex="100">
                  <h6 class="m-0 mr-1">Who is your managing principle?</h6>
                  <span fxFlex></span>
                  <div fxFlex="40">{{row?.managingPrincipleName ? row?.managingPrincipleName : '--'}}</div>
                </div>
              </mat-list-item>
              <mat-list-item class="">
                <div fxLayout="row" fxFlex="100">
                  <h6 class="m-0 mr-1">Active License Held</h6>
                  <span fxFlex></span>
                  <div fxFlex="40">{{row?.activeLicenceHeld ? row?.activeLicenceHeld : "--"}}</div>
                </div>
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>