<div class="container llp--left--panel--view ">
  <mat-sidenav-container>
    <mat-sidenav EgretSideNavToggle class="shop-sidebar llp--menu--list">
      <div class="shop-filters-wrap llp--left--panel">
        <mat-card class="account--profile">
          <div class="account--pic--wrapper">
            <div class="account--pic">
              <img src="{{profilePicture}}" />
            </div>
          </div>
          <div class="acc--user--details text-center">
            <h2>{{row?.firstName}} {{row?.lastName}}</h2>
            <p><mat-icon>markunread</mat-icon>{{row?.username}}</p>
            <div class="sta--m">
              <mat-icon>star</mat-icon> {{isSubscribePlan ? 'Subscribed ' : 'Free '}}member
            </div>
          </div>
        </mat-card>
      </div>
    </mat-sidenav>
    <!-- toggleSideNav -->
    <div class="shop-top-toolbar p-0 llp--toggle-btn ml-1">
      <button mat-icon-button class="p-0" (click)="toggleSideNav()">
        <mat-icon>short_text</mat-icon>
      </button>
    </div>
    <div class="shop-wrap llp--content--wrapper" fxLayout="row" fxLayoutWrap="wrap">
      <div class="full-width">
        <mat-card class="empty--section p-0">
          <mat-card-header class="m-0 ">
            <mat-card-title class="m-0">Business Details</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <!-- Personal Profile -->
            <div class="details--wrapper mb-1">
              <div class="details--header">
                <div class="d-flex align--items--center">
                  <mat-icon>person</mat-icon>Personal Profile
                </div>
              </div>
              <div class="details--body">
                <div fxLayout="row wrap" class="mb--10">
                  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                    <label class="strong--label">Date of Birth:</label>
                  </div>
                  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                    <label class="normal--label">{{row?.dateOfBirth | date: 'MMM dd, yyyy'}}</label>
                  </div>
                </div>

                <div fxLayout="row wrap" class="mb--10">
                  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                    <label class="strong--label">Business Phone:</label>
                  </div>
                  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                    <label class="normal--label">+1 {{row?.phoneNumber}}</label>
                  </div>
                </div>
                <div fxLayout="row wrap" class="mb--10">
                  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                    <label class="strong--label">Location:</label>
                  </div>
                  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                    <label class="normal--label">{{row?.city}}, {{row?.state}} - {{row?.zipcode}}</label>
                  </div>
                </div>
              </div>
            </div>  
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-sidenav-container>
</div>