<!-- Left side topbar -->
<mat-toolbar color="primary" class="chat-sidebar-toolbar chat--header--left">
  <a href="" class="toolbar-avatar online">
    <img src="assets/images/arkenea/small-whiteLogo--3.png" alt="">
  </a>
  <h6 class="m-0 pl-1"> Chat </h6>
</mat-toolbar>
<div [perfectScrollbar] class="chat-sidebar-scroll">
  <!-- Left side contact list -->
  <mat-nav-list class="inbox-nav-list" role="list" style="display:none;">
    <mat-list-item *ngFor="let info of currentUser?.chatInfo" (click)="getChatByContact(info.contactId)">
      <a mat-list-avatar [ngClass]="{online: (info.status) === 'online'}" class="toolbar-avatar">
        <img [src]="info.avatar" alt="">
        <span class="status-dot"></span>
      </a>
      <span class="menuitem-badge mat-bg-warn ng-star-inserted">{{info.unread}}</span>
      <h6 matLine>{{info.contactName}}</h6>
      <p matLine class="text-muted">{{info.lastChatTime  | date}}</p>
    </mat-list-item>    
  </mat-nav-list>
  <!-- <mat-divider></mat-divider> -->
  <mat-nav-list class="inbox-nav-list" role="list" *ngIf='contacts'>
    <mat-list-item
    *ngFor="let contact of contacts"
    (click)="getChatByContact(contact._id)">
      <a 
      mat-list-avatar 
      [ngClass]="{online: contact.status === 'online'}"
      class="toolbar-avatar">
        <img [src]="contact.avatar" alt="">
        <span class="status-dot"></span>
      </a>
      <span class="menuitem-badge mat-bg-warn ng-star-inserted">{{contact.unread}}</span>
      <h6 matLine>{{contact.name}}</h6>
      <!-- <p matLine class="text-muted">{{contact.lastChatTime  | date}}</p> -->
    </mat-list-item>
    
  </mat-nav-list>
    <mat-nav-list class="inbox-nav-list" role="list" *ngIf='!contacts'>
      <mat-list-item>Contacts records Not Found!</mat-list-item>
  </mat-nav-list>
</div>
  