.toolbar-avatar.online > .status-dot {
    background: #f44336 !important;
    color: #ffffff !important;
}
.chat--header--left{
    img{
        width: 22px !important;
        border-radius: unset;
        margin-top: 6px;
        margin-left: 10px;
    }
}
.unread--msg--count{
    border: 1px solid #ddd;
    background: #fff;
    width: 23px;
    height: 18px;
    padding: 0;
    display: flex;
    color: red;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 12px;
    line-height: 12px;
    box-shadow: 0 0 5px #ddd;
}