<header class="auth-header">
    <img src="assets/images/arkenea/small-logo.png" alt="">
  </header>
  
  <div class="page-wrap mat-bg-primary">
    <div class="session-form-hold">
      
      <div class="login-sub-wrapper">
        <!-- <mat-progress-bar mode="determinate" class="session-progress"></mat-progress-bar> -->
        <mat-card-content>
            <div class="text-center pb-1">
              <h2 class="login-header-text m-0">Set Account Password</h2>
              <p class="login-header-desc">Welcome! <span> glenn.maxwell@yopmail.com </span></p>
              <p class="admin-note">Your account has been approved by the admin. Set your account 
                  password to be a part of Legacy Life Plans</p>
            </div>
            <form class="llp-form-wrapper">
              <div class="">
                <mat-form-field class="full-width">
                  <input matInput placeholder="Password" value="" required>
                </mat-form-field>
              </div>
        
              <button [routerLink]="'/auth/advisor/thank-you'" mat-raised-button class="llp--primary--btn full-width proceed--action--btn mb-0">Proceed</button>
              
              
            </form>
          </mat-card-content>
      </div>
  
      <div class="login-footer">
        <!-- <p>Are you a Customer? <a [routerLink]="'/auth/advisor/signup'">Register here</a></p> -->
        &nbsp;
      </div>
      
  
  
    </div>
    
  </div>
  
  <footer class="auth-footer">
    <p>© 2019 Legacy Life Plans</p>
  </footer>