<div class="ll--modal--header">
  {{data.title}}
  <button class="modal--close">
    <mat-icon (click)="dialogRef.close()" class="icon--cross">cancel</mat-icon>
  </button>
</div>
<form class="llp-form-wrapper " [formGroup]="itemForm" (ngSubmit)="submit()">
  <div class="ll--modal--body">
    <div fxLayout="row wrap" fxLayout.lt-sm="column">
      <div fxFlex="100" class="pr-1">
        <mat-form-field class="full-width">
          <textarea matInput maxlength="250" placeholder="Reject Reason" [formControl]="itemForm.controls['approveRejectReason']" name="approveRejectReason"></textarea>
          <mat-icon matTooltip="Please enter reject reason." matTooltipClass="llp--tooltip error" *ngIf="itemForm.controls['approveRejectReason'].invalid && itemForm.controls['approveRejectReason'].touched"
          class="red--alert">help_outline</mat-icon>
        </mat-form-field>
      </div>



    </div>
    <div class="ll--modal--footer text-center">
      <button mat-raised-button class="llp--primary--btn" [disabled]="itemForm.invalid">Submit</button>
    </div>

  </div>
</form>