<h2 matDialogTitle>{{data.title}}</h2>
<form [formGroup]="itemForm" (ngSubmit)="submit()">
  <div fxLayout="row wrap" fxLayout.lt-sm="column">
    <div fxFlex="50"  class="pr-1">
      <mat-form-field class="full-width">
        <input
        matInput
        name="firstName"
        [formControl]="itemForm.controls['firstName']"
        placeholder="First Name">
      </mat-form-field>
    </div>

    <div fxFlex="50"  class="pr-1">
        <mat-form-field class="full-width">
          <input
          matInput
          name="lastName"
          [formControl]="itemForm.controls['lastName']"
          placeholder="Last Name">
        </mat-form-field>
      </div>

    <div fxFlex="100"  class="pr-1">
      <mat-form-field class="full-width">
        <input
        matInput
        type="email"
        name="username"
        [formControl]="itemForm.controls['username']"
        placeholder="Email">
      </mat-form-field>
    </div>

    <div fxFlex="100">
        <Label>Access Sections</Label>
        <div class="pb-1" *ngFor="let t of adminSections">
            <Label>{{t.name}}    </Label>
            <mat-radio-group  class="full-width"
            name="{{t.code}}" 
            [formControl]="itemForm.controls[t.code]">
                <mat-radio-button value="fullaccess">Full Access  </mat-radio-button>
                <mat-radio-button value="denyall">Deny All</mat-radio-button>
            </mat-radio-group>
        </div>        
    </div>
    
    <!-- <div fxFlex="50"  class="pt-1 pr-1">
      <mat-slide-toggle [formControl]="itemForm.controls['status']">Active Customer</mat-slide-toggle>
    </div> -->

    <div fxFlex="100" class="mt-1">
      <button mat-raised-button color="primary" [disabled]="itemForm.invalid">Save</button>
      <span fxFlex></span>
      <button mat-button color="warn" type="button" (click)="dialogRef.close(false)">Cancel</button>
    </div>
  </div>
</form>