<div class="shop-wrap llp--content--wrapper" fxLayout="row" fxLayoutWrap="wrap">
  <!-- Filters -->

  <!-- Right side -->
  <div class="full-width">

    <!-- toggleSideNav -->
    <div class="shop-top-toolbar p-0 llp--toggle-btn">
      <button mat-icon-button class="p-0" (click)="toggleSideNav()">
        <mat-icon>short_text</mat-icon>
      </button>
    </div>

    <!-- My Essentials 2nd (dashboard) -->
    <div class="">
      <mat-card class="empty--section p-0">
        <mat-card-header class="m-0">
          <mat-card-title class="m-0">My Essentials </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class="info m-0">The section where you can manage your personal, professional and religious information.
            <a class="legal--link"> <mat-icon>open_in_new</mat-icon> www.legalnature.com</a>
            <br> You can also manage your License, Non-Driver State ID, Department of Defense (DOD), Birth Certificate, Social
            Security Number (SSN), Passport, Visa in the ID Box section.</p>
        </mat-card-content>
      </mat-card>
      <mat-card class="empty--section p-0">
        <mat-card-header class="m-0">
          <mat-card-title class="m-0">Personal Profile</mat-card-title>
          <div>
            <span class="no--of--trustee">4 Trustees</span>
            <button mat-raised-button class="llp--primary--btn llp--primary--sm--btn"  (click)="openProfileModal({}, true)">+ Add</button>
            
          </div>
        </mat-card-header>
        <mat-card-content class="appointees--wrapper">
          <div class="cust--user--details mt-1" [routerLink]="['/customer/dashboard/essential-detail-view']">
            <div class="name--letters">ab</div>
            <div class="user--name">
              <h5>Allen Barry</h5>
              <p class="mb-0">Last modified:
                <span>4/02/2019</span>
              </p>
            </div>
          </div>
          <div class="cust--user--details mt-1">
            <div class="name--letters">js</div>
            <div class="user--name">
              <h5>Johnson Smith</h5>
              <p class="mb-0">Last modified:
                <span>10/02/2019</span>
              </p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="empty--section p-0">
        <mat-card-header class="m-0">
          <mat-card-title class="m-0">ID Box</mat-card-title>
          <div>
            <span class="no--of--trustee">10 Trustees</span>
            <button mat-raised-button class="llp--primary--btn llp--primary--sm--btn" (click)="openAddIdBoxModal({}, true)">+ Add</button>
          </div>
        </mat-card-header>
        <mat-card-content class="appointees--wrapper">
          <div class="cust--user--details mt-1" [routerLink]="['/customer/dashboard/essential-detail-idbox']">
            <div class="name--letters">dl</div>
            <div class="user--name">
              <h5>Driving License ID</h5>
              <p class="mb-0">Last modified:
                <span>4/02/2019</span>
              </p>
            </div>
          </div>
          <div class="cust--user--details mt-1">
            <div class="name--letters">ss</div>
            <div class="user--name">
              <h5>Social Security Number</h5>
              <p class="mb-0">Last modified:
                <span>10/02/2019</span>
              </p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

   

  </div>

</div>