<div class="ll--modal--header">
    Time Capsule
  <button class="modal--close" [mat-dialog-close]="">
    <mat-icon class="icon--cross">cancel</mat-icon>
  </button>
</div>
<form class="llp-form-wrapper" (ngSubmit)="InsuranceFormSubmit(InsuranceForm.value)">
  <div class="ll--modal--body legal--stuff--body--hgt">
    <div fxLayout="row wrap" class="pt-1">
      <div fxFlex.xs="100">
       <mat-form-field class="full-width">
              <mat-label>Policy Type*</mat-label>
            <mat-select placeholder="Policy Type*" name="policyType" [formControl]="InsuranceForm.controls['policyType']" >
              <mat-option value="">Select Policy Type</mat-option>
              <mat-option *ngFor="let option of policyTypeList"  [value]="option.opt_code">{{option.opt_name}}</mat-option>
            </mat-select>
              <mat-icon matTooltip="Please select policy type" matTooltipClass="llp--tooltip error" *ngIf="InsuranceForm.controls['policyType'].hasError('required') && InsuranceForm.controls['policyType'].touched" class="red--alert">help_outline</mat-icon>
       </mat-form-field>

      <mat-form-field class="full-width">
          <input matInput name="company" maxlength="20" placeholder="Company"  (keyup)="firstCapitalize($event)"  (keypress)="checkSpecialChar($event)" [formControl]="InsuranceForm.controls['company']">
      </mat-form-field>

      <mat-form-field class="full-width">
          <input matInput name="policyNumber" maxlength="20" placeholder="Policy Number" [formControl]="InsuranceForm.controls['policyNumber']">
      </mat-form-field>
   
      <mat-form-field class="full-width">
          <input matInput name="contactPerson" maxlength="20" placeholder="Contact Person" [formControl]="InsuranceForm.controls['contactPerson']">
      </mat-form-field>

      <mat-form-field class="full-width">
          <input matInput name="contactEmail" maxlength="20" placeholder="Contact Email" [formControl]="InsuranceForm.controls['contactEmail']">
      </mat-form-field>

      <mat-form-field class="full-width">
          <input matInput name="contactPhone" maxlength="20" placeholder="Contact Phone" [formControl]="InsuranceForm.controls['contactPhone']">
      </mat-form-field>

      <div class="upload--buss--docs--sec">
             <label>Upload your file/pictures/videos</label>
             <div class="upload--box fileupload-drop-zone"
                ng2FileDrop
                [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                (fileOver)="fileOverBase($event)"
                [uploader]="uploader">
                <input type="file" name="documents"  ng2FileSelect [uploader]="uploader" multiple  (change)="fileOverBase('')" />  
                <mat-icon class="cloud-icon">cloud_upload</mat-icon>
                <div class="select--file">Select files from your computer</div>
              </div>
              <div class="file--details mb-1">Supported formats Doc, PDF, txt, JPEG, JPG, PNG</div>
            </div>            
         <div *ngIf="InsuranceDocsList" >
          <h3 class="header--text fnt--16">Uploaded file/documents </h3>
          <mat-chip-list class="doc--list" *ngFor="let doc of InsuranceDocsList; index as i">
              <mat-chip><a href="{{docPath}}{{doc.tmpName}}">{{doc.title}}</a><mat-icon matChipRemove (click)="InsuranceDelete(i,doc.title,doc.tmpName)">close</mat-icon></mat-chip>
          </mat-chip-list>
         </div>
          <mat-chip-list class="doc--list error--chip" *ngFor="let err of fileErrors;">
              <mat-chip><mat-error>{{err.error}}</mat-error></mat-chip>
          </mat-chip-list>    
          <div class="progress" style="margin-bottom: 0;" *ngIf="uploader.getNotUploadedItems().length">
            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }">{{uploader.progress}}%</div>
            <mat-progress-bar class=""  color="primary" mode="Indeterminate"  [value]="uploader.progress"></mat-progress-bar>
          </div>

          <mat-form-field class="full-width mt-1">
              <textarea (keyup)="firstCapitalize($event)" (keypress)="checkSpecialChar($event)" maxlength="500" matInput placeholder="Comments" name="comments" [formControl]="InsuranceForm.controls['comments']"></textarea>
              <div class="char--limit" style="float: right;">{{ 500 - InsuranceForm.controls['comments'].value?.length }}</div>
            </mat-form-field>

          <mat-form-field class="full-width" *ngIf="profileIdHiddenVal">
            <input matInput name="profileId" [formControl]="InsuranceForm.controls['profileId']" readonly="readonly">
          </mat-form-field>
      </div>
    </div>
  </div>
  <div class="ll--modal--footer text-center">
    <button mat-raised-button class="llp--primary--btn" [disabled]="!InsuranceForm.valid">Save</button>
  </div>
</form>