<!-- 
  <div fxLayout="row wrap"  >
      <div fxFlex.xs="100" fxFlex.sm="33.33" fxFlex.md="20" fxFlex.lg="49" fxFlex.xl="33.33">01</div>
      <div fxFlex.xs="100" fxFlex.sm="33.33" fxFlex.md="20" fxFlex.lg="49" fxFlex.xl="33.33">02</div>
      <div fxFlex.xs="100" fxFlex.sm="33.33" fxFlex.md="20" fxFlex.lg="49" fxFlex.xl="33.33">03</div>
      <div fxFlex.xs="100" fxFlex.sm="33.33" fxFlex.md="20" fxFlex.lg="49" fxFlex.xl="33.33">04</div>
      <div fxFlex.xs="100" fxFlex.sm="33.33" fxFlex.md="20" fxFlex.lg="49" fxFlex.xl="33.33">05</div>
  </div>
 -->

<div fxLayout="row wrap" class="advisor--landing--wrapper">
  <div fxFlex="100">
    <div class="get--hired--wrapper" style="background-image: url('assets/images/arkenea/get-hired-banner.png')">
      <div class="banner--content">
        <h6>Make Your Profile Better Highlight &</h6>
        <h3>Get Hired With LLP</h3>
        <h6 class="info">Lorem Ipsum is simply dummy text of ipsum lorem</h6>
        <button mat-raised-button class="landing--primary--btn">Start a Free Trial</button>
        <button mat-raised-button class="landing--secondary--btn">See Hire Process</button>
      </div>
    </div>

    <div class="container">
      <div class="hired--steps bottom-space">
        <div fxLayout="row wrap">
          <div fxFlex.xs="100" fxFlex.sm="33.33" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33">
            <div class="steps--section">
              <div class="step--header">
                <i class="icon icon--create--profile"></i>
                <h5>Create Profile</h5>
              </div>
              <div class="step--body">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
              </div>
            </div>
          </div>
          <div fxFlex.xs="100" fxFlex.sm="33.33" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33">
            <div class="steps--section">
              <div class="step--header">
                <i class="icon icon--contact-lead"></i>
                <h5>Contact Leads</h5>
              </div>
              <div class="step--body">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
              </div>
            </div>
          </div>
          <div fxFlex.xs="100" fxFlex.sm="33.33" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33">
            <div class="steps--section">
              <div class="step--header">
                <i class="icon icon--get--hired"></i>
                <h5>Get Hired</h5>
              </div>
              <div class="step--body">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="signature--wrapper bottom-space">
        <div fxLayout="row wrap" class="align--items--center">
          <div fxFlex.xs="100" fxFlex.sm="48" fxFlex.md="48" fxFlex.lg="48" fxFlex.xl="48">
            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
            <p>Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's Lorem Ipsum is
              simply dummy text of the printing and typesetting industry.</p>
          </div>
          <div fxFlex.xs="100" fxFlex.sm="52" fxFlex.md="52" fxFlex.lg="52" fxFlex.xl="52" class="text-right">
            <img _ngcontent-c0="" alt="" class="img-fluid" src="assets/images/arkenea/signature.png">
          </div>
        </div>
      </div>




    </div>


    

  </div>
</div>