<div class="ll--modal--header">
  Obituary
  <button class="modal--close" [mat-dialog-close]="">
    <mat-icon class="icon--cross">cancel</mat-icon>
  </button>
</div>

<form [formGroup]="ObituaryFormGroup" class="llp-form-wrapper" (ngSubmit)="ObituaryFormSubmit(ObituaryFormGroup.value)">
  <div class="ll--modal--body idbox--modal--hgt">
    <div fxLayout="row wrap">
      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" class="">
        <mat-radio-group class="llp-radio" (change)="onCheckType($event.value)" [formControl]="ObituaryFormGroup.controls['check']">
          <div class="checkbox-label">
          </div>
          <mat-radio-button value="yes" [checked]="ObituaryFormGroup.controls['check'].value=='yes'">I have prepared an obituary</mat-radio-button>
          <mat-radio-button value="no" [checked]="ObituaryFormGroup.controls['check'].value=='no'">I don’t have an obituary.</mat-radio-button>
        </mat-radio-group>    
            <mat-form-field class="full-width mt-1 no-mar">
            <textarea matInput placeholder="Who should help prepare the obituary?" [formControl]="ObituaryFormGroup.controls['prepareTo']"></textarea>
          </mat-form-field>
      </div>
   
      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" class="" *ngIf="obituaryCheck">
        <mat-radio-group class="llp-radio" (change)="onCheckPhotos($event.value)" [formControl]="ObituaryFormGroup.controls['photos']">
          <div class="checkbox-label">Is there a photo(s) included with the obituary?
          </div>
          <mat-radio-button value="yes" [checked]="ObituaryFormGroup.controls['photos'].value=='yes'">Yes </mat-radio-button>
          <mat-radio-button value="no"  [checked]="ObituaryFormGroup.controls['photos'].value=='no'">No</mat-radio-button>
        </mat-radio-group>
      </div>
    
      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" *ngIf="obituaryCheckPhotos">
        <div class="upload--buss--docs--sec">
          <label>Upload your documents*</label>
        <div class="upload--box fileupload-drop-zone"
            ng2FileDrop
            [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
            (fileOver)="fileOverBase($event)"
            [uploader]="uploader">
            <input type="file" name="documents"  ng2FileSelect [uploader]="uploader" multiple  (change)="fileOverBase('')" />  
            <mat-icon class="cloud-icon">cloud_upload</mat-icon>
            <div class="select--file">Select file from your computer</div>
          </div>
          <div class="file--details mb-1">Supported formats Doc, PDF, txt, JPEG, JPG, PNG</div>
        </div>
      </div>

      <small *ngIf="documentsMissing && obituaryCheckPhotos" class="form-error-msg">{{invalidMessage}}</small>
      <mat-form-field class="full-width" *ngIf="documents_temps">
          <input matInput name="documents_temp" [formControl]="ObituaryFormGroup.controls['documents_temp']">
          <small *ngIf="ObituaryFormGroup.controls['documents_temp'].hasError('required') && ObituaryFormGroup.controls['documents_temp'].touched" class="form-error-msg"> Please drag your document. </small>
      </mat-form-field>

      <div *ngIf="documentsList && obituaryCheckPhotos" >
        <h3 class="header--text fnt--16">Uploaded document</h3>
        <mat-chip-list class="doc--list" *ngFor="let doc of documentsList; index as i">
            <mat-chip><a (click)="downloadFile(doc.tmpName)" class="donwload-doc">{{doc.title}}</a><mat-icon matChipRemove  (click)="documentDelete(i,doc.title,doc.tmpName)">close</mat-icon></mat-chip>
        </mat-chip-list>
      </div>
      <mat-chip-list class="doc--list error--chip" *ngFor="let err of fileErrors;">
        <mat-chip><mat-error>{{err.error}}</mat-error></mat-chip>
      </mat-chip-list>  

      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" class="progress"style="margin-bottom: 0;" *ngIf="obituaryCheckPhotos && currentProgessinPercent>0">
        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': currentProgessinPercent + '%' }">{{currentProgessinPercent}}%</div>
        <mat-progress-bar class=""  color="primary" mode="Indeterminate"  [value]="currentProgessinPercent"></mat-progress-bar>
      </div>

      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" class="" *ngIf="obituaryCheck">
        <mat-radio-group class="llp-radio mb-0 mt-1">
          <mat-form-field class="full-width no-mar">
            <textarea matInput placeholder="The obituary should appear in the following newspapers:" [formControl]="ObituaryFormGroup.controls['media']"></textarea>
          </mat-form-field>
        </mat-radio-group>
      </div>

      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" class="" *ngIf="obituaryCheck">
        <mat-radio-group class="llp-radio mb-0 mt-1">
          <mat-form-field class="full-width no-mar">
            <textarea matInput placeholder="Electronic copy of the obituary should be sent to:" [formControl]="ObituaryFormGroup.controls['sentTo']"></textarea>
          </mat-form-field>
        </mat-radio-group>
      </div>
      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" class="" *ngIf="obituaryCheck">
        <mat-radio-group class="llp-radio mb-0 mt-1">
          <mat-form-field class="full-width no-mar">
            <textarea matInput placeholder="The following information is to be included in the obituary:" [formControl]="ObituaryFormGroup.controls['information']"></textarea>
          </mat-form-field>
        </mat-radio-group>
      </div>
     
    <mat-form-field class="full-width" *ngIf="profileIdHiddenVal">
      <input matInput name="profileId" [formControl]="ObituaryFormGroup.controls['profileId']" readonly="readonly">
    </mat-form-field>

    </div>
  </div>
  <div class="ll--modal--footer text-center">
    <button mat-raised-button class="llp--primary--btn" [disabled]="!ObituaryFormGroup.valid">Save</button>
  </div>
</form>