<div class="ll--modal--header">
  Would you like to share your {{hdtitle}}?
  <button class="modal--close" [mat-dialog-close]="">
    <mat-icon class="icon--cross">cancel</mat-icon>
  </button>
</div>
<div class="ll--modal--body manage--permission p-0">
  <form class="llp-form-wrapper" [formGroup]="trusteeFormGroup"
    (ngSubmit)="manageTrusteeSubmit(trusteeFormGroup.value)">
    <p class="invite--sub--line">Manage Trustee Permissions {{letterTitle}}</p>
    <div class="profile--body--scroll">
      <div class="trust--legacy--wrapper">
        <div class="cover">
          <div fxLayout="row wrap">
            <div fxFlex.xs="100" fxFlex.sm="55" fxFlex.md="55" fxFlex.lg="55" fxFlex.xl="55">
              <label class="header bold">Share With...</label>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="15" fxFlex.md="15" fxFlex.lg="15" fxFlex.xl="15" class="center--txt">
              <label class="header">Now</label>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="15" fxFlex.md="15" fxFlex.lg="15" fxFlex.xl="15" class="center--txt">
              <label class="header">After Death</label>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="15" fxFlex.md="15" fxFlex.lg="15" fxFlex.xl="15" class="center--txt">
              <label class="header">Never</label>
            </div>
          </div>
          <div formArrayName="accessManagement" *ngIf="listingCnt">
              <div *ngFor="let row of rows; let i = index" [formGroupName]="i">
                  <mat-form-field class="full-width" *ngIf="HiddenVal">
                        <input matInput name="oldValue" [formControl]="trusteeFormGroup.controls['oldValue']" readonly="readonly">
                  </mat-form-field> 
                  <mat-radio-group class="llp-radio" formControlName="ids">
                    <div fxLayout="row wrap">
                      <div fxFlex.xs="100" fxFlex.sm="55" fxFlex.md="55" fxFlex.lg="55" fxFlex.xl="55">
                        <label class="left--header">{{(row?.trustId.firstName && row?.trustId.firstName!='') ? row?.trustId.firstName : row.firstName}} {{(row?.trustId.lastName && row?.trustId.lastName!='') ? row?.trustId.lastName : row.lastName}} </label>
                      </div>
                      <div fxFlex.xs="100" fxFlex.sm="15" fxFlex.md="15" fxFlex.lg="15" fxFlex.xl="15" class="center--txt">
                        <mat-list-item>
                          <mat-radio-button value="{{row?._id}}##now"
                            [checked]="getAccessVal(row?.userAccess, code,'now') === 'now'">Now</mat-radio-button>
                        </mat-list-item>
                      </div>
                      <div fxFlex.xs="100" fxFlex.sm="15" fxFlex.md="15" fxFlex.lg="15" fxFlex.xl="15" class="center--txt">
                        <mat-list-item>
                          <mat-radio-button value="{{row?._id}}##afterDeath"
                            [checked]="getAccessVal(row?.userAccess, code,'afterDeath') === 'afterDeath'">After Death
                          </mat-radio-button>
                        </mat-list-item>
                      </div>
                      <div fxFlex.xs="100" fxFlex.sm="15" fxFlex.md="15" fxFlex.lg="15" fxFlex.xl="15" class="center--txt">
                        <mat-list-item>
                          <mat-radio-button value="{{row?._id}}##never"
                            [checked]="getAccessVal(row?.userAccess, code,'never') === 'never'">Never</mat-radio-button>
                        </mat-list-item>
                      </div>
                      <div class="add--new" *ngIf="listLength == i" (click)="openAddTrusteeModal('', true)">
                        <mat-icon>add_circle</mat-icon>
                        Add Trustee
                      </div>          
                  </div>
                </mat-radio-group>
             </div>
        </div>
        <mat-card-content class="appointees--wrapper" *ngIf="!listingCnt">
          <div class="files--folder mt-1 invite--sub--line"><h5>Currently you do not have any trustee associated.</h5></div>
          <div class="add--new" (click)="openAddTrusteeModal('', true)"><mat-icon>add_circle</mat-icon> Add Trustee</div>   
      </mat-card-content>
      </div>
    </div>
    <mat-form-field class="full-width" *ngIf="HiddenVal">
      <input matInput name="code" [formControl]="trusteeFormGroup.controls['code']" readonly="readonly">
    </mat-form-field>

    <div class="ll--modal--footer text-center">
      <!--button mat-raised-button type="button" class="llp--secondary--btn" [mat-dialog-close]="">Cancel</button-->
      <button mat-raised-button class="llp--primary--btn">Save</button>
    </div>

</div>
</form>
</div>