<div class="container ad--wrapper">
  <div fxLayout="row wrap">
    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="75" fxFlex.lg="80" fxFlex.xl="80">
      <mat-card class="p-0">
        <mat-card-title class="">
          <div class="card-title-text">Recent updates</div>
          <mat-divider></mat-divider>
        </mat-card-title>

        <mat-card-content class="recent--update--section">

          <mat-nav-list class="ad--nav--list">
            <mat-list-item>
              <div mat-list-avatar class="profile--pic">
                <img alt="" src="assets/images/arkenea/user-male.png">
              </div>
              <div mat-line>
                <p class="what--happened">
                  <span class="who--does"> Stuart Broad </span> has confirmed to hire you</p>
              </div>
              <p mat-line class="when">
                Today
              </p>
              <button mat-icon-button #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
            </mat-list-item>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>check</mat-icon> Confirm hiring</button>
              <button mat-menu-item class="reject">
                <mat-icon>cancel</mat-icon> Reject hiring</button>
              <button mat-menu-item>
                <mat-icon>assignment</mat-icon> View profile</button>
            </mat-menu>
          </mat-nav-list>
          <mat-nav-list class="ad--nav--list">
            <mat-list-item>
              <div mat-list-avatar class="profile--pic">
                <img alt="" src="assets/images/arkenea/emily.png">
              </div>
              <div mat-line>
                <p class="what--happened">
                  <span class="who--does"> Mary Kom </span> appointed you for 'The file name appears here'</p>
              </div>
              <p mat-line class="when">
                Yesterday
              </p>
              <button mat-icon-button #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
            </mat-list-item>
          </mat-nav-list>
          <mat-nav-list class="ad--nav--list">
            <mat-list-item>
              <div mat-list-avatar class="profile--pic">
                <img alt="" src="assets/images/arkenea/john.png">
              </div>
              <div mat-line>
                <p class="what--happened">
                  <span class="who--does"> Parthiv Patel </span> has been marked deceased by Mark Waugh, Steve Waugh</p>
              </div>
              <p mat-line class="when">
                Mar 26, 2019
              </p>
              <button mat-icon-button #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
            </mat-list-item>
          </mat-nav-list>
          <mat-nav-list class="ad--nav--list">
            <mat-list-item>
              <div mat-list-avatar class="profile--pic">
                <img alt="" src="assets/images/arkenea/james.png">
              </div>
              <div mat-line>
                <p class="what--happened">
                  <span class="who--does"> James Anderson </span> has appointed you as an Executor of the legacy</p>
              </div>
              <p mat-line class="when">
                Jan 01, 2019
              </p>
              <button mat-icon-button #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
            </mat-list-item>
          </mat-nav-list>
          <mat-nav-list class="ad--nav--list">
            <mat-list-item>
              <div mat-list-avatar class="profile--pic">
                <img alt="" src="assets/images/arkenea/user-male.png">
              </div>
              <div mat-line>
                <p class="what--happened">
                  <span class="who--does"> Stuart Broad </span> has confirmed to hire you</p>
              </div>
              <p mat-line class="when">
                Today
              </p>
              <button mat-icon-button #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
            </mat-list-item>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>check</mat-icon> Confirm hiring</button>
              <button mat-menu-item class="reject">
                <mat-icon>cancel</mat-icon> Reject hiring</button>
              <button mat-menu-item>
                <mat-icon>assignment</mat-icon> View profile</button>
            </mat-menu>
          </mat-nav-list>
          <mat-nav-list class="ad--nav--list">
            <mat-list-item>
              <div mat-list-avatar class="profile--pic">
                <img alt="" src="assets/images/arkenea/emily.png">
              </div>
              <div mat-line>
                <p class="what--happened">
                  <span class="who--does"> Mary Kom </span> appointed you for 'The file name appears here'</p>
              </div>
              <p mat-line class="when">
                Yesterday
              </p>
              <button mat-icon-button #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
            </mat-list-item>
          </mat-nav-list>
          <mat-nav-list class="ad--nav--list">
            <mat-list-item>
              <div mat-list-avatar class="profile--pic">
                <img alt="" src="assets/images/arkenea/john.png">
              </div>
              <div mat-line>
                <p class="what--happened">
                  <span class="who--does"> Parthiv Patel </span> has been marked deceased by Mark Waugh, Steve Waugh</p>
              </div>
              <p mat-line class="when">
                Mar 26, 2019
              </p>
              <button mat-icon-button #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
            </mat-list-item>
          </mat-nav-list>
          <mat-nav-list class="ad--nav--list">
            <mat-list-item>
              <div mat-list-avatar class="profile--pic">
                <img alt="" src="assets/images/arkenea/james.png">
              </div>
              <div mat-line>
                <p class="what--happened">
                  <span class="who--does"> James Anderson </span> has appointed you as an Executor of the legacy</p>
              </div>
              <p mat-line class="when">
                Jan 01, 2019
              </p>
              <button mat-icon-button #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
            </mat-list-item>
          </mat-nav-list>
          <mat-nav-list class="ad--nav--list">
            <mat-list-item>
              <div mat-list-avatar class="profile--pic">
                <img alt="" src="assets/images/arkenea/user-male.png">
              </div>
              <div mat-line>
                <p class="what--happened">
                  <span class="who--does"> Stuart Broad </span> has confirmed to hire you</p>
              </div>
              <p mat-line class="when">
                Today
              </p>
              <button mat-icon-button #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
            </mat-list-item>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>check</mat-icon> Confirm hiring</button>
              <button mat-menu-item class="reject">
                <mat-icon>cancel</mat-icon> Reject hiring</button>
              <button mat-menu-item>
                <mat-icon>assignment</mat-icon> View profile</button>
            </mat-menu>
          </mat-nav-list>
          <mat-nav-list class="ad--nav--list">
            <mat-list-item>
              <div mat-list-avatar class="profile--pic">
                <img alt="" src="assets/images/arkenea/emily.png">
              </div>
              <div mat-line>
                <p class="what--happened">
                  <span class="who--does"> Mary Kom </span> appointed you for 'The file name appears here'</p>
              </div>
              <p mat-line class="when">
                Yesterday
              </p>
              <button mat-icon-button #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
            </mat-list-item>
          </mat-nav-list>
          <mat-nav-list class="ad--nav--list">
            <mat-list-item>
              <div mat-list-avatar class="profile--pic">
                <img alt="" src="assets/images/arkenea/john.png">
              </div>
              <div mat-line>
                <p class="what--happened">
                  <span class="who--does"> Parthiv Patel </span> has been marked deceased by Mark Waugh, Steve Waugh</p>
              </div>
              <p mat-line class="when">
                Mar 26, 2019
              </p>
              <button mat-icon-button #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
            </mat-list-item>
          </mat-nav-list>
          <mat-nav-list class="ad--nav--list">
            <mat-list-item>
              <div mat-list-avatar class="profile--pic">
                <img alt="" src="assets/images/arkenea/james.png">
              </div>
              <div mat-line>
                <p class="what--happened">
                  <span class="who--does"> James Anderson </span> has appointed you as an Executor of the legacy</p>
              </div>
              <p mat-line class="when">
                Jan 01, 2019
              </p>
              <button mat-icon-button #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
            </mat-list-item>
          </mat-nav-list>

        </mat-card-content>
      </mat-card>
    </div>

    <!-- right section start here -->

    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="25" fxFlex.lg="20" fxFlex.xl="20" class="reverse--order--sm">
      <div class="right--panel--wrapper">
        <div fxLayout="row wrap">
          <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
            <div class="right--boxes">
              
              <mat-card class="p-0 target--completed">
                <mat-card-content class="">
                  <div class="header--wrapper">
                    <header class="sub--header" style="background-image: url('assets/images/arkenea/congratulations.png')">
                      <span>Congratulations!</span>
                    </header>
                    <p class="warn">
                      Your <span>Free Trial</span>
                      period has been
                      extended for
                      30 days!</p>                      
                  </div>
                  <div class="free--access">
                    Free access valid till 17 April
                  </div>
                </mat-card-content>

              </mat-card>
            </div>
          </div>
          <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
            <div class="right--boxes mr-0">
              <mat-card class="p-0">
                <mat-card-title class="">
                  <div class="card-title-text">Monthly Leads</div>
                  <mat-divider></mat-divider>
                </mat-card-title>
                <mat-card-content class="invite--body--section">
                  <h4 class="count">7
                    <span></span>
                  </h4>
                  <div class="adjust">
                    <p class="invites">7 users have shown interest
                    </p>
                    <button mat-raised-button class="llp--primary--btn">View All</button>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>