<div class="ll--modal--header">
  Funeral or Memorial Service Arrangements
  <button class="modal--close" [mat-dialog-close]="">
    <mat-icon class="icon--cross">cancel</mat-icon>
  </button>
</div>


<!-- First form -->

<form class="llp-form-wrapper" [formGroup]="selectAnyOneFormGroup" *ngIf="firstServicesSec" [@animate]="{value:'*',params:{delay:'100ms',scale:'.8', y:'-100px'}}">
  <div class="ll--modal--body">
    <div fxLayout="row wrap">
      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" class="any--option--sec">
        <mat-radio-group aria-label="Select an option" class="llp-radio" (change)="onChange($event.value)" [formControl]="selectAnyOneFormGroup.controls['funaralServiceType']">
          <div class="checkbox-label fnt--18 mb-1">Select any one</div>
          <mat-radio-button class="mb-1" *ngFor="let foptions of funeralOptions" [value]="foptions.opt_code">
            {{foptions.opt_name}}
          </mat-radio-button>
        </mat-radio-group>        
      </div>
    </div>
  </div>
  <div class="ll--modal--footer text-center">
    <button [disabled]="formProcessing" mat-raised-button class="llp--primary--btn" (click)="changeSelection()">Save</button>
  </div>
</form>

<!-- Stepper start  here -->

<div *ngIf="allServicesSec" [@animate]="{value:'*',params:{delay:'100ms',scale:'.8', x:'-100px'}}">
  <div class="ll--modal--body idbox--modal--hgt">
    <div fxLayout="row wrap">
      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" class="">

        <div class="stepper--wrapper funeral--wrapper">
          <mat-horizontal-stepper labelPosition="bottom" #stepper>
            <mat-step [stepControl]="firstFormGroup1">

              <!-- step - 1 -->
              <form [formGroup]="firstFormGroup" class="llp-form-wrapper">
                <div fxLayout="row wrap">

                  <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" class="">

                    <mat-radio-group class="llp-radio " aria-label="Select an option" [formControl]="firstFormGroup.controls['serviceFor']">
                      <div class="checkbox-label">The service will be for:</div>
                      <mat-radio-button value="Friends and family"  (change)="otherChange('')" [checked]="firstFormGroup.controls['serviceFor'].value=='Friends and family'">Friends and family </mat-radio-button>
                      <mat-radio-button value="Private"  (change)="otherChange('')" [checked]="firstFormGroup.controls['serviceFor'].value=='Private'">Private</mat-radio-button>
                      <mat-radio-button value="Other" [checked]="firstFormGroup.controls['serviceFor'].value=='Other'" (change)="otherChange('otherChecked')">Other</mat-radio-button>
                    </mat-radio-group>

                    <mat-form-field class="full-width mt-1 no-mar" *ngIf="serviceOther">
                      <textarea matInput placeholder="Other" [formControl]="firstFormGroup.controls['serviceForOther']" maxlength="500"></textarea>
                    </mat-form-field>
                  </div>

                  <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" class="">
                    <mat-radio-group class="llp-radio" aria-label="Select an option" [formControl]="firstFormGroup.controls['isBodyPresent']">
                      <div class="checkbox-label">The body:</div>
                      <mat-radio-button value="Will be present" [checked]="firstFormGroup.controls['isBodyPresent'].value=='Will be present'">Will be present </mat-radio-button>
                      <mat-radio-button value="Will not be present" [checked]="firstFormGroup.controls['isBodyPresent'].value=='Will not be present'">Will not be present</mat-radio-button>
                    </mat-radio-group>
                  </div>

                  <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" class="">
                    <mat-radio-group class="llp-radio mb-0" aria-label="Select an option" [formControl]="firstFormGroup.controls['isCasket']">
                      <div class="checkbox-label">The casket will be:</div>
                      <mat-radio-button value="Closed" [checked]="firstFormGroup.controls['isCasket'].value=='Closed'">Closed </mat-radio-button>
                      <mat-radio-button value="Open" [checked]="firstFormGroup.controls['isCasket'].value=='Open'">Open</mat-radio-button>
                    </mat-radio-group>
                  </div>

                  <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" class="">
                    <mat-radio-group class="llp-radio mb-0 mt-1" aria-label="Select an option">
                      <mat-form-field class="full-width no-mar">
                        <textarea matInput placeholder="The deceased will wear:" [formControl]="firstFormGroup.controls['deceasedWear']" maxlength="500"></textarea>
                      </mat-form-field>
                    </mat-radio-group>
                  </div>
                </div>
                <div class="ll--modal--footer text-center">
                  <button mat-raised-button class="llp--secondary--btn mr-1" (click)="backToFirst()">Back</button>
                  <button mat-raised-button class="llp--primary--btn" matStepperNext>Next</button>
                </div>
              </form>
            </mat-step>


            <!-- step - 2 -->
            <mat-step [stepControl]="secondFormGroup1" optional>
              <form [formGroup]="secondFormGroup" class="llp-form-wrapper">
                <div fxLayout="row wrap">

                  <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" class="">
                    <mat-radio-group class="llp-radio mb-0" aria-label="Select an option" [formControl]="secondFormGroup.controls['serviceParticipants']">
                      <div class="checkbox-label">Service participants:</div>

                      <div fxLayout="row wrap">
                        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" class="mb--5">
                          <mat-checkbox (change)="leaderChange($event.value)" [formControl]="secondFormGroup.controls['leaderChecked']" [checked]="secondFormGroup.controls['leaderChecked'].value">
                            Ceremony leader </mat-checkbox>
                          <mat-form-field class="full-width mt-1 no-mar" *ngIf="ceremonySec">
                            <textarea (keyup)="firstCapitalize($event)" matInput placeholder="Ceremony leader details" [formControl]="secondFormGroup.controls['leaderDescrption']" maxlength="500"></textarea>
                          </mat-form-field>
                        </div>

                        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" class="mb--5">
                          <mat-checkbox (change)="eulogistChange($event.value)" [formControl]="secondFormGroup.controls['eulogistChecked']" [checked]="secondFormGroup.controls['eulogistChecked'].value">
                            Eulogist </mat-checkbox>
                          <mat-form-field class="full-width mt-1 no-mar" *ngIf="eulogistSec">
                            <textarea (keyup)="firstCapitalize($event)" matInput placeholder="Eulogist details" [formControl]="secondFormGroup.controls['eulogistdescription']" maxlength="500"></textarea>
                          </mat-form-field>
                        </div>

                        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" class="mb--5">
                          <mat-checkbox (change)="reflectionsChange($event.value)" [formControl]="secondFormGroup.controls['reflectionsChecked']" [checked]="secondFormGroup.controls['reflectionsChecked'].value">Reflections </mat-checkbox>
                          <mat-form-field class="full-width mt-1 no-mar" *ngIf="reflectionsSec">
                            <textarea (keyup)="firstCapitalize($event)" matInput placeholder="Reflections details" [formControl]="secondFormGroup.controls['reflectionsDescription']" maxlength="500"></textarea>
                          </mat-form-field>
                        </div>
                        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" class="mb--5">
                          <mat-checkbox (change)="readingsChange($event.value)" [formControl]="secondFormGroup.controls['readingsChecked']" [checked]="secondFormGroup.controls['readingsChecked'].value">
                            Readings </mat-checkbox>
                          <mat-form-field class="full-width mt-1 no-mar" *ngIf="readingsSec">
                            <textarea (keyup)="firstCapitalize($event)" matInput placeholder="Readings details" [formControl]="secondFormGroup.controls['readingsDescription']" maxlength="500"></textarea>
                          </mat-form-field>
                        </div>
                        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" class="mb--5">
                          <mat-checkbox (change)="musiciansChange($event.value)" [formControl]="secondFormGroup.controls['musiciansChecked']"  [checked]="secondFormGroup.controls['musiciansChecked'].value"
                            formcontrolName="musiciansChecked">Musicians </mat-checkbox>
                          <mat-form-field class="full-width mt-1 no-mar" *ngIf="musiciansSec">
                            <textarea (keyup)="firstCapitalize($event)" matInput placeholder="Musicians details" [formControl]="secondFormGroup.controls['musiciansDescription']" maxlength="500"></textarea>
                          </mat-form-field>
                        </div>

                        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" class="mb--5">
                          <mat-checkbox (change)="pallbearersChange($event.value)" value="1" [formControl]="secondFormGroup.controls['pallbearersChecked']" [checked]="secondFormGroup.controls['pallbearersChecked'].value">Pallbearers
                          </mat-checkbox>
                          <mat-form-field class="full-width mt-1 no-mar" *ngIf="pallbearersSec">
                            <textarea (keyup)="firstCapitalize($event)" matInput placeholder="Pallbearers details" [formControl]="secondFormGroup.controls['pallbearersDescription']" maxlength="500"></textarea>
                          </mat-form-field>
                        </div>

                        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" class="mt-1">
                          <mat-form-field class="full-width no-mar ">
                            <textarea (keyup)="firstCapitalize($event)" matInput [formControl]="secondFormGroup.controls['additionalParticipants']" placeholder="Additional participants:"></textarea>
                          </mat-form-field>
                        </div>

                        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" class="mt-1">
                          <mat-form-field class="full-width no-mar ">
                            <textarea (keyup)="firstCapitalize($event)" matInput [formControl]="secondFormGroup.controls['servicesUsed']" placeholder="The following readings, poems, hymns, and music will be used during the service:"></textarea>
                          </mat-form-field>
                        </div>

                        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" class="mt-1">
                          <mat-form-field class="full-width no-mar ">
                            <textarea (keyup)="firstCapitalize($event)" matInput [formControl]="secondFormGroup.controls['flowersUsed']" placeholder="The following flowers will be used for the service:"></textarea>
                          </mat-form-field>
                        </div>

                      </div>

                    </mat-radio-group>
                  </div>

                </div>

                <div class="ll--modal--footer text-center">
                  <button mat-raised-button class="llp--secondary--btn" matStepperPrevious>Back</button>
                  <button mat-raised-button class="llp--primary--btn" matStepperNext>Next</button>
                </div>
              </form>
            </mat-step>



            <!-- step - 3 -->
            <mat-step [stepControl]="thirdFormGroup1">
              <form [formGroup]="thirdFormGroup" class="llp-form-wrapper" (ngSubmit)="PlanFormSubmit(selectAnyOneFormGroup.value,firstFormGroup.value,secondFormGroup.value,thirdFormGroup.value)">

                <div fxLayout="row wrap">

                  <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" class="">
                    <mat-radio-group class="llp-radio" aria-label="Select an option" [formControl]="thirdFormGroup.controls['isFloralArrangements']">
                      <div class="checkbox-label">Use floral arrangements service?:</div>
                      <mat-radio-button value="Yes" [checked]="thirdFormGroup.controls['isFloralArrangements'].value=='Yes'">Yes </mat-radio-button>
                      <mat-radio-button value="No" [checked]="thirdFormGroup.controls['isFloralArrangements'].value=='No'">No</mat-radio-button>
                    </mat-radio-group>
                  </div>
                  <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" class="">
                    <mat-radio-group class="llp-radio" aria-label="Select an option" [formControl]="thirdFormGroup.controls['needVisualTribute']">
                      <div class="checkbox-label">I would like a visual tribute:</div>
                      <mat-radio-button (change)="vtChange($event)" value="Yes" [checked]="thirdFormGroup.controls['needVisualTribute'].value=='Yes'">Yes </mat-radio-button>
                      <mat-radio-button (change)="vtChange($event)" value="No" [checked]="thirdFormGroup.controls['needVisualTribute'].value=='No'">No</mat-radio-button>
                    </mat-radio-group>
                  </div>
                  <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" *ngIf="visualTribute">
                    <mat-form-field class="full-width no-mar ">
                      <textarea (keyup)="firstCapitalize($event)" matInput maxlength="500" [formControl]="thirdFormGroup.controls['peopleInVisualTribute']" placeholder="The following people will help prepare the visual tribute:"></textarea>
                    </mat-form-field>
                  </div>


                  <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" class="">
                    <mat-radio-group class="llp-radio" aria-label="Select an option" [formControl]="thirdFormGroup.controls['havePreparedVisualTribute']">
                      <div class="checkbox-label">I have prepared a visual tribute:</div>
                      <mat-radio-button (change)="prepareVtChange($event)" value="Yes" [checked]="thirdFormGroup.controls['havePreparedVisualTribute'].value=='Yes'">Yes</mat-radio-button>
                      <mat-radio-button (change)="prepareVtChange($event)" value="No" [checked]="thirdFormGroup.controls['havePreparedVisualTribute'].value=='No'">No</mat-radio-button>
                    </mat-radio-group>
                  </div>

                  <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" *ngIf="uploadDocAndLoc">
                    <div class="upload--buss--docs--sec">
                      <label>Upload your documents</label>
                          <div class="upload--box fileupload-drop-zone"
                          ng2FileDrop
                          [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                          (fileOver)="fileOverBase($event)"
                          [uploader]="uploader">
                          <input type="file" name="documents"  ng2FileSelect [uploader]="uploader" multiple  (change)="fileOverBase('')" />  
                          <mat-icon class="cloud-icon">cloud_upload</mat-icon>
                          <div class="select--file">Select file from your computer</div>
                        </div>
                          <div class="file--details mb-1">Supported formats Doc, PDF, txt, JPEG, JPG, PNG</div>
                        </div>
                     </div>
                        <small *ngIf="documentsMissing" class="form-error-msg">{{invalidMessage}}</small>
                        <mat-form-field class="full-width" *ngIf="documents_temps">
                              <input matInput name="documents_temp" [formControl]="thirdFormGroup.controls['documents_temp']">
                              <small *ngIf="thirdFormGroup.controls['documents_temp'].hasError('required') && thirdFormGroup.controls['documents_temp'].touched" class="form-error-msg"> Please drag your document. </small>
                        </mat-form-field>
                        <div class="mb-1" *ngIf="documentsList.length > 0" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" >
                          <h3 class="header--text fnt--16">Uploaded file/pictures/videos documents </h3>
                          <mat-chip-list class="doc--list" *ngFor="let doc of documentsList; index as i">
                            <mat-chip><a  (click)="downloadFile(doc.tmpName)" class="donwload-doc">{{doc.title}}</a><mat-icon matChipRemove (click)="FuneralServiceDelete(i,doc.title,doc.tmpName)">close</mat-icon></mat-chip>
                          </mat-chip-list>
                        </div>
                        <mat-chip-list class="doc--list error--chip" *ngFor="let err of fileErrors;">
                            <mat-chip><mat-error>{{err.error}}</mat-error></mat-chip>
                        </mat-chip-list>  
                  
                        <div class="progress mb-1" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" style="margin-bottom: 0;" *ngIf="currentProgessinPercent>0">
                          <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': currentProgessinPercent + '%' }">{{currentProgessinPercent}}%</div>
                          <mat-progress-bar class=""  color="primary" mode="Indeterminate"  [value]="currentProgessinPercent"></mat-progress-bar>
                        </div>           
                  <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" *ngIf="uploadDocAndLoc">
                    <mat-form-field class="full-width no-mar ">
                      <textarea (keyup)="firstCapitalize($event)" matInput placeholder="Location of the document:" [formControl]="thirdFormGroup.controls['locationOfDocuments']"></textarea>
                    </mat-form-field>
                  </div>

                  <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
                    <mat-form-field class="full-width no-mar ">
                      <textarea (keyup)="firstCapitalize($event)" matInput placeholder="Additional plans and arrangements:" [formControl]="thirdFormGroup.controls['additionalPlans']"></textarea>
                    </mat-form-field>
                  </div>
                </div>
                <div class="ll--modal--footer text-center">
                  <button class="llp--secondary--btn" mat-button matStepperPrevious>Back</button>
                  <button [disabled]="formProcessing" mat-raised-button class="llp--primary--btn" mat-button>Submit</button>
                </div>
                <mat-form-field class="full-width" *ngIf="profileIdHiddenVal">
                    <input matInput name="profileId" [formControl]="thirdFormGroup.controls['profileId']" readonly="readonly">
                  </mat-form-field>
              </form>

            </mat-step>
          </mat-horizontal-stepper>
        </div>

      </div>
    </div>
  </div>
</div>