<div fxLayout="row wrap" *ngIf="showPage">
  <div fxFlex.xs="100" fxFlex.sm="33.33" fxFlex.md="20" fxFlex.lg="20" fxFlex.xl="20">
    <mat-card class="profile-sidebar admn--user--details--wrapper">
      <div class="propic text-center">
        <img src="{{profilePicture}}" alt="">
      </div>
      <div class="profile-title text-center mb-1">
        <div class="main-title">{{fullname ? fullname : '--'}}</div>
        <div class="text-muted">{{row?.bioText ? row?.bioText : '--'}}</div>
      </div>
      <mat-card-content class="pt-0 border-0">
        <mat-list>
          <mat-list-item class="word--break--break--all hgt--auto">
            <mat-icon class="mr-1">email</mat-icon> {{row?.username}}
          </mat-list-item>
          <mat-list-item *ngIf="row?.userType == 'customer' && row?.phoneNumber!=''">
            <mat-icon class="mr-1">phone</mat-icon> {{row?.phoneNumber ? row?.phoneNumber : '--'}}
          </mat-list-item>
          <mat-list-item *ngIf="row?.userType == 'advisor' && row?.businessPhoneNumber!=''">
            <mat-icon class="mr-1">phone</mat-icon> {{row?.businessPhoneNumber ? row?.businessPhoneNumber : '--'}}
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Profile Views -->
  <div fxFlex.xs="100" fxFlex.sm="33.33" fxFlex.md="40" fxFlex.lg="40" fxFlex.xl="40">

    <!-- Basic Info starts -->
    <mat-card class="default mb-1 basic--info--wrapper">
      <mat-card-title class="p-1">Basic Info</mat-card-title>
      <mat-card-content class="p-0 border-t">
        <mat-list class="compact-list mb-1">
          <mat-list-item class="">
            <div fxLayout="row" fxFlex="100">
              <h6 class="m-0 mr-1">Date Of Birth</h6>
              <span fxFlex></span>
              <div fxFlex="40">{{row?.dateOfBirth  | date: 'MM/dd/yyyy'}}</div>
            </div>
          </mat-list-item>
          <mat-list-item class="msg--hgt--sec">
            <div fxLayout="row" fxFlex="100">
              <h6 class="m-0 mr-1">Address Line 1</h6>
              <span fxFlex></span>
              <div class="line--hgt--20" fxFlex="40">{{row?.addressLine1 ? row?.addressLine1 : '--'}}</div>
            </div>
          </mat-list-item>
          <mat-list-item class="msg--hgt--sec">
            <div fxLayout="row" fxFlex="100">
              <h6 class="m-0 mr-1">Address Line 2</h6>
              <span fxFlex></span>
              <div class="line--hgt--20" fxFlex="40">{{row?.addressLine2 ? row?.addressLine2 : '--'}}</div>
            </div>
          </mat-list-item>
          <mat-list-item class="">
            <div fxLayout="row" fxFlex="100">
              <h6 class="m-0 mr-1">City</h6>
              <span fxFlex></span>
              <div fxFlex="40">{{row?.city ? row?.city : '--'}}</div>
            </div>
          </mat-list-item>
          <mat-list-item class="">
            <div fxLayout="row" fxFlex="100">
              <h6 class="m-0 mr-1">State</h6>
              <span fxFlex></span>
              <div fxFlex="40">{{row?.state ? row?.state : '--'}}</div>
            </div>
          </mat-list-item>
          <mat-list-item class="">
            <div fxLayout="row" fxFlex="100">
              <h6 class="m-0 mr-1">Zipcode</h6>
              <span fxFlex></span>
              <div fxFlex="40">{{row?.zipcode ? row?.zipcode : '--'}}</div>
            </div>
          </mat-list-item>
          <mat-list-item class="">
            <div fxLayout="row" fxFlex="100">
              <h6 class="m-0 mr-1">Status</h6>
              <span fxFlex></span>
              <div fxFlex="40">
                <mat-chip mat-sm-chip [color]="'warn'" class="warn active--status--chip">{{row?.status}}</mat-chip>
              </div>
            </div>
          </mat-list-item>

          <mat-list-item class="">
            <div fxLayout="row" fxFlex="100">
              <h6 class="m-0 mr-1">Subscription start date</h6>
              <span fxFlex></span>
              <div fxFlex="40">
                <mat-chip mat-sm-chip [color]="'warn'" class="warn active--status--chip">{{subscriptionStartDate ? (subscriptionStartDate | date: 'MM/dd/yyyy') : '--'}}</mat-chip>
              </div>
            </div>
          </mat-list-item>  
                 
          <mat-list-item class="">
            <div fxLayout="row" fxFlex="100">
              <h6 class="m-0 mr-1">Subscription end date</h6>
              <span fxFlex></span>
              <div fxFlex="40">
                <mat-chip mat-sm-chip [color]="'warn'" class="warn active--status--chip">{{subscriptionEndDate ? (subscriptionEndDate | date: 'MM/dd/yyyy') : '--'}}</mat-chip>
              </div>
            </div>
          </mat-list-item>    
          
          <!-- <mat-list-item class="">
            <div fxLayout="row" fxFlex="100">
              <h6 class="m-0 mr-1">Subscription status</h6>
              <span fxFlex></span>
              <div fxFlex="40">
                <mat-chip mat-sm-chip [color]="'warn'" class="warn active--status--chip">{{subscriptionStatus ? subscriptionStatus : '--'}}</mat-chip>
              </div>
            </div>
          </mat-list-item>               -->
          <mat-list-item class="">
            <div fxLayout="row" fxFlex="100">
              <h6 class="m-0 mr-1">Last log in date and time</h6>
              <span fxFlex></span>
              <div fxFlex="40">{{row?.lastLoggedInOn  | date: 'MM/dd/yyyy HH:mm:ss'}}</div>
            </div>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex.xs="100" fxFlex.sm="33.33" fxFlex.md="40" fxFlex.lg="40" fxFlex.xl="40">
    <mat-card class="default mb-1 basic--info--wrapper">
      <mat-card-title class="p-1">Enquiry Info</mat-card-title>
      <mat-card-content class="p-0 border-t">
        <mat-list class="compact-list mb-1">
          <mat-list-item class="msg--hgt--sec">
            <div fxLayout="row" fxFlex="100">
              <h6 class="m-0 mr-1">Zipcodes</h6>
              <span fxFlex></span>
              <div class="line--hgt--20 word--break--break--all" fxFlex="40">{{data?.zipcodes}}</div>
            </div>
          </mat-list-item>
          <mat-list-item class="">
            <div fxLayout="row" fxFlex="100">
              <h6 class="m-0 mr-1">From Date</h6>
              <span fxFlex></span>
              <div fxFlex="40">
                {{data?.fromDate | date: 'MM/dd/yyyy'}}
              </div>
            </div>
          </mat-list-item>
          <mat-list-item class="">
            <div fxLayout="row" fxFlex="100">
              <h6 class="m-0 mr-1">To Date</h6>
              <span fxFlex></span>
              <div fxFlex="40">{{data?.toDate | date: 'MM/dd/yyyy'}}</div>
            </div>
          </mat-list-item>
          <mat-list-item class="msg--hgt--sec">
            <div fxLayout="row" fxFlex="100">
              <h6 class="m-0 mr-1">Message</h6>
              <span fxFlex></span>
              <div class="line--hgt--20" fxFlex="40">{{data?.message}}</div>
            </div>
          </mat-list-item>
          <mat-list-item class="">
            <div fxLayout="row" fxFlex="100">
              <h6 class="m-0 mr-1">Sponsored Status</h6>
              <span fxFlex></span>
              <div fxFlex="40">
                <mat-chip mat-sm-chip [color]="'warn'" class="warn active--status--chip">{{data?.sponsoredStatus}}</mat-chip>
              </div>
            </div>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>

  </div>

  <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" class="mb-1" *ngIf="replyData">
    <div class="breadcrumb-title pl-0 mt-1 brdr-t-1">
      <h1 class="bc-title">Reply Info</h1>
    </div>
    <mat-card class="admin--users--table reply--info--table">
      <!-- <mat-card-title class="p-1">Reply Info</mat-card-title> -->
      <mat-card-content class="p-0">
        <ngx-datatable class="material ml-0 mr-0" [rows]="replyData" [columnMode]="'flex'" [headerHeight]="50"
          [footerHeight]="50" [limit]="10" [messages]="my_messages" [rowHeight]="'auto'">
          <!-- <ngx-datatable-column  [resizeable]="false" headerClass="tbl--header" name="Admin Name" prop="trustId"
            [flexGrow]="2">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <span>{{row?.adminId?.firstName}} {{row?.adminId?.lastName}}</span>
            </ng-template>
          </ngx-datatable-column> -->
          <ngx-datatable-column [resizeable]="false" headerClass="tbl--header" name="Zipcodes" prop="zipcodes"
            [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{row?.zipcodes && row?.zipcodes.length > 0 ? arrayToString(row?.zipcodes) : ""}}

              {{row?.status=='Reject' ? data?.zipcodes : ''}}
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column [resizeable]="false" headerClass="tbl--header" name="Cost" prop="cost" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{row?.cost>0 ? '$'+row?.cost : '-'}} {{row?.paymentStatus=='2' ? 'Free' : '' }}
            </ng-template>
          </ngx-datatable-column>

          <!-- <ngx-datatable-column [resizeable]="false" headerClass="tbl--header" name="Price" prop="paymentStatus" [flexGrow]="1">
              <ng-template let-row="row" ngx-datatable-cell-template>                
              </ng-template>
          </ngx-datatable-column> -->

          <ngx-datatable-column [resizeable]="false" headerClass="tbl--header" name="Message" prop="message" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{row?.message ? row?.message : '-'}}
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column [resizeable]="false" headerClass="tbl--header" name="Payment Link" prop="Payment Link" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{row?.paymentDetails ? (row?.paymentDetails?.status ==='Pending' ? paymentLink : 'Expired') : '-'}}
            </ng-template>
          </ngx-datatable-column>
            
          <ngx-datatable-column [resizeable]="false" headerClass="tbl--header" name="Time" prop="createdOn" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{row?.createdOn | date: 'MM/dd/yyyy HH:mm:ss'}}
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column [resizeable]="false" headerClass="tbl--header" name="Payment Status" prop="Payment Status" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{row?.status=='Active' ? 'Done' : row?.status}}
            </ng-template>
          </ngx-datatable-column>
         
          <!-- <ngx-datatable-column [resizeable]="false" name="Status">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <mat-chip class="active--status--chip" mat-sm-chip [color]="'primary'" [selected]="row.status"
                (click)="statusChange(row)" title="Status">{{row.status}}</mat-chip>
            </ng-template>
          </ngx-datatable-column> -->

        </ngx-datatable>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- <button mat-raised-button class="llp--secondary--btn mr-1" (click)="remiderTesting()">remiderTesting</button> -->
  <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="70" fxFlex.lg="50" fxFlex.xl="50" class="enq--form--wrapper" *ngIf="showReplyEnquiryForm">
    <div class="breadcrumb-title pl-0 mt-1 brdr-t-1">
      <h1 class="bc-title">Reply on Enquiry form. (Note : Please check Subscription details before reply.)</h1>
    </div>
    <mat-card class="p-0">
      <mat-card-content class="p-1 border-t">
        <form class="llp-form-wrapper reply--enquiry--form" [formGroup]="enquiryFormReply" (ngSubmit)="enquiryFormReplySubmit(enquiryFormReply.value)">
          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
            <div fxLayout="row wrap">
              <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
                <mat-form-field class="full-width">
                  <mat-label>Zipcode List*</mat-label>
                  <mat-select name="zipcodes" placeholder="Zipcode List" multiple [formControl]="enquiryFormReply.controls['zipcodes']">
                    <mat-option *ngFor="let zips of zipcodeList;" (change)="onChange(zips);" [value]="zips">{{zips}}
                    </mat-option>
                  </mat-select>
                  <mat-icon matTooltip="Please select atleast one zipcode from list"
                    matTooltipClass="llp--tooltip error" *ngIf="enquiryFormReply.controls['zipcodes'].hasError('required') && enquiryFormReply.controls['zipcodes'].touched"
                    class="red--alert">help_outline</mat-icon>
                </mat-form-field>
              </div>
              
              <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" class="pad--r--lg">
                <mat-form-field class="full-width llp-datepicker">
                  <input matInput [matDatepicker]="dp" (focus)="dp.open()" placeholder="From Date" [min]="minDate" [formControl]="enquiryFormReply.controls['fromDate']">
                  <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                  <mat-datepicker #dp startView="multi-year" panelClass="example-month-picker">
                  </mat-datepicker>
                  <mat-icon matTooltip="Please enter from date" matTooltipClass="llp--tooltip error" *ngIf="enquiryFormReply.controls['fromDate'].hasError('required') && enquiryFormReply.controls['fromDate'].touched"
                  class="red--alert">help_outline</mat-icon>
                </mat-form-field>
              </div>
              <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">  
                <mat-form-field class="full-width llp-datepicker">
                  <input matInput [matDatepicker]="to" (focus)="to.open()" placeholder="To Date" [min]="minDateTo" [formControl]="enquiryFormReply.controls['toDate']">
                  <mat-datepicker-toggle matSuffix [for]="to"></mat-datepicker-toggle>
                  <mat-datepicker #to startView="multi-year" panelClass="example-month-picker">
                  </mat-datepicker>
                  <mat-icon matTooltip="Please enter to date." matTooltipClass="llp--tooltip error" class="red--alert"
                  *ngIf="enquiryFormReply.controls['toDate'].hasError('required') && enquiryFormReply.controls['toDate'].touched">help_outline</mat-icon>
                </mat-form-field>
              </div>
              <mat-chip-list class="doc--list error--chip" *ngIf="dateError"><mat-chip><mat-error>{{dateError}}</mat-error></mat-chip></mat-chip-list>
            
              <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
                <mat-radio-group aria-label="Select an option" class="llp-radio" name="paymentStatus"  [formControl]="enquiryFormReply.controls['paymentStatus']">
                    <div class="checkbox-label">Do you want to create paymemt link?</div>
                    <mat-radio-button (change)="showPaymentStatus('1')" value="1" [checked]="true">Yes</mat-radio-button>
                    <mat-radio-button (change)="showPaymentStatus('2')" value="2">No</mat-radio-button>
                  <mat-icon matTooltip="Please select option yes or no to manage payment"  matTooltipClass="llp--tooltip error"  *ngIf="enquiryFormReply.controls['cost'].hasError('required') && enquiryFormReply.controls['cost'].touched"  class="red--alert">help_outline</mat-icon>
                </mat-radio-group>

                <mat-form-field class="full-width" *ngIf="showPayment">
                  <mat-label>Payment Cost in $*</mat-label>
                    <input matInput value="" placeholder="Payment Cost in $" [formControl]="enquiryFormReply.controls['cost']">
                    <mat-icon matTooltip="Please enter payment cost" matTooltipClass="llp--tooltip error" *ngIf="enquiryFormReply.controls['cost'].hasError('required') && enquiryFormReply.controls['cost'].touched" class="red--alert">help_outline</mat-icon>
                    <mat-icon matTooltip="Please enter numeric value." matTooltipClass="llp--tooltip error" *ngIf="enquiryFormReply.controls['cost'].hasError('pattern') && enquiryFormReply.controls['cost'].touched" class="red--alert">help_outline</mat-icon>
                </mat-form-field>
              </div>
              <mat-chip-list class="doc--list error--chip" *ngIf="paymentError"><mat-chip><mat-error>{{paymentError}}</mat-error></mat-chip></mat-chip-list>
              <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
                <mat-form-field class="full-width mt-1">
                  <textarea maxlength="500" matInput placeholder="Reply Message" name="message"
                    [formControl]="enquiryFormReply.controls['message']"></textarea>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" class="text-center" mb-1>
            <button type="button" mat-raised-button class="llp--secondary--btn mr-1" (click)="rejectEnquiry()">Reject</button>
            <button mat-raised-button class="llp--primary--btn" [disabled]="enquiryFormReply.invalid">Submit</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>