<header class="auth-header">
  <img src="assets/images/arkenea/small-logo.png" alt="">
</header>

<div class="container subscription--wrapper">
  

  <div class="header--wrapper">
    <header class="sub--header" style="background-image: url('assets/images/arkenea/congratulations-lg.png')">
      <span>Congratulations!</span>
    </header>
    <header class="sub--header show--mobile" style="background-image: url('assets/images/arkenea/congratulations.png')">
        <span>Congratulations!</span>
      </header>

    <p class="warn">
      <span>90 days</span> free access to all features has been unlocked for your account!</p>
  </div>

  <div class="free--trail">
    <h2 class="text-center m-0">Extend your Free Trial Period</h2>
    <div class="divider-sm"></div>
    <div class="refer--earn">
        <div fxLayout="row wrap"  class="refer--row">
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="33" fxFlex.lg="30" fxFlex.xl="30">
                <div class="rate">
                  <h5>10 USERS</h5>
                  <p>per month</p>
                </div>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="6" fxFlex.lg="10" fxFlex.xl="10" class="text-center">
                <div class="and--txt">
                    &amp;
                </div>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="33" fxFlex.lg="30" fxFlex.xl="30">
                <div class="rate earn">
                  <h5>30 DAYS</h5>
                  <p>free extended access</p>
                </div>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="27" fxFlex.lg="30" fxFlex.xl="30">
                <div class="actions">
                <button mat-raised-button class="llp--primary--btn iam--inte--btn">I am interested</button>
                <a class="know--more" (click)="openllpmodal();">Know more</a>
                </div>
            </div>
        </div>
        <img class="refer--earn--img" src="assets/images/arkenea/refer-earn-info.png" />
    </div>    
  </div>
</div>
<div class="text-center">
    <button mat-raised-button class="llp--primary--btn go--to--acc">Go to my account</button>
</div>