<div fxLayout="row wrap">
  <div fxFlex="100" fxFlex.gt-md="800px" fxFlex.gt-sm="50">
    <mat-card class="p-0">
      <mat-card-title class="p-1">Contact Information</mat-card-title>
      <mat-tab-group>
        <mat-tab label="Account Settings">
          <mat-card-content class="mt-1">
            <form class="llp-form-wrapper" [formGroup]="llpProfileForm" (ngSubmit)="llpprofile()">
              <mat-form-field class="full-width">
                <input class="capitalize" matInput name="firstName" [formControl]="llpProfileForm.controls['firstName']" placeholder="First name"
                  value="">
              </mat-form-field>
              <mat-form-field class="full-width">
                <input class="capitalize" matInput name="lastName" [formControl]="llpProfileForm.controls['lastName']" placeholder="Last name"
                  value="">
              </mat-form-field>
              <button mat-raised-button class="llp--primary--btn" [disabled]="!llpProfileForm.valid">Save</button>
            </form>
          </mat-card-content>
        </mat-tab>


        <mat-tab label="Change Password">
          <mat-card-content class="mt-1">
            <form class="llp-form-wrapper" [formGroup]="llpPasswordForm" (ngSubmit)="llppassword()">
              <div fxLayout="row wrap">
                <mat-form-field class="full-width">
                  <input type="password" required [formControl]="llpPasswordForm.controls['password']" matInput name="password" placeholder="Current Password"
                    value="">

                  <mat-icon matTooltip="Please enter current password." matTooltipClass="llp--tooltip error" *ngIf="llpPasswordForm.controls['password'].hasError('required') && llpPasswordForm.controls['password'].touched"
                    class="red--alert">help_outline</mat-icon>

                  <mat-icon matTooltip="Please enter the valid current password." matTooltipClass="llp--tooltip error" *ngIf="llpPasswordForm.controls['password'].hasError('invalid') && llpPasswordForm.controls['password'].touched"
                    class="red--alert">help_outline</mat-icon>

                </mat-form-field>


                <mat-form-field class="full-width">
                  <input type="password" required [formControl]="llpPasswordForm.controls['NewPassword']" matInput name="NewPassword" placeholder="New password"
                    value="">


                  <mat-icon matTooltip=" Your password should be minimum 6 characters in length." matTooltipClass="llp--tooltip error" *ngIf="llpPasswordForm.controls['NewPassword'].hasError('pattern') && llpPasswordForm.controls['NewPassword'].touched"
                    class="red--alert">help_outline</mat-icon>

                  <mat-icon matTooltip="Please enter the valid current password." matTooltipClass="llp--tooltip error" *ngIf="llpPasswordForm.controls['NewPassword'].hasError('invalid') && llpPasswordForm.controls['NewPassword'].touched"
                    class="red--alert">help_outline</mat-icon>

                  <mat-icon matTooltip="Your password should be minimum 6 characters in length." matTooltipClass="llp--tooltip error" *ngIf="llpPasswordForm.controls['NewPassword'].hasError('minlength') && llpPasswordForm.controls['NewPassword'].touched"
                    class="red--alert">help_outline</mat-icon>

                </mat-form-field>

                <mat-form-field class="full-width">
                  <input matInput type="password" required [formControl]="llpPasswordForm.controls['confirmPassword']" name="confirmPassword"
                    placeholder="Confirm new password" value="">

                  <mat-icon matTooltip="Password mismatch." matTooltipClass="llp--tooltip error" *ngIf="llpPasswordForm.controls['confirmPassword'].hasError('equalTo') && llpPasswordForm.controls['confirmPassword'].touched"
                    class="red--alert">help_outline</mat-icon>

                </mat-form-field>
              </div>

              <button mat-raised-button class="llp--primary--btn" [disabled]="llpPasswordForm.invalid">Save</button>
            </form>
          </mat-card-content>
        </mat-tab>
        <!--<mat-tab label="Privacy Settings">
      <mat-card-content>
        <div class="mb-1 mt-1">
          <mat-checkbox> Get weekly news in your email.</mat-checkbox>
        </div>
        <div class="mb-1">
          <mat-checkbox> Get notification when someone follows you.</mat-checkbox>
        </div>
        <div class="mb-1">
          <mat-checkbox> Get email when someone follows you.</mat-checkbox>
        </div>
        <div class="mb-1">
            <p>Choose your admin panel color schemes.</p>
            <mat-radio-group fxLayout="column" fxLayoutGap="4px">
              <mat-radio-button value="indigo">Indigo</mat-radio-button>
              <mat-radio-button value="blue">Blue</mat-radio-button>
              <mat-radio-button value="pink">Pink</mat-radio-button>
              <mat-radio-button value="purple">Purple</mat-radio-button>
            </mat-radio-group>
        </div>
        <button mat-raised-button color="primary">Save</button>
      </mat-card-content>
    </mat-tab>-->
      </mat-tab-group>
    </mat-card>
  </div>
</div>