<div fxLayout="row wrap">
  <div fxFlex="100" fxFlex.gt-md="300px" fxFlex.gt-sm="50">
    <!-- <mat-card class="profile-sidebar mb-1 pb-0">
      <div class="propic text-center">
        <img src="assets/images/sq-face-220.jpg" alt="">
      </div>
      <div class="profile-title text-center mb-1">
        <div class="main-title"></div>
        <div class="subtitle mb-05"></div>
        <div class="text-muted"></div>
      </div>
    </mat-card>-->
    <!-- Contact Information -->
    <mat-card class="default">
      <mat-card-title>Contact Information</mat-card-title>
      <mat-card-content class="pt-0">
        <mat-list>
          <mat-list-item>
            <mat-icon class="mr-1">public</mat-icon> www.mhrafi.com</mat-list-item>
          <mat-list-item>
            <mat-icon class="mr-1">email</mat-icon> {{ rows?.username }} </mat-list-item>
          <mat-list-item>
            <mat-icon class="mr-1">phone</mat-icon> {{ rows?.phoneNumber[0]['prefix'] }} {{ rows?.phoneNumber[0]['phonenumber'] }} </mat-list-item>
          <mat-list-item>
            <mat-icon class="mr-1">public</mat-icon>
          </mat-list-item>
          <mat-list-item>
            <mat-icon class="mr-1">add_location</mat-icon> {{ rows?.city }} {{ rows?.zipcode }},{{ rows?.state }},{{ rows?.country }} </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="calc(100% - 300px)">
    <mat-card class="p-0">
      <mat-tab-group>
        <mat-tab label="Account Settings">
          <mat-card-content class="mt-1">
            <form class="llp-form-wrapper" [formGroup]="llpProfileForm" (ngSubmit)="llpprofile()">
              <mat-form-field class="full-width">
                <input matInput name="firstName" [formControl]="llpProfileForm.controls['firstName']" placeholder="First name" value="">
              </mat-form-field>
              <mat-form-field class="full-width">
                <input matInput name="lastName" [formControl]="llpProfileForm.controls['lastName']" placeholder="Last name" value="">
              </mat-form-field>
              <!--<mat-form-field class="full-width">
                <input matInput name="phoneNumber" [formControl]="llpProfileForm.controls['phoneNumber']" placeholder="Phone" value="">
              </mat-form-field>
               <mat-form-field class="full-width">
              <input
              matInput
              name="address_line1"
              placeholder="Adresss line 1"
              value="">
            </mat-form-field>
            <mat-form-field class="full-width">
              <input
              matInput
              name="address_line2"
              placeholder="Adresss line 2"
              value="">
            </mat-form-field>
            <mat-form-field class="full-width">
              <input
              matInput
              name="zipcode"
              placeholder="Zipcode"
              value="">
            </mat-form-field>
            <mat-form-field class="full-width">
              <input
              matInput
              name="city"
              placeholder="City"
              value="">
            </mat-form-field>            
            <mat-form-field class="full-width">
              <input
              matInput
              name="state"
              placeholder="State"
              value="">
            </mat-form-field>   
            <mat-form-field class="full-width">
              <input
              matInput
              name="country"
              placeholder="Country"
              value="">
            </mat-form-field>      -->
              <button mat-raised-button color="primary">Save</button>
            </form>
          </mat-card-content>
        </mat-tab>
        <!-- <mat-tab label="Profile Picture">
      <mat-card-content>
        <div class="mb-1 mt-1">
          <p>Upload a profile picture</p>
          <input type="file" ng2FileSelect [uploader]="uploader" />
        </div>

        <div class="mb-1">
          <div ng2FileDrop
          [ngClass]="{'dz-file-over': hasBaseDropZoneOver}"
          [uploader]="uploader"
          (fileOver)="fileOverBase($event)"
          class="fileupload-drop-zone">
          Drop png/jpeg file here
          </div>
        </div>
        <table class="default-table mat-box-shadow" style="width: 100%">
          <thead>
            <tr>
                <th width="30%">Name</th>
                <th>Size</th>
                <th>Progress</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody *ngIf="uploader.queue.length; else tableNoData">
            <tr *ngFor="let item of uploader.queue">
                <td>{{ item?.file?.name }}</td>
                <td nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                <td>
                    <div class="progress" style="margin-bottom: 0;">
                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                        <mat-progress-bar
                          class=""
                          color="primary"
                          mode="determinate"
                          [value]="item.progress">
                        </mat-progress-bar>
                    </div>
                </td>
                <td class="">
                    <mat-icon *ngIf="item.isSuccess">check</mat-icon>
                    <mat-icon *ngIf="item.isCancel" color="accent">cancel</mat-icon>
                    <mat-icon *ngIf="item.isError" color="warn">error</mat-icon>
                </td>
                <td nowrap>
                    <button 
                    mat-raised-button
                    class="mat-primary"
                    (click)="item.upload()"
                    [disabled]="item.isReady || item.isUploading || item.isSuccess">Upload</button>
                    <button 
                    mat-raised-button
                    class="mat-accent"
                    (click)="item.cancel()"
                    [disabled]="!item.isUploading">Cancel</button>

                    <button 
                    mat-raised-button
                    class="mat-warn"
                    (click)="item.remove()">Remove</button>
                </td>
            </tr>
            </tbody>
            <ng-template #tableNoData>
              <p [ngStyle]="{padding: '0 1.2rem'}">Queue is empty</p>
            </ng-template>
        </table>
      </mat-card-content>
    </mat-tab>-->
        <mat-tab label="Change Password">
          <mat-card-content class="mt-1">
            <form class="llp-form-wrapper" [formGroup]="llpPasswordForm" (ngSubmit)="llppassword()">
              <div fxLayout="row wrap">
                <mat-form-field class="full-width">
                  <input type="password" required [formControl]="llpPasswordForm.controls['password']" matInput name="password" placeholder="Current Password"
                    value="">
                </mat-form-field>

                <small *ngIf="llpPasswordForm.controls['password'].hasError('invalid') && llpPasswordForm.controls['password'].touched" class="form-error-msg">
                Please enter the correct current password </small>

                <mat-form-field class="full-width">
                  <input type="password" required [formControl]="llpPasswordForm.controls['NewPassword']" matInput name="NewPassword" placeholder="New password"
                    value="">
                </mat-form-field>
                <small *ngIf="llpPasswordForm.controls['NewPassword'].hasError('pattern') && llpPasswordForm.controls['NewPassword'].touched"
                  class="form-error-msg"> New Password must be at least 6 characters long, alpha numeric with at least one-special character </small>
                <small *ngIf="llpPasswordForm.controls['NewPassword'].hasError('minlength') && llpPasswordForm.controls['NewPassword'].touched"
                  class="form-error-msg"> New Password require at least {{llpPasswordForm.controls['NewPassword'].errors.minlength.requiredLength}}
                  characters </small>
                <mat-form-field class="full-width">
                  <input matInput type="password" required [formControl]="llpPasswordForm.controls['confirmPassword']" name="confirmPassword"
                    placeholder="Confirm new password" value="">
                </mat-form-field>
                <small *ngIf="llpPasswordForm.controls['confirmPassword'].hasError('equalTo') && llpPasswordForm.controls['confirmPassword'].touched"
                  class="form-error-msg"> Password mismatch </small>
              </div>

              <button mat-raised-button color="primary" [disabled]="llpPasswordForm.invalid">Save</button>
            </form>
          </mat-card-content>
        </mat-tab>
        <!--<mat-tab label="Privacy Settings">
      <mat-card-content>
        <div class="mb-1 mt-1">
          <mat-checkbox> Get weekly news in your email.</mat-checkbox>
        </div>
        <div class="mb-1">
          <mat-checkbox> Get notification when someone follows you.</mat-checkbox>
        </div>
        <div class="mb-1">
          <mat-checkbox> Get email when someone follows you.</mat-checkbox>
        </div>
        <div class="mb-1">
            <p>Choose your admin panel color schemes.</p>
            <mat-radio-group fxLayout="column" fxLayoutGap="4px">
              <mat-radio-button value="indigo">Indigo</mat-radio-button>
              <mat-radio-button value="blue">Blue</mat-radio-button>
              <mat-radio-button value="pink">Pink</mat-radio-button>
              <mat-radio-button value="purple">Purple</mat-radio-button>
            </mat-radio-group>
        </div>
        <button mat-raised-button color="primary">Save</button>
      </mat-card-content>
    </mat-tab>-->
      </mat-tab-group>
    </mat-card>
  </div>
</div>