<div class="shop-wrap llp--content--wrapper" fxLayout="row" fxLayoutWrap="wrap">
  <!-- Filters -->
  <div class="full-width">
    <div class="day--first" >
      <mat-card class="empty--section p-0">
        <mat-card-header class="m-0">
          <mat-card-title class="m-0">Recently Accessed Files </mat-card-title>
        </mat-card-header>
        <mat-card-content *ngIf="!recentlyAccessedFiles">
          <p class="info">See your recently accessed files here. Currently you have no files available.</p>
          <div class="build--ur--legacy dashed">
            <mat-icon>insert_drive_file</mat-icon>
            <p>Start building your legacy!
              <a [routerLink]="['/customer/dashboard/essential-day-one']">Click here</a>
            </p>
          </div>
        </mat-card-content>
        <mat-card-content class="files--wrapper pr-0" *ngIf="recentlyAccessedFiles">
          <div class="recent--acc--files" *ngFor="let logData of fileActivityLogList; let i = index" [routerLink]="getIconNUrl(logData).fileUrl">
            <mat-icon>{{getIconNUrl(logData).fileIcon}}</mat-icon>
            <p class="m-0 file--name">{{logData.fileName}}</p>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="empty--section p-0">
        <mat-card-header class="m-0">
            <mat-card-title class="m-0">My Trustees</mat-card-title>
            <div *ngIf="showTrustyListing">
                <button mat-raised-button class="llp--primary--btn llp--primary--sm--btn"  (click)="openAddTrusteeModal('', true)">+ Add New</button>              
            </div>          
          </mat-card-header>
          <mat-card-content *ngIf="!showTrustyListing">
          <p class="info">Share your documents with your trusted ones. View your trustees in this section.</p>
          <div class="build--ur--legacy" (click)="openAddTrusteeModal('', true)">
            <mat-icon>group_add</mat-icon>
            <p>
              <a>Add Trustees</a>
            </p>
          </div>
        </mat-card-content>
        <mat-card-content class="appointees--wrapper" *ngIf="showTrustyListing">  
            <mat-card class="appointees--section p-0 {{row?.status==='Pending' ? 'pending' : ''}}"  *ngFor="let row of trustyListing; let i = index">
                <mat-card-header class="m-0">
                  <mat-card-title class="m-0">
                    <div class="appointees--pic">
                      <img src="{{profileUrl}}{{(row?.trustId!=null && row?.trustId.profilePicture!=null) ? row?.trustId.profilePicture : 'default.jpg'}}" />
                    </div>
                    <div class="appointees--desc">
                      <h5>{{(row?.trustId!=null && row?.trustId.firstName!=null) ? row?.trustId.firstName : row?.firstName}} {{(row?.trustId!=null && row?.trustId.lastName!=null) ? row?.trustId.lastName : row?.lastName}}</h5>
                      <p class="m-0">{{row?.email}}</p>
                    </div>
                  </mat-card-title>
                </mat-card-header>
                <mat-card-content *ngIf="row?.status==='Active'">
                  <h4>Shared Documents</h4>
                  <div class="files--folder">
                    <mat-icon>insert_drive_file</mat-icon>
                     {{row?.filesCount}} Files
                  </div>
                  <div class="files--folder mb-0">
                    <mat-icon>folder</mat-icon>
                    {{row?.folderCount}} Folders
                  </div>
                </mat-card-content>
                <mat-card-content class="status--pending" *ngIf="row?.status==='Pending'">
                  <mat-icon>history</mat-icon>
                  <p class="pending">Pending...</p>
                  <p class="" *ngIf="row?.trustId && row?.trustId.userType == 'advisor'">
                    This user is an Advisor on Legacy Life plans.
                    <a class="pending" [routerLink]="['/customer/professionals/prof-details', row?.trustId._id]">Click here</a> to view the Advisor
                  </p>
                </mat-card-content>
              </mat-card>     
          </mat-card-content>
      </mat-card>
      <mat-card class="empty--section p-0">
        <mat-card-header class="m-0">
          <mat-card-title class="m-0">My Advisors </mat-card-title>
          <div *ngIf="showAdvisorListing">
            <button mat-raised-button class="llp--primary--btn llp--primary--sm--btn" [routerLink]="['/customer/professionals-landing/prof-advisor-listing']"><mat-icon>search</mat-icon>Search Advisors</button>              
        </div>       
        </mat-card-header>
        <mat-card-content *ngIf="!showAdvisorListing">
          <p class="info">See your professional advisors here.</p>
          <div class="build--ur--legacy"[routerLink]="['/customer/professionals-landing/prof-advisor-listing']">
            <mat-icon>search</mat-icon>
            <p>
              <a>Search Advisors</a>
            </p>
          </div>
          <p class="search-ad">Seeking professional help in managing your legacy?
            <a> Find right professionals now </a>
          </p>
        </mat-card-content>
        <mat-card-content class="appointees--wrapper" *ngIf="showAdvisorListing">  
          <mat-card class="appointees--section p-0 {{row?.status==='Pending' ? 'pending' : ''}}"  *ngFor="let row of advisorListing; let i = index"  [routerLink]="['/customer/professionals/prof-details',row.advisorId._id]">
              <mat-card-header class="m-0">
                <mat-card-title class="m-0">
                  <div class="appointees--pic" [routerLink]="['/customer/professionals/prof-details', row.advisorId._id]">
                    <img *ngIf="row.advisorId.profilePicture" src="{{profileUrl}}{{row.advisorId.profilePicture}}" />
                    <img *ngIf="!row.advisorId.profilePicture" src="assets/images/arkenea/default.jpg" />
                  </div>
                  <div class="appointees--desc">
                    <h5>{{row.advisorId?.firstName}} {{row.advisorId?.lastName}}</h5>
                    <p class="m-0">{{row.advisorId?.email}}</p>
                  </div>
                </mat-card-title>
              </mat-card-header>
              <mat-card-content  *ngIf="row?.status === 'Active'">
                <h4>Specialities</h4>
                <div class="files--folder mb-0">
                  <mat-icon>school</mat-icon>
                  <p>{{row.advisorId?.businessType}}</p>
                </div>
                <div class="files--folder mb-0">
                  <mat-icon>work</mat-icon>
                  <p>{{row.advisorId?.yearsOfService}}</p>
                </div>
              </mat-card-content>                  
              <mat-card-content class="status--pending" *ngIf="row?.status === 'Pending'">
                <mat-icon>history</mat-icon>
                <p class="pending">Pending...</p>
              </mat-card-content>
            </mat-card>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>