
@import 'llp-global-styles.scss';

.save--profile--btn{
    font-size: 16px;
    border-radius: 2px;
    padding: 3px 38px;
    height: 42px;
    cursor: pointer;
    line-height: 36px;
    color: #fff!important;
    background-color: #c72128!important;
    border: 1px solid #c72128!important;
    font-family: $font--lato--regular;
}
.profile--footer{
    height: auto;
}
.pic--upload{
   ::ng-deep canvas{
        width: 100% !important;
        margin: 10px 0 0 0;
    }
}

.change--profile{
    .y-actions-i0{
        .select--file{
            border: 1px solid #c72128;
            color: #c72128;
            padding: 0 8px;
            margin-bottom: 8px;
            .material-icons{
                font-size: 20px;
                width: 28px;
            }
        }
    }    
}



input[type="range"]::-webkit-slider-thumb {
    background-color:#c72128;
}