<div class="ll--modal--header">
  Hire Advisor
  <button class="modal--close" [mat-dialog-close]="">
    <mat-icon class="icon--cross">cancel</mat-icon>
  </button>
</div>

<form class="llp-form-wrapper">
  <div class="ll--modal--body ">
    <p class="fnt--16">The advisor will need to confirm this hiring on their part to start appearing in your 'My advisors' list. Clicking on
      'Proceed' button will send a confirmation message on the advisor's email.</p>

    <p class="fnt--16">Note that you can anytime remove the advisors from your 'My advisors' list. The removed advisors will not have access
      to your profile.</p>

  </div>
  <div class="ll--modal--footer text-center">
    <button mat-raised-button class="llp--primary--btn">Proceed</button>
  </div>
</form>