<div class="container llp--left--panel--view cust--acc--sett--wrapper ad--acc--sett--wrapper">
  <mat-sidenav-container>
    <mat-sidenav EgretSideNavToggle class="shop-sidebar llp--menu--list">
      <div class="shop-filters-wrap llp--left--panel">
        <mat-card class="account--profile">
          <div class="account--pic--wrapper">
            <div class="account--pic" >               
              <img src="{{profilePicture}}" />
            </div>            
            <div class="edit--pic">
              <mat-icon title="edit advisor image" (click)="profilePic.click()">edit</mat-icon>
              <input type="file" name="profilePicture" #profilePic id="profilePicture" class="profile-pic-input" (change)="showSelectedProfilePicture()"
                accept="image/*" style="display:none;" />
            </div>
          </div>

          <div class="acc--user--details text-center">
            <h2>{{profile.firstName}} {{profile.lastName}}</h2>
            <p>{{profile.city}}, {{profile.state}} - {{profile.zipcode}}</p>
            <div class="sta--m">
              <mat-icon>star</mat-icon> {{profile.userType}}</div>
          </div>


          <div class="email--phone">
            <mat-icon>markunread</mat-icon>
            <span>{{profile.username}}</span>
          </div>
          <div class="email--phone mb-0">
            <mat-icon>phone</mat-icon>
            <span>+1 {{profile.businessPhoneNumber}}</span>
          </div>

          <div class="feature--profile">
            <div class="sett--fp">
              <mat-icon>settings</mat-icon>
              Featured Profile
            </div>
            <p class="pro--info">Your profile information will be visible to the end users on LLP.</p>
            <p class="validate">
              <span>Valid till:</span> 29 Apr</p>
          </div>

          <div class="feature--profile">

            <p class="pro--info">Get featured to display your profile to end users</p>

            <div class="text-center mt--25">
              <button mat-raised-button class="llp--primary--btn w168">Get Featured</button>
            </div>
          </div>


        </mat-card>
      </div>
    </mat-sidenav>
    <div class="shop-wrap llp--content--wrapper" fxLayout="row" fxLayoutWrap="wrap">
      <!-- Filters -->
      <!-- Right side -->
      <div class="full-width">
        <!-- toggleSideNav -->
        <div class="shop-top-toolbar p-0 llp--toggle-btn">
          <button mat-icon-button class="p-0" (click)="toggleSideNav()">
            <mat-icon>short_text</mat-icon>
          </button>
        </div>
        <!-- Account details -->
        <mat-tab-group class="acc--sett--tab">
          <mat-tab label="Account Details">
            <form class="llp-form-wrapper" [formGroup]="ProfileForm" (ngSubmit)="ProfileSubmit()">
              <div class="account--details">
              <div fxLayout="row wrap">
                <div fxFlex.xs="100" fxFlex.sm="40" fxFlex.md="40" fxFlex.lg="40" fxFlex.xl="40">               
                    <mat-form-field class="full-width">
                      <input matInput name="firstName" maxlength="20" placeholder="First Name*" value=""  [formControl]="ProfileForm.controls['firstName']">
                      <mat-icon matTooltip="Please enter first name" matTooltipClass="llp--tooltip error" *ngIf="ProfileForm.controls['firstName'].hasError('required') && ProfileForm.controls['firstName'].touched"
                      class="red--alert">help_outline</mat-icon>
                    </mat-form-field>
                    <mat-form-field class="full-width">
                      <input matInput name="lastName" maxlength="20" placeholder="Last Name*" value="" [formControl]="ProfileForm.controls['lastName']">
                      <mat-icon matTooltip="Please enter last name" matTooltipClass="llp--tooltip error" *ngIf="ProfileForm.controls['lastName'].hasError('required') && ProfileForm.controls['lastName'].touched"
                      class="red--alert">help_outline</mat-icon>
                    </mat-form-field>

                    <mat-form-field class="full-width">
                      <input matInput placeholder="Mobile Number*" name="phoneNumber"  type="tel"  [formControl]="ProfileForm.controls['phoneNumber']">
                      <span matPrefix>+1</span>
                      <mat-icon matTooltip="Please enter mobile number" matTooltipClass="llp--tooltip error" *ngIf="ProfileForm.controls['phoneNumber'].hasError('required') && ProfileForm.controls['phoneNumber'].touched"
                      class="red--alert">help_outline</mat-icon>
                      <mat-icon matTooltip="Please enter valid mobile number." matTooltipClass="llp--tooltip error" *ngIf="ProfileForm.controls['phoneNumber'].hasError('pattern') && ProfileForm.controls['phoneNumber'].touched"
                      class="red--alert">help_outline</mat-icon>
                    </mat-form-field>
                    <mat-form-field class="full-width">
                      <input matInput placeholder="Landline Number*" name="landlineNumber" type="tel"  [formControl]="ProfileForm.controls['landlineNumber']">
                      <span matPrefix>+1</span>
                      <mat-icon matTooltip="Please enter landline number" matTooltipClass="llp--tooltip error" *ngIf="ProfileForm.controls['phoneNumber'].hasError('required') && ProfileForm.controls['phoneNumber'].touched"
                      class="red--alert">help_outline</mat-icon>
                      <mat-icon matTooltip="Please enter valid landline number." matTooltipClass="llp--tooltip error" *ngIf="ProfileForm.controls['landlineNumber'].hasError('pattern') && ProfileForm.controls['landlineNumber'].touched"
                      class="red--alert">help_outline</mat-icon>
                    </mat-form-field>

                    <mat-form-field class="full-width llp-datepicker">
                      <input matInput [matDatepicker]="dp" placeholder="Date of Birth*" aria-readonly="true" readonly value="" [max]="maxDate" [formControl]="ProfileForm.controls['dateOfBirth']">
                      <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                      <mat-datepicker #dp startView="multi-year" panelClass="example-month-picker">
                      </mat-datepicker>
                      <mat-icon matTooltip="Please select date of birth" matTooltipClass="llp--tooltip error" *ngIf="ProfileForm.controls['dateOfBirth'].hasError('required') && ProfileForm.controls['dateOfBirth'].touched"
                      class="red--alert">help_outline</mat-icon>
                    </mat-form-field>

                    <mat-form-field class="full-width no-mar">
                      <input matInput name="username" placeholder="Email Address" value="" aria-readonly="true" readonly [formControl]="ProfileForm.controls['username']">
                    </mat-form-field>

                    <div class="full-width text-right">
                      <a class="clr--red fnt--16" (click)="changePasspordModal()">Change password</a>
                    </div>               
                </div>
                <div fxFlex.xs="100" fxFlex.sm="60" fxFlex.md="60" fxFlex.lg="60" fxFlex.xl="60">
                  <div class="manage--sub--section">
                    <header>
                      <div class="stan--plan"> Free Access</div>
                      <div class="ur--sub">Valid till
                        <span>06/07/2019</span>
                      </div>
                    </header>

                    <mat-card class="p-0 black--header">
                      <mat-card-title class="">
                        <div class="card-title-text">Invitation Status</div>
                        <mat-divider></mat-divider>
                      </mat-card-title>
                      <mat-card-content class="invite--body--section">
                        <h4 class="count">12<span>/45</span>
                        </h4>
                        <p class="daysgo">9 days to go</p>
                        <p class="invites">Invites sent in this month</p>
                        <button mat-raised-button class="llp--primary--btn">Invite Now</button>
                      </mat-card-content>
                    </mat-card>

                    <div class="manage--cancel">
                      <button mat-raised-button class="llp--primary--green--btn" [routerLink]="'/advisor/subscription'">Manage subscription</button>
                    </div>
                  </div>
                  <div class="deactivate--acc">
                    <a class="clr--red fnt--16">Deactivate account</a>
                  </div>
                </div>
              </div>
              <div fx.Flex="100" class="text-center mt--30">
                <button mat-raised-button class="llp--secondary--btn mr-1" [routerLink]="'/advisor/dashboard'">Cancel</button>
                <button mat-raised-button class="llp--primary--btn" [disabled]="ProfileForm.invalid">Save</button>
              </div>
            </div>
          </form>
          </mat-tab>
          <mat-tab label="Business information">
            <!-- Business Information  -->
            <div class="business--information">
              <form class="llp-form-wrapper" [formGroup]="AddressForm" (ngSubmit)="AddressSubmit()">
                <h3 class="header--text">Business Information</h3>
                <div fxLayout="row wrap">
                  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" class="pad--r--lg">
                    <mat-form-field class="full-width">
                      <input matInput name="businessName" placeholder="Business name*" value="" [formControl]="AddressForm.controls['businessName']">
                      <mat-icon matTooltip="Please enter business name" matTooltipClass="llp--tooltip error" *ngIf="AddressForm.controls['businessName'].hasError('required') && AddressForm.controls['businessName'].touched"
                      class="red--alert">help_outline</mat-icon>
                    </mat-form-field>
                  </div>
                  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
                    <mat-form-field class="full-width">
                      <mat-label>Years of service*</mat-label>
                      <mat-select  name="yearsOfService" [formControl]="AddressForm.controls['yearsOfService']">
                        <mat-option *ngFor="let yos of yearsOfServiceList" [value]="yos">{{yos}}</mat-option>
                      </mat-select>
                      <mat-icon matTooltip="Please select years of service" matTooltipClass="llp--tooltip error" *ngIf="AddressForm.controls['businessName'].hasError('required') && AddressForm.controls['businessName'].touched"
                      class="red--alert">help_outline</mat-icon>
                    </mat-form-field>
                  </div>
                </div>
                <div fxLayout="row wrap">
                  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" class="pad--r--lg">
                    <mat-form-field class="full-width">
                      <mat-label>Business type*</mat-label>
                      <mat-select name="businessType" [formControl]="AddressForm.controls['businessType']" multiple>
                        <mat-option *ngFor="let btl of businessTypeList" [value]="btl">{{btl}}</mat-option>
                      </mat-select>
                      <mat-icon matTooltip="Please select business type" matTooltipClass="llp--tooltip error" *ngIf="AddressForm.controls['businessType'].hasError('required') && AddressForm.controls['businessType'].touched"
                      class="red--alert">help_outline</mat-icon>
                    </mat-form-field>
                  </div>
                  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
                    <mat-form-field class="full-width">
                      <mat-label>Industry/Domain*</mat-label>                      
                      <mat-select name="industryDomain" [formControl]="AddressForm.controls['industryDomain']" multiple>
                        <mat-option *ngFor="let idl of industryDomainList" [value]="idl">{{idl}}</mat-option>
                      </mat-select>
                      <mat-icon matTooltip="Please select industry/domain" matTooltipClass="llp--tooltip error" *ngIf="AddressForm.controls['industryDomain'].hasError('required') && AddressForm.controls['industryDomain'].touched"
                      class="red--alert">help_outline</mat-icon>
                    </mat-form-field>
                  </div>
                </div>
                <h3 class="header--text">Business Address</h3>
                <div fxLayout="row wrap">
                  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" class="pad--r--lg">
                    <mat-form-field class="full-width">
                      <input matInput name="addressLine1" placeholder="Address line 1*" value="" [formControl]="AddressForm.controls['addressLine1']">
                      <mat-icon matTooltip="Please enter address line 1" matTooltipClass="llp--tooltip error" *ngIf="AddressForm.controls['addressLine1'].hasError('required') && AddressForm.controls['addressLine1'].touched"
                      class="red--alert">help_outline</mat-icon>
                    </mat-form-field>
                  </div>
                  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
                    <mat-form-field class="full-width">
                      <input matInput name="addressLine2" placeholder="Address line 2 (optional)" value="" [formControl]="AddressForm.controls['addressLine2']">
                    </mat-form-field>
                  </div>
                </div>
                <div fxLayout="row wrap">
                  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" class="pad--r--lg">
                    <mat-form-field class="full-width">
                      <input matInput name="City" placeholder="City*" value="" [formControl]="AddressForm.controls['city']">
                      <mat-icon matTooltip="Please enter city" matTooltipClass="llp--tooltip error" *ngIf="AddressForm.controls['city'].hasError('required') && AddressForm.controls['city'].touched"
                      class="red--alert">help_outline</mat-icon>
                    </mat-form-field>
                  </div>
                  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
                    <mat-form-field class="full-width">
                      <mat-label>State</mat-label>
                      <mat-select placeholder="State*" name="state*" [formControl]="AddressForm.controls['state']">
                        <mat-option value="">Select a state</mat-option>
                        <mat-option *ngFor="let option of stateList"  [value]="option.state_name">{{option.state_name}}</mat-option>
                      </mat-select>
                      <mat-icon matTooltip="Please select state" matTooltipClass="llp--tooltip error" *ngIf="AddressForm.controls['state'].hasError('required') && AddressForm.controls['state'].touched"
                      class="red--alert">help_outline</mat-icon>
                    </mat-form-field>
                  </div>
                </div>
                <div fxLayout="row wrap">
                  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" class="pad--r--lg">
                    <mat-form-field class="full-width">
                      <input matInput name="zipcode" maxlength="10" placeholder="Zip Code*" value="" [formControl]="AddressForm.controls['zipcode']">
                      <mat-icon matTooltip="Please enter zipcode" matTooltipClass="llp--tooltip error" *ngIf="AddressForm.controls['zipcode'].hasError('required') && AddressForm.controls['zipcode'].touched"
                      class="red--alert">help_outline</mat-icon>
                      <mat-icon matTooltip="Please enter valid zipcode." matTooltipClass="llp--tooltip error" *ngIf="AddressForm.controls['zipcode'].hasError('pattern') && AddressForm.controls['zipcode'].touched"
                      class="red--alert">help_outline</mat-icon>
                    </mat-form-field>
                  </div>
                  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">

                    <mat-form-field class="full-width">
                      <input matInput placeholder="Business Phone*" type="tel" value="" class="" name="businessPhoneNumber" [formControl]="AddressForm.controls['businessPhoneNumber']">
                      <span matPrefix>+1</span>
                      <mat-icon matTooltip="Please enter business phone" matTooltipClass="llp--tooltip error" *ngIf="AddressForm.controls['businessPhoneNumber'].hasError('required') && AddressForm.controls['businessPhoneNumber'].touched"
                        class="red--alert">help_outline</mat-icon>
                      <mat-icon matTooltip="Please enter valid business phone number." matTooltipClass="llp--tooltip error" *ngIf="AddressForm.controls['businessPhoneNumber'].hasError('pattern') && AddressForm.controls['businessPhoneNumber'].touched"
                        class="red--alert">help_outline</mat-icon>
                    </mat-form-field>
                  </div>
                </div>
                <h3 class="header--text">Featured Information</h3>
                <div fxLayout="row wrap">
                  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
                    <p class="header--desc">The following information appears on your featured profile.</p>
                  </div>
                </div>
                <div fxLayout="row wrap">
                  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" class="pad--r--lg">
                    <mat-form-field class="full-width about--txtarea">
                      <textarea matInput placeholder="About you*" value="Your professional summary, achievements, client experience" name="bioText" [formControl]="AddressForm.controls['bioText']"></textarea>
                      <div class="char--limit">0 / 500 chars</div>
                      <mat-icon matTooltip="Please enter bio text" matTooltipClass="llp--tooltip error" *ngIf="AddressForm.controls['bioText'].hasError('required') && AddressForm.controls['bioText'].touched"
                      class="red--alert">help_outline</mat-icon>
                    </mat-form-field>
                  </div>
                  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" formArrayName="awardsYears">
                      <h3 class="header--text fnt--16 mb-1">Awards and Organizations</h3>
  
                      <div fxLayout="row wrap" *ngFor="let award of awardsPoints.controls; let pointIndex = index"  [formGroupName]="pointIndex">
                        <div fxFlex.xs="100" fxFlex.sm="65" fxFlex.md="65" fxFlex.lg="65" fxFlex.xl="65" class="pad--r--lg">
                          <mat-form-field class="full-width">
                            <input matInput name="title" placeholder="Title" formControlName="title">
                          </mat-form-field>
                        </div>
                        <div fxFlex.xs="95" fxFlex.sm="30" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30" class="pr-2">
                          <mat-form-field class="full-width">
                            <input matInput name="year" placeholder="Year" formControlName="year">
                          </mat-form-field>
                        </div>
                        <div fxFlex.xs="5" fxFlex.sm="5" fxFlex.md="5" (click)="delete(pointIndex);" fxFlex.lg="5" fxFlex.xl="5" class="text-right">
                          <mat-icon class="mt-1 clr--red cursor-pointer">delete</mat-icon>
                        </div>
                      </div>
  
                     
                      <div fxLayout="row wrap" *ngIf="awardsPoints.length < 5">
                        <div fxFlex.xs="100">
                            <div class="add--new" (click)="addNewAo();">
                            <mat-icon>add_circle</mat-icon>
                            Add New
                          </div>
                        </div>
                      </div>
                    </div>
                </div>

                <h3 class="header--text fnt--16 mb-1">Social Media</h3>
                <div fxLayout="row wrap">
                  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" class="pad--r--lg"  formGroupName="socialMediaLinks">
                    <mat-form-field class="full-width">
                      <input matInput formControlName="facebook" placeholder="Facebook" value="{{socialMediaLinkss.facebook}}"  [formControl]="getFormGroup('socialMediaLinks').controls['facebook']">
                    </mat-form-field>
                    <mat-form-field class="full-width">
                      <input matInput formControlName="twitter" placeholder="Twitter" value="{{socialMediaLinkss.twitter}}"  [formControl]="getFormGroup('socialMediaLinks').controls['twitter']">
                    </mat-form-field>
                    <mat-form-field class="full-width">
                      <input matInput formControlName="linkedIn" placeholder="LinkedIn" value="{{socialMediaLinkss.linkedIn}}"  [formControl]="getFormGroup('socialMediaLinks').controls['linkedIn']">
                    </mat-form-field>
                  </div>
                
                  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" formArrayName="websiteLinks">
                    <h3 class="header--text fnt--16 mb-1">Websites</h3>
       
                  <!--  <div fxLayout="row wrap" *ngFor="let web of AddressForm.get('websiteLinks').controls; index as i">-->
                      <div fxLayout="row wrap" *ngFor="let web of weblinksPoints.controls; let i = index"  [formGroupName]="i">
                      <div fxFlex.xs="95" fxFlex.sm="95" fxFlex.md="95" fxFlex.lg="95" fxFlex.xl="95" class="pr-2">
                        <mat-form-field class="full-width">
                          <input matInput placeholder="URL"  formControlName="links">
                        </mat-form-field>
                      </div>
                      <div fxFlex.xs="5" fxFlex.sm="5" fxFlex.md="5" fxFlex.lg="5" fxFlex.xl="5" class="text-right">
                        <mat-icon class="mt-1 clr--red cursor-pointer" (click)="deleteWebsiteLinks(i);">delete</mat-icon>
                      </div>
                    </div>
                    <!--</div>        -->
                    <div fxLayout="row wrap" *ngIf="weblinksPoints.length < 5">
                      <div fxFlex.xs="100">
                        <div class="add--new" (click)="addWebsiteLinks();">
                          <mat-icon>add_circle</mat-icon>
                          Add New
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div fx.Flex="100" class="text-center mt--30">
                  <button mat-raised-button class="llp--secondary--btn mr-1" [routerLink]="'/advisor/dashboard'">Cancel</button>
                  <button mat-raised-button class="llp--primary--btn" [disabled]="AddressForm.invalid">Save</button>
                </div>
              </form>
            </div>
          </mat-tab>
          <mat-tab label="License & documents">
            <!-- License & documents 
             <form class="llp-form-wrapper"  [formGroup]="LicenseForm" (ngSubmit)="LicenseSubmit()" enctype="multipart/form-data">          
            -->
            <div class="business--information">
              <form class="llp-form-wrapper"  [formGroup]="LicenseForm" (ngSubmit)="LicenseSubmit()" enctype="multipart/form-data">
                <h3 class="header--text">License Information</h3>

                <div fxLayout="row wrap">
                  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" class="pad--r--lg">
                    <mat-form-field class="full-width">
                      <mat-label>Active license held*</mat-label>

                      <mat-select [formControl]="LicenseForm.controls['activeLicenceHeld']" multiple>
                        <mat-option *ngFor="let topping of activeLicenseList" [value]="topping">{{topping}}</mat-option>
                      </mat-select>
                      <mat-icon matTooltip="Please select active licence" matTooltipClass="llp--tooltip error" *ngIf="LicenseForm.controls['activeLicenceHeld'].hasError('required') && LicenseForm.controls['activeLicenceHeld'].touched"
                      class="red--alert">help_outline</mat-icon>
                    </mat-form-field>
                  </div>
                  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
                    <mat-radio-group aria-label="Select an option" class="llp-radio" [formControl]="LicenseForm.controls['agencyOversees']">
                      <div class="checkbox-label">What agency oversees your business?</div>
                      <mat-radio-button value="FINRA" class="" [checked]="profile.agencyOversees === 'FINRA'">FINRA</mat-radio-button>
                      <mat-radio-button value="SEC" class="" [checked]="profile.agencyOversees === 'SEC'">SEC</mat-radio-button>
                      <mat-radio-button value="Both" class="" [checked]="profile.agencyOversees === 'Both'">Both</mat-radio-button>
                    </mat-radio-group>
                  </div>
                </div>
                <div fxLayout="row wrap">
                  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" class="pad--r--lg">
                    <mat-form-field class="full-width">
                      <input matInput name="managingPrincipleName" placeholder="Who is your managing principle?" [formControl]="LicenseForm.controls['managingPrincipleName']">
                    </mat-form-field>
                  </div>
                  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
                    <mat-radio-group aria-label="Select an option" class="llp-radio" name="Producers" [formControl]="LicenseForm.controls['manageOtherProceducers']">
                      <div class="checkbox-label">Do you manage other products?</div>
                      <mat-radio-button (change)="showHowManyProducts(this)" value="1" class="" [checked]="profile.howManyProducers !== ''">Yes</mat-radio-button>
                      <mat-radio-button (change)="showHowManyProducts(this)" value="2" class="" [checked]="profile.howManyProducers === ''">No</mat-radio-button>
                      <mat-icon matTooltip="Please select option yes or no to manage products" matTooltipClass="llp--tooltip error" *ngIf="LicenseForm.controls['manageOtherProceducers'].hasError('required') && LicenseForm.controls['manageOtherProceducers'].touched"
                      class="red--alert">help_outline</mat-icon>
                    </mat-radio-group>
                    <mat-form-field class="full-width"  *ngIf="showHowManyProducer">
                      <input matInput name="howManyProducers" placeholder="If yes, how many?" [formControl]="LicenseForm.controls['howManyProducers']">
                    </mat-form-field>
                  </div>
                </div>

                <h3 class="header--text">Business Documents</h3>
                <div fxLayout="row">
                  <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="48" fxFlex.lg="48" fxFlex.xl="48">
                    <p class="header--desc upload--doc">Upload your business documents for verification for e.g. business license</p>                                   
                  </div>
                </div>
                
                <div fxLayout="row wrap">
                  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.lg="50" fxFlex.xl="50" class="pad--r--lg">
                      <div class="upload--buss--docs--sec">
                          <label>Upload your business documents</label>
                         <div class="upload--box fileupload-drop-zone"
                         ng2FileDrop
                         [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                         (fileOver)="fileOverBase($event)"
                         [uploader]="uploader">
                            <input type="file" name="advisorDocuments" ng2FileSelect [uploader]="uploader" multiple  accept="image/*" />     
                            <mat-icon class="cloud-icon">cloud_upload</mat-icon>
                            <div class="select--file">Select file from your computer</div>
                          </div>
                          <div class="file--details mb-1">Supported formats Doc, PDF, txt, JPEG, JPG, PNG</div>
                        </div>
                  </div>

                  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.lg="50" fxFlex.xl="50" *ngIf="advisorDocumentsList" >
                    <h3 class="header--text fnt--16">Uploaded documents</h3>
                    <mat-chip-list class="doc--list" *ngFor="let doc of advisorDocumentsList; index as i">
                        <mat-chip><a href="https://s3.amazonaws.com/llp-dev/advisorDocs/{{doc.tmpName}}" target="_blanck" >advisorDocumentsListadvisorDocume ntsListadvisor DocumentsListadvisorD ocumentsLis tadvisorDocumentsListadvisorDocumentsList</a><mat-icon matChipRemove  (click)="docDelete(i,doc.title,doc.tmpName)">close</mat-icon></mat-chip>
                    </mat-chip-list>
                  </div>

                  <mat-form-field class="full-width" *ngIf="advisorDocumentsHide">
                    <input matInput name="advisorDocuments" [formControl]="LicenseForm.controls['advisorDocuments']" >
                  </mat-form-field>
                  <small *ngIf="advisorDocumentsMissing" class="form-error-msg">{{invalidMessage}}</small>
              </div>
              
              <div class="progress" style="margin-bottom: 0;" *ngIf="uploader.getNotUploadedItems().length">
                 <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }">{{uploader.progress}}%</div>
                 
                 <mat-progress-bar class=""  color="primary" mode="Indeterminate"  [value]="uploader.progress"></mat-progress-bar>
              </div>
       
                <div fx.Flex="100" class="text-center mt--30">
                      <button mat-raised-button class="llp--secondary--btn mr-1"  [routerLink]="'/advisor/dashboard'">Cancel</button>
                      <button mat-raised-button class="llp--primary--btn" [disabled]="LicenseForm.invalid">Save</button>
                </div>
             </form>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </mat-sidenav-container>
</div>