<mat-card class="p-0 mb-1" *ngIf="urlData.lastThird == 'legacies'">
    <mat-card-title class="">
      <div class="card-title-text">Legacy Details</div>
      <mat-divider></mat-divider>
    </mat-card-title>
    <mat-card-content class="recent--update--section p-20">
      <mat-nav-list class="pt-0">
        <mat-list-item class="cust--user--details large--view">
          <div mat-list-avatar class="user--pic">
             <img src="{{profilePicture}}" />
          </div>
          <div mat-line class="user--name">
            <h5>{{customerData?.firstName}} {{customerData?.lastName}}</h5>
            <div class="sta--m">
              <mat-icon class="mat-icon material-icons" role="img">star</mat-icon> Standard member
            </div>
            <p class="mb-0">Last Login:
              <span>{{customerData?.last_logged_in_on | date: 'yyyy/MM/dd'}}</span>
            </p>
          </div>
          <button mat-icon-button #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu1">
            <mat-icon>more_vert</mat-icon>
          </button>
        </mat-list-item>
        <mat-menu #menu1="matMenu" xPosition="before">
          <button mat-menu-item>
            <mat-icon>file_download</mat-icon> Download All
          </button>
          <button (click)="remove()" mat-menu-item class="reject">
            <mat-icon>cancel</mat-icon> Remove Myself as a {{userAs}}
          </button>
          <button mat-menu-item>
            <mat-icon>monetization_on</mat-icon> Renew Subscription
          </button>
          <button mat-menu-item>
            <mat-icon>markunread</mat-icon>Connect for Help
          </button>
        </mat-menu>
      </mat-nav-list>
    </mat-card-content>
  </mat-card>