<div class="ll--modal--header">
  Legacy Settings
  <button class="modal--close" [mat-dialog-close]="">
    <mat-icon class="icon--cross">cancel</mat-icon>
  </button>
</div>

<form class="llp-form-wrapper" (ngSubmit)="SettingsFormSubmit(SettingsForm.value)">
  <div class="ll--modal--body idbox--modal--hgt">
    <div fxLayout="row wrap" class="pt-1">
      <div fxFlex.xs="100">
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" class="">
          <mat-radio-group class="llp-radio mb-0 mt-1" [formControl]="SettingsForm.controls['legacySetting']">
            <div class="checkbox-label">You want to create your own legacy?</div>
            <mat-radio-button value="yes" [checked]="SettingsForm.controls['legacySetting'].value=='yes'">Yes</mat-radio-button>
            <mat-radio-button value="no" [checked]="SettingsForm.controls['legacySetting'].value=='no'">No</mat-radio-button>
          </mat-radio-group>
        </div>

      </div>
    </div>
  </div>
  <div class="ll--modal--footer text-center">
    <button mat-raised-button class="llp--primary--btn" [disabled]="this.settingFlag=='yes' || !SettingsForm.valid">Save</button>
  </div>
</form>