<div class="ll--modal--header">
  Legacy Life Plans Subscription
  <button class="modal--close" [mat-dialog-close]="">
    <mat-icon class="icon--cross">cancel</mat-icon>
  </button>
</div>
  <div class="ll--modal--body idbox--modal--hgt">
    <div fxLayout="row wrap" class="pt-1">
      <div fxFlex.xs="100">
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" class="">
             Please subscribe to Legacy Life plans to access.        
        </div>
      </div>
    </div>
  </div>
  <div class="ll--modal--footer text-center">
    <div class="manage--cancel">
      <button mat-raised-button class="llp--primary--green--btn" [routerLink]="'/customer/customer-subscription'">Purchase Subscription</button>
    </div>
  </div>
