<div class="shop-wrap llp--content--wrapper" fxLayout="row" fxLayoutWrap="wrap">

  <div class="full-width">


    <mat-card class="empty--section p-0">
      <mat-card-header class="m-0 ">
        <mat-card-title class="m-0">Business Details</mat-card-title>

      </mat-card-header>

      <div class="details--wrapper mb-1">
        <div class="details--header">
          <div class="d-flex align--items--center">
              <mat-icon>person</mat-icon>Personal Profile
            </div>
        </div>

          
        <div class="details--body">
          <div fxLayout="row wrap" class="mb--10">
            <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
              <label class="strong--label">Date of Birth:</label>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
              <label class="normal--label">22 June 1989</label>
            </div>
          </div>
                      
        </div>
      </div>



    </mat-card>
  </div>
</div>