<header class="auth-header">
  <img src="assets/images/arkenea/small-logo.png" alt="">
</header>

<div class="page-wrap mat-bg-primary">
  <div class="session-form-hold">
    <br />
    <br />
    <br />
    <div class="login-sub-wrapper">
      <mat-card-content>
        <div class="pass--reset--succ--wrapper">
          <h2 class="login-header-text m-0"></h2>
          <img src="assets/images/arkenea/pass-reset-succ.png" alt="">
          <p>Reset password link has been sent to your email. Please click here to
            <a [routerLink]="'/customer/signin'">login</a> to your account.</p>
        </div>

      </mat-card-content>
    </div>

    <div class="login-footer">
      &nbsp;
    </div>
  </div>

</div>

<footer class="auth-footer">
  <p>© 2019 Legacy Life Plans</p>
</footer>