.pass--reset--succ--wrapper{
    text-align: center;
    min-height: 404px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.pass--reset--succ--wrapper img{
    margin: 0 auto;
}

.pass--reset--succ--wrapper p{
    font-size: 20px;
    color: #000;
    margin: 0;
}
.pass--reset--succ--wrapper p a{
    color: #c72128;
}