<header class="auth-header">
  <img src="assets/images/arkenea/small-logo.png" alt="">
</header>

<div class="page-wrap mat-bg-primary">
  <div class="session-form-hold">

    <div class="login-sub-wrapper">
      <!-- <mat-progress-bar mode="determinate" class="session-progress"></mat-progress-bar> -->
      <mat-card-content>
        <div class="congo--wrapper">
          <div class="con--image" style="background-image: url('assets/images/arkenea/congratulations.png')">
            <span>Congratulations!</span>
          </div>
          <p>30 days free access to all features has been unlocked 
              for your account!
          </p>
        </div>
        <div class="text-center pb-1">
          <h2 class="login-header-text m-0">Update Your Profile Details </h2>
        </div>
        <div class="profile--pic">
          <div class="pic--box" style="background-image: url('assets/images/arkenea/uri.jpg')"></div>
          <mat-icon class="edit--pic" title="edit user image">edit</mat-icon>
        </div>
        <form class="llp-form-wrapper">

          <div class="row wrap">

            <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
              <div class="pb-1">
                <mat-form-field class="full-width">
                  <input matInput name="username" placeholder="First Name" value="John">
                </mat-form-field>
              </div>
            </div>

            <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
              <div class="pb-1">
                <mat-form-field class="full-width">
                  <input matInput name="username" placeholder="Last Name" value="Smith">
                </mat-form-field>
              </div>
            </div>
          </div>
          <mat-form-field class="full-width">
            <input matInput placeholder="Business phone" type="tel" value="45781146" class="example-right-align">
            <span matPrefix>+1</span>
            <span matSuffix>.00</span>
          </mat-form-field>


          <div>
              <mat-form-field  class="full-width llp-datepicker">
                  <input matInput [matDatepicker]="dp" placeholder="Date of Birth" [formControl]="date">
                  <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                  <mat-datepicker #dp
                                  startView="multi-year"
                                  (yearSelected)="chosenYearHandler($event)"
                                  (monthSelected)="chosenMonthHandler($event, dp)"
                                  panelClass="example-month-picker">
                  </mat-datepicker>
                </mat-form-field>
          </div>

          <mat-form-field class="full-width">
            <input matInput name="username" placeholder="City" value="">
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-select placeholder="State">
              <mat-option value="option">Select a state</mat-option>
              <mat-option value="option">Maharashtra</mat-option>
              <mat-option value="option">Goa</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="full-width">
            <input matInput name="username" placeholder="Zip code" value="12345">
          </mat-form-field>



          <button mat-raised-button class="llp--primary--btn full-width form--action--btn mt-1">Update and Proceed</button>


          <div class="text-center bot-txt">
            <p>
              <a> Skip</a>
            </p>
          </div>

        </form>
      </mat-card-content>
    </div>


    <div class="login-footer">
      &nbsp;
    </div>

  </div>

</div>

<footer class="auth-footer">
  <p>© 2019 Legacy Life Plans</p>
</footer>