<header class="auth-header">
  <img src="assets/images/arkenea/small-logo.png" alt="">
</header>

<div class="page-wrap mat-bg-primary">
  <div class="session-form-hold">

    <div class="login-sub-wrapper reset--pass-wrapper">
      <!-- <mat-progress-bar mode="determinate" class="session-progress"></mat-progress-bar> -->
      <mat-card-content>
        <div class="text-center pb-1">
          <h2 class="login-header-text m-0">Reset Password</h2>
        </div>
        <form class="llp-form-wrapper">
          <div class="mt-1">
            <mat-form-field class="full-width">
              <input matInput type="password"placeholder="New Password" value="">
            </mat-form-field>

            <mat-form-field class="full-width">
              <input matInput type="password"placeholder="Confirm Password" value="">
            </mat-form-field>
          </div>
          <button [routerLink]="'/auth/password-reset-successful'" mat-raised-button class="llp--primary--btn full-width reset--pass--btn mb-0">Update Password</button>
        </form>
      </mat-card-content>
    </div>

    <div class="login-footer">
      &nbsp;
    </div>



  </div>

</div>

<footer class="auth-footer">
  <p>© 2019 Legacy Life Plans</p>
</footer>