<div class="page-wrap height-100 mat-bg-primary">
  <div class="session-form-hold">
    <mat-progress-bar mode="determinate" class="session-progress"></mat-progress-bar>
    <mat-card>
      <mat-card-content>
        <div class="text-center pb-1">
          <img src="assets/images/logo-full.png" alt="" class="mb-05">
          <p class="text-muted m-0">New password will be sent to your email address</p>
        </div>
        <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">

          <div class="">
            <mat-form-field class="full-width">
              <input
                matInput
                name="password"
                type="password"
                required
                [formControl]="resetForm.controls['password']"
                placeholder="Password"
                value="">
            </mat-form-field>
            <small 
              *ngIf="resetForm.controls['password'].hasError('required') && resetForm.controls['password'].touched" 
              class="form-error-msg"> Password is required </small>
            <small 
            *ngIf="resetForm.controls['password'].hasError('pattern') && resetForm.controls['password'].touched" 
            class="form-error-msg"> Password must be at least 6 characters long, alpha numeric with at least one-special character </small>
          </div>

          <div class="">
            <mat-form-field class="full-width">
              <input
                matInput
                name="password"
                type="password"
                required
                [formControl]="resetForm.controls['confirmPassword']"
                placeholder="Confirm Password"
                value="">
            </mat-form-field>
            <small 
              *ngIf="resetForm.controls['confirmPassword'].hasError('required') && resetForm.controls['confirmPassword'].touched" 
              class="form-error-msg"> Confirm new password </small>
            <small 
            *ngIf="resetForm.controls['confirmPassword'].hasError('equalTo') && resetForm.controls['confirmPassword'].touched" 
            class="form-error-msg"> Password should match </small>
          </div>

          <button mat-raised-button class="mat-primary full-width mb-1" [disabled]="resetForm.invalid">Submit</button>
          <div class="text-center">
            <a [routerLink]="'/auth/advisor/signin'" class="mat-primary text-center full-width">Sign in</a>
            <span fxFlex></span>
            <a [routerLink]="'/sessions/signup'" class="mat-primary text-center full-width">Create a new account</a>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>

