<div class="header-topnav mat-elevation-z2 llp--topnavbar">
  <div class="container">
    <div class="topnav">
      <!-- App Logo -->
      <div class="topbar-branding">
        <img routerLink="/pre-advisor" src="assets/images/arkenea/small-logo.png" alt="" class="app-logo">
      </div>

      <ul class="menu header--ul" *ngIf="!layoutConf.isMobile">
        <!-- <li *ngFor="let item of menuItems; let i = index;">
          <div *ngIf="item.type !== 'separator'" routerLinkActive="open">
            <a matRipple routerLink="/{{item.state}}" *ngIf="item.type === 'link'">
              <mat-icon>{{item.icon}}</mat-icon>
              {{item.name | translate}}
            </a>      
          </div>
        </li> -->

        <li>
          <a matRipple routerLink="/customer">
            <mat-icon class="home">home</mat-icon> Home</a>
        </li>
        <li>
          <a matRipple routerLink="/customer/trustees">
            <mat-icon class="icon-trustees">people</mat-icon> Trustees</a>
        </li>
        <li>
          <a matRipple routerLink="/customer/professionals">
            <mat-icon class="icon-professionals">perm_identity</mat-icon> Professionals</a>
        </li>

      </ul>
      <span fxFlex></span>
      <!-- End Navigation -->


      <!-- invite -->

      <button mat-button>
        <mat-icon>search</mat-icon>
      </button>

      <button mat-raised-button class="invite--btn">
        <mat-icon>markunread</mat-icon>Invite</button>

      <!-- User profile pic -->
      <div class="logout--wrapper" mat-icon-button [matMenuTriggerFor]="accountMenu">
        <div class="logout--user--image">
          <img src="assets/images/arkenea/Vicky-Kaushal-1.jpg" alt="">
        </div>
      </div>

      <mat-menu #accountMenu="matMenu">
        <button mat-menu-item [routerLink]="['/profile/overview']">
          <mat-icon>account_box</mat-icon>
          <span>Customer Profile</span>
        </button>
        <button mat-menu-item [routerLink]="['/profile/settings']">
          <mat-icon>settings</mat-icon>
          <span>Customer Account Settings</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Customer Disable alerts</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Customer Sign out</span>
        </button>
      </mat-menu>
      <!-- Mobile screen menu toggle -->
      <button mat-icon-button class="mr-1" (click)="toggleSidenav()" *ngIf="layoutConf.isMobile">
        <mat-icon>menu</mat-icon>
      </button>

    </div>
  </div>
</div>