<div class="header-topnav mat-elevation-z2 llp--topnavbar">
  <div class="container">
    <div class="topnav">
      <!-- App Logo -->
      <div class="topbar-branding">
        <img routerLink="/pre-advisor" src="assets/images/arkenea/small-logo.png" alt="" class="app-logo">
      </div>

      <ul class="menu header--ul" *ngIf="!layoutConf.isMobile">
        <!-- <li *ngFor="let item of menuItems; let i = index;">
          <div *ngIf="item.type !== 'separator'" routerLinkActive="open">
            <a matRipple routerLink="/{{item.state}}" *ngIf="item.type === 'link'">
              <mat-icon>{{item.icon}}</mat-icon>
              {{item.name | translate}}
            </a>      
          </div>
        </li> -->

        <li>
          <a matRipple routerLink="/customer">
            <mat-icon class="home">home</mat-icon> Home</a>
        </li>
        <li>
          <a matRipple routerLink="/customer/trustees">
            <mat-icon class="icon-trustees">people</mat-icon> Trustees</a>
        </li>
        <li>
          <a matRipple routerLink="/customer/professionals">
            <mat-icon class="icon-professionals">perm_identity</mat-icon> Professionals</a>
        </li>
        <li class="more--link">
          <a mat-button [matMenuTriggerFor]="afterMenu1">
            <mat-icon>more_horiz</mat-icon> More </a>
          <mat-menu #afterMenu1="matMenu" class="more--options">
            <button mat-menu-item>
              <mat-icon>list
              </mat-icon>
              <span>To dos </span>
            </button>
            <button mat-menu-item>
              <mat-icon>book</mat-icon>
              <span>Coach’s Corner</span>
            </button>
          </mat-menu>
        </li>

      </ul>
      <span fxFlex></span>
      <!-- End Navigation -->


      <!-- invite -->

      <button mat-button class="top--search--btn">
        <mat-icon>search</mat-icon>
      </button>

      <button mat-raised-button class="invite--btn">
        <mat-icon>markunread</mat-icon>Invite</button>

      <!-- User profile pic -->
      <div class="logout--wrapper" mat-icon-button [matMenuTriggerFor]="accountMenu">
        <div class="logout--user--image">
          <img src="assets/images/arkenea/Vicky-Kaushal-1.jpg" alt="">
        </div>
      </div>

      <mat-menu #accountMenu="matMenu" class="llp--menu--droupdown" xPosition="before">
        <button class="get--feature" mat-menu-item [routerLink]="['/profile/overview']">
          <mat-icon>settings</mat-icon>
          <span>Get Featured</span>
        </button>
        <button mat-menu-item [routerLink]="['/customer/account-setting']">
          <mat-icon>settings</mat-icon>
          <span>Account Settings</span>
        </button>
        <button mat-menu-item>
          <mat-icon>monetization_on</mat-icon>
          <span>Payment</span>
        </button>
        <button mat-menu-item [routerLink]="['/sessions/signin']">
          <mat-icon>exit_to_app</mat-icon>
          <span>Log out</span>
        </button>
      </mat-menu>
      <!-- Mobile screen menu toggle -->
      <button mat-icon-button class="llp--menu--btn" (click)="toggleSidenav()" *ngIf="layoutConf.isMobile">
        <mat-icon>menu</mat-icon>
      </button>

    </div>
  </div>
</div>  