@import 'llp-global-styles.scss';

/*-- For header (start here) --*/
.auth-header{
    display: flex;
    align-items: center;
    padding: 9px 5px;
    box-shadow: 0 0 12px #7b7473;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99999;
    background: #fff;

    img{
        margin: 0 auto;
    }
}

.auth-footer{
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 19px 5px;
    background: #f6f7f7;
    width: 98.9%;
    color: #666;
    text-align: center;
    border-top: 1px solid #e4e1e1;
    p{
        margin: 0;
    }

}
.login-sub-wrapper{
    border: 1px solid #d1dbde;
    background: #fff;
    border-radius: 4px;
    padding: 35px 40px;

    .login-header-text{
        font-size: 28px;
        color: #222324;
    }
    .login-header-desc{
        font-size: 20px;
        color: $clr--4;
        margin-top: 30px;
        margin-bottom: 0;
    }
}
.login-footer{
    margin-top: 30px;
    text-align: center;
    font-size: 16px;
    color: #000;
    a{
        color: #c72128;
    }
}
.otp-sec{
    display: flex;
    flex-direction: column;
    position: relative;

    .otp-note{
        color: $clr--4;
        font-size: 16px;
        line-height: 25px;
        margin-bottom: 10px;
    }
    .resend-otp{
        position: absolute;
        right: 0;
        top: 0;
        color: $clr--2;
        font-size: 16px;
    }
}

html.llp--auth--wrapper{
    height: auto !important;
    min-height: 100% !important;
    position: relative !important;
    overflow: auto !important;
    background: #f6f7f7 !important;

    &.cdk-global-scrollblock{
        body{
            overflow:  hidden !important;
        }
    }
} 

body.llp--auth--wrapper{
    height: auto !important;
    position: initial !important;
    overflow: auto !important;
    margin-bottom: 57px;
    margin-top: 63px;
}

body{
    .llp--topnavbar{
        &.header-topnav{
            .topbar-branding{
                height: 60px;
                margin: 0;
                padding: 0;
                display: flex;
                align-items: center;
                img{
                    height: auto;
                    cursor: pointer;
                }
            }
            .topnav{
                ul{
                    &.menu{
                        li{
                            div{
                                &.open{
                                    a{
                                        color: $clr--2;
                                        border: none;
                                    }
                                }
                            }
                        }
                    }
                    &.header--ul{
                        margin-left: 35px;
                        padding: 0;
                        li{
                            a{
                                font-size: 16px;
                                color: $clr--3;
                                padding: 13px 27px;
                                &.active--link{
                                    color: #c72128;
                                }

                                .home{
                                    font-size: 20px;
                                    width: 27px;
                                }
                                .icon-trustees{
                                    font-size: 21px;
                                    width: 30px;
                                }
                                .icon-professionals{
                                    font-size: 21px;
                                    width: 27px;
                                }
                            }
                            &.more--link{
                                a{
                                    &::after{
                                        content: '';
                                    }
                                }
                            }
                        }
                    }
                }
            }           
            .logout--wrapper{
                width: 35px;
                height: 35px;
                position: relative;
                .logout--user--image{
                    width: 35px;
                    height: 35px;
                    background-color: #e6e7ec;
                    line-height: 48px;
                    text-align: center;
                    position: relative;
                    border-radius: 50%;
                    overflow: hidden;
                    img{
                        max-width: 100%;
                        max-height: 100%;
                        height: auto;
                        cursor: pointer;
                    }
                }
            }
            .llp--menu--btn{
                padding: 0;
                margin-left: 15px;
            }
        }
        .top--search--btn{
            padding: 0px 20px;
            height: 34px;
            .mat-icon{
                height: 30px;
                width: 30px;
                font-size: 30px;
            }
        }
        .invite--btn{
            background-color: $clr--2;
            color: $clr--1;
            height: 32px;
            margin: 0 30px 0 5px;
            line-height: 26px;
            padding: 3px 20px;

            .mat-button-wrapper{
                line-height: 26px;
                .mat-icon{
                    font-size: 17px;
                    height: 20px;
                    margin-right: 8px;
                    width: 15px;
                }
            }
        }
    }
}    


// Custome Container 
.llp--container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}
.mat-form-field-prefix {
    width: 40px;
    font-size: 16px;
    color: #222324;
}
.no-mar{
    .mat-form-field-wrapper{
        margin-bottom: 0 !important;
    }
} 


/* -- 
    left--panel view css (start here)
------------------------------------------*/
body{
    .llp--toggle-btn{
        display: none;
    }
    .llp--content--wrapper{
        margin: 15px 0 0 0;
    }
    .llp--left--panel--view{
        .llp--menu--list{
            width: 243px;
            padding-right: 15px;
        }
        .mat-drawer-side{
            border-right: none;            
        }
        .shop-filters-wrap{
            &.llp--left--panel{
                margin-top: 15px;
                border-radius: 2px;
                padding: 0;

                .shadow--sec{
                    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
                    margin: .333333rem;

                    .mat-expansion-panel-spacing{
                        margin: 0;
                        border-radius: 0;
                        .mat-expansion-panel-header{
                            background-color: $clr--2;
                            header{
                                color: $clr--1 !important;
                            }
                            .mat-expansion-indicator{
                                &::after{
                                    color: $clr--1;
                                    margin-top: -12px;
                                }
                            } 
                        }
                    }
                    .mat-expansion-panel-header{
                        border-radius: 0;
                        background-color: $clr--1;   
                        padding: 0 10px 0 20px;    
                        margin: 0;              
                        .mat-content{
                            .mat-expansion-panel-header-title{
                                margin: 0;
                                header{                    
                                    display: flex;
                                    color: $clr--3;
                                    align-items: center;
                                    font-size: 18px;
                                    font-family: $font--lato--bold;
                                }
                            }
                        }
                        &:hover{
                            background-color: $clr--2 !important;   
                            header{
                                color: $clr--1 !important;
                            }
                            .mat-expansion-indicator{
                                &::after{
                                    color: $clr--1;
                                }
                            }
                        }
                        .mat-expansion-indicator{
                            &::after{
                                color: $clr--3;
                            }
                        }                       
                    }
                   
                    .mat-expansion-panel-body{
                        padding: 0;
                    }
                    
                    
                }
               
              
                .legacy--list{
                    list-style-type: none;
                    li{
                        a{
                            padding: 5px 16px;
                            display: flex;
                            align-items: center;
                            border-bottom: 1px solid $clr--15;
                            min-height: 34px;
                            font-size: 14px;
                            color: $clr--3;
                            line-height: 22px;
                            position: relative;

                            .icon-file{
                                font-size: 21px;
                                width: 34px;
                                height: 16px;                                                
                            }

                            .active--right{
                                position: absolute;
                                right: 4px;
                                top: 13px;
                                height: 20px;
                                width: 20px;
                                font-size: 20px;
                                display: none;
                            }
                        }
                        &:hover{
                            a{
                                color: $clr--2;
                                .active--right{
                                    display: block;
                                }
                                
                            }
                        }
                    }
                }
            }               
        }
    }
}


/* -- 
    left--panel view css (end here)
------------------------------------------*/

/* -- 
   back to top css (start here)
------------------------------------------*/
.back--to--top{ 
    width: 67px;
    height: 67px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: #c72128;
    color: #fff;
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 99999;
    
    .mat-icon{
        height: 40px;
        width: 40px;
        font-size: 40px;
    }
}

/* -- 
   back to top css (end here)
------------------------------------------*/


/* -- 
   Loading css (Start here)
------------------------------------------*/

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing{
    background: rgba(222, 215, 215, 0.3);
}
.cdk-global-overlay-wrapper{
    app-app-loader{
        .mat-dialog-content{
            min-height: 97px;
        }        
    }
    // .mat-dialog-container{
    //     box-shadow: none !important;
    //     background: transparent !important;
    // }
}
.egret-indigo .mat-progress-spinner circle, .egret-indigo .mat-spinner circle{
    stroke: $clr--2 !important;
    stroke-width: 5% !important;
}
.mat-progress-spinner{
    width: 80px !important;
    height: 80px !important;
    svg{
        width: 80px !important;
        height: 80px !important;
    }
}

/* -- 
   Loading css (end here)
------------------------------------------*/

/* -- 
    Media Query (start here)
------------------------------------------*/
@media (max-width: 374px){
    .mat-radio-group.llp-radio .mat-radio-button {
        display: block;
        margin: 0 0 10px 0;
    }
}
@media (max-width: 639px){
    .login-sub-wrapper{
        padding: 25px;
    }
    .login-sub-wrapper .login-header-text {
        font-size: 23px;
    }
    .login-sub-wrapper .login-header-desc{
        font-size: 17px;
    }
    .const--height {
        height:234px !important;
    }
    .admin-note{
        margin-top: 20px !important;
    }
    .know--more--sec h3{
        font-size: 23px !important;
    }
    .know--more--sec p{
        font-size: 14px !important;
    }
    .know--more--sec{
        height: 291px !important;
    }
    .mat-form-field-infix{
        width: 100% !important;
    }
   
}


@media only screen and (max-width: 599px) {
    body .llp--toggle-btn{
        display: block;
    }
    body .llp--left--panel--view {
        padding: 0;
    }
    body .llp--left--panel--view .shop-filters-wrap.llp--left--panel{
        margin-top: 0;
        background-color: $clr--1;
    }
    body .llp--left--panel--view .llp--menu--list{
        padding: 0;
        box-shadow: none !important;
    }
    .llp--content--wrapper{
        padding: 0 15px;
    }
    body .llp--left--panel--view .shop-filters-wrap.llp--left--panel .shadow--sec{
        margin: 0;
    }
    body .llp--topnavbar .invite--btn{
        display: none
    }
    body .llp--topnavbar.header-topnav .topbar-branding img{
        max-width: inherit;
    }
   
}
@media only screen and (min-width: 600px) and (max-width: 959px){
    body .llp--toggle-btn{
        display: block;
    }
    body .llp--left--panel--view {
        padding: 0;
    }
    body .llp--left--panel--view .shop-filters-wrap.llp--left--panel{
        margin-top: 0;
        background-color: $clr--1;
    }
    body .llp--left--panel--view .shop-filters-wrap.llp--left--panel .shadow--sec{
        margin: 0;
    }
    body .llp--left--panel--view .llp--menu--list{
        padding: 0;
        box-shadow: none !important;
    }
    .llp--content--wrapper{
        padding: 0 15px;
    }
    body .llp--topnavbar .invite--btn{
        display: none
    }
}
@media only screen and (min-width: 960px) and (max-width: 979px){}
@media only screen and (min-width: 980px) and (max-width: 1279px){
    body .llp--topnavbar.header-topnav .topnav ul.header--ul li a {
        padding: 13px 15px;
    }
}
@media only screen and (min-width: 1280px) and (max-width: 1440px){}
@media only screen and (min-width: 1441px) and (max-width: 1550px){}

/* -- 
    Media Query (end here)
------------------------------------------*/