
/* ---

This is SCSS, You can add global styles to this file, and also import other style files 

Note: Please do not add important anywhere. If any concern feel free to ask. 

--- */

.ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell{
    display: flex !important;
    align-items: center !important
}
// ::ng-deep  .admn--user--details--wrapper{
//     box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12) !important;
//     margin-right: 15px;
//    .mat-card{
//         .mat-card-content{
//             border: none;
//         }
//     } 
// }