
/*! LLP Fonts (start here) */
@font-face {
    font-family: 'latoregular';
    src: url('assets/llp-fonts/lato-regular_0-webfont.woff2') format('woff2'),
         url('assets/llp-fonts/lato-regular_0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latolight';
    src: url('assets/llp-fonts/lato-lig_0-webfont.woff2') format('woff2'),
         url('assets/llp-fonts/lato-lig_0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latoblack';
    src: url('assets/llp-fonts/lato-black_0-webfont.woff2') format('woff2'),
         url('assets/llp-fonts/lato-black_0-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'latomedium';
    src: url('assets/llp-fonts/lato-medium_0-webfont.woff2') format('woff2'),
         url('assets/llp-fonts/lato-medium_0-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'latobold';
    src: url('assets/llp-fonts/lato-bold_0-webfont.woff2') format('woff2'),
         url('assets/llp-fonts/lato-bold_0-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'latoheavy';
    src: url('assets/llp-fonts/lato-heavy_0-webfont.woff2') format('woff2'),
         url('assets/llp-fonts/lato-heavy_0-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'latoitalic';
    src: url('assets/llp-fonts/lato-italic_0-webfont.woff2') format('woff2'),
         url('assets/llp-fonts/lato-italic_0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal; 
}


@font-face {
    font-family: 'latohairline';
    src: url('assets/llp-fonts/lato-hai_0-webfont.woff2') format('woff2'),
         url('assets/llp-fonts/lato-hai_0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latoheavy_italic';
    src: url('assets/llp-fonts/lato-heavyitalic_0-webfont.woff2') format('woff2'),
         url('assets/llp-fonts/lato-heavyitalic_0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latolight_italic';
    src: url('assets/llp-fonts/lato-ligita_0-webfont.woff2') format('woff2'),
         url('assets/llp-fonts/lato-ligita_0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latobold_italic';
    src: url('assets/llp-fonts/lato-bolditalic_0-webfont.woff2') format('woff2'),
         url('assets/llp-fonts/lato-bolditalic_0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latoblack_italic';
    src: url('assets/llp-fonts/lato-blackitalic_0-webfont.woff2') format('woff2'),
         url('assets/llp-fonts/lato-blackitalic_0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latohairline_italic';
    src: url('assets/llp-fonts/lato-haiita_0-webfont.woff2') format('woff2'),
         url('assets/llp-fonts/lato-haiita_0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*! LLP Fonts (end here) */
body,p,a {
    font-family: 'latoregular' !important;
    color: #222324;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    font-family: 'latobold';
}

// font's veriable
$font--lato--regular: latoregular;
$font--lato--light: latolight;
$font--lato--medium: latomedium;
$font--lato--bold: latobold;

// color's veriable
$clr--1: #fff;
$clr--2: #c72128;
$clr--3: #222324;
$clr--4: #000;
$clr--5: #727a33;
$clr--6: #828385;


@mixin primary-btn-style{
    font-size: 16px  ;
    font-family: $font--lato--regular;
    border-radius: 20px;
    padding: 3px 20px  ;
    height: 42px; 
}

// primary red button
body .mat-button, 
body .mat-raised-button, 
body .mat-icon-button, 
body .mat-stroked-button, 
body .mat-flat-button, 
body .mat-fab, 
body .mat-mini-fab{
    @include primary-btn-style;
}

.llp--primary--btn{
    color: $clr--1 !important;
    background-color: $clr--2 !important;
}


// Checkbox
.mat-checkbox{
    .mat-checkbox-inner-container{
        margin-right: 15px;
    }
    .mat-checkbox-frame{
        border-color: $clr--5 !important;
    }
    .mat-checkbox-label{
        color: $clr--4;
        font-size: 16px;
    }
    .mat-checkbox-ripple{
        .mat-ripple-element{
            background-color: $clr--5 !important;
        }   
    }
    &.mat-checkbox-checked{
        .mat-checkbox-background{
            background-color: $clr--5 !important;
        }
    }
}

// Form Element
body{
    form{
        &.llp-form-wrapper{
            .mat-form-field{
                .mat-form-field-label {
                    font-size: 16px;
                    color: $clr--6;
                }
            }
            &.mat-form-field-invalid{
                color: $clr--2;
            }   
            .mat-form-field-wrapper{
                margin-bottom: 15px;
            }  
            .mat-form-field-infix{
                .mat-input-element{
                    font-size: 16px;
                    color: $clr--3;
                }
                .mat-form-field-label-wrapper{
                    top: -16px;
                }
            } 
            .form--action--btn{
                margin: 30px 0;
            }
            .remember-wrap{
                display: flex;
                justify-content: space-between;
                align-items: center;

                a{
                    font-size: 16px;
                    color: $clr--2;
                    
                }
            } 
            .bot-txt{
                p{
                    margin: 0;
                    font-size: 16px;
                    color: $clr--4;
                    a{
                        color: $clr--2;
                    }
                }
            } 
        }    
    }
}
