@import 'llp-global-styles.scss';
/* ---

This is SCSS, You can add global styles to this file, and also import other style files 

Note: Please do not add important anywhere. If any concern feel free to ask. 

--- */

.ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell{
    display: flex !important;
    align-items: center !important
}
// ::ng-deep  .admn--user--details--wrapper{
//     box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12) !important;
//     margin-right: 15px;
//    .mat-card{
//         .mat-card-content{
//             border: none;
//         }
//     } 
// }

.admin--user--letter{
    width: 45px !important;
    height: 45px !important;
    background-color: #c72128 !important;
    line-height: 42px !important;
    text-align: center !important;
    position: relative !important;
    border-radius: 50% !important;
    overflow: hidden !important;
    border: 1px solid #c72128 !important;
    padding: 0 !important;
    color: #fff !important;
    font-size: 17px !important;
    font-family: $font--lato--bold !important;
}
.app-admin-container .rightside-content-hold.admin--right--section{
    height: calc(100ch - 232px);
}