<div class="row" *ngIf="aceessSection">

  <form class="llp-form-wrapper">
    <mat-form-field class="no-mar full-width">
      <input matInput placeholder="Type to search" value="" (keyup)='updateFilter($event)'>
    </mat-form-field>
  </form>

  <mat-card class="admin--users--table" [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}">
    <mat-card-content class="p-0" *ngIf="processing">
      <ngx-datatable class="material ml-0 mr-0" [rows]="rows" [columnMode]="'flex'" [headerHeight]="50" [footerHeight]="50" [limit]="10"
        [messages]="my_messages" [rowHeight]="'auto'">
        <ngx-datatable-column [resizeable]="false" headerClass="tbl--header" name="Email" prop="username" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row?.username }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [resizeable]="false" name="Email Verified" prop="status" [flexGrow]="1">
          <ng-template class="word--wrap--wrap" let-row="row" ngx-datatable-cell-template>
            {{ row?.emailVerified ? 'Yes' : 'No' }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [resizeable]="false" name="Name" prop="firstName" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row?.firstName ? row?.firstName : row?.lastName ? +' ' +row?.lastName : "N/A"}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [resizeable]="false" name="State" prop="state" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row?.state ? row?.state : '--'  }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [resizeable]="false" prop="city" name="City" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row?.city ? row?.city : '--' }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [resizeable]="false" prop="zipcode" name="Zipcode" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row?.zipcode ? row?.zipcode : '--'  }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [resizeable]="false" prop="end_date" name="Subscription Status" [flexGrow]="1.1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row?.subscriptionData ? row?.subscriptionData.status : "--"}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [resizeable]="false" prop="end_date" name="Expiry Date" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row?.subscriptionData ? row?.subscriptionData.endDate : "--"}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [resizeable]="false" name="Own legacy count" [flexGrow]="1.1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            0
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [resizeable]="false" name="Status" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <mat-chip mat-sm-chip class="active--status--chip" *ngIf="row.status != 'Pending'" [color]="'primary'" [selected]="row.status"
              (click)="statusChange(row)" title="Status">{{row.status}}</mat-chip>
            <mat-chip mat-sm-chip *ngIf="row.status == 'Pending'" [color]="'primary'" title="Status">{{row.status}}
            </mat-chip>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [resizeable]="false" name="Actions" [sortable]="false" [draggable]="false" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <a mat-icon-button mat-sm-button color="primary" class="mb-1" title="View" [routerLink]="['/admin/userview', row._id]">
              <mat-icon style="font-size: 27px;">remove_red_eye</mat-icon>
            </a>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </mat-card-content>
  </mat-card>
</div>
<div class="row" *ngIf="!aceessSection">
  <p>You don't have permission to this section.</p>
</div>