<div class="container subscription--wrapper">
  <button mat-raised-button class="llp--secondary--btn back--btn tran--bg backBtn--with--icon"
    [routerLink]="'/advisor/account-setting'">
    <mat-icon>arrow_back</mat-icon> Back
  </button>
  <mat-card class="p-0">
    <mat-card-title class="">
      <div class="card-title-text">Subscription Plans</div>
      <mat-divider></mat-divider>
    </mat-card-title>
    <mat-card-content>
      <div class="plans--wrapper">
        <div fxLayout="row wrap">

          <div fxFlex="100">
            <div class="plan--text">
              <div class="plan--header">
                <img alt="" class="cornar--stars" src="assets/images/arkenea/star.png">
                <div class="plan--type">Premium</div>
                <div class="relative">
                  <span class="doller">{{planAmount | currency : planCurrency : 'symbol': '.0-0' | slice :0:1}}</span>
                  <span class="amt">{{planAmount | number : '.0-0'}}</span>
                  <span class="duration">a {{planInterval}}</span>
                </div>
                
              </div>
              <div class="plan--body">
                <h5>Legacy Life Plan Features-Advisor</h5>
                <mat-list class="p-0">
                  <div fxLayout="row wrap">
                    <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
                      <mat-list-item>
                        <mat-icon>check</mat-icon> Workflow Dashboard
                      </mat-list-item>
                    </div>
                    <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
                      <mat-list-item>
                        <mat-icon>check</mat-icon> Usage Tracker
                      </mat-list-item>
                    </div>
                    <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
                      <mat-list-item>
                        <mat-icon>check</mat-icon> Client Relationship Builder
                      </mat-list-item>
                    </div>
                    <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
                      <mat-list-item>
                        <mat-icon>check</mat-icon> Advisor Co-Branding Support
                      </mat-list-item>
                    </div>
                    <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
                      <mat-list-item>
                        <mat-icon>check</mat-icon> Shared Content Library
                      </mat-list-item>
                    </div>
                    <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
                      <mat-list-item>
                        <mat-icon>check</mat-icon> Unlimited Legacy Life Invites
                      </mat-list-item>
                    </div>
                    <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
                      <mat-list-item>
                        <mat-icon>check</mat-icon> Network Aggregator
                      </mat-list-item>
                    </div>
                  </div>
                </mat-list>
              </div>

              <div class="text-center">
                <button mat-raised-button class="llp--primary--btn" (click)="openCardDetailsModal();">Proceed to Pay {{planAmount | currency : planCurrency : 'symbol': '.0-0'}}</button>
              </div>
            </div>
          </div>
       </div>
      </div>
    </mat-card-content>
  </mat-card>


</div>