<div class="container subscription--wrapper">
  <button mat-raised-button class="llp--secondary--btn back--btn tran--bg backBtn--with--icon" [routerLink]="'/advisor/account-setting'">
    <mat-icon>arrow_back</mat-icon> Back</button>

  <mat-card class="p-0">

    <mat-card-title class="">
      <div class="card-title-text">Subscription Plans</div>
      <mat-divider></mat-divider>
    </mat-card-title>

    <mat-card-content>

      <div class="plans--wrapper">
        <div fxLayout="row wrap">

          <div fxFlex-md="25" fxFlex-lg="25" fxFlex.xl="33.33">
            <div class="plan--text">
              <div class="plan--header">
                <h6>Legacy Life Plan Features</h6>
              </div>
              <div class="plan--body">
                <mat-list class="p-0">
                  <mat-list-item>
                    <mat-icon>arrow_forward</mat-icon> LLP Plans feature one </mat-list-item>
                  <mat-list-item>
                    <mat-icon>arrow_forward</mat-icon> LLP Plans feature second</mat-list-item>
                  <mat-list-item>
                    <mat-icon>arrow_forward</mat-icon> LLP Plans feature third</mat-list-item>
                  <mat-list-item>
                    <mat-icon>arrow_forward</mat-icon> LLP Plans feature four</mat-list-item>
                  <mat-list-item>
                    <mat-icon>arrow_forward</mat-icon> LLP Plans feature five</mat-list-item>
                  <mat-list-item>
                    <mat-icon>arrow_forward</mat-icon> LLP Plans feature six</mat-list-item>
                </mat-list>

              </div>
            </div>
          </div>

          <div fxFlex-md="25" fxFlex-lg="25" fxFlex.xl="33.33">
          </div>
          <div fxFlex-md="25" fxFlex-lg="25" fxFlex.xl="33.33">
          </div>

        </div>
      </div>


    </mat-card-content>
  </mat-card>


</div>