<div class="cc--right--section">
  <header> {{articleTitle}} </header>
  <section *ngFor="let aInfo of articleInfo" routerLink="/{{userType}}/coach-corner-details/{{aInfo.aliasName}}">
    <div class="img--box">
      <img src="{{filePath}}{{aInfo.image}}" alt="">
    </div>
    <div class="img--desc">
      <p class="name">{{aInfo.title}}</p>
      <p class="views mb-0">{{aInfo.totalViews | thousandSuff}} views</p>
    </div>
  </section>
  <div class="text-center" *ngIf="articleInfo.length <= 0 ">
    <p class="mb-0 mt-1">No articles available</p>
  </div>
</div>