<div class="cc--right--section">
  <header> Most Viewed Articles</header>
  <section>
    <div class="img--box">
      <img src="../../../../assets/images/arkenea/smallimg-1.png" alt="">
    </div>
    <div class="img--desc">
      <p class="name">Hiring Interviews Info</p>
      <p class="views mb-0">1.2k Views</p>
    </div>
  </section>
  <section>
    <div class="img--box">
      <img src="../../../../assets/images/arkenea/smallimg-2.png" alt="">
    </div>
    <div class="img--desc">
      <p class="name">New LLP Plans Releases </p>
      <p class="views mb-0">1.0k Views</p>
    </div>
  </section>
  <section>
    <div class="img--box">
      <img src="../../../../assets/images/arkenea/smallimg-3.png" alt="">
    </div>
    <div class="img--desc">
      <p class="name">About Hired Trustees </p>
      <p class="views mb-0">989 Views</p>
    </div>
  </section>
  <section>
    <div class="img--box">
      <img src="../../../../assets/images/arkenea/smallimg-4.png" alt="">
    </div>
    <div class="img--desc">
      <p class="name">LLP Hiring Interviews</p>
      <p class="views mb-0">700 Views</p>
    </div>
  </section>
  <section>
    <div class="img--box">
      <img src="../../../../assets/images/arkenea/smallimg-5.png" alt="">
    </div>
    <div class="img--desc">
      <p class="name">About Hired Trustees </p>
      <p class="views mb-0">98 Views</p>
    </div>
  </section>
</div>