<header class="auth-header">
  <img [routerLink]="['']" class="cursor--pointer" src="assets/images/arkenea/small-logo.png" alt="">
</header>

<div class="page-wrap mat-bg-primary busi--info--wrapper">
  <div class="session-form-hold">
    <div class="login-sub-wrapper">
      <div class="stepper--wrapper">
        <mat-horizontal-stepper [linear]="isLinear" #stepper (selectionChange)="onChangeFormIndex($event)">
          <!-- step 1   (click)="isLinear=isLinear"   id="toggle-linear"-->
          <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup" class="llp-form-wrapper" (ngSubmit)="signupSubmit(1,firstFormGroup.value)">
              <div class="info--content">
                <div class="text-center pb-1">
                  <h2 class="login-header-text m-0">Business Information</h2>
                  <p class="login-header-desc">Please use the same full legal name and address as specified in the business license.</p>
                </div>
                <mat-form-field class="full-width">
                  <input (keyup)="firstCapitalize($event)" matInput placeholder="First Name*" maxlength="30" name="firstName" [formControl]="firstFormGroup.controls['firstName']">
                  <mat-icon matTooltip="Please enter first name" matTooltipClass="llp--tooltip error" *ngIf="firstFormGroup.controls['firstName'].hasError('required') && firstFormGroup.controls['firstName'].touched"
                    class="red--alert">help_outline</mat-icon>
                    <mat-icon matTooltip="Please enter valid first name." matTooltipClass="llp--tooltip error" *ngIf="firstFormGroup.controls['firstName'].invalid && firstFormGroup.controls['firstName'].touched"
                    class="red--alert">help_outline</mat-icon>
                </mat-form-field>

                <mat-form-field class="full-width">
                  <input (keyup)="firstCapitalize($event)" matInput placeholder="Last Name*" maxlength="30" name="lastName" [formControl]="firstFormGroup.controls['lastName']">
                  <mat-icon matTooltip="Please enter last name" matTooltipClass="llp--tooltip error" *ngIf="firstFormGroup.controls['lastName'].hasError('required') && firstFormGroup.controls['lastName'].touched"
                    class="red--alert">help_outline</mat-icon>
                    <mat-icon matTooltip="Please enter valid last name." matTooltipClass="llp--tooltip error" *ngIf="firstFormGroup.controls['lastName'].invalid && firstFormGroup.controls['lastName'].touched"
                    class="red--alert">help_outline</mat-icon>                    
                </mat-form-field>

                <mat-form-field class="full-width">
                  <mat-select placeholder="Years Of Service*" name="yearsOfService" [formControl]="firstFormGroup.controls['yearsOfService']">
                    <mat-option *ngFor="let yos of yearsOfServiceList" [value]="yos">{{yos}}</mat-option>
                  </mat-select>
                  <mat-icon matTooltip="Please select number of years" matTooltipClass="llp--tooltip error" *ngIf="firstFormGroup.controls['yearsOfService'].hasError('required') && firstFormGroup.controls['yearsOfService'].touched"
                    class="red--alert">help_outline</mat-icon>
                </mat-form-field>

                <mat-form-field class="full-width">
                  <input (keyup)="firstCapitalize($event)" matInput name="businessName" placeholder="Business Name*" value="" [formControl]="firstFormGroup.controls['businessName']" maxlength="20">
                  <mat-icon matTooltip="Please enter business name" matTooltipClass="llp--tooltip error" *ngIf="firstFormGroup.controls['businessName'].hasError('required') && firstFormGroup.controls['businessName'].touched"
                    class="red--alert">help_outline</mat-icon>
                    <mat-icon matTooltip="Please enter valid business name." matTooltipClass="llp--tooltip error" *ngIf="firstFormGroup.controls['businessName'].invalid && firstFormGroup.controls['businessName'].touched"
                    class="red--alert">help_outline</mat-icon>                          
                </mat-form-field>

                <mat-form-field class="full-width">
                  <mat-select placeholder="Business Type*" name="businessType" [formControl]="firstFormGroup.controls['businessType']" multiple>
                    <mat-option *ngFor="let btl of businessTypeList" [value]="btl">{{btl}}</mat-option>
                  </mat-select>
                  <mat-icon matTooltip="Please select business type" matTooltipClass="llp--tooltip error" *ngIf="firstFormGroup.controls['businessType'].hasError('required') && firstFormGroup.controls['businessType'].touched"
                    class="red--alert">help_outline</mat-icon>
                </mat-form-field>

                <mat-form-field class="full-width">
                  <mat-select placeholder="Industry/Domain*" name="industryDomain" [formControl]="firstFormGroup.controls['industryDomain']"
                    multiple>
                    <mat-option *ngFor="let idl of industryDomainList" [value]="idl">{{idl}}</mat-option>
                  </mat-select>
                  <mat-icon matTooltip="Please select industry/domain type" matTooltipClass="llp--tooltip error" *ngIf="firstFormGroup.controls['industryDomain'].hasError('required') && firstFormGroup.controls['industryDomain'].touched"
                    class="red--alert">help_outline</mat-icon>
                </mat-form-field>
                <div>
                  <button mat-raised-button matStepperNext class="llp--primary--btn full-width mb-0" [disabled]="firstFormGroup.invalid">Next</button>
                </div>
              </div>
            </form>
          </mat-step>

          <!-- step 2 -->
          <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup" class="llp-form-wrapper" (ngSubmit)="signupSubmit(2,secondFormGroup.value)">

              <div class="info--content">
                <div class="text-center pb-1">
                  <h2 class="login-header-text m-0">Business Address </h2>
                  <p class="login-header-desc">Enter the same address as shown on your business certificate</p>
                </div>
                <mat-form-field class="full-width">
                  <input  (keyup)="firstCapitalize($event)" matInput name="addressLine1" placeholder="Address Line 1*" value="" [formControl]="secondFormGroup.controls['addressLine1']" maxlength="100">
                  <mat-icon matTooltip="Please enter your address" matTooltipClass="llp--tooltip error" *ngIf="secondFormGroup.controls['addressLine1'].hasError('required') && secondFormGroup.controls['addressLine1'].touched"
                    class="red--alert">help_outline</mat-icon>
                    <mat-icon matTooltip="Please enter valid address." matTooltipClass="llp--tooltip error" *ngIf="secondFormGroup.controls['addressLine1'].invalid && secondFormGroup.controls['addressLine1'].touched"
                    class="red--alert">help_outline</mat-icon>                 
                </mat-form-field>

                <mat-form-field class="full-width">
                  <input (keyup)="firstCapitalize($event)" matInput name="addressLine2" placeholder="Address Line 2 (optional)" value="" [formControl]="secondFormGroup.controls['addressLine2']" maxlength="100">
                  <mat-icon matTooltip="Please enter valid address Line 2." matTooltipClass="llp--tooltip error" *ngIf="secondFormGroup.controls['addressLine2'].invalid && secondFormGroup.controls['addressLine2'].touched"
                  class="red--alert">help_outline</mat-icon>   
                </mat-form-field>

                <mat-form-field class="full-width">
                  <input matInput name="zipcode" placeholder="Zip Code*" value="" [formControl]="secondFormGroup.controls['zipcode']">
                  <mat-icon matTooltip="Please enter zipcode" matTooltipClass="llp--tooltip error" *ngIf="secondFormGroup.controls['zipcode'].hasError('required') && secondFormGroup.controls['zipcode'].touched"
                    class="red--alert">help_outline</mat-icon>
                  <mat-icon matTooltip="Please enter valid zipcode." matTooltipClass="llp--tooltip error" *ngIf="secondFormGroup.controls['zipcode'].hasError('pattern') && secondFormGroup.controls['zipcode'].touched"
                  class="red--alert">help_outline</mat-icon>
                </mat-form-field>

                <mat-form-field class="full-width">
                  <input (keyup)="firstCapitalize($event)" matInput name="City" placeholder="City*" value="" [formControl]="secondFormGroup.controls['city']">
                  <mat-icon matTooltip="Please enter city" matTooltipClass="llp--tooltip error" *ngIf="secondFormGroup.controls['city'].hasError('required') && secondFormGroup.controls['city'].touched"
                    class="red--alert">help_outline</mat-icon>
                    <mat-icon matTooltip="Please enter valid city." matTooltipClass="llp--tooltip error" *ngIf="secondFormGroup.controls['city'].invalid && secondFormGroup.controls['city'].touched"
                    class="red--alert">help_outline</mat-icon>
                </mat-form-field>

                <mat-form-field class="full-width">
                  <mat-label>State</mat-label>
                  <mat-select placeholder="State*" name="state" [formControl]="secondFormGroup.controls['state']">
                    <mat-option *ngFor="let option of stateList" [value]="option.state_name">{{option.state_name}}</mat-option>
                  </mat-select>
                  <mat-icon matTooltip="Please enter state" matTooltipClass="llp--tooltip error" *ngIf="secondFormGroup.controls['state'].hasError('required') && secondFormGroup.controls['state'].touched"
                    class="red--alert">help_outline</mat-icon>
                </mat-form-field>

                <mat-form-field class="full-width">
                  <input matInput placeholder="Business Phone" type="tel" value="" class="example-right-align" name="businessPhoneNumber" [formControl]="secondFormGroup.controls['businessPhoneNumber']">
                  <span matPrefix>+1</span>
                  <span matSuffix>.00</span>
                  <mat-icon matTooltip="Please enter business Phone" matTooltipClass="llp--tooltip error" *ngIf="secondFormGroup.controls['businessPhoneNumber'].hasError('required') && secondFormGroup.controls['businessPhoneNumber'].touched"
                    class="red--alert">help_outline</mat-icon>
                  <mat-icon matTooltip="Please enter valid business Phone." matTooltipClass="llp--tooltip error" *ngIf="secondFormGroup.controls['businessPhoneNumber'].hasError('pattern') && secondFormGroup.controls['businessPhoneNumber'].touched"
                  class="red--alert">help_outline</mat-icon>
                </mat-form-field>

                <div class="text-center">
                  <button mat-raised-button matStepperNext class="llp--primary--btn full-width mb-1" [disabled]="secondFormGroup.invalid">Next</button>
                  <button mat-raised-button matStepperPrevious class="llp--back--btn">
                    <mat-icon>arrow_back</mat-icon> Back</button>
                </div>
              </div>
              <div>
              </div>
            </form>
          </mat-step>

          <!-- step 3 -->
          <mat-step [stepControl]="thirdFormGroup">
            <form [formGroup]="thirdFormGroup" class="llp-form-wrapper" (ngSubmit)="signupSubmit(3,thirdFormGroup.value)">
              <div class="info--content">
                <div class="text-center pb-1">
                  <h2 class="login-header-text m-0">License Information</h2>
                  <p class="login-header-desc">Enter your business license information</p>
                </div>

                <mat-form-field class="full-width">
                  <mat-select placeholder="Active License Held*" name="activeLicenceHeld" [formControl]="thirdFormGroup.controls['activeLicenceHeld']"
                    multiple>
                   <mat-option *ngFor="let topping of activeLicenseList" [value]="topping">{{topping}}</mat-option>
                  </mat-select>
                  <mat-icon matTooltip="Please select license held" matTooltipClass="llp--tooltip error" *ngIf="thirdFormGroup.controls['activeLicenceHeld'].hasError('required') && thirdFormGroup.controls['activeLicenceHeld'].touched"
                    class="red--alert">help_outline</mat-icon>
                </mat-form-field>

                <mat-radio-group aria-label="Select An Option" class="llp-radio" name="agencyOversees" [formControl]="thirdFormGroup.controls['agencyOversees']">
                  <div class="checkbox-label">What agency oversees your business?*</div>
                  <mat-radio-button value="FINRA" [checked]="profile && profile.agencyOversees === 'FINRA'">Finra</mat-radio-button>
                  <mat-radio-button value="SEC" [checked]="profile && profile.agencyOversees === 'SEC'">Sec</mat-radio-button>
                  <mat-radio-button value="Both" [checked]="profile && profile.agencyOversees === 'Both'">Both</mat-radio-button>
                  <mat-icon matTooltip="Please select license held" matTooltipClass="llp--tooltip error" *ngIf="thirdFormGroup.controls['agencyOversees'].hasError('required') && thirdFormGroup.controls['agencyOversees'].touched"
                    class="red--alert">help_outline</mat-icon>
                </mat-radio-group>

                <mat-form-field class="full-width">
                  <input (keyup)="firstCapitalize($event)" matInput name="managingPrincipleName" placeholder="Who is your managing principle?*" [formControl]="thirdFormGroup.controls['managingPrincipleName']">
                  <mat-icon matTooltip="Please enter managing principle" matTooltipClass="llp--tooltip error" *ngIf="thirdFormGroup.controls['managingPrincipleName'].hasError('required') && thirdFormGroup.controls['managingPrincipleName'].touched"
                    class="red--alert">help_outline</mat-icon>
                    <mat-icon matTooltip="Please enter valid managing principle." matTooltipClass="llp--tooltip error" *ngIf="thirdFormGroup.controls['managingPrincipleName'].invalid && thirdFormGroup.controls['managingPrincipleName'].touched"
                    class="red--alert">help_outline</mat-icon>
                </mat-form-field>

                <mat-radio-group aria-label="Select An Option" class="llp-radio" [formControl]="thirdFormGroup.controls['manageOtherProceducers']">
                  <div class="checkbox-label">Do you manage other products?</div>
                  <mat-radio-button (change)="showHowManyProducts('1')" value="1" class="ml-0" [checked]="profile.manageOtherProceducers && profile.manageOtherProceducers == '1'">Yes</mat-radio-button>
                  <mat-radio-button (change)="showHowManyProducts('2')" value="2" class="" [checked]="profile && !profile.manageOtherProceducers">No</mat-radio-button>
                </mat-radio-group>

                <mat-form-field class="full-width" *ngIf="showHowManyProducer">
                  <input (keyup)="firstCapitalize($event)" matInput placeholder="If yes, how many?" [required]="showHowManyProducer" [formControl]="thirdFormGroup.controls['howManyProducers']">
                  <mat-icon matTooltip="Please enter numeric value." matTooltipClass="llp--tooltip error" *ngIf="thirdFormGroup.controls['howManyProducers'].hasError('pattern') && thirdFormGroup.controls['howManyProducers'].touched"
                  class="red--alert">help_outline</mat-icon>                  
                  <mat-icon matTooltip="Please enter value" matTooltipClass="llp--tooltip error" *ngIf="thirdFormGroup.controls['howManyProducers'].hasError('required') && thirdFormGroup.controls['howManyProducers'].touched"
                    class="red--alert">help_outline</mat-icon>
                    <mat-icon matTooltip="Please enter valid value." matTooltipClass="llp--tooltip error" *ngIf="thirdFormGroup.controls['howManyProducers'].invalid && thirdFormGroup.controls['howManyProducers'].touched"
                    class="red--alert">help_outline</mat-icon>
                </mat-form-field>

                <div class="text-center">
                  <button mat-raised-button matStepperNext class="llp--primary--btn full-width mb-1" [disabled]="thirdFormGroup.invalid">Next</button>
                  <button mat-raised-button matStepperPrevious class="llp--back--btn">
                    <mat-icon>arrow_back</mat-icon> Back</button>
                </div>
              </div>
              <div>
              </div>
            </form>
          </mat-step>

          <!-- step 4 -->
          <mat-step>
            <form [formGroup]="forthFormGroup" class="llp-form-wrapper" (ngSubmit)="signupSubmit(4,forthFormGroup.value)">
              <div class="info--content">
                <div class="text-center pb-0">
                  <h2 class="login-header-text m-0">Business Documents</h2>
                  <p class="login-header-desc">Upload your business documents for verification for e.g. businesslicense</p>
                </div>

                <div class="upload--buss--docs--sec">
                  <label>Upload your business documents *</label>
                  <div class="upload--box fileupload-drop-zone" ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)" [uploader]="uploader">
                    <input type="file" name="advisorDocuments" id="advisorDocs" ng2FileSelect [uploader]="uploader" multiple  (change)="fileOverBase('')" />
                    <mat-icon class="cloud-icon">cloud_upload</mat-icon>
                    <div class="select--file">Select/drag file from your computer</div>
                  </div>
                  <div class="file--details">Supported formats Doc, PDF, txt, JPEG, JPG, PNG</div>
                </div>

                <small *ngIf="documentsMissing" class="form-error-msg">{{invalidMessage}}</small>
                <mat-form-field class="full-width" *ngIf="advisorDocuments_temps">
                    <input matInput name="advisorDocuments_temp" [formControl]="forthFormGroup.controls['advisorDocuments_temp']" />
                    <small *ngIf="forthFormGroup.controls['advisorDocuments_temp'].hasError('required') && forthFormGroup.controls['advisorDocuments_temp'].touched" class="form-error-msg">
                        Please drag your document. </small>
                </mat-form-field>
                    
                <div *ngIf="advisorDocumentsList" class="doc--uploaded">
                  <h3 class="header--text fnt--16">Uploaded documents</h3>
                  <mat-chip-list class="doc--list" *ngFor="let doc of advisorDocumentsList; index as i">
                      <mat-chip><a href="{{docPath}}{{doc.tmpName}}" target="_blanck" >{{doc.title}}</a><mat-icon matChipRemove  (click)="docDelete(i,doc.title,doc.tmpName)">close</mat-icon></mat-chip>
                  </mat-chip-list>
                </div>

                <mat-chip-list class="doc--list error--chip" *ngFor="let err of fileErrors;">
                    <mat-chip><mat-error>{{err.error}}</mat-error></mat-chip>
                </mat-chip-list>    
               <!-- <div class="progress" style="margin-bottom: 0;" *ngIf="uploader.getNotUploadedItems().length">
                  <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }">{{uploader.progress}}%</div>
                  <mat-progress-bar class=""  color="primary" mode="Indeterminate"  [value]="uploader.progress"></mat-progress-bar>
                  <p>&nbsp;</p>
               </div> -->

              <div class="progress" style="margin-bottom: 0;color:#000 !important;" *ngIf="uploader.getNotUploadedItems().length">
                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': currentProgessinPercent + '%' }">{{currentProgessinPercent}}%</div>
                <mat-progress-bar class=""  color="primary" mode="Indeterminate"  [value]="currentProgessinPercent"></mat-progress-bar>
                <p>&nbsp;</p>
              </div>
                <div class="text-center">
                  <button mat-raised-button class="llp--primary--btn full-width mb-1" [disabled]="forthFormGroup.invalid">Complete</button>
                  <button mat-raised-button matStepperPrevious class="llp--back--btn"><mat-icon>arrow_back</mat-icon> Back</button></div>
              </div>
              <div>
                <!-- <button mat-raised-button mat-button (click)="stepper.reset()">Reset</button> -->
              </div>
            </form>
          </mat-step>

        </mat-horizontal-stepper>
      </div>
    </div>
    <div class="login-footer">
      <p>Already a member?
        <a [routerLink]="'/signin'">Login</a>
      </p>
    </div>
  </div>
</div>
<footer class="auth-footer">
  <p>© 2019 Legacy Life Plans</p>
</footer>