@import 'llp-global-styles.scss';
.busi--info--wrapper{
    
    .doc--uploaded{
        margin-bottom: 20px;
        .header--text{
            margin: 0 0 15px 0;
            color: #222324;
            font-size: 28px;
        }
        .mat-standard-chip{
            display: flex;
            font-size: 15px;
            word-wrap: break-word;
            word-break: break-all;
            height: auto;
        }
    }
    
    .login-header-desc{
        text-align: left;
        font-size: 16px;
    }
    ::ng-deep .mat-horizontal-content-container{
        padding: 0;
    }
  

    .info--content{
        margin-top: 33px;
    }

    ::ng-deep .mat-form-field-prefix{
        width: 40px;
        font-size: 16px;
        color: #222324;
    }
  
    .error--chip{
        ::ng-deep .mat-chip-list-wrapper{
            margin-bottom: 20px;
            mat-chip{
                width: 100%;
                text-align: center;
                margin-bottom: 20px;
                display: flex;
            }
        }
    }
}

@media screen and (orientation:landscape) and (max-width: 850px){
    .login-sub-wrapper{
        padding: 12px 25px;
    }
    .login-sub-wrapper .login-header-text {
        font-size: 19px;
    }
    .busi--info--wrapper .info--content {
        margin-top: 17px;
    }
    .busi--info--wrapper .login-header-desc {
        font-size: 13px;
        margin: 5px 0 0 0;
        text-align: center;
    }
    .login-footer {
        margin-top: 15px;
        font-size: 13px;
    }
}