.busi--info--wrapper{
    
    .doc--uploaded{
        margin-bottom: 20px;
        .header--text{
            margin: 0 0 15px 0;
            color: #222324;
            font-size: 28px;
        }
        .mat-standard-chip{
            display: flex;
            font-size: 15px;
            word-wrap: break-word;
            word-break: break-all;
            height: auto;
        }
    }
    
    .login-header-desc{
        text-align: left;
        font-size: 16px;
    }
    ::ng-deep .mat-horizontal-content-container{
        padding: 0;
    }
  

    .info--content{
        margin-top: 33px;
    }

    ::ng-deep .mat-form-field-prefix{
        width: 40px;
        font-size: 16px;
        color: #222324;
    }
  
    .error--chip{
        ::ng-deep .mat-chip-list-wrapper{
            mat-chip{
                width: 100%;
                text-align: center;
                margin-bottom: 20px;
            }
        }
    }
}

