<div class="shop-wrap llp--content--wrapper" fxLayout="row" fxLayoutWrap="wrap">
  <div class="full-width">
    <div class="">
      <mat-card class="empty--section p-0">
        <mat-card-header class="m-0">
          <mat-card-title class="m-0" [routerLink]="['/customer/dashboard/emergency-contacts']">Emergency Contacts
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class="info m-0">The section where you can manage your Emergency Contacts</p>
        </mat-card-content>
      </mat-card>


      <mat-card class="empty--section p-0">
        <mat-card-header class="m-0">
          <mat-card-title class="m-0">Contacts</mat-card-title>
          <div *ngIf="showContactListing">
            <span class="no--of--trustee">{{eContactList.length}} Contacts</span>
            <button mat-raised-button class="llp--primary--btn llp--primary--sm--btn" (click)="openModal(contactForm)">+
              Add</button>
          </div>
        </mat-card-header>
        <mat-card-content *ngIf="!showContactListing">
          <div class="build--ur--legacy" (click)="openModal(contactForm)">
            <mat-icon>person_pin</mat-icon>
            <p>
              <a>Add Emergency Contacts</a>
            </p>
          </div>
        </mat-card-content>

        <mat-card-content class="appointees--wrapper" *ngIf="showContactListing">
          <div class="cust--user--details mt-1" *ngFor="let profileData of eContactList;"
            (click)="openModal(contactForm, profileData)">
            <div class="name--letters">{{profileData.name}}</div>
            <div class="user--name">
              <h5>{{profileData.name}}</h5>
              <p class="mb-0">Last modified:
                <span>{{profileData.modifiedOn | date: 'yyyy/MM/dd'}}</span>
              </p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>


<ng-template #contactForm let-c="close" let-d="dismiss">
  <div class="ll--modal--header llp--close--modal">
    <h3 class="main--head text-center">Emergency Contact Details</h3>
    <button class="modal--close" [mat-dialog-close]="">
      <mat-icon class="icon--cross">cancel</mat-icon>
    </button>
  </div>
  <div class="ll--modal--body per--profile--wrapper p-10">
    <form [formGroup]="eContactFormGroup" class="llp-form-wrapper" (ngSubmit)="eContactFormSubmit()">
      <div class="profile--body--scroll">
        <mat-form-field class="full-width">
          <input class="capitalize" matInput name="ecName" placeholder="Name*" value="{{updateContact.name}}"
            [formControl]="eContactFormGroup.controls['ecName']">
          <mat-icon matTooltip="Please enter name." matTooltipClass="llp--tooltip error"
            *ngIf="eContactFormGroup.controls['ecName'].hasError('required')" class="red--alert">help_outline</mat-icon>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input class="capitalize" matInput name="ecRelationship" placeholder="Relationship"
            value="{{updateContact.relationship}}" [formControl]="eContactFormGroup.controls['ecRelationship']">
        </mat-form-field>
        <mat-form-field class="full-width">
          <input class="capitalize" matInput name="ecAddress" placeholder="Address" value="{{updateContact.address}}"
            [formControl]="eContactFormGroup.controls['ecAddress']">
        </mat-form-field>
        <mat-form-field class="full-width">
          <input class="capitalize" matInput name="ecPhone" placeholder="Phone" value="{{updateContact.phone}}"
            [formControl]="eContactFormGroup.controls['ecPhone']">
        </mat-form-field>
        <mat-form-field class="full-width">
          <input class="capitalize" matInput name="ecMobile" placeholder="Mobile" value="{{updateContact.mobile}}"
            [formControl]="eContactFormGroup.controls['ecMobile']">
        </mat-form-field>
        <mat-form-field class="full-width">
          <input class="capitalize" matInput name="ecEmail" placeholder="Email address"
            value="{{updateContact.emailAddress}}" [formControl]="eContactFormGroup.controls['ecEmail']">
        </mat-form-field>
      </div>
      <div class="mt-1 text-center">
        <button *ngIf="updateContact.name" mat-raised-button class="llp--primary--btn mb-1">Update</button>
        <button *ngIf="!updateContact.name" mat-raised-button class="llp--primary--btn mb-1"
          [disabled]="eContactFormGroup.invalid">Save</button>
      </div>
    </form>
  </div>
</ng-template>