<div class="ll--modal--header">
  Share via Email
  <button class="modal--close" [mat-dialog-close]="">
    <mat-icon class="icon--cross">cancel</mat-icon>
  </button>
</div>

<form class="llp-form-wrapper">
  <div class="ll--modal--body">
    
    
      <div class="ll--modal--body invite--modal--hgt" >
          <h6 class="invite--sub--line">Share information to your acquaintances</h6>
          <div fxLayout="row wrap">
            <div fxFlex.xs="90" fxFlex.sm="95" fxFlex.md="95" fxFlex.lg="95" fxFlex.xl="95">
              <mat-form-field class="full-width">
                <input class="capitalize" matInput placeholder="Email"  value="ajinkya@gmail.com" >          
              </mat-form-field>
            </div>            
            <div fxFlex.xs="10" fxFlex.sm="5" fxFlex.md="5" fxFlex.lg="5" fxFlex.xl="5"class="text-right">
              <mat-icon class="mt-1 clr--red cursor-pointer">delete</mat-icon>
            </div>
            <div fxFlex.xs="90" fxFlex.sm="95" fxFlex.md="95" fxFlex.lg="95" fxFlex.xl="95">
                <mat-form-field class="full-width">
                  <input class="capitalize" matInput placeholder="Email"  value="ishan@gmail.com" >          
                </mat-form-field>
              </div>            
              <div fxFlex.xs="10" fxFlex.sm="5" fxFlex.md="5" fxFlex.lg="5" fxFlex.xl="5"class="text-right">
                <mat-icon class="mt-1 clr--red cursor-pointer">delete</mat-icon>
              </div>
          </div>

          <div fxLayout="row wrap">
            <div fxFlex.xs="100">
              <div class="add--new">
                <mat-icon>add_circle</mat-icon>
                Add New
              </div>
            </div>
          </div>
        </div>






  </div>
  <div class="ll--modal--footer text-center">
    <button mat-raised-button class="llp--primary--btn">Share</button>
  </div>
</form>