<div class="ll--modal--header">
  {{folderName}}
  <button class="modal--close" [mat-dialog-close]="">
    <mat-icon class="icon--cross">cancel</mat-icon>
  </button>
</div>
<div class="llp--modal--body" *ngIf="!trusteeLegaciesAction">
  <h6 class="access--error" >{{LegacyPermissionError}}</h6>
</div>
<form class="llp-form-wrapper" (ngSubmit)="specialNeedsFormSubmit(specialNeedsForm.value)" *ngIf="trusteeLegaciesAction">
  <div class="ll--modal--body idbox--modal--hgt">
    <div fxLayout="row wrap" class="pt-1">
      <div fxFlex.xs="100">        
        <mat-form-field class="full-width">
          <input matInput name="title" placeholder="Title*" (keyup)="firstCapitalize($event)" (keypress)="checkSpecialChar($event)" [formControl]="specialNeedsForm.controls['title']"> 
          <mat-icon matTooltip="Please enter title" matTooltipClass="llp--tooltip error" *ngIf="specialNeedsForm.controls['title'].hasError('required') && specialNeedsForm.controls['title'].touched"
            class="red--alert">help_outline</mat-icon>
        </mat-form-field>

        <mat-form-field class="full-width mt-1">
          <textarea (keyup)="firstCapitalize($event)" maxlength="500" matInput placeholder="Comment Box"
            name="comments" [formControl]="specialNeedsForm.controls['comments']"></textarea>
          <div class="char--limit" style="float: right;">{{ 500 - specialNeedsForm.controls['comments'].value?.length }}</div>
        </mat-form-field>
      </div>
    </div>
  </div>
  <input *ngIf="profileIdHiddenVal" matInput name="profileId" [formControl]="specialNeedsForm.controls['profileId']" readonly="readonly">
  <div class="ll--modal--footer text-center">
    <button mat-raised-button class="llp--primary--btn" [disabled]="specialNeedsForm.invalid">Save</button>
  </div>
</form>