<div class="shop-wrap llp--content--wrapper" fxLayout="row" fxLayoutWrap="wrap">
    <div class="full-width">
      <div class="">
        <mat-card class="empty--section p-0">
          <mat-card-header class="m-0">
            <mat-card-title class="m-0">Special Needs</mat-card-title>
            <div class="right--actions" *ngIf="trusteeLegaciesAction">
              <button mat-raised-button class="llp--primary--btn llp--primary--sm--btn"
                (click)="openModal(row?.folderName, true)">
                <mat-icon>edit</mat-icon>
                <span class="hide--sm--txt">Edit</span>
              </button>
              <button mat-raised-button class="llp--primary--btn llp--primary--sm--btn" (click)="deleteSpecialNeeds(row?.customerId,row?.folderName)">
                <mat-icon>delete</mat-icon>
                <span class="hide--sm--txt">Delete</span>
              </button>
            </div>
          </mat-card-header>
          <mat-card-content>
            <div class="details--wrapper mb-1">
              <div class="details--header">
                <div class="d-flex align--items--center">
                  <mat-icon>person</mat-icon>{{title}}
                </div>
                <span class="last--modified--by">Last modified:
                  <span *ngIf="row?.modifiedOn && row?.modifiedOn != ''">{{row?.modifiedOn | date: 'yyyy/MM/dd'}}</span>
                  <span *ngIf="!row?.modifiedOn">{{row?.createdOn | date: 'yyyy/MM/dd'}}</span>
                </span>
              </div>
              <div class="details--body">
                  <h3>{{row?.title}}</h3>
                <div fxLayout="row wrap" class="mb--10">
                  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                    <label class="strong--label">Comment Box:</label>
                  </div>
                  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                    <label class="normal--label">{{row?.comments ? row?.comments : "-"}}</label>
                  </div>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>