<div class="shop-wrap llp--content--wrapper" fxLayout="row" fxLayoutWrap="wrap">

  <div class="full-width">
    <mat-card class="empty--section p-0">
      <mat-card-header class="m-0 header--with--sort">
        <mat-card-title class="m-0">My People</mat-card-title>
        <div class="right--filters">
          
          <mat-icon class="compare--icon--desc" *ngIf="this.listingAsc" (click)="getMyPeoplesList('',1)">sort</mat-icon>
          <mat-icon class="compare--icon--asc" *ngIf="!this.listingAsc" (click)="getMyPeoplesList('',-1)">sort</mat-icon>

          <mat-select placeholder="All" (selectionChange)="getMyPeoplesList($event.value,'')">
            <mat-option value="All">All</mat-option>
            <mat-option value="Active">Active</mat-option>
            <mat-option value="Pending">Pending</mat-option>
          </mat-select>
        </div>
      </mat-card-header>
      <div *ngIf="executorAssigned && showallPeoplesListingCnt>0" class="havent--assign"><p>You haven't assigned any executor yet, please assign an executor.  </p></div>
      <mat-card-content class="appointees--wrapper box--scroll" *ngIf="this.showallPeoplesListing">
      
        <mat-card class="appointees--section p-0 {{peoples.status === 'Pending' ? 'pending' : ''}}" *ngFor="let peoples of allPeoples">
          <mat-card-header class="m-0">
            <mat-card-title class="m-0">
              <div class="appointees--pic">
                <img *ngIf="peoples.type === 'trustee'" src="{{profileUrl}}{{(peoples?.trustId!=null && peoples?.trustId.profilePicture!=null) ? peoples?.trustId.profilePicture : 'default.jpg'}}"
                />
                <img *ngIf="peoples.type === 'advisor'" src="{{profileUrl}}{{(peoples?.advisorId!=null && peoples?.advisorId.profilePicture!=null) ? peoples?.advisorId.profilePicture : 'default.jpg'}}"
                />
              </div>
              <div class="appointees--desc">
                <h5 *ngIf="peoples.type === 'trustee'">{{(peoples?.trustId!=null && peoples?.trustId.firstName!=null) ? peoples?.trustId.firstName : peoples?.firstName}}
                  {{(peoples?.trustId!=null && peoples?.trustId.lastName!=null) ? peoples?.trustId.lastName : peoples?.lastName}}</h5>
                <h5 *ngIf="peoples.type === 'advisor'">{{peoples?.advisorId.firstName}} {{peoples?.advisorId.lastName}} <mat-icon *ngIf="peoples?.advisorId.sponsoredAdvisor === 'yes'" class="mat-icon material-icons yellow-material-icons" role="img">star</mat-icon></h5>
                <p class="position m-0" *ngIf="peoples.type === 'advisor'">{{peoples?.advisorId ? peoples?.advisorId.businessName : "" }}</p>
                <p class="m-0" *ngIf="peoples.type === 'trustee'">
                  {{(peoples?.trustId!=null && peoples?.trustId.username!=null) ? peoples?.trustId.username : ''}}
                </p>
                <!-- <div *ngIf="peoples?.executorStatus!==null && peoples?.executorStatus==='Active'" class="sta--m"><mat-icon class="mat-icon material-icons" role="img">star</mat-icon></div>                -->
              </div>
              <div class="cursor-pointer">
                <mat-icon [matMenuTriggerFor]="beforeMenu">more_vert</mat-icon>
                <mat-menu #beforeMenu="matMenu" xPosition="before" class="llp--menu--droupdown">
                  <button mat-menu-item *ngIf="peoples.type === 'advisor'" (click)="openHireAdvisorModal(peoples?.advisorId._id,'update',true,peoples.advisorId.firstName+' '+peoples.advisorId.lastName)">
                    <span>Manage</span>
                  </button>
                  <button mat-menu-item *ngIf="peoples.type === 'trustee'" (click)="openAddTrusteeModal(peoples?._id,true)">
                    <span>Manage</span>
                  </button>
                  <button mat-menu-item *ngIf="peoples.type === 'advisor'" [routerLink]="['/customer/professionals/prof-details',peoples?.advisorId._id]">
                    <span>View</span>
                  </button>
                  <button *ngIf="peoples?.status === 'Active'" mat-menu-item (click)="removeTrusteeAdvisor(peoples)">
                    <span>Remove as a {{peoples.type}}</span>
                  </button>
                  <button mat-menu-item *ngIf="peoples.type === 'trustee' && peoples?.status === 'Pending'" (click)="resendInvitation(peoples?._id)">
                    <span>Resend Invitation</span>
                  </button>

            <!-- Trustee Executor -->
                  <button mat-menu-item *ngIf="peoples.type === 'trustee' && peoples?.status === 'Active' && peoples?.executorStatus!=='Active'" (click)="markAsExecutor(peoples.type,peoples?._id,peoples.trustId?._id,peoples?.trustId.firstName,peoples?.trustId.lastName)">
                    <span>Mark as an Executor</span>
                  </button>
                  <button mat-menu-item *ngIf="peoples.type === 'trustee' && peoples?.status === 'Active' && peoples?.executorStatus==='Active'" (click)="removeAsExecutor(peoples.type,peoples?._id,peoples.trustId?._id,peoples?.trustId.firstName,peoples?.trustId.lastName)">
                    <span>Remove as an Executor</span>
                  </button>
            <!-- END Trustee Executor -->                  
            <!-- Advisor Executor -->
                  <button mat-menu-item *ngIf="peoples.type === 'advisor' && peoples?.status === 'Active' && peoples?.executorStatus!=='Active'" (click)="markAsExecutor(peoples.type,peoples?._id,peoples.advisorId?._id,peoples?.advisorId.firstName,peoples?.advisorId.lastName)">
                      <span>Mark as an Executor</span>
                  </button>
                  <button mat-menu-item *ngIf="peoples.type === 'advisor' && peoples?.status === 'Active' && peoples?.executorStatus==='Active'" (click)="removeAsExecutor(peoples.type,peoples?._id,peoples.advisorId?._id,peoples?.advisorId.firstName,peoples?.advisorId.lastName)">
                    <span>Remove as an Executor</span>
                  </button>
            <!-- END Advisor Executor -->      
                </mat-menu>
              </div>
            </mat-card-title>
          </mat-card-header>
          
          <mat-card-content *ngIf="peoples.type === 'trustee' && peoples?.status === 'Active'">
            <h4>Assigned</h4>            
            <div class="files--folder">
              <mat-icon>insert_drive_file</mat-icon>
              {{peoples?.filesCount}} Files
            </div>
            <div class="files--folder mb-0">
              <mat-icon>folder</mat-icon>
              {{peoples?.folderCount}} Folders
            </div>
          </mat-card-content>
          <!-- Pending -->
          <mat-card-content class="status--advisor relative status--pending" *ngIf="peoples?.status === 'Pending'">
            <mat-icon>history</mat-icon>
            <!-- <p class="pending">Pending...</p> // original code by pankaj -->
            <p class="pending" *ngIf="!peoples?.trustId">Pending...</p>
            <p class="" *ngIf="peoples?.trustId && peoples?.trustId.userType == 'advisor'">
              This user is an Advisor on Legacy Life plans.
              <a class="pending" [routerLink]="['/customer/professionals/prof-details', peoples?.trustId._id]">Click here</a> to view the Advisor
            </p>


            <div class="ad--strip advisor--pending" *ngIf="peoples.type === 'advisor'"> Advisor </div>
          </mat-card-content>
          <!-- all hired advisor -->
          <mat-card-content class="status--advisor relative" *ngIf="peoples?.type === 'advisor' && peoples?.status !== 'Pending'">
            <div class="files--folder mt-1">
              <mat-icon>school</mat-icon>              
              {{getAdvisorSpecilities(peoples.advisorId?.businessType)}}
            </div>            
            <div class="ad--strip">
              Advisor
            </div>
          </mat-card-content>

        </mat-card>
      </mat-card-content>

      <mat-card-content class="appointees--wrapper" *ngIf="!this.showallPeoplesListing">
          <div class="files--folder mt-1">{{searchMessage}}</div>
          <!-- <label class="normal--label" (click)="FolderSize()">Check Directory size</label> -->
      </mat-card-content>
    </mat-card>
  </div>
</div>